extends /layout.pug

block variables
  - var name = 'main_high main_x3';
  - var section = 'Вид работ';
  - var title = 'Замена ДВС (СВАП) в BMW&nbsp;X3';
  - var models = 'G01, F97, F25, E83';
  - var seoTitle = 'Замена ДВС (СВАП) в BMW X3 (' + models + ') в Москве | Автосервис BMW «FGSEVER»';
  - var subtitle = 'Услуги по замене двигателя (СВАП) и установке нового агрегата в автомобили BMW X3 в Москве. Мы выполним все необходимые работы по обслуживанию вашего автомобиля и ответим на все интересующие вас вопросы.';
  - var path = {'/services/': 'Услуги', '/services/maintenance/': 'Техническое обслуживание BMW', '/services/maintenance/x3/': 'X3', '': 'Замена ДВС (СВАП)'};
  - var button = ['popup', '#maintenance-appointment', 'Записаться'];

block content
  +main(name, path, section, title, subtitle, button, models)
  include /maintenance/description/engine-replacement
  section.prices
    .wrapper
      .titles
        .overtitle Об услуге
        h2 Стоимость
      .block
        .table-wrapper
          .table
            table
              tr.table-header
                td Услуга
                td Стоимость
              tr 
                td Замена ДВС (СВАП двигателя)
                td Рассчитывается индивидуально, в зависимости от сложности работ
  include /maintenance/photos/engine-replacement
  include /about/advantages
  include /about  
  include /contacts
