section.models
  .wrapper
    .titles
      .overtitle Ваш автомобиль
      h2 Выберите модель автомобиля
      .subtitle Также вы можете выбрать модель вашего автомобиля из указанных ниже и ознакомиться с подробными ценами на дооснащение данных моделей различными опциями.
    .columns
      .col-md-6.col-lg-4
        a.block.models-item.series-1(href='1-series/')
          .models-item__icon
          .models-item__text
            h3 1 серия
            .overtitle F20/F21
      .col-md-6.col-lg-4
        a.block.models-item.series-2(href='2-series/')
          .models-item__icon
          .models-item__text
            h3 2 серия
            .overtitle F22/F23, F87, F45/F46
      .col-md-6.col-lg-4
        a.block.models-item.series-3(href='3-series/')
          .models-item__icon
          .models-item__text
            h3 3 серия
            .overtitle F30/F31/F34, F80
      .col-md-6.col-lg-4
        a.block.models-item.series-4(href='4-series/')
          .models-item__icon
          .models-item__text
            h3 4 серия
            .overtitle F32/F33/F36, F82/F83
      .col-md-6.col-lg-4
        a.block.models-item.series-5(href='5-series/')
          .models-item__icon
          .models-item__text
            h3 5 серия
            .overtitle F10/F11/F07
      .col-md-6.col-lg-4
        a.block.models-item.series-6(href='6-series/')
          .models-item__icon
          .models-item__text
            h3 6 серия
            .overtitle F06/F12/F13
      .col-md-6.col-lg-4
        a.block.models-item.series-7(href='7-series/')
          .models-item__icon
          .models-item__text
            h3 7 серия
            .overtitle F01/F02
      .col-md-6.col-lg-4
        a.block.models-item.x1(href='x1/')
          .models-item__icon
          .models-item__text
            h3 X1
            .overtitle F48
      .col-md-6.col-lg-4
        a.block.models-item.x2(href='x2/')
          .models-item__icon
          .models-item__text
            h3 X2
            .overtitle F39
      .col-md-6.col-lg-4
        a.block.models-item.x3(href='x3/')
          .models-item__icon
          .models-item__text
            h3 X3
            .overtitle F25
      .col-md-6.col-lg-4
        a.block.models-item.x4(href='x4/')
          .models-item__icon
          .models-item__text
            h3 X4
            .overtitle F26
      .col-md-6.col-lg-4
        a.block.models-item.x5(href='x5/')
          .models-item__icon
          .models-item__text
            h3 X5
            .overtitle F15, F85
      .col-md-6.col-lg-4
        a.block.models-item.x6(href='x6/')
          .models-item__icon
          .models-item__text
            h3 X6
            .overtitle F16, F86
