section.models
  .wrapper
    .titles
      .overtitle Ваш автомобиль
      h2 Выберите модель автомобиля
      .subtitle Также вы можете выбрать модель вашего автомобиля из указанных ниже и ознакомиться с подробными ценами на дооснащение данных моделей различными опциями.
    .columns
      .col-md-6.col-lg-4
        a.block(href='1-series/')
          .text
            h3 1 серия
            .overtitle F20/F21
          img.image(src='/images/models/1-series/f20.png')
      .col-md-6.col-lg-4
        a.block(href='2-series/')
          .text
            h3 2 серия
            .overtitle F22/F23, F87, F45/F46
          img.image(src='/images/models/2-series/f22.png')
      .col-md-6.col-lg-4
        a.block(href='3-series/')
          .text
            h3 3 серия
            .overtitle F30/F31/F34, F80
          img.image(src='/images/models/3-series/f30.png')
      .col-md-6.col-lg-4
        a.block(href='4-series/')
          .text
            h3 4 серия
            .overtitle F32/F33/F36, F82/F83
          img.image(src='/images/models/4-series/f32.png')
      .col-md-6.col-lg-4
        a.block(href='5-series/')
          .text
            h3 5 серия
            .overtitle F10/F11/F07
          img.image(src='/images/models/5-series/f10.png')
      .col-md-6.col-lg-4
        a.block(href='6-series/')
          .text
            h3 6 серия
            .overtitle F06/F12/F13
          img.image(src='/images/models/6-series/f06.png')
      .col-md-6.col-lg-4
        a.block(href='7-series/')
          .text
            h3 7 серия
            .overtitle F01/F02
          img.image(src='/images/models/7-series/f01.png')
      .col-md-6.col-lg-4
        a.block(href='x1/')
          .text
            h3 X1
            .overtitle F48
          img.image(src='/images/models/x1/f48.png')
      .col-md-6.col-lg-4
        a.block(href='x2/')
          .text
            h3 X2
            .overtitle F39
          img.image(src='/images/models/x2/f39.png')
      .col-md-6.col-lg-4
        a.block(href='x3/')
          .text
            h3 X3
            .overtitle F25
          img.image(src='/images/models/x3/f25.png')
      .col-md-6.col-lg-4
        a.block(href='x4/')
          .text
            h3 X4
            .overtitle F26
          img.image(src='/images/models/x4/f26.png')
      .col-md-6.col-lg-4
        a.block(href='x5/')
          .text
            h3 X5
            .overtitle F15, F85
          img.image(src='/images/models/x5/f15.png')
      .col-md-6.col-lg-4
        a.block(href='x6/')
          .text
            h3 X6
            .overtitle F16, F86
          img.image(src='/images/models/x6/f16.png')
