extends /layout.pug

block variables
  - var name = 'main_body-repair';
  - var section = 'Вид работ';
  - var title = 'Восстановление геометрии кузова';
  - var seoTitle = title + ' BMW в Москве | Автосервис BMW «FGSEVER»';
  - var subtitle = 'Работы по восстановлению геометрии кузова автомобиля после серьёзных ДТП.';
  - var path = {'/services/': 'Услуги', '/services/body-repair/': 'Кузовной ремонт', '/services/body-repair/body-works/': 'Жестяные работы', '': title};
  - var button = ['popup', '#body-repair-appointment', 'Записаться'];

block content
  +main(name, path, section, title, subtitle, button) 
  section.prices
    .wrapper
      .titles
        .overtitle Об услуге
        h2 Стоимость
      .block
        .table-wrapper
          .table
            table
              tr.table-header
                td Услуга
                td Стоимость
              tr
                td Восстановление геометрии кузова
                td от 5 000 ₽
  include /about  
  include /contacts
