extends /layout.pug

block variables
  - var name = 'main_road-signs-detection';
  - var section = 'Услуга';
  - var title = 'Прогнозируемый индикатор ограничения скорости';
  //- - var models = 'G05/G06/G07';
  - var seoTitle = title + ' на BMW в Москве | Автосервис BMW «FGSEVER»';
  - var subtitle = 'Отображение на комбинации приборов ближайшего ограничения скорости с указанием расстояния (на базе данных из системы навигации).';
  - var path = {'/services/': 'Услуги', '/services/upgrade/': 'Дооснащение', '/services/upgrade/g-series/': 'G&nbsp;серия', '': 'Прогнозируемый индикатор ограничения скорости'};
  - var button = ['popup', '#upgrade-appointment', 'Записаться на дооснащение'];

block content
  +main({ name, path, section, title, subtitle, button })
  section.video
    .wrapper
      .columns
        .col-md-6.col-lg-7
          .text
            .overtitle Введение
            h2 Видеоинструкция
            .subtitle Вы можете посмотреть официальное видео от компании BMW, в котором подробно рассказывается про функцию чтения и прогнозированиия дорожных знаков с помощью навигации, а именно — что она из себя представляет, принцип её работы и для чего она вообще нужна.
            a.button(data-fancybox href='/videos/road-signs-detection.mp4') Смотреть видео
        .col-md-6.col-lg-5
          a.preview(data-fancybox href='/videos/road-signs-detection.mp4')
            img(src='/images/services/upgrade/g-series/road-signs-detection/cover.jpg')
            .play-button
              .icon.play-white
  section.description
    .wrapper
      .titles
        .overtitle Об услуге
        h2 Описание
      .block
        .icon.information-color
        h3 Что это такое?
        p В дополнение к описанным функциям классического индикатора ограничения скорости при использовании прогнозирующего индикатора водителю показывается следующее ближайшее ограничение скорости с указанием расстояния. Индикация выводится в комбинации приборов. Для этого используются данные из системы навигации.
        h3 Принцип работы системы
        p Работа прогнозирующего индикатора ограничения скорости построена на «индикаторе ограничения скорости», принцип работы которого рассматривается на отдельной странице в разделе дооснащения. 
        p Данные для индикации ближайшего предстоящего ограничения скорости берутся с серверов компании BMW Group. Транспортные средства с активированными услугами ConnectedDrive и с функцией «Индикатор ограничения скорости» отправляют распознанные динамические ограничения скорости на эти сервера и позже этими данными пользуются другие транспортные средства с соответствующим оснащением. Обновление данных по дорожным работам на серверах происходит до одного раза в день. Обновление данных систем управления движением транспорта на серверах происходит примерно каждые 30 секунд, после того как транспортным средством было распознано динамическое ограничение скорости.
        //- Работа функции
        //- •	Отображение прогнозирующего индикатора ограничения скорости в комбинации приборов (KOMBI) в зависимости от комплектации может включаться и выключаться следующим образом:
        //- 1.	{CAR}
        //- 2.	Настройки
        //- 3.	Дисплеи
        //- 4.	Система поддержки водителя
        //- 5.	Движение
        //- 6.	Система поддержания скорости
        //- 7.	Указания по ограничению скорости
        //- 8.	Показать прогнозирование
        //- Указание: В зависимости от экспортного исполнения прогнозирование выполняется в настройке «применить вручную» или «применить автоматически».
        //- •	Настройка защиты данных
        //- 1.	{CAR}
        //- 2.	Настройки
        //- 3.	Общие настройки
        //- 4.	Защита данных
        //- 5.	Согласиться со всем и активировать
        //- •	Активировать обучение и обновление карты
        //- 1.	{CAR}
        //- 2.	Система навигации
        //- 3.	Настройки
        //- 4.	Защита данных
        //- 5.	Поставить флажок «Обучение карты» и «Обновление карты»
        h3 Условия функционирования
        ul
          li Прогнозирующий индикатор ограничения скорости предлагается в сочетании с системой навигации и требует наличия активных услуг ConnectedDrive в транспортном средстве.
          li Чтобы прогнозирующий индикатор ограничения скорости работал правильно, функция «Индикатор ограничения скорости» должна предоставлять действительные значения (Функция «Индикатор ограничения скорости» рассматривается на отдельной странице в разделе дооснащения).
          li Чтобы отображались динамические ограничения скорости, в меню защиты данных должен стоять флажок «Обучение карты» и «Обновление карты».
        h3 Возможные пределы функциональных возможностей системы
        ul
          li во время процедуры калибровки камеры KAFAS;
          li при недействительных, устаревших или недоступных навигационных данных.
        h3 Примечание
        p Доступность динамических ограничений скорости зависит от проезжаемого региона или проезжаемой страны.
        .highlighted Оставляем за собой право на опечатки, смысловые ошибки и технические изменения.
  //- section.prices
  //-   .wrapper
  //-     .titles
  //-       .overtitle Об услуге
  //-       h2 Стоимость
  //-     .block
  //-       .table-wrapper
  //-         .table
  //-           table
  //-             tr.table-header
  //-               td Услуга
  //-               td Стоимость
  //-             tr
  //-               td Активация пакета кодов на одну камеру
  //-               td 70 000 ₽
  //- include /maintenance/photos/computer-diagnostics
  include /videos
  include /about/advantages
  include /about
  include /contacts
