section.models
  .wrapper
    .titles
      .overtitle Ваш автомобиль
      h2 Выберите модель автомобиля
      .subtitle Также вы можете выбрать модель вашего автомобиля из указанных ниже и ознакомиться с подробными ценами на дооснащение данных моделей различными опциями.
    .columns
      .col-md-6.col-lg-4
        a.block.models-item.g-series-2(href='2-series/')
          .models-item__icon
          .models-item__text
            h3 2 серия
            .overtitle 
              | F44
      .col-md-6.col-lg-4
        a.block.models-item.series-3(href='3-series/')
          .models-item__icon
          .models-item__text
            h3 3 серия
            .overtitle 
              | G20/G21
      .col-md-6.col-lg-4
        a.block.models-item.series-5(href='5-series/')
          .models-item__icon
          .models-item__text
            h3 5 серия
            .overtitle G30/G31, F90
      .col-md-6.col-lg-4
        a.block.models-item.series-6(href='6-series/')
          .models-item__icon
          .models-item__text
            h3 6 серия
            .overtitle G32
      .col-md-6.col-lg-4
        a.block.models-item.series-7(href='7-series/')
          .models-item__icon
          .models-item__text
            h3 7 серия
            .overtitle G11/G12
      .col-md-6.col-lg-4
        a.block.models-item.series-8(href='8-series/')
          .models-item__icon
          .models-item__text
            h3 8 серия
            .overtitle G14/G15/G16, F91/F92/F93
      .col-md-6.col-lg-4
        a.block.models-item.x3(href='x3/')
          .models-item__icon
          .models-item__text
            h3 X3
            .overtitle G01, F97
      .col-md-6.col-lg-4
        a.block.models-item.x4(href='x4/')
          .models-item__icon
          .models-item__text
            h3 X4
            .overtitle G02, F98
      .col-md-6.col-lg-4
        a.block.models-item.x5(href='x5/')
          .models-item__icon
          .models-item__text
            h3 X5
            .overtitle G05, F95
      .col-md-6.col-lg-4
        a.block.models-item.x6(href='x6/')
          .models-item__icon
          .models-item__text
            h3 X6
            .overtitle G06, F96
      .col-md-6.col-lg-4
        a.block.models-item.x7(href='x7/')
          .models-item__icon
          .models-item__text
            h3 X7
            .overtitle G07
      //- .col-md-6.col-lg-4
        a.block.models-item.z4(href='z4/')
          .models-item__icon
          .models-item__text
            h3 Z4
            .overtitle G29