section.services.options
  .wrapper
    .titles
      .overtitle Опции для дооснащения
      //- h2 Подробнее про опции
      h2 Описания опций
      .subtitle Здесь вы можете ознакомиться и почитать более подробную информацию о некоторых услугах дооснащения, оказываемых в нашем автосервисе.
    .columns.no-labels
      include /upgrade/g-series/options-list
          