.col-sm-6.col-md-4.col-xl-3
  a.services-item(href='/services/upgrade/g-series/kafas-activation/')
    img(src="/images/services/upgrade/g-series/x5/high-beam-assistant-min.jpg?2" srcset="/images/services/upgrade/g-series/x5/high-beam-assistant-min@2x.jpg?2 1.5x")
    .services-item__content
      .services-item__text
        .services-item__label G серия
        h3 Активация камер KAFAS на BMW X5/X6/X7
        .subtitle.services-item__subtitle Активация альтернативными кодами оригинальных камер KAFAS, а также связанных с ними опции, таких как чтение дорожных знаков, ассистент вождения, активный круиз-контроль и т. д.
      .button-simple Подробнее
.col-sm-6.col-md-4.col-xl-3
  a.services-item(href='/services/upgrade/g-series/road-signs-detection/')
    img(src="/images/services/upgrade/g-series/road-signs-detection/main.jpg?2" srcset="/images/services/upgrade/g-series/main@2x.jpg?2 1.5x")
    .services-item__content
      .services-item__text
        .services-item__label G серия
        h3 Чтение дорожных знаков
        .subtitle.services-item__subtitle Распознавание действующих знаков ограничений скорости и запретов обгона, которые отображаются в виде пиктограмм дорожных знаков на комбинации приборов.
      .button-simple Подробнее
.col-sm-6.col-md-4.col-xl-3
  a.services-item(href='/services/upgrade/g-series/forecasted-speed-limit-indicator/')
    img(src="/images/services/upgrade/g-series/road-signs-detection/main.jpg?2" srcset="/images/services/upgrade/g-series/road-signs-detection/main@2x.jpg?2 1.5x")
    .services-item__content
      .services-item__text
        .services-item__label G серия
        h3 Прогнозируемый индикатор ограничения скорости
        .subtitle.services-item__subtitle Отображение на комбинации приборов ближайшего ограничения скорости с указанием расстояния (на базе данных из системы навигации).
      .button-simple Подробнее
.col-sm-6.col-md-4.col-xl-3
  a.services-item(href='/services/upgrade/g-series/pedestrian-collision-warning/')
    img(src="/images/services/upgrade/g-series/pedestrian-collision-warning/main.jpg?2" srcset="/images/services/upgrade/g-series/pedestrian-collision-warning/main@2x.jpg?2 1.5x")
    .services-item__content
      .services-item__text
        .services-item__label G серия
        h3 Предупреждение о наезде на пешехода с фунцией торможения
        .subtitle.services-item__subtitle Предупреждение о наезде на пешехода с функцией экстренного торможения (на базе видеокамеры KAFAS).
      .button-simple Подробнее
.col-sm-6.col-md-4.col-xl-3
  a.services-item(href='/services/upgrade/g-series/lane-departure-warning/')
    img(src="/images/services/upgrade/g-series/lane-departure-warning/main.jpg?2" srcset="/images/services/upgrade/g-series/lane-departure-warning/main@2x.jpg?2 1.5x")
    .services-item__content
      .services-item__text
        .services-item__label G серия
        h3 Система предупреждения о выходе за пределы полосы движения
        .subtitle.services-item__subtitle Слежение за дорожной разметкой и предупреждение водителя о непреднамеренном выезде с полосы движения, начиная со скорости около 70 км/ч.
      .button-simple Подробнее
.col-sm-6.col-md-4.col-xl-3
  a.services-item(href='/services/upgrade/g-series/active-guard/')
    img(src="/images/services/upgrade/g-series/5-series/active-guard-min.jpg?2" srcset="/images/services/upgrade/g-series/5-series/active-guard-min@2x.jpg?2 1.5x")
    .services-item__content
      .services-item__text
        .services-item__label G серия
        h3 Active Guard (5AV)
        .subtitle.services-item__subtitle Предупреждение о cтолкновении с препятствием или наезде на пешехода с функцией торможения, а также предупреждение о выходе за пределы полосы движения с активным подруливанием.
      .button-simple Подробнее
.col-sm-6.col-md-4.col-xl-3
  a.services-item(href='/services/upgrade/g-series/active-guard-plus/')
    img(src="/images/services/upgrade/g-series/5-series/active-guard-min.jpg?2" srcset="/images/services/upgrade/g-series/5-series/active-guard-min@2x.jpg?2 1.5x")
    .services-item__content
      .services-item__text
        .services-item__label G серия
        h3 Active Guard Plus (5AQ)
        .subtitle.services-item__subtitle Предупреждение о cтолкновении или наезде с функцией торможения (на основе показаний радарного датчика в переднем бампере), а также предупреждение о выходе за пределы полосы движения с активным подруливанием.
      .button-simple Подробнее
.col-sm-6.col-md-4.col-xl-3
  a.services-item(href='/services/upgrade/g-series/active-cruise-control/')
    img(src="/images/services/upgrade/g-series/5-series/active-cruise-control-min.jpg?2" srcset="/images/services/upgrade/g-series/5-series/active-cruise-control-min@2x.jpg?2 1.5x")
    .services-item__content
      .services-item__text
        .services-item__label G серия
        h3 Активный круиз-контроль с функцией Stop&Go (5DF)
        .subtitle.services-item__subtitle Поддержание заданной скорости и дистанции до движущегося впереди автомобиля, а также полная остановка и разгон автомобиля при необходимости. Работает на базе переднего радарного датчика (FRS).
      .button-simple Подробнее
.col-sm-6.col-md-4.col-xl-3
  a.services-item(href='/services/upgrade/g-series/tire-pressure-indicator/')
    img(src="/images/services/upgrade/g-series/tire-pressure-indicator/main-min.jpg?2" srcset="/images/services/upgrade/g-series/tire-pressure-indicator/main-min@2x.jpg?2 1.5x")
    .services-item__content
      .services-item__text
        .services-item__label G серия
        h3 Индикатор давления в шинах (2VB)
        .subtitle.services-item__subtitle Отслеживание точного давления в каждой шине с помощью датчиков и автоматическое предупреждение водителя в случае постепенного или резкого падения давления.
      .button-simple Подробнее
.col-sm-6.col-md-4.col-xl-3
  a.services-item(href='/services/upgrade/g-series/integral-active-steering/')
    img(src="/images/services/upgrade/g-series/integral-active-steering/main-min.jpg?2" srcset="/images/services/upgrade/g-series/integral-active-steering/main-min@2x.jpg?2 1.5x")
    .services-item__content
      .services-item__text
        .services-item__label G серия
        h3 Интегральное активное рулевое управление (2VH)
        .subtitle.services-item__subtitle Автоматическое подруливание колесами задней оси, изменение передаточного отношения рулевого механизма и регулировка усилия на рулевом колесе в зависимости от скорости и выбранного режима.
      .button-simple Подробнее
.col-sm-6.col-md-4.col-xl-3
  a.services-item(href='/services/upgrade/g-series/pneumo-suspension/')
    img(src="/images/services/upgrade/g-series/pneumo-suspension/main-min.jpg?2" srcset="/images/services/upgrade/g-series/pneumo-suspension/main-min@2x.jpg?2 1.5x")
    .services-item__content
      .services-item__text
        .services-item__label G серия
        h3 Двухосная пневматическая подвеска (2VR)
        .subtitle.services-item__subtitle Обеспечивает комфортабельное движение, поддерживает высоту кузова на неизменном уровне, опускает на высокой скорости и позволяет выбрать один из пяти фиксированных уровней.
      .button-simple Подробнее