extends /layout.pug

block variables
  - var name = 'main_about';
  - var section = 'Раздел';
  - var title = 'О нас';
  - var seoTitle = title + ' | Автосервис BMW «FGSEVER»';
  - var subtitle = 'Подробное описание, фотографии и наболее интересные проекты нашего автосервиса «FGSEVER». Мы также расскажем, чем мы занимаемся и какое используем оборудование.';
  - var path = {'': title};

block content
  +main(name, path, section, title, subtitle)
  section.description
    .wrapper
      .columns
        .col-md-8
          .titles
            .overtitle Информация
            h2 Авторизованный сервис BMW «FGSEVER»
          p Наш автосервис «FGSEVER» с 2014 года занимается дооснащением, тюнингом, кодированием, ремонтом и техническим обслуживанием (ТО) автомобилей BMW (БМВ) в Москве. Мы специализируемся на этих автомобилях и сами являемся поклонниками этой немецкой марки. Благодаря тому, что через наши стены каждый день проходит множество автомобилей, наши специалисты обладают большим опытом работы с ними и являются одними из лучших в своей области.
          p Мы стараемся не просто работать по шаблону, а подходить индивидуально и творчески к решению проблем каждого нашего клиента. Мы понимаем, что у каждого владельца автомобиля свои предпочтения и потребности. Поэтому мы всегда стараемся выслушать ваши пожелания и предложить вам то, что поможет сделать автомобиль комфортнее, удобнее и безопаснее именно для вас.
          p Перед работами мы стараемся проконсультировать и ответить на все вопросы, возникающие у наших клиентов. Поэтому не стесняйтесь задавать вопросы, мы с радостью на них ответим. На случай, если вы хотите сделать со своим автомобилем что-то особенное — мы также берём в работу такие сложные и уникальные проекты, как например #[a.link(href='/blog/id/?id=557054922902733230') восстановление кузова E38 и внедрение в него начинки от G11 LCI]. Поэтому рекомендуем вам смело обращаться в наш автосервис, мы вместе подберём или придумаем решение, которое полностью закроет ваши потребности.
          .highlighted
            p Записаться на обслуживание в наш автосервис мы можете следующими способами: обратиться к нам по телефону, написать в WhatsApp или же записаться через сайт, с возможностью предварительно рассчитать в одном из калькуляторов точную стоимость техобслуживания или дооснащения.
        .col-md-4.image
          img(src='/images/about/certificate-min.jpg')
  include /about/rooms
  include /about/advantages
  section.promo
    .wrapper
      .columns
        .col-md-6
          .titles
            .overtitle Наш проект
            h2 BMW 5 серии (G30)
            .subtitle Нашим наиболее интересным и показательным проектом является BMW 5 серии (G30). Данный автомобиль был приобретен в минимальной комплектации для последующего дооснащения в нашем автосервисе. После множества доработок автомобиль приобрёл уникальную комплектацию, аналогов которой на данный момент не существует.
          a.button-simple(data-fancybox data-src='#drive2-car') Читать подробнее
        .col-md-6
          include /about/drive2-car
    .popup#drive2-car
      include /about/drive2-car
      p Нашим наиболее интересным и показательным проектом является BMW 5 серии (G30). Данный автомобиль был приобретен в минимальной комплектации для последующего дооснащения в нашем автосервисе. После множества доработок автомобиль приобрёл уникальную комплектацию, аналогов которой на данный момент не существует.
      p На данный автомобиль были установлены следующие опции и дооснащения:
      ul
        li четырёхзонная система кондиционирования взамен 2-зонной, а также пакет Ambient Air (ионизация и ароматизациия воздуха в салоне);
        li LED дисплей комбинации приборов;
        li мультимедийная система NBT EVO;
        li проекционный дисплей на лобовом стекле;
        li индивидуальная панель приборов (торпеда), обтянутая кожей;
        li система комфортного доступа и автодоводчики дверей;
        li люк электрорегулируемый с прозрачной крышкой;
        li акустическая система Bowers & Wilkins;
        li исполнение отделки салона из дерева «Fineline Cove»;
        li керамическая отделка органов управления;
        li беспроводное зарядное устройство для телефона;
        li спортивное кожаное рулевое колесо M;
        li ассистент вождения Plus, он же Driving Assistant Plus (активный круиз-контроль с разгоном и торможением до полной остановки, учетом дорожных знаков, поддержанием дистанции до впереди идущего автомобиля, удержанием в полосе и помощью при перестроении, а также система предупреждения столкновений)
        li комфортные передние сиденья с памятью положений и массажем;
        li комфортные задние сиденья от 7 серии (G12) с памятью положений и массажем;
        li развлекательная система (мониторы) в задней части салона;
        li тягово-спецное устройство (фаркоп);
        li адаптивные светодиодные фары;
        li аэродинамические бампера M от модификации M550i;
        li ассистент парковки Plus (система кругового обзора, сигнализация аварийного сближения, автоматическая параллельная и перпендикулярная парковка);
        li парковка с дистанционным управлением;
        li система управления жестами;
        li система «Night Vision» с распознаванием людей;
        li адаптивная подвеска M;
        li система контроля кренов (активная система стабилизации);
        li интегральное активное рулевое управление;
        li спортивная тормозная система M Sport.
      hr
      p Уникальность комплектации заключается в том, что на данном автомобиле установлен задний диван от BMW 7 серии (G12), что на данной модели не предусмотрено автопроизводителем в принципе. Также автомобиль сочетает в себе три опции: адаптивную подвеску, систему контроля кренов и интегральное рулевое управление, которые устанавливаются совместно только в модификациях M550i/M550d.
      p На данный момент этот автомобиль предоставляется для демонстрации клиентам возможностей по дооснащению в нашем автосервисе. Подробнее про историю автомобиля и работы по его дооснащению вы можете прочитать в бортжурнале на портале DRIVE2.RU.
      a.button-simple(href!="<? echo $car['url'] ?>") Подробнее на DRIVE2.RU
  section.photos
    .wrapper
      .titles
        .overtitle Фотографии
        h2 Как всё выглядит
      .columns
        - var i = 0
        while ++i <= 37
          .col-4.col-md-3.col-lg-2
            a.photo(data-fancybox='photos' href='/images/about/' + i + '.jpg')
              img(src='/images/about/' + i + '-min.jpg' srcset='/images/about/' + i + '-min@2x.jpg 1.5x')
  include /contacts
