.models
  background: $white

  .services + &
    border-top: 2px solid $backgroundGrey
  
  .block
    display: flex
    // flex-direction: column
    // justify-content: space-between
    flex-direction: row-reverse
    justify-content: flex-end
    +border-grey
    text-decoration: none
    transition: border-color .3s, box-shadow .3s, transform .3s

    &:hover
      border-color: transparent
      +light-shadow

  .text
    h3, .overtitle
      margin: 0

  .image
    margin: -10px 20px -10px 0px
    height: 100%
    width: 100px
    // width: 100%
    object-fit: contain

    +medium
      margin: -10px 20px -10px -10px
      width: 120px

    // +large
    //   margin: -20px 20px -20px -10px
    //   width: 140px
