section.survey
  border-bottom: 2px solid #eee
  background-color: $backgroundGrey

  iframe
    height: 9000px
    width: 100%

    +extra-small
      height: 7000px

    +small
      height: 5600px

    +medium
      height: 5400px
