extends /layout.pug

block variables
  - var name = 'main_maintenance';
  - var section = 'Услуга';
  - var title = 'Компьютерная диагностика';
  - var seoTitle = 'Компьютерная диагностика BMW в Москве | Автосервис BMW «FGSEVER»';
  - var subtitle = 'Услуги по компьютерному выявлению неисправностей и ошибок программного обеспечения BMW в Москве. Мы выполним все необходимые работы по обслуживанию вашего автомобиля и ответим на все интересующие вас вопросы.';
  - var path = {'/services/': 'Услуги', '/services/maintenance/': 'Техническое обслуживание', '': 'Компьютерная диагностика'};
  - var button = ['popup', '#maintenance-appointment', 'Записаться'];

block content
  +main({ name, path, section, title, subtitle, button, models })
  include /maintenance/description/computer-diagnostics
  section.prices
    .wrapper
      .titles
        .overtitle Об услуге
        h2 Стоимость
      .block
        .table-wrapper
          .table
            table
              tr.table-header
                td Услуга
                td Стоимость
              tr 
                td Компьютерная диагностика
                td 1 500 ₽
  include /maintenance/photos/computer-diagnostics
  include /about/advantages
  +about
  include /contacts
