extends /layout.pug

block variables
  - var name = 'main_high main_8-series';
  - var section = 'Вид работ';
  - var title = 'Компьютерная диагностика в BMW&nbsp;8&nbsp;серии';
  - var models = 'G14/G15/G16, F91/F92/F93';
  - var seoTitle = 'Компьютерная диагностика в BMW 8 серии (' + models + ') в Москве | Автосервис BMW «FGSEVER»';
  - var subtitle = 'Услуги по компьютерному выявлению неисправностей и ошибок программного обеспечения автомобилей BMW 8&nbsp;серии в Москве. Мы выполним все необходимые работы по обслуживанию вашего автомобиля и ответим на все интересующие вас вопросы.';
  - var path = {'/services/': 'Услуги', '/services/maintenance/': 'Техническое обслуживание BMW', '/services/maintenance/8-series/': '8&nbsp;серия', '': 'Компьютерная диагностика'};
  - var button = ['popup', '#maintenance-appointment', 'Записаться'];

block content
  +main({ name, path, section, title, subtitle, button, models })
  include /maintenance/description/computer-diagnostics
  section.prices
    .wrapper
      .titles
        .overtitle Об услуге
        h2 Стоимость
      .block
        .table-wrapper
          .table
            table
              tr.table-header
                td Услуга
                td Стоимость
              tr 
                td Компьютерная диагностика
                td 1 500 ₽
  include /maintenance/photos/computer-diagnostics
  include /about/advantages
  +about
  include /contacts
