extends /layout.pug

block variables
  - var name = 'main_active-guard';
  - var section = 'Услуга';
  - var title = 'Active Guard Plus (5AQ)';
  //- - var models = 'G05/G06/G07';
  - var seoTitle = 'Установка ' + title + ' на BMW в Москве | Автосервис BMW «FGSEVER»';
  - var subtitle = 'Предупреждение о cтолкновении или наезде с функцией торможения (на основе показаний радарного датчика в переднем бампере), а также предупреждение о выходе за пределы полосы движения с активным подруливанием.';
  - var path = {'/services/': 'Услуги', '/services/upgrade/': 'Дооснащение', '/services/upgrade/g-series/': 'G&nbsp;серия', '': 'Active Guard Plus (5AQ)'};
  - var button = ['popup', '#upgrade-appointment', 'Записаться на дооснащение'];

block content
  +main({ name, path, section, title, subtitle, button })
  section.video
    .wrapper
      .columns
        .col-md-6.col-lg-7
          .text
            .overtitle Введение
            h2 Видеоинструкция
            .subtitle Вы можете посмотреть официальное видео от компании BMW, в котором подробно рассказывается про основную функцию опции Active Guard Plus, а именно про предупреждение о столкновении с функцией торможения — что это из себя представляет, принцип работы и для чего это вообще нужно.
            a.button(data-fancybox href='/videos/collision-warning.mp4') Смотреть видео
        .col-md-6.col-lg-5
          a.preview(data-fancybox href='/videos/collision-warning.mp4')
            img(src='/images/services/upgrade/g-series/collision-warning/cover.jpg')
            .play-button
              .icon.play-white
  section.description
    .wrapper
      .titles
        .overtitle Об услуге
        h2 Описание
      .block
        .icon.information-color
        h3 Что это такое?
        p Опция Active Guard Plus является расширенной версией опции #[a.link(href='/services/upgrade/g-series/active-guard' target='_blank') Active Guard (5AV)], с разницей лишь в том, что система использует данные не только с камеры KAFAS, но и с радарного датчика, расположенного в переднем бампере автомобиля.
        h3 Принцип работы системы
        p При сильном сближении с впередиидущим автомобилем система в первую очередь выдаёт предупреждения о наезде, которое происходит в виде визуального индикатора на комбинации приборов (раннее предупреждение).
        .images.columns
          .col-4.col-md-3
            a.image(data-fancybox='collision' href='/images/services/upgrade/g-series/active-guard/collision-indicator.jpg' target='_blank')
              img(src='/images/services/upgrade/g-series/active-guard/collision-indicator.jpg')
          .col-4.col-md-3
            a.image(data-fancybox='collision' href='/images/services/upgrade/g-series/active-guard/collision-indicator-guide.jpg' target='_blank')
              img(src='/images/services/upgrade/g-series/active-guard/collision-indicator-guide.jpg')
        p При продолжении опасного сближения происходит повторное оповещение с помощью звукового сигнала (предостережение об аварии). В дополнение к этому выполняется небольшое автоматическое притормаживание, а тормозная система приводится в состояние готовности к возможному экстренному торможению.
        p Если торможение водителя не дает достаточного замедления, система берёт контроль на себя и начинает выполнять самостоятельное торможение автомобиля. Если же водитель не реагирует, в зависимости от ситуации, система инициирует экстренное торможение вплоть до полной остановки автомобиля.
        p Воздействие на тормозной механизм можно прервать нажатием на педаль акселератора или активным вращением рулевого колеса.
        h3
          span Отличие опции Active Guard Plus (5AQ) от #[a.link(href='/services/upgrade/g-series/active-guard' target='_blank') Active Guard (5AV)]
        p #[b Система выполняет предупреждение о наезде используя не только данные камеры KAFAS, но и переднего радарного датчика.] Если в транспортном средстве дополнительно установлен передний радарный датчик, выдача предупреждений соответствующего уровня (предварительного или экстренного предупреждения) в основном осуществляется на базе измерений переднего радарного датчика. Данные камеры KAFAS используются для проверки достоверности неподвижных объектов.
        p Предупреждение об объектах доступно в диапазоне скорости от 5 до 250 км/ч. При скорости больше 250 км/ч функция временно деактивируется.
        p Функция торможения для предупреждения о наезде с объединением данных из камеры KAFAS доступна в диапазоне скорости от 5 до 210 км/ч. В диапазоне скорости примерно от 210 до 250 км/ч система выполняет только быстрое притормаживание без автоматического замедления.
        p Максимальное снижение скорости за счет торможения в значительной степени зависит от ситуации. Для предупреждения о наезде с объединением данных из камеры KAFAS и переднего радарного датчика оно составляет примерно не более 60 км/ч.
        p Момент предупреждения о наезде с функцией торможения можно настроить следующим образом: «рано», «средне» или «поздно».
        p Примечание: При выборе момента выдачи предупреждения «Поздно» выдаются только экстренные предупреждения без предварительного предупреждения. Кроме того, в соответствующих экспортных вариантах исполнения или определенных модельных рядах при экстренном предупреждении не выполняется резкое притормаживание.
        h3 Возможные пределы функциональных возможностей системы
        ul
          li при сильном тумане, дожде или снегопаде;
          li при недостаточной яркости;
          li при ярком свете встречных фар;
          li при ограничении или деактивации системы динамического контроля устойчивости (DSC);
          li при загрязнении зоны обзорности камеры KAFAS;
          li при загрязнении зоны обзорности переднего радарного датчика или переднего радарного датчика дальней зоны;
          li на крутых поворотах или узких дорожных полотнах;
          li переднее транспортное средство движется медленнее при езде с очень высокой собственной скоростью;
          li неожиданно въехавшие в колонну или сильно замедляющие движение транспортные средства;
          li транспортные средства с необычным видом задней части;
          li недостаточно освещенные транспортные средства ночью;
          li неклассифицированные объекты (например, поперечный вид транспортного средства, баки для мусора и пр.);
          li частично скрытые транспортные средства;
          li во время процедуры калибровки камеры KAFAS.
        .highlighted Оставляем за собой право на опечатки, смысловые ошибки и технические изменения.
  //- section.prices
  //-   .wrapper
  //-     .titles
  //-       .overtitle Об услуге
  //-       h2 Стоимость
  //-     .block
  //-       .table-wrapper
  //-         .table
  //-           table
  //-             tr.table-header
  //-               td Услуга
  //-               td Стоимость
  //-             tr
  //-               td Активация пакета кодов на одну камеру
  //-               td 70 000 ₽
  //- include /maintenance/photos/computer-diagnostics
  include /videos
  include /about/advantages
  include /about
  include /contacts
