extends /layout.pug

block variables
  - var name = 'main_high main_x6';
  - var section = 'Вид работ';
  - var title = 'Замена тормозных дисков и колодок в BMW&nbsp;X6';
  - var models = 'G06, F96, F16, F86, E71';
  - var seoTitle = 'Замена тормозных дисков и колодок в BMW X6 (' + models + ') в Москве | Автосервис BMW «FGSEVER»';
  - var subtitle = 'Услуги по плановой замене тормозных дисков и колодок, а также полной замене тормозной системы на спортивную M в автомобилях BMW X6 в Москве. Мы выполним все необходимые работы по обслуживанию вашего автомобиля и ответим на все интересующие вас вопросы.';
  - var path = {'/services/': 'Услуги', '/services/maintenance/': 'Техническое обслуживание BMW', '/services/maintenance/x6/': 'X6', '': 'Замена тормозных дисков и колодок'};
  - var button = ['popup', '#maintenance-appointment', 'Записаться'];

block content
  +main({ name, path, section, title, subtitle, button, models })
  include /maintenance/description/brakes-replacement
  section.prices
    .wrapper
      .titles
        .overtitle Об услуге
        h2 Стоимость
      .block
        .table-wrapper
          .table
            table
              tr.table-header
                td Услуга
                td Стоимость
              tr
                td Замена передних тормозных дисков
                td 2 800 ₽
              tr
                td Замена передних тормозных колодок
                td 2 000 ₽
              tr
                td Замена задних тормозных дисков
                td 3 000 ₽
              tr
                td Замена задних тормозных колодок
                td 2 600 ₽
              tr
                td Замена тормозной системы на спортивную M
                td Рассчитывается индивидуально
  include /maintenance/photos/brakes-replacement
  include /about/advantages
  +about
  include /contacts
