extends /layout.pug

block variables
  - var name = 'main_remote-control-parking';
  - var section = 'Услуга';
  - var title = 'Парковка с дистанционным управлением (5DV)';
  - var seoTitle = 'Парковка с дистанционным управлением на BMW в Москве | Автосервис BMW «FGSEVER»';
  - var subtitle = 'Позволяет выйти из автомобиля в удобном месте и при помощи пульта дистанционно припарковать его на парковочное место или в гараж.';
  - var path = {'/services/': 'Услуги', '/services/upgrade/': 'Дооснащение', '/services/upgrade/g-series/': 'G&nbsp;серия', '': 'Парковка с дистанционным управлением (5DV)'};
  - var button = ['popup', '#upgrade-appointment', 'Записаться на дооснащение'];

block content
  +main(name, path, section, title, subtitle, button)
  section.video
    .wrapper
      .columns
        .col-md-6.col-lg-7
          .text
            .overtitle Введение
            h2 Видеоинструкция
            .subtitle Вы можете посмотреть официальное видео от компании BMW, в котором подробно рассказывается про систему парковки с дистанционным управлением, а именно — что она из себя представляет, принцип её работы и для чего она вообще нужна.
            a.button(data-fancybox href='/videos/remote-control-parking.mp4') Смотреть видео
        .col-md-6.col-lg-5
          a.preview(data-fancybox href='/videos/remote-control-parking.mp4')
            img(src='/images/services/upgrade/g-series/remote-control-parking/cover.jpg')
            .play-button
              .icon.play-white
  section.description
    .wrapper
      .titles
        .overtitle Об услуге
        h2 Описание
      .block
        .icon.information-color
        h3 Что это такое?
        p В гаражах или на парковке можно парковаться вперед или выезжать назад с парковочного места с помощью дистанционного управления. При этом водитель не находится в автомобиле, а управляет процессом парковки под собственную ответственность снаружи с помощью ключа BMW с дисплеем.
        .highlighted 
          p Ассистент парковки доступен при наличии дополнительного оборудования Parkassistent Plus (SA5DV).
          p Система не освобождает водителя от ответственности правильно оценивать дорожную ситуацию и ситуацию на парковочном месте. Ввиду определенных системных ограничений система не всегда может срабатывать надлежащим образом. Существует опасность аварии. Водитель должен следить за ситуацией на дороге и на парковочном месте и при необходимости брать управление на себя.
          p Функция распознает препятствия и тормозит перед объектами, распознанными с помощью ультразвуковых датчиков ассистента маневрирования при парковке.
        p С помощью ключа BMW с дисплеем автомобиль можно переместить примерно на 2-кратную длину автомобиля. Скорость не превышает 1,8 км/ч.
        .images.columns
          .col-4.col-md-3
            a.image(data-fancybox href='/images/services/upgrade/g-series/remote-control-parking/car.jpg?2' target='_blank')
              img(src='/images/services/upgrade/g-series/remote-control-parking/car-min.jpg?2')
        p #[b Условия для дистанционного заезда и выезда с парковки:]
        ul
          li Продольная ось транспортного средства должна быть выровнена на ±3° относительно свободного места для парковки;
          li Смещение относительно свободного места для парковки не должно быть более 10 сантиметров;
          li Расстояние между корпусом автомобиля (непосредственно дверь водителя, а не наружное зеркало заднего вида) и ограничением должно составлять не менее 40 сантиметров;
          li Автомобиль должен находиться не дальше 2 метров от свободного места для парковки;
          li Ключ BMW с дисплеем должен находиться на расстоянии в 1,5 метра сбоку или в 3 метра сзади;
          li Уклон или подъем дорожного полотна должен составлять не более 5°.
        h3 Принцип работы системы
        p Ассистент парковки задействует следующие системы автомобиля:
        ul
          li Курсовая устойчивость (переключение передач, разгон, торможение);
          li Боковая устойчивость (минимальная коррекция поворота);
          li Запуск или выключение двигателя;
          li Контроль зоны вокруг автомобиля (камеры и ультразвуковые датчики);
          li Включение и выключение ближнего света;
          li Включение или выключение электрического парковочного тормоза.
        .images.columns
          .col-4.col-md-3
            a.image(data-fancybox href='/images/services/upgrade/g-series/remote-control-parking/system.jpg?2' target='_blank')
              img(src='/images/services/upgrade/g-series/remote-control-parking/system-min.jpg?2')
        p 1 — Видеокамера в правом наружном зеркале; 2 — Приемник дистанционного управления; 3 — Видеокамера заднего вида; 4 — Антенна в бампере; 5 — Видеокамера в левом наружном зеркале; 6 — Блок управления TRSVC; 7 — Передняя видеокамера.
        p #[b Ключ BMW с дисплеем]
        p Дистанционную парковку можно выполнять только с помощью ключа BMW с дисплеем. Для этого на ключе BMW с дисплеем имеется соответствующая кнопка.
        p Чтобы автомобиль смог поехать, на время процесса парковки необходимо нажать и удерживать нажатой кнопку на ключе BMW с дисплеем. При обнаружении препятствий отпустить кнопку, чтобы остановить автомобиль вручную. При этом автомобиль остановится с использованием экстренного торможения.
        p Если ультразвуковые датчики обнаружили препятствия на свободном месте для парковки или конец свободного места для парковки, система остановит автомобиль автоматически.
        p На время этого процесса включается свет фар.
        .highlighted Ассистент парковки может направить автомобиль на бордюрные камни. Существует опасность материального ущерба. Водитель должен следить за ситуацией на дороге и при необходимости сразу брать управление на себя.
        .images.columns
          .col-4.col-md-3
            a.image(data-fancybox href='/images/services/upgrade/g-series/remote-control-parking/bmw-display-key.jpg?2' target='_blank')
              img(src='/images/services/upgrade/g-series/remote-control-parking/bmw-display-key-min.jpg?2')
        p 1 — Открывание или закрывание крышки багажника; 2 — Отпирание; 3 — Запирание; 4 — Функция «проводи домой»; 5 — Кнопка "Назад"; 6 — Клавиша парковки; 7 — Зарядное гнездо разъема (USB); 8 — Включение и выключение дисплея.
        h3 Работа системы
        p #[b Процесс постановки на парковку]
        p При постановке на парковку при необходимости система слегка корректирует поворот рулевого колеса.
        ul
          li Подъехать и остановиться на расстоянии не более 2 метров перед самым парковочным местом, посередине или непосредственно на свободном парковочном месте;
          li Активировать парковочный тормоз и выключить готовность к движению с помощью кнопки START/STOP;
          li Высадить всех пассажиров и закрыть двери;
          li На ключе BMW с дисплеем перейти в меню ассистента парковки;
          li Нажать и удерживать кнопку на ключе BMW с дисплеем на время постановки на парковку;
          li Дождаться отображения готовности к работе на дисплее. При необходимости обращать внимание на текстовые сообщения;
          li Коснуться кнопки {Engine Start}. Двигатель запускается;
          li Для запуска процесса постановки на парковку: На дисплее коснуться символа «стрелка» для движения вперед или медленно перемещать вперед значок транспортного средства. При нажатии и удерживании кнопки: Автомобиль едет до тех пор, пока кнопка удерживается нажатой. При обнаружении препятствий на пути автомобиля отпустить кнопку, чтобы остановить автомобиль. Для выполнения маневров: коснуться символа «стрелка» для заднего хода или медленно переместить значок транспортного средства назад.
          li В конце постановки на парковку отпустить кнопку на ключе BMW с дисплеем или нажать соответствующую кнопку на дисплее. Автомобиль остановится. Запирание автомобиля. Включается парковочный тормоз, и выключается готовность к работе.
        p #[b Прервать процесс парковки, отменить или продолжить]
        p Прервать или отменить процесс парковки: Отпустить кнопку. Автомобиль остановится с использованием экстренного торможения.
        p Продолжить процесс парковки: В течение 30 секунд повторно нажать кнопку.
        p #[b При выезде с парковки автомобиль едет прямо назад, не поворачивая колеса.]
        ul
          li Отпереть автомобиль;
          li На ключе BMW с дисплеем перейти в меню ассистента парковки;
          li Нажать и удерживать кнопку на ключе BMW с дисплеем на время постановки на парковку;
          li Дождаться отображения готовности к работе на дисплее. При необходимости обращать внимание на текстовые сообщения;
          li Коснуться кнопки {Engine Start}. Двигатель запускается;
          li Для запуска процесса выезда с парковки: Коснуться на дисплее символа «стрелка» для заднего хода или медленно перетянуть значок транспортного средства назад. При нажатии и удерживании кнопки: Автомобиль едет до тех пор, пока кнопка удерживается нажатой. При обнаружении препятствий на пути автомобиля отпустить кнопку, чтобы остановить автомобиль.
          li В конце выезда с парковки отпустить кнопку на ключе BMW с дисплеем или нажать соответствующую кнопку на дисплее. Автомобиль остановится. Включается парковочный тормоз и выключается готовность к движению.
        .highlighted Оставляем за собой право на опечатки, смысловые ошибки и технические изменения.
  include /videos
  include /about/advantages
  include /about
  include /contacts
