extends /layout.pug

block variables
  - var name = 'main_sas-control-unit';
  - var section = 'Услуга';
  - var title = 'Система контроля специального оборудования (SAS)';
  - var seoTitle = 'Система контроля специального оборудования на BMW в Москве | Автосервис BMW «FGSEVER»';
  - var subtitle = 'Блок управления системы контроля специального оборудования (SAS) разработан для встраивания специального дополнительного оборудования для системы поддержки водителя.';
  - var path = {'/services/': 'Услуги', '/services/upgrade/': 'Дооснащение', '/services/upgrade/g-series/': 'G&nbsp;серия', '': 'Система контроля специального оборудования (SAS)'};
  - var button = ['popup', '#upgrade-appointment', 'Записаться на дооснащение'];

block content
  +main({ name, path, section, title, subtitle, button })
  section.description
    .wrapper
      .titles
        .overtitle Об услуге
        h2 Описание
      .block
        .icon.information-color
        h3 Что это такое?
        p Блок управления системы контроля специального оборудования (SAS) разработан для встраивания специального дополнительного оборудования для системы поддержки водителя.
        p Аппаратное обеспечение блока управления SAS предлагается только в одной версии. Различные конфигурации обеспечиваются только путем кодирования программного обеспечения на основании особых спецификаций автомобиля. Варианты относительно комплектации для конкретной страны также отсутствуют.
        h3 Принцип работы системы
        p Блок управления SAS предоставляет расчеты для большого количества системных функций системы поддержки водителя. По этой причине блок управления SAS имеет разветвленную сеть и подключен к следующим системам шин связи:
        ul
          li FlexRay;
          li Ethernet;
          li K-CAN6 (в зависимости от автомобиля);
          li Local-CAN (в зависимости от автомобиля.
        p Система специального оснащения имеет следующие функции:
        ul
          li Система поддержания заданной скорости Premium с функцией "Stop and Go";
          li Активный парктроник (PDC);
          li Информация о дистанции;
          li Система помощи рулевого управления и движения в полосе;
          li Ассистент перестроения;
          li Система предупреждения о выходе за пределы полосы движения с ассистентом движения в пробке;
          li Ассистент объезда препятствия;
          li Предупреждение аварии;
          li Круиз-контроль с воздействием на тормозной механизм;
          li Ассистент Efficient Dynamics;
          li Предупреждение о наезде;
          li Система предупреждения при подъезде к перекресткам;
          li Предупреждение о неправильном движении;
          li Система курсовой устойчивости при спуске (HDC);
          li Система экстренного торможения;
          li Интеллектуальная система скорости;
          li Предотвращение бокового удара;
          li Парковка с дистанционным управлением;
          li Превентивная защита пешеходов;
          li Система помощи при парковке (PMA) с продольным и поперечным ведением;
          li Система помощи при движении на перекрестках;
          li Ограничение скорости;
          li Круиз-контроль с оптимизацией эффективности;
          li Предупреждение об опасности при перестроении;
          li Ассистент прогноза.
        .images.columns
          .col-4.col-md-3
            a.image(data-fancybox href='/images/services/upgrade/g-series/sas-control-unit/sas.jpg' target='_blank')
              img(src='/images/services/upgrade/g-series/sas-control-unit/sas-min.jpg')
        p 1 — Блок управления системы контроля специального оборудования (SAS); 2 — 26-контактный разъем.
        h3 Работа системы
        p #[b Система поддержания заданной скорости Premium с функцией "Stop and Go"]
        p Система поддержания заданной скорости Premium (ACC Premium) является частью продольного управления.
        p Функция объединяет данные камеры и радиолокационных датчиков. Цель: контроль пространства перед автомобилем и соответствующая реакция на движущиеся и стоящие цели.
        p Возможно использование на автомагистралях, проселочных дорогах и автострадах, переходящих в городскую улицу.
        p #[b Активный парктроник (PDC)]
        p Активный парктроник является частью продольного управления при заднем ходе и предназначен для активного предотвращения столкновений при парковке на скорости менее 5 км/ч, что обеспечивается автоматическим затормаживанием до неподвижного состояния автомобиля.
        p Торможение выполняется при наличии препятствий, сталкивающихся с задком кузова или боковиной. Легкое притормаживание выполняется для предостережения водителя.
        p #[b Информация о дистанции]
        p Информирование о дистанции является частью продольного управления.
        p Информирование о дистанции предназначено для индикации предупреждающего символа сразу после того, как время преодоления расстояния до едущего впереди автомобиля становится меньше определенного интервала во времени (0,8 с).
        p Визуальный предупреждающий сигнал выполняется на комбинации приборов или в виртуальном дисплее.
        p #[b Система помощи рулевого управления и движения в полосе]
        .highlighted Система поддержки рулевого управления и предупреждения о выходе за пределы полосы движения не освобождает водителя от ответственности! Система поддержки рулевого управления и предупреждения о выходе за пределы полосы движения является вспомогательной системой!
        p Система поддержки рулевого управления и контроля полосы движения с помощью комфортного активного рулевого управления помогает транспортному средству держаться в распознанной полосе движения и работает в диапазоне скоростей от 0 до 210 км/ ч. Для этого система поддержки осуществляет поддерживающие движения рулевого колеса. С помощью пяти радиолокационных датчиков и одной камеры рассчитывается положение ограничителей полосы и едущего впереди транспортного средства. В зависимости от скорости ориентация может осуществляться по ограничителям полосы или по едущему впереди транспортному средству. Датчики на рулевом колесе распознают, имеется ли контакт с рулевым колесом. В дорожных ситуациях с очень плотным транспортным потоком или заторами, а также на участках автомагистралей с монотонным движением система поддержки может ощутимо разгрузить водителя.
        p #[b Ассистент перестроения]
        p Ассистент смены полосы движения обеспечивает комфортную поддержку при смене полосы движения на автомагистралях или других дорогах с разделенным в связи со строительными работами дорожным полотном.
        p Работает в диапазоне скоростей от 70 до 180 км/ч. Необходимыми условиями для его работы, среди прочего, являются активизированная система поддержки рулевого управления и контроля полосы движения и распознанная маркировка полосы.
        p Система поддержки активируется длительным нажатием переключателя указателей поворота/дальнего света в нужном направлении (кратковременное мигание). С помощью чувствительных элементов транспортное средство проверяет, свободна ли полоса движения рядом с ним, и не приближается ли по этой полосе движения с высокой скоростью другое транспортное средство. Если это так, ассистент смены полосы движения поддерживает смену полосы движения соответствующими движениями рулевого колеса. После смены полосы движения система помогает транспортному средству удержаться в новой полосе движения.
        p #[b Система предупреждения о выходе за пределы полосы движения с ассистентом движения в пробке]
        p Система предупреждения о выходе за пределы полосы движения с ассистентом движения в пробке является отдельной функцией поперечного управления.
        p Система предупреждения о выходе за пределы полосы движения с ассистентом движения в пробке предоставляет водителю усилитель рулевого привода и облегчает управление по полосе.
        p Тактильное предостережение от рулевого колеса поступает при непреднамеренной смене полосы движения. При отсутствии реакции водителя при необходимости включается активное рулевое управление для корректировки направления движения.
        p Поддерживающее поперечное управление выполняется в диапазоне между 0 км/ч и 210 км/ч. Функция разгружает водителя от монотонных, несложных задач при езде.
        p Для активации необходимо распознавание левого и правого ограничения полосы движения на скорости 70 км/ч. На скорости менее 70 км/ч достаточно распознавания едущего впереди автомобиля.
        p Чтобы система активного управления автомобиля могла контролировать необходимую внимательность и реакцию водителя, он всегда должен держать обе руки на рулевом колесе (Правила дорожного движения).
        p #[b Ассистент объезда препятствия]
        p Ассистент объезда препятствия (активация в более поздний момент) является частью поперечного управления. Ассистент предназначен для поддержки водителя во время объездов в экстренных случаях, при этом оказывается воздействие на поворачиваемость.
        p Ассистент объезда препятствия доступен в диапазоне скоростей от 40 км/ч до 160 км/ч.
        p Ассистент объезда препятствия поддерживает водителя в критических ситуациях движения и помогает устойчиво удерживать автомобиль. Это реализуется при взаимодействии DSC, электрического рулевого управления и датчиков системы помощи водителю. При решении водителя выполнить объезд препятствия ассистент объезда препятствия рассчитывает за несколько миллисекунд, как может выполняться оптимальный объезд, так называемая траектория движения автомобиля. Чтобы автомобиль оставался устойчивым, объезд препятствия поддерживается гармоничным движением рулевого колеса.
        p #[b Предупреждение аварии]
        p Предотвращение аварий является частью продольного управления. Функция предназначена для предотвращения аварий при дифференциальной скорости до 50 км/ч. При скорости выше 50 км/ч она приводит к снижению тяжести аварии.
        p При грозящей опасности аварии в городских условиях (скорость движения до 80 км/ч) выполняется активное ступенчатое воздействие на тормозной механизм (вплоть до полной задержки ).
        p Релевантными целевыми объектами являются стоящие легковые автомобили, грузовые автомобили и мотоциклы. Существует потенциал для положительного учета при тарификации страховой премии.
        p #[b Круиз-контроль с воздействием на тормозной механизм]
        p Круиз-контроль с воздействием на тормозной механизм является частью продольного управления.
        p Эта система автомобиля предназначена в первую очередь для круиз-контроля автомобиля вплоть до автоматического воздействия на тормозной механизм.
        p Следствием этого являются быстрая реакция на изменения установленной скорости и сохранение постоянной скорости даже при движении на уклонах дороги.
        p Установленная скорость настраивается на многофункциональном рулевом колесе (с шагом 1 км/ч и 10 км/ч).
        p Существуют различные исполнения системы в зависимости от переключателя системы регулирования динамики движения (Sport, Komfort, ECO PRO).
        p #[b Ассистент Efficient Dynamics]
        p Ассистент Efficient Dynamics является частью продольного управления.
        p Ассистент Efficient Dynamics поддерживает водителя при опережающем движении — он берет на себя будущие ограничения скорости. Опережающее ограничение скорости определяется с помощью системы навигации и предлагается водителю.
        p Экономия расхода ок. 15 % благодаря оптимизации стратегии эксплуатации, использующей движение по инерции, принудительный холостой ход и торможение, по сравнению с используемой в настоящее время системой поддержания заданной скорости.
        p #[b Предупреждение о наезде]
        p Предупреждение о наезде состоит из визуального и звукового предупреждающего сигнала при опасности аварии. Визуальный предупреждающий сигнал выполняется на комбинации приборов или в виртуальном дисплее.
        p Предварительное предостережение появляется при разности скоростей в 15 км/ч. Неотложное предостережение появляется при разности скоростей в 30 км/ч. При разности скоростей в 50 км/ч выполняется предварительное заполнение тормозной системы.
        p Одновременно оценивается внимательность водителя при нажатии педалей и движениях рулевого колеса.
        p #[b Система предупреждения при подъезде к перекресткам]
        p Предупреждение о перпендикулярном движении на перекрестке подает оптические и звуковые сигналы, если распознанные стереокамерой дорожные знаки указывают на то, что водитель не заметил приближения к дороге с правом преимущественного проезда.
        p #[b Предупреждение о неправильном движении]
        p Предупреждение о неправильном движении учитывает данные навигационной системы, чтобы указывать на опасные ситуации. Оно регистрирует повороты в неправильном направлении на улицы с односторонним движением, кольцевое движение и въезды на автомагистрали.
        p #[b Система курсовой устойчивости при спуске (HDC)]
        p Система курсовой устойчивости при спуске (HDC) — это система помощи при спуске для нижнего диапазона скоростей для крутых уклонов, специально предназначенная для несвязных и рыхлых грунтов.
        p Выполняется автоматическая регулировка (по умолчанию скорость пешехода) с использованием воздействия на тормозной механизм всех 4 колес. Регулировка выполняется в диапазоне скоростей от 5 км/ч до 25 км/ч.
        p Систему автомобиля можно активировать до 35 км/ч.
        p #[b Система экстренного торможения]
        p Система экстренного торможения является частью продольного управления.
        p Система экстренного торможения предназначена для предотвращения столкновений в результате автономного притормаживания автомобиля.
        p Выдаются визуальные и звуковые предупреждения о наезде. В опасных ситуациях выполняется предварительное заполнение тормозной системы.
        p Затормаживание выполняется в два этапа до максимальной задержки.
        p Незначительные повреждения можно уменьшить или предотвратить.
        p #[b Интеллектуальная система скорости]
        p Интеллектуальная система скорости является частью продольного управления.
        p Анализируя дорожные знаки, интеллектуальная система скорости помогает водителю не превышать актуальное ограничение скорости.
        p Интеллектуальная система скорости помогает избегать штрафов.
        p Водитель может использовать данные из системы распознавания дорожных знаков.
        p Кроме того, интеллектуальная система скорости используется для анализа в EuroNCAP.
        p #[b Предотвращение бокового удара]
        p Эта система автомобиля поддерживает водителя в ситуациях с потенциальным боковым ударом.
        p Боковой потенциал столкновений может существовать относительно объектов (автомобили и придорожная застройка) в окружении автомобиля или также относительно маркировок полосы движения.
        p Водитель получает информацию о возможном столкновении с помощью визуальной индикации в комбинации приборов. Кроме того, водитель получает предупреждение с помощью визуальной индикации светодиодов в наружном зеркале заднего вида.
        p Это повышает безопасность клиента посредством контроля окружения с активной поддержкой с помощью активного рулевого управления.
        p Система автомобиля активна, начиная со скорости движения от 20 км/ч, и до 210 км/ч.
        p #[b Парковка с дистанционным управлением]
        p Парковка с дистанционным управлением поддерживает водителя в сложных ситуациях при парковке на свободном месте на стоянке при движении вперед (гараж, узкое свободное место для парковки, общественные парковки, например, парковка у магазина).
        p Возникновение сложных ситуаций при парковке: После припарковывания водитель с трудом может выйти из автомобиля или вообще не может выйти или перед выездом с парковки водитель не может сесть в автомобиль. Эта система автомобиля распознает объекты и тормозит перед этими объектами.
        p Дистанционный выезд с парковки действует только в том случае, если припарковывание также выполнялось с помощью дистанционного управления.
        p Управление выполняется с помощью дистанционного радиоуправления, когда водитель не находится в автомобиле. Припарковывание с дистанционным управлением требует выполнения следующих условий:
        ul
          li Top Rear Side View Camera;
          li Система комфортного доступа;
          li Park Distance Control спереди и сзади;
          li Ассистент парковки с электромеханическим усилителем рулевого привода;
          li АКПП;
          li Электромеханический стояночный тормоз.
        .highlighted Водитель должен дополнительно осмотреть и проверить ситуацию вокруг автомобиля. Перед использованием функции и во время ее выполнения водитель должен удостовериться, что в автомобиле и в непосредственной близи от автомобиля нет людей.
        p #[b Превентивная защита пешеходов]
        p Превентивная защита пешеходов помогает водителю избегать аварий, связанных с пешеходами. Система автомобиля предупреждает при городском движении о возможных опасностях аварий, связанных с пешеходами, и предусматривает автоматическое воздействие на тормозной механизм.
        p Функция выполняется в два этапа с заблаговременным предостережением и автоматическим торможением. В случае наличия риска возможны запрошенные напрямую максимальные задержки без предварительного предостережения.
        p Предостережение водителя выполняется в диапазоне между 8 км/ч и 65 км/ч.
        p При автоматических воздействиях на тормозной механизм включается стоп-сигнал.
        p Система автомобиля не заменяет ответственность водителя, который может прервать функцию при разгоне или управлении. Люди распознаются, начиная с роста ок. 80 см.
        p Функция активна днем и ночью.
        p #[b Система помощи при парковке (PMA) с продольным и поперечным ведением]
        p Эта система автомобиля основана на известной системе помощи при парковке с автоматическим поперечным ведением. Кроме того, система расширена функцией автоматического продольного ведения. Система помощи при парковке с продольным и поперечным ведением служит как для поиска места парковки, так и для помощи водителю во время непосредственной парковки автомобиля.
        p При этом происходит измерение свободного парковочного пространства в продольном направлении с обеих сторон при скорости движения до 35 км/ч. Блок управления SAS вычисляет оптимальное положение при парковке. Далее водителю поступает информация, которую он должен подтвердить.
        p Если водитель вмешивается в рулевое управление, возможна повторная запись.
        p Система помощи при парковке (PMA) во время парковки берет на себя управление следующими функциями: рулевое управление, разгон и торможение и при необходимости переключение передачи. Во время процесса парковки следует удерживать нажатой кнопку парковки. В конце процесса парковки на автомобилях с автоматической коробкой передач рычаг селектора устанавливается в положение P.
        p При необходимости система помощи при парковке выполняет управление с ориентированием по бордюру. Также процесс парковки поддерживается путем оптимизации прохождения минимальных участков.
        p #[b Система помощи при движении на перекрестках]
        p Система помощи при движении на перекрестках (внедрение позже) является расширением системы экстренного торможения. Система помощи при движении на перекрестках поддерживает водителя в случае грозящей опасности столкновения на перекрестке. Кроме того, система помощи при движении на перекрестках оказывает поддержку при торможении, что позволяет максимально сбросить скорость.
        p Система помощи при движении на перекрестках активна в диапазоне скоростей от 15 км/ч до 85 км/ч. Водитель получает информацию с помощью визуального и звукового предупреждающего сигнала. Основным случаем применения является главная дорога с неожиданным перекрестком.
        p #[b Ограничение скорости]
        p Ограничение скорости является частью продольного управления.
        p Система автомобиля предназначена для ограничения скорости движения до выбранного водителем предела скорости.
        p Это приводит к разгрузке на дорогах с ограничением скорости.
        p Кроме того, ограничение скорости используется при анализе в EuroNCAP.
        p Тем не менее, посредством целенаправленного, более интенсивного педалирования (угол педали акселератора больше 99 %) при необходимости можно превысить установленную скорость (например, при неожиданных объездах).
        p #[b Круиз-контроль с оптимизацией эффективности]
        p Данная система автомобиля является частью продольного управления.
        p Оптимизированный по экономичности круиз-контроль обеспечивает снижение расхода в результате целенаправленной активации функции движения по инерции в режиме ECO PRO.
        p Экономия топлива по сравнению с движением с постоянной скоростью составляет ок. 5 % (в зависимости от скорости, варианта двигателя, коробки передач).
        p При возвышениях и уклонах разрешается разность скоростей для потенциального перехода на кинетическую энергию и наоборот.
        p Движение по инерции прерывается при скорости ниже прим. 60 км/ч и выше прим. 140 км/ч.
        p #[b Предупреждение об опасности при перестроении]
        p Сигнализация при смене полосы является частью продольного управления.
        p Сигнализация при смене полосы предназначена для предостережения водителя при переходе на соседнюю полосу движения о приближающихся сзади автомобилях.
        p Зона соседних полос движения контролируется сзади и сбоку с помощью радиолокационных датчиков.
        p При предстоящем столкновении предостережение водителя выполняется визуально (светодиод в наружном зеркале заднего вида) и тактильно (вибропривод в рулевом колесе).
        p При необходимости включается активное рулевое управление.
        p #[b Ассистент прогноза]
        p Данная система автомобиля является частью продольного управления.
        p Ассистент прогнозирования предназначен для поддержки водителя с целью максимально эффективного, прогнозируемого и экономящего топливо движения.
        p Распознавание будущих, релевантных скорости движения ситуаций происходит посредством данных навигации (требование к навигационной системе Professional).
        p Ассистент прогнозирования активируется посредством режима ECO PRO (GREEN) с помощью переключателя системы регулирования динамики движения.
        p На комбинации приборов или виртуальном дисплее отображается, когда водителю следует регулировать скорость движения (газ).
        .highlighted Оставляем за собой право на опечатки, смысловые ошибки и технические изменения.
  include /videos
  include /about/advantages
  include /about
  include /contacts
