section.services
  .wrapper
    .titles
      .overtitle Наши услуги
      h2 Виды работ
    .columns
      .col-md-6.col-lg-4
        a.services-item(href='remont-reduktora/')
          .services-item__content
            .services-item__text
              .services-item__title
                h3 Ремонт редукторов
              .subtitle.services-item__subtitle Диагностика и устранение неисправностей редуктора в трансмиссии автомобиля.
            .button-simple Подробнее