extends /layout.pug

block variables
  - var name = 'main_high main_x6'
  - var section = 'Услуга';
  - var title = 'Техническое обслуживание BMW&nbsp;X6';
  - var models = 'G06, F96, F16, F86, E71';
  - var seoTitle = 'Техническое обслуживание BMW X6 (' + models + ') в Москве | Автосервис BMW «FGSEVER»';
  - var subtitle = 'Услуги по техническому обслуживанию (ТО) BMW X6 в Москве — компьютерная и общая диагностика, замена масел и технических жидкостей, тормозных дисков и колодок, цепи ГРМ, ремонт и замена ДВС, мойка радиаторов, ремонт рулевой рейки.';
  - var path = {'/services/': 'Услуги', '/services/maintenance/': 'Техническое обслуживание BMW', '': 'X6'};
  - var button = ['#maintenance-calculator', 'Рассчитать стоимость'];

block content
  +main({ name, path, section, title, subtitle, button, models })
  include /maintenance/calculator
  include /maintenance/services
  include /contacts
