section.description
  .wrapper
    .titles
      .overtitle Об услуге
      h2 Описание
    .block
      .icon.information-color
      h3 Зачем нужна замена тормозных дисков и колодок
      p Тормозные колодки при торможении прижимаются к тормозным дискам, вследствие чего происходит их планомерный износ. Эти элементы требуют регулярной проверки при прохождении техобслуживания и замены, в случае необходимости. Стоит отметить, что износ передних тормозных механизмов обычно происходит до 3-х раз быстрее, чем задних, так как основная нагрузка при торможении ложится именно на них.
      h3 Как происходит замена
      p В первую очередь обратим ваше внимание, что замена тормозных механизмов осуществляется парно на передних и задних колёсах, так как считается что на одной оси они имеют равную степень износа, выкрутят болты
      p Наши квалифицированные специалисты грамотно произведут замену тормозных механизмов в вашем автомобиле — снимут соответствующие колёса, очистят тормозные механизмы, выкрутят болты и отведут колодки, поменяют нужные детали, соберут систему в обратном порядке и прокачают, дав приработаться новым элементам.
      h3 Когда нужна замена
      p Единой рекомендации об установленных сроках замены тормозных дисков и колодок не существует, так как скорость их износа напрямую зависит от стиля и манеры управления автомобилем.
      p Если ваш автомобиль не оснащен системой автоматического уведомления о необходимости обслуживания тормозных механизмов, это необходимо сделать при возникновении следующих признаков:
      ul
        li появился скрип, скрежет или рывки при торможении;
        li появилось биение в педаль тормоза (причина этого — неравномерный износ);
        li значительно увеличился тормозной путь автомобиля;
        li слишком резкий или слабый ответ на нажатие педали тормоза.
      .highlighted
        p Однако современные автомобили BMW оснащены специальными датчиками износа деталей тормозной системы. Замену тормозных дисков или колодок необходимо проводить при появлении сооветствующего предупреждения на приборной панели.
        