section.description
  .wrapper
    .titles
      .overtitle Об услуге
      h2 Описание
    .block
      .icon.information-color
      h3 Зачем нужна диагностика автомобиля
      p В процессе эксплуатации автомобиля различные его системы время от времени перестают работать должным образом или полностью выходят из строя. В таких случаях необходима общая диагностика — это комплексная проверка работоспособности различных систем автомобиля. Квалифицированные специалисты с помощью специального диагностического оборудования выполняют поиск возможных неисправностей и неполадок автомобиля для их дальнейшего устранения.
      h3 Как происходит диагностика
      p Диагностика подразумевает полную проверку автомобиля в несколько этапов: 
      ul
        li общий визуальный осмотр внешней и внутренней составляющей автомобиля;
        li полный осмотр двигателя, его элементов и навесного оборудования;
        li проверка ходовой части автомобиля, в том числе подвески, трансмисси, системы торможения и рулевого управления;
        li проверка электроники автомобиля (световое оборудование, климатическое, мультимедийное и прочее);
        li диагностика на момент утечки масел или различных технических жидкостей и выявление причины утечки;
        li компьютерная диагностика при помощи подключения к блокам управления и считывания возникших в работе автомобиля ошибок.
      p После проведения диагностики нашими специалистами подготавливается отчет со всеми обнаруженными ошибками и рекомендуемыми способами их устранения.
      h3 Когда нужна диагностика
      p Комплексная диагностика автомобиля необходима при возникновении одной из следующих ситуаций:
      ul
        li на приборной панели загорелся один из индикаторов, сообщающих о неисправности какой-либо системы автомобиля (Check Engine, ABS, подушки безопасности, рулевое управление, освещение и другая электроника, и т. д.);
        li наблюдаются проблемы при управлении автомобилем, а именно: увеличенный расход топлива, нестабильная работа двигателя, возникшие посторонние звуки из двигателя или подвески, подтёки масел или технических жидкостей.
      .highlighted
        p Общую диагностику автомобиля рекомендуется производить при каждом прохождении техобслуживания, то есть каждые 10 000 км или раз в год, в зависимости от того, что наступит раньше.