section.description
  .wrapper
    .titles
      .overtitle Об услуге
      h2 Описание
    .block
      .icon.information-color
      h3 Зачем нужна компьютерная диагностика автомобиля
      p Компьютерная диагностика — это современный способ обнаружения различных неисправностей и ошибок в работе автомобиля. Проверка происходит при помощи подключения к автомобилю специального набора профессионального диагностического оборудования, рекомендованного автопроизводителем. Данное оборудование считывает данные из различных электронных блоков управления (ЭБУ) и выводит информацию об ошибках, возникших в работе автомобиля.
      p Также компьютерная диагностика предполагает измерение различных показателей работы двигателя и других узлов автомобиля. Данные значения сравниваются с показателями, считающимися нормой, и таким образом нашими опытными специалистами выявляются скрытые неисправности.
      h3 Как происходит диагностика
      p Компьютерная диагностика подразумевает тщательную проверку автомобиля по следующим пунктам: 
      ul
        li считывание ошибок и показателей блока управления двигателем (ЭБУ), проверка работы различных воспомогательных систем (ABS, DSC, ESP, SRS и т. д.);
        li проверка на наличие ошибок в АКПП и выхлопной системе автомобиля;
        li проверка на ошибки ходовой части автомобиля, в том числе подвески, трансмисси, системы торможения и рулевого управления;
        li диагностика климатического оборудования, элементов освещения, мультимедийного оборудования;
      p После проведения компьютерной диагностики нашими специалистами подготавливается сводный отчет об обнаруженных ошибках и их расшифровках, а также рекомендуемых способах их устранения.
      h3 Когда нужна диагностика
      p Компьютерная диагностика автомобиля необходима в случае, если на приборной панели загорелся один из индикаторов, сообщающих о неисправности какой-либо системы автомобиля — ошибка двигателя, тормозной системы, подушек безопасности, рулевого управления, освещения или любой другой электроники.
      .highlighted
        p Компьютерная диагностика, как правило, проводится вместе с общей диагностикой автомобиля. Её рекомендуется производить при каждом прохождении техобслуживания, то есть каждые #[span.nowrap 10 000] км или раз в год.