section.description
  .wrapper
    .titles
      .overtitle Об услуге
      h2 Описание
    .block
      .icon.information-color
      h3 Зачем нужен ремонт электрооборудования
      p В любом современном автомобиле имеется большое количество электрического оборудования, которое иногда становится неисправным или выходит из строя. В стандартный набор электрооборудования входят:
      ul
        li аккумуляторная батарея (аккумулятор), которая необходима для запуска двигателя;
        li стартер, являющийся пусковым устройством двигателя;
        li генератор — устройство, вырабатывающее электричество для питания электронных приборов и аккумулятора;
        li осветительные приборы — передние фары, задние фонари, лампы освещения салона;
        li электронные блоки управления (ЭБУ) различными системами автомобиля;
        li электропроводка, соединяющая между собой блоки управления или различное электрооборудование.
      p Любое из этих устройств может неожиданно выйти из строя. Если это случилось, вам понадобится ремонт электрооборудования. 
      h3 Как происходит ремонт
      p Преждем чем приступать к ремонту электрооборудования, необходимо установить причины возникновения неисправностей. Поломка находится с помощью диагностики и использования специального инструмента и оборудования: мультиметров, специальных стендов для проверки электрических генераторов и стартеров, а также сканеров для компьютерной диагностики двигателя или трансмиссии автомобиля.
      p После выявления причины неисправности электрооборудования, наши специалисты сообщают вам о найденной проблеме и предлагают возможные способы её устранения. После согласования с вами, мы приступаем к ремонту. 
      h3 Когда нужен ремонт
      p Вам стоит обратиться к специалистам для выполнения ремонта электрооборудования в следующих ситуациях:
      ul
        li аккумуляторная батарея быстро теряет свой заряд;
        li реле и предохранители быстро выходят из строя;
        li на приборной панели загорелся индикатор, сообщающий о неисправности электрооборудования;
        li наблюдаются проблемы с центральным замком автомобиля;
        li появился запах горелой электропроводки.
      p Во многих случаях причиной неисправностей становятся: аккумулятор, генератор, замыкание проводки, отсутствие контактов в разъемах или обрыв электроцепи.