section.description
  .wrapper
    .titles
      .overtitle Об услуге
      h2 Описание
    .block
      .icon.information-color
      h3 Зачем нужна замена ДВС
      p В случае, если двигатель вашего автомобиля полностью вышел из строя, не подлежит ремонту и необходимо заменить его на аналогичный (контрактный), вы можете обратиться в наш автосервис для проведения этой работы. Мы поможем подобрать подходящий агрегат и окажем вам полный комплекс работ по замене двигателя в вашем автомобиле.
      p Также иногда бывают ситуации, когда производительности имеющегося в автомобиле двигателя оказывается недостаточно его вдалельцу. В таких случаях прибегают к замене двигателя на более мощный, например от старшей модификации этой же модели автомобиля. Такую работу называют СВАП.
      h3 Как происходит замена (СВАП)
      p В первую очередь, перед проведением любой замены двигателя нужно убедиться, что желаемый агрегат может быть установлен в данный автомобиль. Наши специалисты помогут вам подобрать двигатель в нужном состоянии и убедиться, что он подойдет к вашему автомобилю. Тем не менее, даже в случае подбора правильного двигателя, при установке в автомобиль могут потребоваться значительные доработки подкапотного пространства. Этого не стоит бояться, так как наш автосервис сталкивался с такими доработками уже не раз и мы знаем, что нужно делать.