section.description
  .wrapper
    .titles
      .overtitle Об услуге
      h2 Описание
    .block
      .icon.information-color
      h3 Зачем нужна диагностика ДВС
      p В современных двигателях провести общую диагностику и определить неисправность стало значительно проще, благодаря повсеместному внедрению электронного блока управления (ЭБУ) двигателем. Это устройство производит постоянный обмен потоками данных и управляет многими электронными системами в автомобиле, такими как работа двигателя, режимы работы АКПП, работа системы торможения с ABS и различных систем безопасности, климатической установки и так далее. С помощью специального оборудования для считывания информации из ЭБУ можно легко выявить различные ошибки в работе автомобиля и своевременно устранить их.
      h3 Как происходит ремонт
      p Мы оказываем большой спектр услуг по диагностике и ремонту бензиновых и дизельных моторов компании BMW, а именно: капитальный ремонт двигателя, ремонт головки блока цилиндров (ГБЦ), ремонт газораспределительного механизма (ГРМ), ремонт шатунно-поршневой группы (ШПГ), ремонт различной электрики двигателя и так далее.
      p При необходимости наши специалисты произведут демонтаж и полную разборку двигателя, диагностику и оценку стоимости устранения повреждений, ремонт или замену необходимых его компонентов, проверку и залив жидкостей (масла, охлаждающей жидкости и т. д.), а также полную сборку и монтаж двигателя вместе с тщательной проверкой его работы.
      h3 Когда нужен ремонт
      p Двигатель нуждается в диагностике и осмотре специалистов в следующих случаях:
      ul
        li двигатель работает со сбоями или глохнет;
        li появляется потеря мощности;
        li увеличивается расход топлива;
        li автомобиль дергается, появляются рывки на ходу;
        li при запуске, холостом ходу или разгоне из подкапотного пространства доносятся посторонние вибрации или шумы;
        li горит индикация Check Engine на приборной панели.
      //- p Если двигатель работает со сбоями, появляются потери мощности, увеличивается расход топлива, появляются подтеки масла или из подкапотного пространства доносятся посторонние звуки, то двигатель нуждается в осмотре специалистов. 
      .highlighted
        p При проведении общей диагностики автомобиля (рекомендуется проводить каждые 10 000 км), в нашем автосервисе мы также производим осмотр и диагностику работы двигателя.