section.description
  .wrapper
    .titles
      .overtitle Об услуге
      h2 Описание
    .block
      .icon.information-color
      h3 Зачем нужна чистка и мойка впускного коллектора
      p Впускной коллектор выполняет важную роль в двигателе автомобиля. Он подаёт горючую смесь топлива и воздуха к головке блока цилиндров (ГБЦ), откуда она затем попадает в сами цилиндры. Со временем во впускном коллекторе скапливаются различные отложения и загрязнения, которые препятствуют проникновению смеси в цилиндры и тем самым негативно влияют на общую работу двигателя. Чтобы этого избежать, нужно регулярно проводить чистку. 
      h3 Как происходит чистка
      p Для очистки впускного коллектора необходимо его снятие с автомобиля. Наши специалисты аккуратно снимают дроссельную заслонку, убирают различные датчики и патрубки, отворачивают болты, демонтируют и разъединяют коллектор. Далее на опредленное время он оставляется в специальной таре с чистящим раствором. Некоторые же загрязнения убираются вручную. После этого всё собирается в обратном порядке и устанавливается обратно на автомобиль.
      h3 Когда нужна чистка
      p Автомобили с дизельными двигателями больше подвержены загрязнению впускного коллектора, поэтому на таких автомобилях рекомендуется более регулярно проводить его чистку.
      .highlighted
        p Если дизельный двигатель постоянно эксплуатируется в городе, обработку нужно проводить каждые 6 месяцев. Если же автомобиль постоянно ездит по трассе, то условия эксплуатации считаются более щадящими и чистка впуска требуется около 1 раза в год.