section.description
  .wrapper
    .titles
      .overtitle Об услуге
      h2 Описание
    .block
      .icon.information-color
      h3 Зачем нужна замена технических жидкостей
      p Тормозная жидкость передаёт усилие от педали тормоза к колесным тормозным механизмам. Когда автомобиль тормозит, жидкость нагревается и может закипеть. Тогда в ней образуются пузыри воздуха, из-за которых она становится сжимаемой, педаль тормоза "проваливается" и торможение становится неэффективным. Чтобы этого избежать, нужно регулярно заменять тормозную жидкость.
      p Охлаждающая жидкость (антифриз) — это специальная жидкость, предназначенная для отвода тепла от двигателя, предотвращения развития коррозии и образования в нём накипи. С течением времени в ней образуются продукты коррозии, она теряет свои свойства и перестаёт должным образом охлаждать двигатель. Для избежания этого жидкость нужно регулярно менять.
      h3 Как происходит замена
      p При замене технических жидкостей наши специалисты проводят тщательную визуальную диагностику, полностью сливают отработанную жидкость, промывают систему охлаждения и заливают новую рабочую смесь обратно. Также при замене охлаждающей жидкости рекомендуется промывать радиатор. Это необходимо для прочистки каналов системы охлаждения, удаления оттуда ржавчины и иного мусора.
      h3 Когда нужно производить замену
      .highlighted
        p В автомобилях BMW рекомендуется производить замену тормозной жидкости каждые 2 года. Средний годовой пробег автомобиля составляет #[span.nowrap 10 000]-#[span.nowrap 15 000] км, поэтому менять тормозную жидкость стоит каждые #[span.nowrap 20 000]-#[span.nowrap 30 000] км.
        p Охлаждающую жидкость автопроизводитель рекомендует менять каждые 3 года. Исходя из нашего опыта, мы советуем менять её каждые #[span.nowrap 30 000]-#[span.nowrap 40 000] км.