section.description
  .wrapper
    .titles
      .overtitle Об услуге
      h2 Описание
    .block
      .icon.information-color
      h3 Зачем нужна замена масел
      p В двигателе автомобиля происходит постянное трение деталей и, чтобы уменьшить их износ, в нём используется масло. Помимо этого, оно частично отводит тепло от трущихся деталей, которые постоянно находятся под воздействием высоких температур с сильными перепадами.
      p С течением времени масло постепенно окисляется, в нём скапливаются загрязнения, оно теряет первоначальные свойства и перестаёт выполнять свою функцию. Поэтому необходима его регулярная замена. Похожая ситуация и с маслами в автоматической коробке передач (АКПП), передних и задних редукторах, а также раздаточной коробке.
      h3 Как происходит замена
      p Квалифицированные специалисты нашего автосервиса производят правильную замену масел в автомобилях BMW. Мы по нескольким параметрам, в том числе по внешнему виду и консистенции, определим состояние жидкостей и подберём вам оптимальные варианты для их замены.
      h3 Когда нужно производить замену
      .highlighted
        p Компания BMW рекомендуют менять масло в двигателе каждые #[span.nowrap 15 000] км, но с учетом особенностей эксплуатации автомобиля в российских условиях мы рекомендуем производить замену каждые #[span.nowrap 10 000] км или раз в год, если вы проехали меньше. Замену масла в АКПП, передних и задних редукторах, и раздаточной коробке рекомендуется производить каждые #[span.nowrap 60 000] километров.