section.description
  .wrapper
    .titles
      .overtitle Об услуге
      h2 Описание
    .block
      .icon.information-color
      h3 Зачем нужна мойка радиаторов
      p Радиатор предназначен для охлаждения жидкости, циркулирующей в системе охлаждения двигателя. Проходя через радиатор, охлаждающая жидкость отдаёт часть своего тепла потоку воздуха, благодаря чему температура двигателя снижается. Однако в процессе эксплуатации в радиатор попадает различная грязь, пыль, песок и насекомые. Из-за этого нарушается теплообмен, существенно снижается работоспособность радиатора и повышается температура в двигателе. Для того, чтобы этого избежать, необходима регулярная мойка и очистка радиатора от отложений.
      h3 Как происходит мойка
      p Для тщательной мойки радиаторов наши специалисты снимают элементы лицевой части кузова (бампер, решетку радиатора, защиту) и сливают охлаждающую жидкость из системы. Радиатор промывают снаружи с помощью специальных средств, продувают его ламели, а также очищают контуры системы охлаждения от образовавшейся внутри накипи и других отложений. Также при мойке радиатора в случае необходимости выполняется дозаправка или замена охлаждающей жидкости (антифриза).
      h3 Когда нужна мойка
      p Мойка радиаторов необходима в следующих случаях: 
      ul
        li в процессе эксплуатации автомобиля двигатель часто стал работать на повышенной температуре;
        li часто запускается вентилятор, обеспечивающий прокачку воздуха между трубками радиатора.
      .highlighted
        p Мойку радиаторов рекомендуется проводить раз в два года. Исходя из нашего опыта и особенностей эксплуатации автомобилей в российских условиях, мы рекомендуем выполнять мойку и очистку радиаторов каждые #[span.nowrap 20 000]-#[span.nowrap 30 000] км.