section.description
  .wrapper
    .titles
      .overtitle Об услуге
      h2 Описание
    .block
      .icon.information-color
      h3 Зачем нужен ремонт рулевой рейки
      p Рулевая рейка передаёт вращательные движения руля к колёсам. С течением времени, из-за плохого состояния дорожного покрытия или попадания в яму целостность рулевой рейки нарушается и она перестаёт должным образом выполнять свою функцию.
      h3 Как происходит ремонт
      p Специалисты нашего автосервиса с помощью необходимого оборудования выявят причину неисправности рулевой рейки вашего автомобиля и предложат вам возможные варианты устранения поломки. В некоторых случаях на автомобилях BMW требуется замена болтов рулевой рейки и в нашем автосервисе можно провести такие работы.
      h3 Когда нужен ремонт
      p Основные неисправности, указывающие на необходимость ремонта рулевого управления автомобиля:
      ul
        li появились посторонние звуки при повороте руля (скрипы, стуки, хрусты);
        li приходится прикладывать значительно большее усилие для поворота рулевого колеса;
        li при движении по неровном дорожному покрытию на руле стала сильнее чувствоваться вибрация;
        li рулевое колесо перестало полностью возвращаться в исходное положение после поворотов;
        li появился свободный ход (люфт) рулевого колеса;
        li на приборной панели загорелся индикатор, сообщающий о неисправности рулевого управления.