section.description
  .wrapper
    .titles
      .overtitle Об услуге
      h2 Описание
    .block
      .icon.information-color
      h3 Зачем нужен ремонт подвески
      p Подвеска — это одна из важнейших составляющих автомобиля. Она гасит колебания, тряску и вибрации при езде, тем самым повышая уровень комфорта пассажиров. При перемещении про дорогам различного качества она постепенно приходит в негодность. Чтобы поддерживать правильную работу подвески, необходимо её регулярное обслуживание. 
      h3 Как происходит ремонт
      p При ремонте подвески мы проводим тщательную визуальную диагностику, выявляем её неисправные элементы и в случае необходимости заменяем их на новые. Такой ремонт подходит в большинстве случаев. Мы заменяем такие детали, как амортизаторы, рычаги, сайлентблоки, стабилизаторы поперечной устойчивости, шарниры и другие.
      h3 Когда нужен ремонт
      p Если у вашего автомобиля ухудшилась плавность движения или появились нехарактерные вибрации, звуки или постукивания при движении, то необходимо в кратчайшие сроки обратиться в специализированный автосервис для устранения возможных неисправностей.