section.description
  .wrapper
    .titles
      .overtitle Об услуге
      h2 Описание
    .block
      .icon.information-color
      h3 Зачем нужна замена цепи ГРМ
      p Цепь газораспределительного механизма (ГРМ) передаёт вращательное усилие от коленчатого вала на распределительный, обеспечивая тем самым правильное газораспределение или же открытие/закрытие клапанов в двигателе. Со временем она растягивается и начинает перескакивать на несколько зубьев. Из-за этого смещаются фазы ГРМ и появляется характерный звенящий шум при работе двигателя. В таких случаях цепь необходимо заменить.
      h3 Как происходит замена
      p Перед заменой цепи нашими специалистами полностью сливается масло с двигателя автомобиля. Далее снимается поддон и клапанная крышка, снимается старая цепь ГРМ и производится полная очистка двигателя от сажевых отложений. Только после этого окончательно устанавливается новая цепь.
      h3 Когда нужна замена
      .highlighted
        p Цепь ГРМ необходимо менять приблизительно каждые 150 000-300 000 км или в следующих случаях: из подкапотного пространства стал доноситься посторонний шум (побрякивание, цоканье), появилась неровная работа двигателя на холостом ходу, наблюдается падение мощности, возникает ощущение металлического удара при запуске двигателя или появились выстрелы, хлопки в выхлопной системе.