section.description
  .wrapper
    .titles
      .overtitle Об услуге
      h2 Описание
    .block
      .icon.information-color
      h3 Зачем нужен сход-развал
      p Развал-схождение — это регулировка углов установки колес автомобиля. Существует несколько параметров при установке колес, но чаще всего используются следующие:
      ul
        li развал (угол между колесом и вертикальной линией);
        li схождение (угол между колесом и линией по направлению движения автомобиля);
        li кастер (угол между осью поворота колеса и вертикалью).
      .images.columns
        .col-4.col-md-3
          a.image(data-fancybox='photos' href='/images/services/maintenance/wheel-alignment/1.jpg')
            img(src="/images/services/maintenance/wheel-alignment/1-min.jpg" srcset="/images/services/maintenance/wheel-alignment/1-min@2x.jpg 1.5x")  
      p Регулировка этих углов влияет на управляемость и устойчивость автомобиля на дороге. Так, например, при нарушенном сход-развале будет происходить неравномерный износ шин, а автомобиль при разгоне и торможении может немного вести в сторону. Это ставит под угрозу безопасность при движении на автомобиле, поэтому необходимо периодически проверять углы установки колёс.
      h3 Как происходит регулировка сход-развала
      p Перед выполнением процедуры развала-схождения, необходимо полностью проверить подвеску автомобиля и убедиться, что она находится в исправном состоянии. Стойки, рычаги, шаровые опоры и сайлентблоки должны быть целыми, а давление в шинах на одной оси должно быть одинаковым.
      p После комплексной проверки подвески автомобиль загоняется на специальный 3D-стенд, а на его колеса надеваются датчики с зеркалом или стеклом. На них направляется камера, которая считывает положение колеса и с помощью программы показывает мастеру нормативные значения углов установки колес для конкретной модели автомобиля. Далее с помощью этой же программы мастер регулирует фактические углы до нужных значений, заданных производителем.
      h3 Когда нужна регулировка сход-развала
      p Делать развал-схождение нужно регулярно, желательно #[b при каждой сезонной смене шин] (так как состояние и износ шин может отличаться) или #[b каждые 20 000 км пробега] (элементы подвески изнашиваются, что так же приводит к изменению углов). Также сход-развал может потребоваться при появлении следующих признаков:
      ul
        li автомобиль ведёт в сторону при движении на большой скорости или торможении;
        li происходит неравномерный износ шин на колесах;
        li при прямом положении руля колеса немного смотрят в сторону.