extends /layout.pug

block variables
  - var name = 'main_contacts';
  - var section = 'Раздел';
  - var title = 'Контакты';
  - var seoTitle = title + ' | Автосервис BMW «FGSEVER»';
  - var subtitle = 'В этом разделе вы можете ознакомиться со всеми контактами для связи с нашим автосервисом. Мы представлены в мессенджере WhatsApp, а также социальных сетях Instagram, DRIVE2.RU и YouTube.';
  - var path = {'': title};

block content
  +main(name, path, section, title, subtitle)
  include /contacts
