extends /layout.pug

block variables
  - var name = 'main_remont';
  - var section = 'Услуга';
  - var title = 'Ремонт турбин BMW в Москве';
  - var seoTitle = 'Ремонт турбин БМВ в Москве | Ремонт систем турбонаддува BMW цена';
  - var subtitle = 'Ремонт турбин БМВ в Москве (СВАО). Авторизованный автосервис FGSEVER осуществляет комплексный ремонт систем турбонаддува BMW с 2014 года по цене ниже дилерских автосервисов!';
  - var path = {'/services/': 'Услуги', '/services/remont/': 'Ремонт', '': 'Ремонт турбин'};
  - var button = ['popup', '#remont-appointment', 'Записаться'];

block content
  +main({ name, path, section, title, subtitle, button })
  section.description
    .wrapper
      .titles
        .overtitle Об услуге
        h2 Ремонт турбин БМВ дизельных и бензиновых моторов
      .block
        .icon.information-color
        h3 Зачем ремонтировать турбину
        p Поломки турбокомпрессора касательно основных механических узлов редки и происходят в исключительных случаях частой эксплуатации БМВ по бездорожью на высоких оборотах двигателя. В этом случае часто загрязняются и подклинивают опорные подшипники картриджа турбины, вал перегревается, крыльчатку пескоструит, нарушается геометрия и с появлением дисбаланса, жора масла и всех вытекающих.
        p В других случаях неисправности турбины сводятся к отказу контроллера управления, разгерметизации вакуумных патрубков, неисправности систем фильтрации воздуха. В случаях сохранения геометрии, ремонт турбин BMW обходится недорого. Если дефекты вовремя не устранить мотор встанет, без наддува работа турбированного двигателя невозможна.
        h3 Как определить необходимость ремонта турбин BMW
        p Срок службы турбины БМВ в московском цикле эксплуатации в лучшем случае составляет 150 000 км и это при условии своевременной замены моторного масла. Предварительно лично диагностировать внештатную работу турбины можно по косвенным признакам.
        ul
          li Масложор;
          li Горит Check Engine;
          li Пропала динамика и тяговитость двигателя;
          li Вой со стороны турбины;
          li Густой сизый или черный дым из выхлопной трубы с признаками горения масла (черный, когда умер катализатор или он вырезан).
        h3 Как проходит диагностика и ремонт турбин на базе FG SEVER в Москве
        p Основные особенности диагностики и ремонта турбин у нас заключаются в наличии специализированного калибровочного станка продувки геометрии и балансировочного стенда с подачей на турбину моторного масла под давлением. По итогу мы можем осуществить не только балансировку вала турбины БМВ, но и провести комплексные испытания отремонтированной турбины на собственном стенде.
  section.prices
    .wrapper
      .titles
        .overtitle Об услуге
        h2 Цена ремонта турбин БМВ
      .block
        .table-wrapper
          .table
            table
              tr.table-header
                td Услуга
                td Стоимость
              tr
                td Диагностика турбины и дефектовка
                td Рассчитывается индивидуально после проведения дефектовки
              tr
                td Комплексный ремонт турбин БМВ
                td Рассчитывается индивидуально после проведения дефектовки
              tr
                td Замена ротора турбины
                td Рассчитывается индивидуально после проведения дефектовки
              tr
                td Замена картриджа турбины
                td Рассчитывается индивидуально после проведения дефектовки
              tr
                td Балансировка вала турбины и замена геометрии
                td Рассчитывается индивидуально после проведения дефектовки
  section.photos
    .wrapper
      .titles
        .overtitle Фотографии
        h2 Процесс дефектовки и ремонта турбин БМВ на фото
        .subtitle Пошаговый ремонт турбин BMW мотористами нашего автосервиса представлен на фото ниже.
      .columns
        .col-4.col-md-3.col-lg-2
          a.photo(data-fancybox='photos' href='/images/services/maintenance/remont-turbin/1.jpg')
            img(src='/images/services/maintenance/remont-turbin/1-min.jpg' srcset='/images/services/maintenance/remont-turbin/1-min@2x.jpg 1.5x' alt="Фотография ремонта турбин БМВ в автосервисе FGSEVER с ракурса 1")
        .col-4.col-md-3.col-lg-2
          a.photo(data-fancybox='photos' href='/images/services/maintenance/remont-turbin/2.jpg')
            img(src='/images/services/maintenance/remont-turbin/2-min.jpg' srcset='/images/services/maintenance/remont-turbin/2-min@2x.jpg 1.5x' alt="Фотография ремонта турбин БМВ в автосервисе FGSEVER с ракурса 2")
        .col-4.col-md-3.col-lg-2
          a.photo(data-fancybox='photos' href='/images/services/maintenance/remont-turbin/3.jpg')
            img(src='/images/services/maintenance/remont-turbin/3-min.jpg' srcset='/images/services/maintenance/remont-turbin/3-min@2x.jpg 1.5x' alt="Фотография ремонта турбин БМВ в автосервисе FGSEVER с ракурса 3")
        .col-4.col-md-3.col-lg-2
          a.photo(data-fancybox='photos' href='/images/services/maintenance/remont-turbin/4.jpg')
            img(src='/images/services/maintenance/remont-turbin/4-min.jpg' srcset='/images/services/maintenance/remont-turbin/4-min@2x.jpg 1.5x' alt="Фотография ремонта турбин БМВ в автосервисе FGSEVER с ракурса 4")
  include /about/advantages
  +about
  include /contacts
