section.services
  .wrapper
    .titles
      .overtitle О направлении
      h2 Услуги
    .columns
      .col-md-12.col-lg-8
        a.services-item(href='car-painting/')
          .services-item__content
            .services-item__text
              .services-item__title
                h3 Покрасочные работы
              .subtitle.services-item__subtitle.list-items.columns
                .col-sm-6
                  .services-item__list-item Покраска бамперов
                  .services-item__list-item Покраска дверей и кузова
                  .services-item__list-item Покраска капота
                  .services-item__list-item Покраска крыши
                  .services-item__list-item Покраска багажника
                  .services-item__list-item Покраска проёмов
                .col-sm-6
                  .services-item__list-item Покраска крыльев
                  .services-item__list-item Полная покраска автомобиля
                  .services-item__list-item Замена цвета автомобиля
                  .services-item__list-item Покраска в цвет BMW Individual
                  .services-item__list-item Покраска переходом
                  .services-item__list-item Покраска под прибор
            .button-simple Подробнее
      .col-md-6.col-lg-4
        a.services-item(href='local-painting/')
          .services-item__content
            .services-item__text
              .services-item__title
                h3 Локальный окрас
              .subtitle.services-item__subtitle.list-items
                .services-item__list-item Устранение царапин
                .services-item__list-item Устранение сколов
                .services-item__list-item Покраска пятном
                .services-item__list-item Покраска под прибор
            .button-simple Подробнее
      .col-md-6.col-lg-4
        a.services-item(href='body-works/')
          .services-item__content
            .services-item__text
              .services-item__title
                h3 Жестяные работы
              .subtitle.services-item__subtitle.list-items
                .services-item__list-item Восстановление геометрии кузова
                .services-item__list-item Стапельные работы
                .services-item__list-item Сварочные работы
                .services-item__list-item Контактная сварка
                .services-item__list-item Замена элементов кузова
            .button-simple Подробнее
      .col-md-6.col-lg-4
        a.services-item(href='corrosion-protection/')
          .services-item__content
            .services-item__text
              .services-item__title
                h3 Антикоррозийные работы
              .subtitle.services-item__subtitle.list-items
                .services-item__list-item Антигравийная обработка порогов
                .services-item__list-item Антигравийная обработка днища автомобиля
                .services-item__list-item Обработка скрытых полостей автомобиля
                .services-item__list-item Устранение коррозии
            .button-simple Подробнее
      .col-md-6.col-lg-4
        a.services-item(href='polishing/')
          .services-item__content
            .services-item__text
              .services-item__title
                h3 Полировка
              .subtitle.services-item__subtitle.list-items
                .services-item__list-item Восстановление лакокрасочного покрытия
                .services-item__list-item Полировка оптики
                .services-item__list-item Полировка элементов кузова
                .services-item__list-item Нанесение жидкого стекла и керамики
            .button-simple Подробнее