section.services
  .wrapper
    .titles
      .overtitle О направлении
      h2 Кузовной ремонт БМВ с восстановлением геометрии
      .subtitle
        p Наш кузовной сервис БМВ в Москве специализируется на комплексном восстановлении авто после ДТП. С легкостью выполним для вас локальный и крупный кузовной ремонт БМВ всех моделей концерна, даже при измененной геометрии кузова. Для этого профильный кузовной цех снабжен комплексом необходимого оборудования, как для жестянки, так и для покрасочных / антикоррозионных работ. Вся вмятины без повреждения ЛКП в 99% случаев устраняем без покраски.
        p С недавнего времени готовы предложить восстановление кузова тюнингованных БМВ под ключ с услугами спайки/ремонта кастомных пластиковых обвесов, и лепки серьезно поврежденных элементов.
        p Кузовной ремонт БМВ на базе нашего профильного автосервиса предлагает автовладельцам следующие услуги в комплексе и для отдельного заказа. Выбирайте интересующие вас работы и узнавайте актуальные цены. Для ускорения взаимодействия предлагаем вам сразу же связаться с приемкой сервиса по #[a.link(href='https://wa.me/79039760045') WhatsApp].
    .columns
      .col-md-12.col-lg-8
        a.services-item(href='car-painting/')
          .services-item__content
            .services-item__text
              .services-item__title
                h3 Покрасочные работы
              .subtitle.services-item__subtitle.list-items.columns
                .col-sm-6
                  .services-item__list-item Покраска бамперов
                  .services-item__list-item Покраска дверей и кузова
                  .services-item__list-item Покраска капота
                  .services-item__list-item Покраска крыши
                  .services-item__list-item Покраска багажника
                  .services-item__list-item Покраска проёмов
                .col-sm-6
                  .services-item__list-item Покраска крыльев
                  .services-item__list-item Полная покраска автомобиля
                  .services-item__list-item Замена цвета автомобиля
                  .services-item__list-item Покраска в цвет BMW Individual
                  .services-item__list-item Покраска переходом
                  .services-item__list-item Покраска под прибор
            .button-simple Подробнее
      .col-md-6.col-lg-4
        a.services-item(href='local-painting/')
          .services-item__content
            .services-item__text
              .services-item__title
                h3 Локальный окрас
              .subtitle.services-item__subtitle.list-items
                .services-item__list-item Устранение царапин
                .services-item__list-item Устранение сколов
                .services-item__list-item Покраска пятном
                .services-item__list-item Покраска под прибор
            .button-simple Подробнее
      .col-md-6.col-lg-4
        a.services-item(href='body-works/')
          .services-item__content
            .services-item__text
              .services-item__title
                h3 Жестяные работы
              .subtitle.services-item__subtitle.list-items
                .services-item__list-item Восстановление геометрии кузова
                .services-item__list-item Стапельные работы
                .services-item__list-item Сварочные работы
                .services-item__list-item Контактная сварка
                .services-item__list-item Замена элементов кузова
            .button-simple Подробнее
      .col-md-6.col-lg-4
        a.services-item(href='corrosion-protection/')
          .services-item__content
            .services-item__text
              .services-item__title
                h3 Антикоррозийные работы
              .subtitle.services-item__subtitle.list-items
                .services-item__list-item Антигравийная обработка порогов
                .services-item__list-item Антигравийная обработка днища автомобиля
                .services-item__list-item Обработка скрытых полостей автомобиля
                .services-item__list-item Устранение коррозии
            .button-simple Подробнее
      .col-md-6.col-lg-4
        a.services-item(href='polishing/')
          .services-item__content
            .services-item__text
              .services-item__title
                h3 Полировка
              .subtitle.services-item__subtitle.list-items
                .services-item__list-item Восстановление лакокрасочного покрытия
                .services-item__list-item Полировка оптики
                .services-item__list-item Полировка элементов кузова
                .services-item__list-item Нанесение жидкого стекла и керамики
            .button-simple Подробнее