section.photos
  .wrapper
    .titles
      .overtitle Фотографии
      h2 Процесс работы
    .columns
      .col-4.col-md-3.col-lg-2
        a.photo(data-fancybox='photos' href='/images/services/maintenance/brakes-replacement/1.jpg')
          img(src='/images/services/maintenance/brakes-replacement/1-min.jpg' srcset='/images/services/maintenance/brakes-replacement/1-min@2x.jpg 1.5x' alt="Диски и колодки БМВ на замену в профильном сервисе в Москве FGSEVER СВАО фотография с участка 1")
      .col-4.col-md-3.col-lg-2
        a.photo(data-fancybox='photos' href='/images/services/maintenance/brakes-replacement/2.jpg')
          img(src='/images/services/maintenance/brakes-replacement/2-min.jpg' srcset='/images/services/maintenance/brakes-replacement/2-min@2x.jpg 1.5x' alt="Диски и колодки БМВ на замену в профильном сервисе в Москве FGSEVER СВАО фотография с участка 2")
      .col-4.col-md-3.col-lg-2
        a.photo(data-fancybox='photos' href='/images/services/maintenance/brakes-replacement/3.jpg')
          img(src='/images/services/maintenance/brakes-replacement/3-min.jpg' srcset='/images/services/maintenance/brakes-replacement/3-min@2x.jpg 1.5x' alt="Диски и колодки БМВ на замену в профильном сервисе в Москве FGSEVER СВАО фотография с участка 3")
      .col-4.col-md-3.col-lg-2
        a.photo(data-fancybox='photos' href='/images/services/maintenance/brakes-replacement/4.jpg')
          img(src='/images/services/maintenance/brakes-replacement/4-min.jpg' srcset='/images/services/maintenance/brakes-replacement/4-min@2x.jpg 1.5x' alt="Суппорта и тормозные колодки БМВ на замену в профильном сервисе в Москве FGSEVER СВАО фотография с участка 1")
      .col-4.col-md-3.col-lg-2
        a.photo(data-fancybox='photos' href='/images/services/maintenance/brakes-replacement/5.jpg')
          img(src='/images/services/maintenance/brakes-replacement/5-min.jpg' srcset='/images/services/maintenance/brakes-replacement/5-min@2x.jpg 1.5x' alt="Суппорта и тормозные колодки БМВ на замену в профильном сервисе в Москве FGSEVER СВАО фотография с участка 2")
      .col-4.col-md-3.col-lg-2
        a.photo(data-fancybox='photos' href='/images/services/maintenance/brakes-replacement/6.jpg')
          img(src='/images/services/maintenance/brakes-replacement/6-min.jpg' srcset='/images/services/maintenance/brakes-replacement/6-min@2x.jpg 1.5x' alt="Замена колодок БМВ в официальном автосервисе в Москве FGSEVER СВАО вид с подъёмника 1")
      .col-4.col-md-3.col-lg-2
        a.photo(data-fancybox='photos' href='/images/services/maintenance/brakes-replacement/7.jpg')
          img(src='/images/services/maintenance/brakes-replacement/7-min.jpg' srcset='/images/services/maintenance/brakes-replacement/7-min@2x.jpg 1.5x' alt="Замена колодок БМВ в официальном автосервисе в Москве FGSEVER СВАО вид с подъёмника 2")
      .col-4.col-md-3.col-lg-2
        a.photo(data-fancybox='photos' href='/images/services/maintenance/brakes-replacement/8.jpg')
          img(src='/images/services/maintenance/brakes-replacement/8-min.jpg' srcset='/images/services/maintenance/brakes-replacement/8-min@2x.jpg 1.5x' alt="Замена тормозных дисков БМВ в официальном автосервисе в Москве FGSEVER СВАО вид с подъёмника 1")
      .col-4.col-md-3.col-lg-2
        a.photo(data-fancybox='photos' href='/images/services/maintenance/brakes-replacement/9.jpg')
          img(src='/images/services/maintenance/brakes-replacement/9-min.jpg' srcset='/images/services/maintenance/brakes-replacement/9-min@2x.jpg 1.5x' alt="Замена тормозных дисков БМВ в официальном автосервисе в Москве FGSEVER СВАО вид с подъёмника 2")
      .col-4.col-md-3.col-lg-2
        a.photo(data-fancybox='photos' href='/images/services/maintenance/brakes-replacement/10.jpg')
          img(src='/images/services/maintenance/brakes-replacement/10-min.jpg' srcset='/images/services/maintenance/brakes-replacement/10-min@2x.jpg 1.5x' alt="Замена тормозных колодок и дисков БМВ в официальном автосервисе в Москве FGSEVER СВАО вид с подъёмника 1")
      .col-4.col-md-3.col-lg-2
        a.photo(data-fancybox='photos' href='/images/services/maintenance/brakes-replacement/11.jpg')
          img(src='/images/services/maintenance/brakes-replacement/11-min.jpg' srcset='/images/services/maintenance/brakes-replacement/11-min@2x.jpg 1.5x' alt="Замененная тормозная система БМВ в сборе в автосервисе в Москве FGSEVER СВАО фотография 1")
      .col-4.col-md-3.col-lg-2
        a.photo(data-fancybox='photos' href='/images/services/maintenance/brakes-replacement/12.jpg')
          img(src='/images/services/maintenance/brakes-replacement/12-min.jpg' srcset='/images/services/maintenance/brakes-replacement/12-min@2x.jpg 1.5x' alt="Замененная тормозная система БМВ в сборе в автосервисе в Москве FGSEVER СВАО фотография 2")
      .col-4.col-md-3.col-lg-2
        a.photo(data-fancybox='photos' href='/images/services/maintenance/brakes-replacement/13.jpg')
          img(src='/images/services/maintenance/brakes-replacement/13-min.jpg' srcset='/images/services/maintenance/brakes-replacement/13-min@2x.jpg 1.5x' alt="Замененная тормозная система БМВ в сборе в автосервисе в Москве FGSEVER СВАО фотография 3")
      .col-4.col-md-3.col-lg-2
        a.photo(data-fancybox='photos' href='/images/services/maintenance/brakes-replacement/14.jpg')
          img(src='/images/services/maintenance/brakes-replacement/14-min.jpg' srcset='/images/services/maintenance/brakes-replacement/14-min@2x.jpg 1.5x' alt="Замененная тормозная система БМВ в сборе в автосервисе в Москве FGSEVER СВАО фотография 4")
      .col-4.col-md-3.col-lg-2
        a.photo(data-fancybox='photos' href='/images/services/maintenance/brakes-replacement/15.jpg')
          img(src='/images/services/maintenance/brakes-replacement/15-min.jpg' srcset='/images/services/maintenance/brakes-replacement/15-min@2x.jpg 1.5x' alt="Замененная тормозная система БМВ в сборе в автосервисе в Москве FGSEVER СВАО фотография 5")
      .col-4.col-md-3.col-lg-2
        a.photo(data-fancybox='photos' href='/images/services/maintenance/brakes-replacement/16.jpg')
          img(src='/images/services/maintenance/brakes-replacement/16-min.jpg' srcset='/images/services/maintenance/brakes-replacement/16-min@2x.jpg 1.5x' alt="Процесс замены передних колодок БМВ в официальном автосервисе в Москве FGSEVER СВАО вид с подъёмника 1")
      .col-4.col-md-3.col-lg-2
        a.photo(data-fancybox='photos' href='/images/services/maintenance/brakes-replacement/17.jpg')
          img(src='/images/services/maintenance/brakes-replacement/17-min.jpg' srcset='/images/services/maintenance/brakes-replacement/17-min@2x.jpg 1.5x' alt="Процесс замены передних колодок БМВ в официальном автосервисе в Москве FGSEVER СВАО вид с подъёмника 2")
      .col-4.col-md-3.col-lg-2
        a.photo(data-fancybox='photos' href='/images/services/maintenance/brakes-replacement/18.jpg')
          img(src='/images/services/maintenance/brakes-replacement/18-min.jpg' srcset='/images/services/maintenance/brakes-replacement/18-min@2x.jpg 1.5x' alt="Процесс замены передних и задних тормозных колодок БМВ в официальном автосервисе в Москве FGSEVER СВАО")
      .col-4.col-md-3.col-lg-2
        a.photo(data-fancybox='photos' href='/images/services/maintenance/brakes-replacement/19.jpg')
          img(src='/images/services/maintenance/brakes-replacement/19-min.jpg' srcset='/images/services/maintenance/brakes-replacement/19-min@2x.jpg 1.5x' alt="Замена задних дисков и колодок БМВ в официальном автосервисе в Москве FGSEVER СВАО")
      .col-4.col-md-3.col-lg-2
        a.photo(data-fancybox='photos' href='/images/services/maintenance/brakes-replacement/20.jpg')
          img(src='/images/services/maintenance/brakes-replacement/20-min.jpg' srcset='/images/services/maintenance/brakes-replacement/20-min@2x.jpg 1.5x' alt="Замена передних дисков и колодок БМВ в официальном автосервисе в Москве FGSEVER СВАО")
      .col-4.col-md-3.col-lg-2
        a.photo(data-fancybox='photos' href='/images/services/maintenance/brakes-replacement/21.jpg')
          img(src='/images/services/maintenance/brakes-replacement/21-min.jpg' srcset='/images/services/maintenance/brakes-replacement/21-min@2x.jpg 1.5x' alt="Замена передних тормозных колодок БМВ в официальном автосервисе в Москве FGSEVER СВАО")
      .col-4.col-md-3.col-lg-2
        a.photo(data-fancybox='photos' href='/images/services/maintenance/brakes-replacement/22.jpg')
          img(src='/images/services/maintenance/brakes-replacement/22-min.jpg' srcset='/images/services/maintenance/brakes-replacement/22-min@2x.jpg 1.5x' alt="Замена тормозной системы БМВ с датчиками профильном сервисе в Москве FGSEVER СВАО фотография с участка 1")
      .col-4.col-md-3.col-lg-2
        a.photo(data-fancybox='photos' href='/images/services/maintenance/brakes-replacement/23.jpg')
          img(src='/images/services/maintenance/brakes-replacement/23-min.jpg' srcset='/images/services/maintenance/brakes-replacement/23-min@2x.jpg 1.5x' alt="Замена тормозной системы БМВ с датчиками профильном сервисе в Москве FGSEVER СВАО фотография с участка 2")
      .col-4.col-md-3.col-lg-2
        a.photo(data-fancybox='photos' href='/images/services/maintenance/brakes-replacement/24.jpg')
          img(src='/images/services/maintenance/brakes-replacement/24-min.jpg' srcset='/images/services/maintenance/brakes-replacement/24-min@2x.jpg 1.5x' alt="Итог замены передних и задних тормозных колодок БМВ в автосервисе в Москве FGSEVER СВАО фотография 1")
      .col-4.col-md-3.col-lg-2
        a.photo(data-fancybox='photos' href='/images/services/maintenance/brakes-replacement/25.jpg')
          img(src='/images/services/maintenance/brakes-replacement/25-min.jpg' srcset='/images/services/maintenance/brakes-replacement/25-min@2x.jpg 1.5x' alt="Итог замены передних и задних тормозных колодок БМВ в автосервисе в Москве FGSEVER СВАО фотография 2")
      .col-4.col-md-3.col-lg-2
        a.photo(data-fancybox='photos' href='/images/services/maintenance/brakes-replacement/26.jpg')
          img(src='/images/services/maintenance/brakes-replacement/26-min.jpg' srcset='/images/services/maintenance/brakes-replacement/26-min@2x.jpg 1.5x' alt="Итог замены передних и задних тормозных колодок БМВ в автосервисе в Москве FGSEVER СВАО фотография 3")
      .col-4.col-md-3.col-lg-2
        a.photo(data-fancybox='photos' href='/images/services/maintenance/brakes-replacement/27.jpg')
          img(src='/images/services/maintenance/brakes-replacement/27-min.jpg' srcset='/images/services/maintenance/brakes-replacement/27-min@2x.jpg 1.5x' alt="Итог замены передних и задних тормозных колодок БМВ в автосервисе в Москве FGSEVER СВАО фотография 4")
