section.photos
  .wrapper
    .titles
      .overtitle Фотографии
      h2 Процесс работы
    .columns
      .col-4.col-md-3.col-lg-2
        a.photo(data-fancybox='photos' href='/images/services/maintenance/car-diagnostics/1.jpg')
          img(src='/images/services/maintenance/car-diagnostics/1-min.jpg' srcset='/images/services/maintenance/car-diagnostics/1-min@2x.jpg 1.5x')
      .col-4.col-md-3.col-lg-2
        a.photo(data-fancybox='photos' href='/images/services/maintenance/car-diagnostics/2.jpg')
          img(src='/images/services/maintenance/car-diagnostics/2-min.jpg' srcset='/images/services/maintenance/car-diagnostics/2-min@2x.jpg 1.5x')
      .col-4.col-md-3.col-lg-2
        a.photo(data-fancybox='photos' href='/images/services/maintenance/car-diagnostics/3.jpg')
          img(src='/images/services/maintenance/car-diagnostics/3-min.jpg' srcset='/images/services/maintenance/car-diagnostics/3-min@2x.jpg 1.5x')
      .col-4.col-md-3.col-lg-2
        a.photo(data-fancybox='photos' href='/images/services/maintenance/car-diagnostics/4.jpg')
          img(src='/images/services/maintenance/car-diagnostics/4-min.jpg' srcset='/images/services/maintenance/car-diagnostics/4-min@2x.jpg 1.5x')
      .col-4.col-md-3.col-lg-2
        a.photo(data-fancybox='photos' href='/images/services/maintenance/car-diagnostics/5.jpg')
          img(src='/images/services/maintenance/car-diagnostics/5-min.jpg' srcset='/images/services/maintenance/car-diagnostics/5-min@2x.jpg 1.5x')
      .col-4.col-md-3.col-lg-2
        a.photo(data-fancybox='photos' href='/images/services/maintenance/car-diagnostics/6.jpg')
          img(src='/images/services/maintenance/car-diagnostics/6-min.jpg' srcset='/images/services/maintenance/car-diagnostics/6-min@2x.jpg 1.5x')
      .col-4.col-md-3.col-lg-2
        a.photo(data-fancybox='photos' href='/images/services/maintenance/car-diagnostics/7.jpg')
          img(src='/images/services/maintenance/car-diagnostics/7-min.jpg' srcset='/images/services/maintenance/car-diagnostics/7-min@2x.jpg 1.5x')
      .col-4.col-md-3.col-lg-2
        a.photo(data-fancybox='photos' href='/images/services/maintenance/car-diagnostics/8.jpg')
          img(src='/images/services/maintenance/car-diagnostics/8-min.jpg' srcset='/images/services/maintenance/car-diagnostics/8-min@2x.jpg 1.5x')
      .col-4.col-md-3.col-lg-2
        a.photo(data-fancybox='photos' href='/images/services/maintenance/car-diagnostics/9.jpg')
          img(src='/images/services/maintenance/car-diagnostics/9-min.jpg' srcset='/images/services/maintenance/car-diagnostics/9-min@2x.jpg 1.5x')
      .col-4.col-md-3.col-lg-2
        a.photo(data-fancybox='photos' href='/images/services/maintenance/car-diagnostics/10.jpg')
          img(src='/images/services/maintenance/car-diagnostics/10-min.jpg' srcset='/images/services/maintenance/car-diagnostics/10-min@2x.jpg 1.5x')
