section.photos
  .wrapper
    .titles
      .overtitle Фотографии
      h2 Процесс работы
    .columns
      .col-4.col-md-3.col-lg-2
        a.photo(data-fancybox='photos' href='/images/services/maintenance/mechanical-fluids-change/1.jpg')
          img(src='/images/services/maintenance/mechanical-fluids-change/1-min.jpg' srcset='/images/services/maintenance/mechanical-fluids-change/1-min@2x.jpg 1.5x' alt="Замена тормозной жидкости БМВ в профильном сервисе в Москве FGSEVER СВАО фотография с участка 1")
      .col-4.col-md-3.col-lg-2
        a.photo(data-fancybox='photos' href='/images/services/maintenance/mechanical-fluids-change/2.jpg')
          img(src='/images/services/maintenance/mechanical-fluids-change/2-min.jpg' srcset='/images/services/maintenance/mechanical-fluids-change/2-min@2x.jpg 1.5x' alt="Замена тормозной жидкости БМВ в автосервисе в Москве FGSEVER СВАО фотография с участка 2")
      .col-4.col-md-3.col-lg-2
        a.photo(data-fancybox='photos' href='/images/services/maintenance/mechanical-fluids-change/3.jpg')
          img(src='/images/services/maintenance/mechanical-fluids-change/3-min.jpg' srcset='/images/services/maintenance/mechanical-fluids-change/3-min@2x.jpg 1.5x' alt="Замена антифриза БМВ в профильном сервисе в Москве FGSEVER СВАО")
