section.photos
  .wrapper
    .titles
      .overtitle Фотографии
      h2 Процесс дефектовки и ремонта усилителей руля БМВ на фото
    .columns
      .col-4.col-md-3.col-lg-2
        a.photo(data-fancybox='photos' href='/images/services/maintenance/remont-gur/1.jpg')
          img(src='/images/services/maintenance/remont-gur/1-min.jpg' srcset='/images/services/maintenance/remont-gur/1-min@2x.jpg 1.5x' alt="Ремонт форсунок БМВ в профильном сервисе в Москве FGSEVER фотография с участка 1")
      .col-4.col-md-3.col-lg-2
        a.photo(data-fancybox='photos' href='/images/services/maintenance/remont-gur/2.jpg')
          img(src='/images/services/maintenance/remont-gur/2-min.jpg' srcset='/images/services/maintenance/remont-gur/2-min@2x.jpg 1.5x' alt="Ремонт форсунок БМВ в профильном сервисе в Москве FGSEVER фотография с участка 2")
      .col-4.col-md-3.col-lg-2
        a.photo(data-fancybox='photos' href='/images/services/maintenance/remont-gur/3.jpg')
          img(src='/images/services/maintenance/remont-gur/3-min.jpg' srcset='/images/services/maintenance/remont-gur/3-min@2x.jpg 1.5x' alt="Ремонт форсунок БМВ в профильном сервисе в Москве FGSEVER фотография с участка 3")
      .col-4.col-md-3.col-lg-2
        a.photo(data-fancybox='photos' href='/images/services/maintenance/remont-gur/4.jpg')
          img(src='/images/services/maintenance/remont-gur/4-min.jpg' srcset='/images/services/maintenance/remont-gur/4-min@2x.jpg 1.5x' alt="Ремонт форсунок БМВ в профильном сервисе в Москве FGSEVER фотография с участка 4")
      .col-4.col-md-3.col-lg-2
        a.photo(data-fancybox='photos' href='/images/services/maintenance/remont-gur/5.jpg')
          img(src='/images/services/maintenance/remont-gur/5-min.jpg' srcset='/images/services/maintenance/remont-gur/5-min@2x.jpg 1.5x' alt="Ремонт форсунок БМВ в профильном сервисе в Москве FGSEVER фотография с участка 5")
