section.photos
  .wrapper
    .titles
      .overtitle Фотографии
      h2 Замена гидротрансформатора БМВ на фото
    .columns
      .col-4.col-md-3.col-lg-2
        a.photo(data-fancybox='photos' href='/images/services/maintenance/remont-bublika/1.jpg')
          img(src='/images/services/maintenance/remont-bublika/1-min.jpg' srcset='/images/services/maintenance/remont-bublika/1-min@2x.jpg 1.5x' alt="Замена бублика БМВ в профильном сервисе в Москве FGSEVER фотография с участка 1")
      .col-4.col-md-3.col-lg-2
        a.photo(data-fancybox='photos' href='/images/services/maintenance/remont-bublika/2.jpg')
          img(src='/images/services/maintenance/remont-bublika/2-min.jpg' srcset='/images/services/maintenance/remont-bublika/2-min@2x.jpg 1.5x' alt="Замена бублика БМВ в профильном сервисе в Москве FGSEVER фотография с участка 2")
      .col-4.col-md-3.col-lg-2
        a.photo(data-fancybox='photos' href='/images/services/maintenance/remont-bublika/3.jpg')
          img(src='/images/services/maintenance/remont-bublika/3-min.jpg' srcset='/images/services/maintenance/remont-bublika/3-min@2x.jpg 1.5x' alt="Замена бублика БМВ в профильном сервисе в Москве FGSEVER фотография с участка 3")
