section.photos
  .wrapper
    .titles
      .overtitle Фотографии
      h2 Процесс работы
    .columns
      .col-4.col-md-3.col-lg-2
        a.photo(data-fancybox='photos' href='/images/services/maintenance/suspension-repair/1.jpg')
          img(src='/images/services/maintenance/suspension-repair/1-min.jpg' srcset='/images/services/maintenance/suspension-repair/1-min@2x.jpg 1.5x')
      .col-4.col-md-3.col-lg-2
        a.photo(data-fancybox='photos' href='/images/services/maintenance/suspension-repair/2.jpg')
          img(src='/images/services/maintenance/suspension-repair/2-min.jpg' srcset='/images/services/maintenance/suspension-repair/2-min@2x.jpg 1.5x')
      .col-4.col-md-3.col-lg-2
        a.photo(data-fancybox='photos' href='/images/services/maintenance/suspension-repair/3.jpg')
          img(src='/images/services/maintenance/suspension-repair/3-min.jpg' srcset='/images/services/maintenance/suspension-repair/3-min@2x.jpg 1.5x')
      .col-4.col-md-3.col-lg-2
        a.photo(data-fancybox='photos' href='/images/services/maintenance/suspension-repair/4.jpg')
          img(src='/images/services/maintenance/suspension-repair/4-min.jpg' srcset='/images/services/maintenance/suspension-repair/4-min@2x.jpg 1.5x')
      .col-4.col-md-3.col-lg-2
        a.photo(data-fancybox='photos' href='/images/services/maintenance/suspension-repair/5.jpg')
          img(src='/images/services/maintenance/suspension-repair/5-min.jpg' srcset='/images/services/maintenance/suspension-repair/5-min@2x.jpg 1.5x')
      .col-4.col-md-3.col-lg-2
        a.photo(data-fancybox='photos' href='/images/services/maintenance/suspension-repair/6.jpg')
          img(src='/images/services/maintenance/suspension-repair/6-min.jpg' srcset='/images/services/maintenance/suspension-repair/6-min@2x.jpg 1.5x')
      .col-4.col-md-3.col-lg-2
        a.photo(data-fancybox='photos' href='/images/services/maintenance/suspension-repair/7.jpg')
          img(src='/images/services/maintenance/suspension-repair/7-min.jpg' srcset='/images/services/maintenance/suspension-repair/7-min@2x.jpg 1.5x')
      .col-4.col-md-3.col-lg-2
        a.photo(data-fancybox='photos' href='/images/services/maintenance/suspension-repair/8.jpg')
          img(src='/images/services/maintenance/suspension-repair/8-min.jpg' srcset='/images/services/maintenance/suspension-repair/8-min@2x.jpg 1.5x')
      .col-4.col-md-3.col-lg-2
        a.photo(data-fancybox='photos' href='/images/services/maintenance/suspension-repair/9.jpg')
          img(src='/images/services/maintenance/suspension-repair/9-min.jpg' srcset='/images/services/maintenance/suspension-repair/9-min@2x.jpg 1.5x')
      .col-4.col-md-3.col-lg-2
        a.photo(data-fancybox='photos' href='/images/services/maintenance/suspension-repair/10.jpg')
          img(src='/images/services/maintenance/suspension-repair/10-min.jpg' srcset='/images/services/maintenance/suspension-repair/10-min@2x.jpg 1.5x')
      .col-4.col-md-3.col-lg-2
        a.photo(data-fancybox='photos' href='/images/services/maintenance/suspension-repair/11.jpg')
          img(src='/images/services/maintenance/suspension-repair/11-min.jpg' srcset='/images/services/maintenance/suspension-repair/11-min@2x.jpg 1.5x')
