section.photos
  .wrapper
    .titles
      .overtitle Фотографии
      h2 Пошаговая замена цепи ГРМ BMW на фото
    .columns
      .col-4.col-md-3.col-lg-2
        a.photo(data-fancybox='photos' href='/images/services/maintenance/timing-chain-replacement/1.jpg')
          img(src='/images/services/maintenance/timing-chain-replacement/1-min.jpg' srcset='/images/services/maintenance/timing-chain-replacement/1-min@2x.jpg 1.5x' alt="Замена цепи ГРМ БМВ со снятием двигателя в профильном сервисе в Москве FGSEVER СВАО")
      .col-4.col-md-3.col-lg-2
        a.photo(data-fancybox='photos' href='/images/services/maintenance/timing-chain-replacement/2.jpg')
          img(src='/images/services/maintenance/timing-chain-replacement/2-min.jpg' srcset='/images/services/maintenance/timing-chain-replacement/2-min@2x.jpg 1.5x' alt="Замена цепи ГРМ БМВ N20 со снятием ГБЦ в профильном сервисе в Москве FGSEVER СВАО")
      .col-4.col-md-3.col-lg-2
        a.photo(data-fancybox='photos' href='/images/services/maintenance/timing-chain-replacement/3.jpg')
          img(src='/images/services/maintenance/timing-chain-replacement/3-min.jpg' srcset='/images/services/maintenance/timing-chain-replacement/3-min@2x.jpg 1.5x' alt="Замена цепи ГРМ БМВ N20 без снятия мотора в профильном сервисе в Москве FGSEVER СВАО")
      .col-4.col-md-3.col-lg-2
        a.photo(data-fancybox='photos' href='/images/services/maintenance/timing-chain-replacement/4.jpg')
          img(src='/images/services/maintenance/timing-chain-replacement/4-min.jpg' srcset='/images/services/maintenance/timing-chain-replacement/4-min@2x.jpg 1.5x' alt="Замена цепи ГРМ БМВ без снятия двигателя в профильном сервисе в Москве FGSEVER СВАО")
      .col-4.col-md-3.col-lg-2
        a.photo(data-fancybox='photos' href='/images/services/maintenance/timing-chain-replacement/5.jpg')
          img(src='/images/services/maintenance/timing-chain-replacement/5-min.jpg' srcset='/images/services/maintenance/timing-chain-replacement/5-min@2x.jpg 1.5x' alt="Замена цепи ГРМ БМВ N13 со снятием ГБЦ в профильном сервисе в Москве FGSEVER СВАО")
      .col-4.col-md-3.col-lg-2
        a.photo(data-fancybox='photos' href='/images/services/maintenance/timing-chain-replacement/6.jpg')
          img(src='/images/services/maintenance/timing-chain-replacement/6-min.jpg' srcset='/images/services/maintenance/timing-chain-replacement/6-min@2x.jpg 1.5x' alt="Замена цепи ГРМ БМВ N13 без снятия мотора в профильном сервисе в Москве FGSEVER СВАО")
      .col-4.col-md-3.col-lg-2
        a.photo(data-fancybox='photos' href='/images/services/maintenance/timing-chain-replacement/7.jpg')
          img(src='/images/services/maintenance/timing-chain-replacement/7-min.jpg' srcset='/images/services/maintenance/timing-chain-replacement/7-min@2x.jpg 1.5x' alt="Замена двух цепей ГРМ БМВ в специализированном автосервисе в Москве FGSEVER СВАО")
