extends /layout.pug

block variables
  - var name = 'main_services';
  - var section = 'Раздел';
  - var title = 'Сервис BMW';
  - var seoTitle = `${title} в Москве | Автосервис BMW «FGSEVER»`;
  - var subtitle = `${title} в Москве — техническое обслуживание, дооснащение, кодирование опций, кузовной ремонт, обновление ПО и карт навигации, диагностика и заправка кондиционеров.`;
  - var path = {'': 'Услуги'};

block content
  +main({ name, path, section, title, subtitle })
  +services
  include /models
  include /contacts
