extends /layout.pug

block variables
  - var name = 'main_collision-warning';
  - var section = 'Услуга';
  - var title = 'Предупреждение о наезде на пешехода с функцией торможения';
  //- - var models = 'G05/G06/G07';
  - var seoTitle = title + ' на BMW в Москве | Автосервис BMW «FGSEVER»';
  - var subtitle = 'Предупреждение о наезде на пешехода с функцией экстренного торможения (на базе видеокамеры KAFAS).';
  - var path = {'/services/': 'Услуги', '/services/upgrade/': 'Дооснащение', '/services/upgrade/g-series/': 'G&nbsp;серия', '': 'Предупреждение о наезде на пешехода с функцией торможения'};
  - var button = ['popup', '#upgrade-appointment', 'Записаться на дооснащение'];

block content
  +main({ name, path, section, title, subtitle, button })
  section.video
    .wrapper
      .columns
        .col-md-6.col-lg-7
          .text
            .overtitle Введение
            h2 Видеоинструкция
            .subtitle Вы можете посмотреть официальное видео от компании BMW, в котором подробно рассказывается про систему предупреждения о наезде на пешехода с функцией торможения, а именно — что она из себя представляет, принцип её работы и для чего она вообще нужна.
            a.button(data-fancybox href='/videos/pedestrian-collision-warning.mp4') Смотреть видео
        .col-md-6.col-lg-5
          a.preview(data-fancybox href='/videos/pedestrian-collision-warning.mp4')
            img(src='/images/services/upgrade/g-series/pedestrian-collision-warning/cover.jpg')
            .play-button
              .icon.play-white
  section.description
    .wrapper
      .titles
        .overtitle Об услуге
        h2 Описание
      .block
        .icon.information-color
        h3 Что это такое?
        p Система предупреждения о наезде на пешехода с функцией торможения в городе выдает визуальные и звуковые предупреждения (экстренное предупреждение) перед наступлением критических ситуаций, которые могут привести к столкновению с пешеходами или велосипедистами. Система берет за основу данные с камеры KAFAS.
        h3 Принцип работы системы
        p При обнаружении возможного наезда на пешехода, ещё до момента нажатия водителем педали тормоза система подготавливает тормозную систему и уменьшает пороговые значения для ассистента экстренного торможения. Благодаря этому после нажатия на педаль тормоза сокращается тормозной путь.
        p Если торможение водителя не дает достаточного замедления, система берёт контроль на себя и начинает выполнять самостоятельное торможение автомобиля. Если же водитель не реагирует, в зависимости от ситуации, система инициирует экстренное торможение вплоть до полной остановки автомобиля.
        p Воздействие на тормозной механизм можно прервать нажатием на педаль акселератора или активным вращением рулевого колеса со стороны водителя.
        h3 Ограничения системы
        p При реализации функции только на базе камеры KAFAS контролируется только дорожная обстановка перед транспортным средством. На основании рассчитанных положений, расстояния и относительной скорости потенциальных объектов столкновения выводится соответствующий уровень предупреждения (экстренное предупреждение).
        p Предупреждение выдается при обнаружении пешеходов ростом примерно от 80 см и с прямой осанкой. Система доступна в диапазоне скорости от 5 до 85 км/ч. Предупреждение о переходящих дорогу велосипедистах также возможно с учетом заданных предельных возможностей системы.
        p Функция торможения доступна в диапазоне скорости от 5 до 65 км/ч. Максимальное снижение скорости благодаря торможению зависит от конкретной ситуации. Максимальное значение составляет 50 км/ч.
        h3 Настройки функции
        .images.columns
          .col-4.col-md-3
            a.image(data-fancybox href='/images/services/upgrade/g-series/pedestrian-collision-warning/settings.jpg?2' target='_blank')
              img(src='/images/services/upgrade/g-series/pedestrian-collision-warning/settings-min.jpg?2')
        ul
          li Предупреждение о наличии пешеходов с функцией торможения в городе можно выключить только на одну поездку продолжительным нажатием кнопки систем интеллектуальной безопасности. При следующем запуске автомобиля функция снова будет активной.
          li Настройка системы предупреждения о наличии пешеходов с функцией торможения в городе невозможна.
        h3 Возможные пределы функциональных возможностей системы
        ul
          li при сильном тумане, дожде или снегопаде;
          li при недостаточной яркости;
          li при ярком свете встречных фар;
          li при деактивации системы динамического контроля устойчивости (DSC);
          li при загрязнении зоны обзорности камеры KAFAS;
          li во время процедуры калибровки камеры KAFAS;
          li при загрязнении зоны обзорности переднего радарного датчика или переднего радарного датчика дальней зоны;
          li на крутых поворотах или узких дорожных полотнах;
          li для лиц ростом прибл. до 80 см;
          li пешеходы или велосипедисты вне зоны распознавания;
          li пешеходы или велосипедисты, которые не могут распознаваться как таковые вследствие определенного угла обзора или определенных контуров;
          li частично скрытые пешеходы или велосипедисты.
        h3 Примечание
        p Проявление функции торможения зависит от конкретной ситуации.
        .highlighted Оставляем за собой право на опечатки, смысловые ошибки и технические изменения.
  //- section.prices
  //-   .wrapper
  //-     .titles
  //-       .overtitle Об услуге
  //-       h2 Стоимость
  //-     .block
  //-       .table-wrapper
  //-         .table
  //-           table
  //-             tr.table-header
  //-               td Услуга
  //-               td Стоимость
  //-             tr
  //-               td Активация пакета кодов на одну камеру
  //-               td 70 000 ₽
  //- include /maintenance/photos/computer-diagnostics
  include /videos
  include /about/advantages
  +about
  include /contacts
