extends /layout.pug

block variables
  - var name = 'main_body-repair';
  - var section = 'Направление';
  - var title = 'Кузовной ремонт BMW в Москве «FGSEVER»';
  - var seoTitle = 'Кузовной ремонт БМВ в Москве | Полный комплекс восстановительных работ по BMW';
  - var subtitle = 'Выполняем кузовной ремонт БМВ в Москве (СВАО). Авторизованный автосервис FGSEVER осуществляет полный комплекс восстановительных работ кузовов BMW. Работаем с 2014 года по цене ниже дилерских сервисов!';
  - var path = {'/services/': 'Услуги', '': title};

block content
  +main({ name, path, section, title, subtitle })
  include /body-repair/services
  section.photos
    .wrapper
      .titles
        .overtitle Фотографии
        h2 Фотографии кузовного ремонта БМВ из цеха 
        .subtitle Ознакомьтесь с фотографиями оснащения нашего кузовного цеха, построенного на базе немецкого оборудования Festool, SATA, Trommelberg, Spies Hecker.
      .columns
        .col-4.col-md-3.col-lg-2
          a.photo(data-fancybox='photos' href='/images/services/body-repair/1.jpg')
            img(src='/images/services/body-repair/1-min.jpg' srcset='/images/services/body-repair/1-min@2x.jpg 1.5x' alt="Фотография процесса кузовного ремонта БМВ из цеха 1")
        .col-4.col-md-3.col-lg-2
          a.photo(data-fancybox='photos' href='/images/services/body-repair/2.jpg')
            img(src='/images/services/body-repair/2-min.jpg' srcset='/images/services/body-repair/2-min@2x.jpg 1.5x' alt="Фотография процесса кузовного ремонта БМВ из цеха 2")
        .col-4.col-md-3.col-lg-2
          a.photo(data-fancybox='photos' href='/images/services/body-repair/3.jpg')
            img(src='/images/services/body-repair/3-min.jpg' srcset='/images/services/body-repair/3-min@2x.jpg 1.5x' alt="Фотография процесса кузовного ремонта БМВ из цеха 3")
        .col-4.col-md-3.col-lg-2
          a.photo(data-fancybox='photos' href='/images/services/body-repair/4.jpg')
            img(src='/images/services/body-repair/4-min.jpg' srcset='/images/services/body-repair/4-min@2x.jpg 1.5x' alt="Фотография процесса кузовного ремонта БМВ из цеха 4")
        .col-4.col-md-3.col-lg-2
          a.photo(data-fancybox='photos' href='/images/services/body-repair/5.jpg')
            img(src='/images/services/body-repair/5-min.jpg' srcset='/images/services/body-repair/5-min@2x.jpg 1.5x' alt="Фотография процесса кузовного ремонта БМВ из цеха 5")
        .col-4.col-md-3.col-lg-2
          a.photo(data-fancybox='photos' href='/images/services/body-repair/6.jpg')
            img(src='/images/services/body-repair/6-min.jpg' srcset='/images/services/body-repair/6-min@2x.jpg 1.5x' alt="Фотография процесса кузовного ремонта БМВ из цеха 6")
        .col-4.col-md-3.col-lg-2
          a.photo(data-fancybox='photos' href='/images/services/body-repair/7.jpg')
            img(src='/images/services/body-repair/7-min.jpg' srcset='/images/services/body-repair/7-min@2x.jpg 1.5x' alt="Фотография процесса кузовного ремонта БМВ из цеха 7")
        .col-4.col-md-3.col-lg-2
          a.photo(data-fancybox='photos' href='/images/services/body-repair/8.jpg')
            img(src='/images/services/body-repair/8-min.jpg' srcset='/images/services/body-repair/8-min@2x.jpg 1.5x' alt="Фотография процесса кузовного ремонта БМВ из цеха 8")
        .col-4.col-md-3.col-lg-2
          a.photo(data-fancybox='photos' href='/images/services/body-repair/9.jpg')
            img(src='/images/services/body-repair/9-min.jpg' srcset='/images/services/body-repair/9-min@2x.jpg 1.5x' alt="Фотография процесса кузовного ремонта БМВ из цеха 9")
        .col-4.col-md-3.col-lg-2
          a.photo(data-fancybox='photos' href='/images/services/body-repair/10.jpg')
            img(src='/images/services/body-repair/10-min.jpg' srcset='/images/services/body-repair/10-min@2x.jpg 1.5x' alt="Фотография процесса кузовного ремонта БМВ из цеха 10")
        .col-4.col-md-3.col-lg-2
          a.photo(data-fancybox='photos' href='/images/services/body-repair/11.jpg')
            img(src='/images/services/body-repair/11-min.jpg' srcset='/images/services/body-repair/11-min@2x.jpg 1.5x' alt="Фотография процесса кузовного ремонта БМВ из цеха 11")
        .col-4.col-md-3.col-lg-2
          a.photo(data-fancybox='photos' href='/images/services/body-repair/12.jpg')
            img(src='/images/services/body-repair/12-min.jpg' srcset='/images/services/body-repair/12-min@2x.jpg 1.5x' alt="Фотография процесса кузовного ремонта БМВ из цеха 12")
        .col-4.col-md-3.col-lg-2
          a.photo(data-fancybox='photos' href='/images/services/body-repair/13.jpg')
            img(src='/images/services/body-repair/13-min.jpg' srcset='/images/services/body-repair/13-min@2x.jpg 1.5x' alt="Фотография процесса кузовного ремонта БМВ из цеха 13")
        .col-4.col-md-3.col-lg-2
          a.photo(data-fancybox='photos' href='/images/services/body-repair/14.jpg')
            img(src='/images/services/body-repair/14-min.jpg' srcset='/images/services/body-repair/14-min@2x.jpg 1.5x' alt="Фотография процесса кузовного ремонта БМВ из цеха 14")
        .col-4.col-md-3.col-lg-2
          a.photo(data-fancybox='photos' href='/images/services/body-repair/15.jpg')
            img(src='/images/services/body-repair/15-min.jpg' srcset='/images/services/body-repair/15-min@2x.jpg 1.5x' alt="Фотография процесса кузовного ремонта БМВ из цеха 15")
        .col-4.col-md-3.col-lg-2
          a.photo(data-fancybox='photos' href='/images/services/body-repair/16.jpg')
            img(src='/images/services/body-repair/16-min.jpg' srcset='/images/services/body-repair/16-min@2x.jpg 1.5x' alt="Фотография процесса кузовного ремонта БМВ из цеха 16")
        .col-4.col-md-3.col-lg-2
          a.photo(data-fancybox='photos' href='/images/services/body-repair/17.jpg')
            img(src='/images/services/body-repair/17-min.jpg' srcset='/images/services/body-repair/17-min@2x.jpg 1.5x' alt="Фотография процесса кузовного ремонта БМВ из цеха 17")
        .col-4.col-md-3.col-lg-2
          a.photo(data-fancybox='photos' href='/images/services/body-repair/18.jpg')
            img(src='/images/services/body-repair/18-min.jpg' srcset='/images/services/body-repair/18-min@2x.jpg 1.5x' alt="Фотография процесса кузовного ремонта БМВ из цеха 18")
        .col-4.col-md-3.col-lg-2
          a.photo(data-fancybox='photos' href='/images/services/body-repair/19.jpg')
            img(src='/images/services/body-repair/19-min.jpg' srcset='/images/services/body-repair/19-min@2x.jpg 1.5x' alt="Фотография процесса кузовного ремонта БМВ из цеха 19")
        .col-4.col-md-3.col-lg-2
          a.photo(data-fancybox='photos' href='/images/services/body-repair/20.jpg')
            img(src='/images/services/body-repair/20-min.jpg' srcset='/images/services/body-repair/20-min@2x.jpg 1.5x' alt="Фотография процесса кузовного ремонта БМВ из цеха 20")
  section.contacts
    .wrapper
      .titles
        .overtitle Контакты
        h2 Контакты кузовного сервиса БМВ в Москве (СВАО)
      .block
        .columns
          .col-md-6
            .contact-label Телефон
            a.contact-text(href='tel:+74991100045' onclick="ym(56693602,'reachGoal','phone'); return true;") +7 (499) 110–00–45
          .col-md-6
            .contact-label Технический специалист
            a.contact-text(href='tel:+79039760045' onclick="ym(56693602,'reachGoal','phone'); return true;") +7 (903) 976–00–45
          .col-md-6
            .contact-label Email
            a.contact-text(href='mailto:riverdale@inbox.ru' onclick="ym(56693602,'reachGoal','email'); return true;") riverdale@inbox.ru
          .col-md-6
            .contact-label Адрес
            a.contact-text(href='https://yandex.ru/maps/-/CKqOBALH' onclick="ym(56693602,'reachGoal','yandexMaps'); return true;") г. Москва, ул. Декабристов, 45Бс2
          .col-md-6
            .contact-label Часы работы
            .contact-text Ежедневно: 9:00 — 20:00
        .contact-label.socials-label Социальные сети
        .social-buttons.colorful
          include /social-buttons
      iframe.map(src='https://yandex.ru/map-widget/v1/-/CKqWuB6O' frameborder='0' allowfullscreen='true')