extends /layout.pug

block variables
  - var name = 'main_night-vision';
  - var section = 'Услуга';
  - var title = 'Система ночного видения с функцией распознавания людей и животных (6UK)';
  - var seoTitle = 'Система ночного видения на BMW в Москве | Автосервис BMW «FGSEVER»';
  - var subtitle = 'Позволяет в темное время суток распознавать людей и крупных животных, а также освещать их с помощью функции направленной динамической подсветки.';
  - var path = {'/services/': 'Услуги', '/services/upgrade/': 'Дооснащение', '/services/upgrade/g-series/': 'G&nbsp;серия', '': 'Система ночного видения с функцией распознавания людей и животных (6UK)'};
  - var button = ['popup', '#upgrade-appointment', 'Записаться на дооснащение'];

block content
  +main({ name, path, section, title, subtitle, button })
  section.video
    .wrapper
      .columns
        .col-md-6.col-lg-7
          .text
            .overtitle Введение
            h2 Видеоинструкция
            .subtitle Вы можете посмотреть официальное видео от компании BMW, в котором подробно рассказывается про систему ночного видения, а именно — что она из себя представляет, принцип её работы и для чего она вообще нужна.
            a.button(data-fancybox href='/videos/night-vision.mp4') Смотреть видео
        .col-md-6.col-lg-5
          a.preview(data-fancybox href='/videos/night-vision.mp4')
            img(src='/images/services/upgrade/g-series/night-vision/cover.jpg')
            .play-button
              .icon.play-white
  section.description
    .wrapper
      .titles
        .overtitle Об услуге
        h2 Описание
      .block
        .icon.information-color
        h3 Что это такое?
        p Система ночного видения BMW (3 поколение) предоставляет водителю черно-белое изображение окружающего пространства на центральном информационном дисплее.
        .highlighted Система ночного видения BMW (SA6UK) имеет допуск к эксплуатации не на всех рынках.
        p Система ночного видения служит системой поддержки для система ночного видения. Система ночного видения обеспечивает больший уровень активной безопасности при движении в темноте. Так же, как система управления дальним светом фар или система адаптивного освещения поворотов. Система ночного видения увеличивает дальность отчетливого распознавания при движении ночью или в сумерках. Объекты распознаются на расстоянии от 70 до 150 метров. (радиус действия системы зависит от погодных условий).
        h3 Принцип работы системы
        p Система ночного видения базируется технически на излучения в дальней ИК-области. При этом распознается тепловое излучение от объектов.
        p С помощью алгоритмов в ЭБУ системы ночного видения на изображении автоматически распознаются люди и животные. После анализа расстояния и направления движения водитель с помощью символа получает предостережение об опасности со стороны людей или животных. Символ предостережения показывается на комбинации приборов и при необходимости на виртуальном дисплее.
        p По соображениям безопасности при скорости примерно от 5 км/ч и слабом наружном освещении изображение появляется только при включенном ближнем свете.
        p В зависимости от комплектации автомобиля для лучшего распознавания выявленные объекты освещаются с помощью динамического габаритного освещения.
        .images.columns
          .col-4.col-md-3
            a.image(data-fancybox href='/images/services/upgrade/g-series/night-vision/indication.jpg' target='_blank')
              img(src='/images/services/upgrade/g-series/night-vision/indication-min.jpg')
        p 1 — Индикация на центральном информационном дисплее; 2 — Предостережение при распознавании людей на виртуальном дисплее; 3 — Предостережение при распознавании людей в комбинации приборов; 4 — Индикация на центральном информационном дисплее; 5 — Предостережение об аварии при распознавании людей на виртуальном дисплее; 6 — Предостережение об аварии при распознавании людей в комбинации приборов; 7 — Индикация на центральном информационном дисплее; 8 — Предостережение при распознавании животных в комбинации приборов.
        p При предостережении об аварии тормоза предварительно накачиваются с помощью системы динамического контроля устойчивости (DSC).
        h3 Компоненты системы
        p #[b ЭБУ электронного блока системы ночного видения (NVE)]
        p Электронный блок системы ночного видения (NVE) установлен в опорной трубе для панели приборов. ЭБУ имеет 3 процессора для распознавания людей и систему связи с бортовой сетью.
        p Программное обеспечение электронного блока системы ночного видения осуществляет поиск объектов, похожих на людей, в изображении, полученном с камеры ночного видения. Определяются их положение и удаление. Символ предостережения показывается в комбинации приборов и при необходимости на виртуальном дисплее. Зона предупреждения перед автомобилем рассчитывается с учетом скорости движения и угла поворота колеса.
        .highlighted Дополнительную информацию по индикации в автомобиле (комбинация приборов, виртуальный дисплей) см. в руководстве по эксплуатации.
        p Изображение для системы ночного видения BMW можно включать и выключать с помощью кнопки системы ночного видения. Система ночного видения BMW предлагает следующие преимущества:
        ul
          li Выделение неосвещенных, излучающих тепло объектов, таких как пешеходы, велосипедисты, автомобили и животные;
          li Больший обзор за счет схематического изображения ситуации на дороге за пределами конусообразного луча фары;
          li Улучшение обзора в сумерках и темноте;
          li Отсутствие ослепления на изображении на экране от фар встречных автомобилей;
          li Обнаружение темных въездов во двор и гараж.
        .images.columns
          .col-4.col-md-3
            a.image(data-fancybox href='/images/services/upgrade/g-series/night-vision/nve.jpg' target='_blank')
              img(src='/images/services/upgrade/g-series/night-vision/nve-min.jpg')
        p 1 — ЭБУ электронного блока системы ночного видения (NVE); 2 — 6‐контактный разъем; 3 — 6‐контактный разъем; 4 — 4-контактный разъем LVDS.
        p ЭБУ NVE подключен через два 6-полюсных штекерных соединения. Провод передачи данных LVDS соединен с видеокамерой ночного видения. Электронный блок системы ночного видения преобразует получаемые с камеры ночного видения симметричные сигналы в сигнал FBAS. Сигнал FBAS (FBAS+, FBAS-) передается по 2 проводам на головное устройство.
        p Электронный блок системы ночного видения питается от контакта 15N через распределитель тока, расположенного сзади справа. ЭБУ электронного блока системы ночного видения подсоединен к шине PT‐CAN.
        p При включении зажигания система ночного видения BMW автоматически активизируется.
        p #[b Камера ночного видения]
        p Видеокамера ночного видения установлена за левой декоративной решеткой. Дождь, грязь, снег или лед могут негативно влиять на работу камеры. Камера автоматически подогревается при низких температурах наружного воздуха. При чистке фар также автоматически очищается и камера.
        p Видеокамера ночного видения состоит из обогреваемого защитного стекла, оптической системы и тепловизионного датчика. Изображение может обновляться с частотой до 30 кадров в секунду. Для обеспечения постоянного качества изображения камера должна калиброваться каждые 120 - 180 секунд . Эта калибровка может длиться до 0,3 секунды. Вследствие этого на дисплее можно наблюдать краткое "замораживание" изображения.
        p Электронный блок системы ночного видения соединен с видеокамерой ночного видения через провод передачи данных LVDS. Электронный блок системы ночного видения преобразует получаемые с камеры ночного видения симметричные сигналы в сигнал FBAS.
        p Для получения лучшего представления об окружающей ситуации распознавание объектов работает в следующих диапазонах расстояния:
        ul
          li Распознавание людей: примерно до 100 м;
          li Распознавание крупных животных: примерно до 150 м;
          li Распознавание средних по величине животных: примерно до 70 м;
        p Воздействие окружающей среды может ограничить возможность распознавания объектов.
        .images.columns
          .col-4.col-md-3
            a.image(data-fancybox href='/images/services/upgrade/g-series/night-vision/camera.jpg' target='_blank')
              img(src='/images/services/upgrade/g-series/night-vision/camera-min.jpg')
        p 1 — Камера ночного видения; 2 — 4-контактный разъем LVDS; 3 — Защитное стекло (за линзой).
        p Распознаваемость зависит от разности температур объектов по отношению к фону и от теплового излучения объекта. Распознаваемость объектов с небольшой разностью температур по отношению к окружению или с незначительным тепловым излучением ограничена.
        p По соображениям безопасности при скорости примерно от 5 км/ч и слабом наружном освещении изображение появляется только при включенном ближнем свете.
        p При чистке фар также автоматически очищается и камера. Камера автоматически подогревается при низких температурах наружного воздуха.
        p #[b Кнопка видеокамеры ночного видения]
        p С помощью кнопки видеокамеры ночного видения рядом с панелью управления светом изображение от системы ночного видения на центральном информационном дисплее можно вручную активировать и деактивировать.
        .highlighted Если индикация на центральном информационном дисплее деактивизирована: система ночного видения BMW продолжает работать в фоновом режиме и выдавать предостережения.
        p Кнопка системы ночного видения встроена в панель управления освещением. Панель управления освещением подключена к Body Domain Controller (BDC) по шине LIN. Сигнал к включению кнопки видеокамеры ночного видения направляется в блок управления системы ночного видения (NVE).
        p Body Domain Controller (BDC) питает панель управления освещением от контакта 58g (подсветка кнопок клавиатуры).
        .images.columns
          .col-4.col-md-3
            a.image(data-fancybox href='/images/services/upgrade/g-series/night-vision/buttons-1.jpg' target='_blank')
              img(src='/images/services/upgrade/g-series/night-vision/buttons-1-min.jpg')
        p 1 — Панель управления светом; 2 — Регулятор яркости; 3 — Кнопка парковочных огней справа; 4 — Кнопка парковочных огней слева; 5 — 4-полюсное штекерное соединение; 6 — Кнопка заднего противотуманного огня; 7 — Кнопка противотуманной фары; 8 — Кнопка видеокамеры ночного видения.
        .highlighted С помощью блока управления системы поддержки водителя (Интеллектуальная безопасность, см. руководство по эксплуатации) можно выключить распознавание людей вместе с распознаванием животных, а также предупреждающую защиту пешеходов.
        .images.columns
          .col-4.col-md-3
            a.image(data-fancybox href='/images/services/upgrade/g-series/night-vision/buttons-2.jpg' target='_blank')
              img(src='/images/services/upgrade/g-series/night-vision/buttons-2-min.jpg')
        p 1 — Панель управления систем помощи водителю; 2 — Выключатель аварийной световой сигнализации; 3 — 6‐контактный разъем.
        p Блок управления системы поддержки водителя расположен в центральной консоли около выключателя аварийной световой сигнализации. Блок управления системой поддержки водителя подключен через 6-полюсное штекерное соединение.
        p #[b Динамическое габаритное освещение от фары]
        p Благодаря целенаправленной подсветке людей или животных на дорожном полотне повышается безопасность всех участников дорожного движения.
        p Видеокамера ночного видения захватывает зону перед автомобилем и предупреждает о появлении людей и животных на дороге.
        p В зависимости от условий окружающей среды система целенаправленной подсветки работает в диапазоне прибл. от 30 до 100 метров. Люди (животные), о появлении которых в данной зоне предупреждает система, целенаправленно освещаются световым лучом. Объекты трижды освещаются мигающим светом. Одновременно световая полоса на дорожном полотне перед автомобилем привлекает внимание водителя к человеку, которому угрожает опасность.
        p Для освещения распознанных объектов (людей или животных) используются фары. Существует возможность отдельного освещения макс. 2 объектов.
        p Динамическое габаритное освещение доступно со скорости движения около 10 км/ч. Динамическое габаритное освещение можно на длительный срок выключить в iDrive (кнопка интеллектуальной безопасности, см. руководство по эксплуатации).
        .highlighted Оставляем за собой право на опечатки, смысловые ошибки и технические изменения.
  include /videos
  include /about/advantages
  +about
  include /contacts
