extends /layout.pug

block variables
  - var name = 'main_active-cruise-control';
  - var section = 'Услуга';
  - var title = 'Активный круиз-контроль с функцией Stop&Go (5DF)';
  //- - var models = 'G05/G06/G07';
  - var seoTitle = 'Активный круиз-контроль на BMW в Москве | Автосервис BMW «FGSEVER»';
  - var subtitle = 'Поддержание заданной скорости и дистанции до движущегося впереди автомобиля, а также полная остановка и разгон автомобиля при необходимости. Работает на базе переднего радарного датчика (FRS).';
  - var path = {'/services/': 'Услуги', '/services/upgrade/': 'Дооснащение', '/services/upgrade/g-series/': 'G&nbsp;серия', '': 'Активный круиз-контроль с функцией Stop&Go (5DF)'};
  - var button = ['popup', '#upgrade-appointment', 'Записаться на дооснащение'];

block content
  +main({ name, path, section, title, subtitle, button })
  section.video
    .wrapper
      .columns
        .col-md-6.col-lg-7
          .text
            .overtitle Введение
            h2 Видеоинструкция
            .subtitle Вы можете посмотреть официальное видео от компании BMW, в котором подробно рассказывается про систему активного круиз-контроля с функцией Stop&Go, а именно — что она из себя представляет, принцип её работы и для чего она вообще нужна.
            a.button(data-fancybox href='/videos/active-cruise-control.mp4') Смотреть видео
        .col-md-6.col-lg-5
          a.preview(data-fancybox href='/videos/active-cruise-control.mp4')
            img(src='/images/services/upgrade/g-series/active-cruise-control/cover.jpg')
            .play-button
              .icon.play-white
  section.description
    .wrapper
      .titles
        .overtitle Об услуге
        h2 Описание
      .block
        .icon.information-color
        h3 Что это такое?
        p Система активного круиз-контроля поддерживает и регулирует заданную водителем скорость и, при необходимости, дистанцию до движущегося впереди транспортного средства. Используются данные с переднего радарного датчика (FRS), расположенного в нижней части переднего бампера, а также с камеры KAFAS.
        h3 Принцип работы системы
        p Камера однозначно распознает автомобили, когда полностью видна задняя часть автомобиля. Кроме того, камера также обеспечивает систему информацией о текущей полосе движения, а также положении и скорости движения других автомобилей. Распознавание остановленных транспортных средств также осуществляется камерой KAFAS.
        p При активации активного круиз-контроля также активируется система динамического контроля устойчивости (DSC), если ранее она была деактивирована водителем.
        p Система активного круиз-контроля применяется вплоть до остановки автомобиля. Расстояние и скорость регулируются автоматически. Минимальная доступная скорость движения составляет 30 км/ч. Максимальная скорость движения для круиз-контроля — 160 км/ч.
        p Если водитель покидает транспортное средство при активной системе, система старается привести автомобиль в неподвижное состояние и удерживать в нём при помощи стояночного тормоза.
        p В тех ситуациях, когда замедление автомобиля должно быть произведено быстрее, чем это может сделать система, подается визуальный и звуковой сигнал, который обращает внимание водителя на необходимость взять управление транспортным средством на себя.
        //- p !!!!!!!!!!!!!!!!фото!!!!!!!!!!!!!!!!!
        h3 Работа системы
        p Активный круиз-контроль активируется с помощью соответствующей кнопки на многофункциональном рулевом колесе. Прервать работу функции можно с помощью кнопки «RES/CNCL» на многофункциональном рулевом колесе. Повторным нажатием кнопки можно снова принять предварительно установленную скорость и регулировку расстояния. Последнее настроенное расстояние сохраняется в ключе транспортного средства при покидании транспортного средства.
        p Из соображений безопасности активный круиз-контроль в неподвижном состоянии может только переходить в «режим ожидания» или деактивроваться, если одновременно нажата педаль тормоза.
        p Во время движения активный круиз-контроль деактивируется при нажатии педали тормоза.
        p В любое время водитель нажатием на педаль акселератора может взять управление на себя, что позволит ему разогнать или затормозить транспортное средство быстрее или прервать работу активного круиз-контроля. Активный круиз-контроль вследствие таких действий не деактивируется.
        .images.columns
          .col-4.col-md-3
            a.image(data-fancybox href='/images/services/upgrade/g-series/active-cruise-control/indication.jpg?2' target='_blank')
              img(src='/images/services/upgrade/g-series/active-cruise-control/indication-min.jpg?2')
        p #[b Индикация]
        p Установленная скорость отображается в комбинации приборов. Во время активной регулировки, скорость отображается зеленым цветом. Если активный круиз-контроль находится в режиме ожидания, установленная скорость будет показываться серым цветом. Показывается последняя установленная скорость. Дополнительно после активации активного круиз-контроля или после подбора установленной скорости на небольшое время показывается текущая цифровая величина. Настроенное водителем расстояние, а также в определенных ситуациях движущееся впереди транспортное средство, до которого должна сохраняться безопасная дистанция, также отображается.
        p #[b Регулировка установленной скорости]
        p Водитель может настраивать установленную скорость с малым или большим интервалом. Управление происходит с помощью блока переключателей на многофункциональном рулевом колесе. Нажатие двухпозиционной клавиши увеличивает или уменьшает установленную скорость на 1 км/ч, а каждое нажатие выше точки срабатывания — на 10 км/ч.
        p Если перед автомобилем не было распознано ни одного транспортного средства, установленная скорость  регулируется и поддерживается.
        p #[b Регулировка требуемой дистанции]
        p При помощи соответствующих кнопок на многофункциональном рулевом колесе водитель может выбрать нужное расстояние (4 уровня).
        p #[b Трогание с места из неподвижного состояния]
        p В зависимости от времени простоя трогание с места из неподвижного состояния осуществляется автоматически или по требованию водителя. Автоматическое трогание с места возможно максимум до 10 с. При превышении этого времени простоя водитель приводит автомобиль в движение индикацией по требованию на комбинации приборов. Водитель трогается с места нажатием педали акселератора или двухпозиционной клавиши на многофункциональном рулевом колесе. Активный круиз-контроль продолжит работу с предварительно заданными значениями.
        h3 Условия функционирования
        p #[b Для активации функции должны быть выполнены следующие условия:]
        ul
          li ремень безопасности водителя застегнут;
          li двери закрыты;
          li состояние PWF «Движение» активировано;
          li стояночный тормоз отпущен.
        p #[b Функция автоматически деактивируется в следующих ситуациях:]
        ul
          li нажатие педали тормоза водителем;
          li отключение передачи D;
          li деактивация системы динамического контроля устойчивости (DSC) или активация системы динамического контроля тяги;
          li регулирование со стороны системы динамического контроля устойчивости (DSC);
          li отсоединение ремня безопасности водителя при остановленном транспортном средстве;
          li открытие двери водителя при остановленном транспортном средстве;
          li после длительной стоянки, после того как транспортное средство было остановлено активным круиз-контролем;
          li ослепление переднего радарного датчика (FRS) или переднего радарного датчика дальней зоны (FRSF).
        h3 Возможные пределы функциональных возможностей системы
        p #[b Замедление]
        p Активный круиз-контроль не снижает скорость транспортного средства в следующих ситуациях:
        ul
          li при красном сигнале светофора (начиная с конструктивного уровня 07/2020, в избранных странах EC доступна функция «Распознавание светофоров», которрая делает возможным торможение при красном свете светофора);
          li при поперечном движении;
          li при встречном движении.
        p #[b Уходящие в сторону транспортные средства]
        p Движущееся впереди транспортное средство распознается только в том случае, если он полностью находится на собственной полосе движения. Неожиданный уход движущегося впереди транспортного средства в сторону на собственной полосе может привести к тому, что активный круиз-контроль не сможет поддерживать настроенную дистанцию. В таких ситуациях система просит водителя вмешаться, чтобы затормозить или выполнить объезд.
        p #[b Прохождение поворотов]
        p Если выбранная скорость круиз-контроля для прохождения поворота слишком большая, скорость на повороте будет автоматически немного уменьшаться. Однако предварительное распознавание поворотов отсутствует. Кроме того, на резких поворотах существует опасность того, что движущееся впереди транспортное средство не будет распознано или будет распознано слишком поздно.
        p При приближении к повороту активный круиз-контроль из-за изгиба поворота кратковременно может устанавливать скорость по транспортным средствам на соседней полосе. Такое возможное замедление транспортного средства можно предотвратить небольшим разгоном вручную. После отпускания педали акселератора активный круиз-контроль снова будет активен и самостоятельно продолжит регулировать заданную скорость.
        p #[b Метеорологические условия]
        p Возможно ухудшенное распознавание неподвижных транспортных средств при следующих неблагоприятных погодных условиях:
        ul
          li сильный туман, дождь или снегопад;
          li при недостаточной яркости;
          li при ярком свете встречных фар.
        p #[b Мощность двигателя]
        ul
          li Выбранная настроенная скорость поддерживается даже на крутых участках. На подъемах выбранная скорость может быть меньше, если необходимой мощности двигателя недостаточно;
          li В режиме движения ECO PRO вследствие щадящей манеры вождения в некоторых ситуациях может произойти переход установленной скорости за нижнюю границу, например на подъемах или уклоне дороги.
        h3 Примечание
        p При активном режиме движения ECO PRO или SPORT на переключателе режимов движения также настраивается активный круиз-контроль для щадящей или спортивной манеры вождения.
        .highlighted Оставляем за собой право на опечатки, смысловые ошибки и технические изменения.
  //- section.prices
  //-   .wrapper
  //-     .titles
  //-       .overtitle Об услуге
  //-       h2 Стоимость
  //-     .block
  //-       .table-wrapper
  //-         .table
  //-           table
  //-             tr.table-header
  //-               td Услуга
  //-               td Стоимость
  //-             tr
  //-               td Активация пакета кодов на одну камеру
  //-               td 70 000 ₽
  //- include /maintenance/photos/computer-diagnostics
  include /videos
  include /about/advantages
  +about
  include /contacts
