extends /layout.pug

block variables
  - var name = 'main_diagnostics';
  - var section = 'Направление';
  - var title = 'Диагностика автомобилей BMW в Москве «FGSEVER»';
  - var seoTitle = `Диагностика БМВ в Москве | Ручная инструментальная и компьютерная в авторизированном автосервисе`;
  - var subtitle = `Диагностика автомобилей БМВ в Москве (СВАО). Авторизованный автосервис FGSEVER осуществляет компьютерную диагностику двигателя и электрики BMW дизельных и бензиновых с 2014 года по цене ниже дилерских сервисов!`;
  - var path = {'/services/': 'Услуги', '': 'Диагностика'};
  - var button = ['popup', '#diagnostics-appointment', 'Записаться'];
  - var image = '/models/5-series/g30-original.png';

block content
  +main({ name, path, section, title, subtitle, button, image })
  section.services
    .wrapper
      .titles
        .overtitle Наши услуги
        h2 Диагностика БМВ
        .subtitle
          p Являясь профильным сервисом концерна, мы выполняем все виды диагностики автомобилей BMW от элементарной компьютерной сервисными сканерами до осциллографической мотор тестерами. Вам достаточно указать на симптомы неисправности мастеру приемки, который выделит возможные неисправные узлы и агрегаты и определит необходимый перечень диагностики БМВ.
          p Если диагностика электрики BMW зачастую происходит без снятия узлов, то финальная диагностика двигателя БМВ или АКПП практически в 80% случаев выполняется инструментальной дефектовкой, для проведения которой требуется разборка агрегата.
          p Определение неисправности в подвеске и ходовой всегда происходит на подъемнике слесарными инструментами для выявления люфтов, разрывов полимерных деталей и возможных течей. Для детального ознакомления с регламентом и ценой перейдите в раздел диагностики ходовой БМВ.
          p Отдельно отмечаем, что любые манипуляции с вашим автомобилем с использованием сертифицированного диагностического оборудования выполняются исключительно после согласования объема работ. Никаких сюрпризов не будет.
      .columns
        .col-md-6.col-lg-4
          a.services-item(href='/services/maintenance/suspension-repair/')
            .services-item__content
              .services-item__text
                .services-item__title
                  h3 Диагностика и ремонт подвески
                .subtitle.services-item__subtitle Диагностика и устранение различных неисправностей системы подвески вашего автомобиля
              .button-simple Подробнее
        .col-md-6.col-lg-4
          a.services-item(href='/services/maintenance/engine-repair/')
            .services-item__content
              .services-item__text
                .services-item__title
                  h3 Диагностика и ремонт ДВС
                .subtitle.services-item__subtitle Компьютерное выявление и устранение ошибок в работе двигателя
              .button-simple Подробнее
        .col-md-6.col-lg-4
          a.services-item(href='/services/maintenance/computer-diagnostics/')
            .services-item__content
              .services-item__text
                .services-item__title
                  h3 Компьютерная диагностика
                .subtitle.services-item__subtitle Компьютерное выявление неисправностей и ошибок программного обеспечения вашего автомобиля
              .button-simple Подробнее
        .col-md-6.col-lg-4
          a.services-item(href='/services/ac-refueling/')
            .services-item__content
              .services-item__text
                .services-item__title
                  h3 Полная диагностика системы кондиционирования
                .subtitle.services-item__subtitle Диагностика и выявление неисправностей и утечек системы кондиционирования
              .button-simple Подробнее
  section.models
    .wrapper
      .titles
        .overtitle Ваш автомобиль
        h2 Цена диагностики БМВ по моделям
        .subtitle Цены на диагностику БМВ в СВАО на базе профильного сервиса «FGSEVER» для каждой модели автомобиля вы сможете узнать на профильной странице вашего авто. #[a.link(href='/services/maintenance/computer-diagnostics/') Компьютерная диагностика автомобиля БМВ] всегда имеет стандартный прайс 2 500 рублей.
      .columns
        .col-md-6.col-lg-4
          a.block(href='1-series/')
            .text
              h3 1 серия
              .overtitle F40, F20/F21, E81/E82/E87/E88
            img.image(src='/images/models/1-series/f40.png')
        .col-md-6.col-lg-4
          a.block(href='2-series/')
            .text
              h3 2 серия
              .overtitle G42, F44, F22/F23, F45/F46
            img.image(src='/images/models/2-series/g42.png')
        .col-md-6.col-lg-4
          a.block(href='3-series/')
            .text
              h3 3 серия
              .overtitle G20/G21, F30/F31/F34, E90/E91/E92/E93
            img.image(src='/images/models/3-series/g20.png')
        .col-md-6.col-lg-4
          a.block(href='4-series/')
            .text
              h3 4 серия
              .overtitle G22/G23/G26, F32/F33/F36
            img.image(src='/images/models/4-series/g22.png')
        .col-md-6.col-lg-4
          a.block(href='5-series/')
            .text
              h3 5 серия
              .overtitle G30/G31, F10/F11/F07, E60/E61
            img.image(src='/images/models/5-series/g30.png')
        .col-md-6.col-lg-4
          a.block(href='6-series/')
            .text
              h3 6 серия
              .overtitle G32, F06/F12/F13, E63/E64
            img.image(src='/images/models/6-series/g32.png')
        .col-md-6.col-lg-4
          a.block(href='7-series/')
            .text
              h3 7 серия
              .overtitle G11/G12, F01/F02, E65/E66
            img.image(src='/images/models/7-series/g12.png')
        .col-md-6.col-lg-4
          a.block(href='8-series/')
            .text
              h3 8 серия
              .overtitle G14/G15/G16
            img.image(src='/images/models/8-series/g15.png')
        .col-md-6.col-lg-4
          a.block(href='x1/')
            .text
              h3 X1
              .overtitle F48, E84
            img.image(src='/images/models/x1/f48.png')
        .col-md-6.col-lg-4
          a.block(href='x2/')
            .text
              h3 X2
              .overtitle F39
            img.image(src='/images/models/x2/f39.png')
        .col-md-6.col-lg-4
          a.block(href='x3/')
            .text
              h3 X3
              .overtitle G01, F25, E83
            img.image(src='/images/models/x3/g01.png')
        .col-md-6.col-lg-4
          a.block(href='x4/')
            .text
              h3 X4
              .overtitle G02, F26
            img.image(src='/images/models/x4/g02.png')
        .col-md-6.col-lg-4
          a.block(href='x5/')
            .text
              h3 X5
              .overtitle G05, F15, E70
            img.image(src='/images/models/x5/g05.png')
        .col-md-6.col-lg-4
          a.block(href='x6/')
            .text
              h3 X6
              .overtitle G06, F16, E71
            img.image(src='/images/models/x6/g06.png')
        .col-md-6.col-lg-4
          a.block(href='x7/')
            .text
              h3 X7
              .overtitle G07
            img.image(src='/images/models/x7/g07.png')
        .col-md-6.col-lg-4
          a.block(href='z4/')
            .text
              h3 Z4
              .overtitle G29, E89, E85/E86
            img.image(src='/images/models/z4/g29.png')
  section.contacts
    .wrapper
      .titles
        .overtitle Контакты
        h2 Контакты сервиса диагностики БМВ в Москве «FGSEVER»
      .block
        .columns
          .col-md-6
            .contact-label Телефон
            a.contact-text(href='tel:+74991100045' onclick="ym(56693602,'reachGoal','phone'); return true;") +7 (499) 110–00–45
          .col-md-6
            .contact-label Технический специалист
            a.contact-text(href='tel:+79039760045' onclick="ym(56693602,'reachGoal','phone'); return true;") +7 (903) 976–00–45
          .col-md-6
            .contact-label Email
            a.contact-text(href='mailto:riverdale@inbox.ru' onclick="ym(56693602,'reachGoal','email'); return true;") riverdale@inbox.ru
          .col-md-6
            .contact-label Адрес
            a.contact-text(href='https://yandex.ru/maps/-/CCU6MFXzcB' onclick="ym(56693602,'reachGoal','yandexMaps'); return true;") г. Москва, ул. Декабристов, 45Бс2
          .col-md-6
            .contact-label Часы работы
            .contact-text Ежедневно: 9:00 — 20:00
        .contact-label.socials-label Социальные сети
        .social-buttons.colorful
          include /social-buttons
      iframe.map(src='https://yandex.ru/map-widget/v1/-/CCU6MFd4hD' frameborder='0' allowfullscreen='true')
