extends /layout.pug

block variables
  - var name = 'main_integral-active-steering';
  - var section = 'Услуга';
  - var title = 'Интегральное активное рулевое управление (2VH)';
  - var seoTitle = 'Интегральное активное рулевое управление на BMW в Москве | Автосервис BMW «FGSEVER»';
  - var subtitle = 'Автоматическое подруливание колесами задней оси, изменение передаточного отношения рулевого механизма и регулировка усилия на рулевом колесе в зависимости от скорости и выбранного режима.';
  - var path = {'/services/': 'Услуги', '/services/upgrade/': 'Дооснащение', '/services/upgrade/g-series/': 'G&nbsp;серия', '': 'Интегральное активное рулевое управление (2VH)'};
  - var button = ['popup', '#upgrade-appointment', 'Записаться на дооснащение'];

block content
  +main(name, path, section, title, subtitle, button)
  section.video
    .wrapper
      .columns
        .col-md-6.col-lg-7
          .text
            .overtitle Введение
            h2 Видеообзор
            .subtitle Посмотрите наше видео, чтобы более детально ознакомиться с опцией интегрального активного рулевого управления, узнать как она работает и устанавливается на автомобиль, а также понять её основные преимущества.
            a.button(data-fancybox href='https://www.youtube.com/watch?v=2iH1QKMuhNQ&t=249s') Смотреть видео
        .col-md-6.col-lg-5
          .preview
            iframe(src="https://www.youtube.com/embed/2iH1QKMuhNQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
  section.description
    .wrapper
      .titles
        .overtitle Об услуге
        h2 Описание
      .block
        .icon.information-color
        h3 Что это такое?
        p Интегральное активное рулевое управление представляет из себя комбинацию следующих функций:
        ul 
          li Автоматическое подруливание колёсами задней оси (HSR);
          li Переменное передаточное отношение реечного рулевого механизма;
          li Электроусилитель рулевого управления (EPS) с регулировкой вспомогательного усилия в зависимости от скорости и режима движения.
        h3 Принцип работы системы
        p В зависимости от скорости система автоматически изменяет передаточное отношение рулевого механизма, а также необходимое усилие для поворота рулевого колеса.
        p Например, на малых скоростях система увеличивает вспомогательное усилие, облегчая этим вращение рулевого колеса. Также изменяется передаточное отношение, что позволяет при небольшом повороте руля поворачивать колёса на бо́льший угол. В дополнение к этому задние колёса поворачиваются в противоположную от передних сторону, сокращая тем самым диаметр повотора. Это особенно удобно при парковке и маневрировании на ограниченных участках.
        p На больших же скоростях система работает противоположным образом. Вспомогательное усилие и передаточное отношение уменьшаются, так нет необходимости поворачивать колёса на большой угол. Величина хода рулевого колеса увеличивается в целях повышения комфорта при движении по трассе. Задние колеса поворачиваются с одном направлении с передними, обеспечивая тем самым комфортное и устойчивое движение на высоких скоростях.
        h3 Преимущества системы
        p #[b Маневренность]
        p Интегральное активное рулевое управление делает автомобиль более проходимым и маневренным в городских условиях благодаря согласованному взаимодействию нескольких вспомогательных систем.
        p #[b Комфорт и устойчивость]
        p Автомобиль становится более предсказуемым и устойчивым при движении на высоких скоростях, обеспечивая повышенную комфортность езды по прямой.
        h3 Работа системы
        p Преимущества регулировки угла бокового увода колес заднего моста:
        ul
          li Свободная предустановка угла поворота рулевого колеса на заднем мосту;
          li Улучшенная устойчивость при движении;
          li Сокращение тормозного пути при торможении на дорожном покрытии с различным коэффициентом трения.
        p Исполнительный механизм для регулировки угла бокового увода колес заднего моста (HSR) образует с блоком управления HSR единый блок.
        p ЭБУ HSR осуществляет управление серводвигателем, встроенным в актюатор системы регулировки угла бокового увода задней оси. Встроенный в ЭБУ HSR датчик температуры контролирует выходной каскад серводвигателя.
        p Электромеханический исполнительный механизм оснащен серводвигателем, двигающим обе поперечные рулевые тяги с помощью привода шпинделя. Поперечные рулевые тяги соединены с маятниковыми рычагами. Актюатор рассчитан на максимальный ход 8 мм, что соответствует углу поворота колеса макс 3°. Привод шпинделя управления задними колесами имеет функцию самоторможения. В случае отказа системы динамика автомобиля идентична той, которая наблюдается при отсутствии рулевого управления задней осью.
        p Серводвигатель представляет собой бесщеточный двигатель трехфазного тока. Подача напряжения к серводвигателю в механизме наложения угла поворота осуществляется через три фазы (= провода): U, V, W. В случае короткого замыкания серводвигатель может продолжать вращаться под действием внешних сил (блокировка серводвигателя отсутствует). Следствием этого является заметный для водителя перекос рулевого колеса до 45°!
        p Блок управления HSR подключен к FlexRay.
        .images.columns
          .col-4.col-md-3
            a.image(data-fancybox href='/images/services/upgrade/g-series/integral-active-steering/hsr.jpg' target='_blank')
              img(src='/images/services/upgrade/g-series/integral-active-steering/hsr-min.jpg')
        p 1 — ЭБК HSR; 2 — Серводвигатель; 3 — Левое соединение заднего моста; 4 — Датчик положения; 5 — Штекерное соединение 6-пол. (бортовая сеть); 6 — Разъем 2‐контактный (серводвигатель); 7 — Правое соединение заднего моста; 8 — Электрическое соединение с датчиком положения (неразъемное).
        p В серводвигатель встроен датчик положения ротора. Сигналы датчика положения ротора анализируются блоком управления HSR.
        p Датчик положения двигателя состоит из магниторезистивного элемента и постоянного магнита. Постоянный магнит расположен на торцевой стороне вала ротора серводвигателя. Магниторезистивный элемент измеряет направление магнитного поля в горизонтальной и вертикальной плоскости. Диапазон измерения датчика положения двигателя составляет 180°. От датчика положения двигателя поступают 2 сигнала напряжения. Одному обороту на 360° соответствуют 2 последовательности сигналов. На основании обоих сигналов напряжения рассчитывается положение двигателя. Блок управления HRS считает количество полуоборотов и записывает его в память при выключении зажигания.
        p На устройстве регулировки угла бокового увода колес заднего моста (HSR) установлен датчик положения.
        p Датчик положения требуется, если в режиме движения наблюдается потеря напряжения. В этом случае распознается положение управления задними колесами и снова восстанавливается исходное положение (в течение одного поворота серводвигателя).
        p В режиме регулировки с помощью датчика положения проверяется достоверность сигнала датчика положения ротора.
        .images.columns
          .col-4.col-md-3
            a.image(data-fancybox href='/images/services/upgrade/g-series/integral-active-steering/hsr-2.jpg' target='_blank')
              img(src='/images/services/upgrade/g-series/integral-active-steering/hsr-2-min.jpg')
        p 1 — Исполнительный механизм регулировки бокового увода заднего моста; 2 — Датчик положения; 3 — Штекерное соединение с блоком управления HSR (неразъемное).
        p В датчике положения установлены 4 датчика Холла и магнит на ходовом винте. Датчики Холла сигнализируют о точном положении управления задними колесами.
        .highlighted Оставляем за собой право на опечатки, смысловые ошибки и технические изменения.
  section.video
    .wrapper
      .columns
        .col-md-6.col-lg-7
          .text
            .overtitle Введение
            h2 Видеоинструкция
            .subtitle Вы можете посмотреть официальное видео от компании BMW, в котором подробно рассказывается про опцию интегрального активного рулевого управления, а именно — что она из себя представляет, принцип работы и для чего она вообще нужна.
            a.button(data-fancybox href='/videos/integral-active-steering.mp4') Смотреть видео
        .col-md-6.col-lg-5
          a.preview(data-fancybox href='/videos/integral-active-steering.mp4')
            img(src='/images/services/upgrade/g-series/integral-active-steering/cover.jpg')
            .play-button
              .icon.play-white
  include /videos
  include /about/advantages
  include /about
  include /contacts
