extends /layout.pug

block variables
  - var name = 'main_remont';
  - var section = 'Услуга';
  - var title = 'Замена цепи ГРМ BMW в Москве';
  - var seoTitle = 'Замена цепи ГРМ БМВ цена в Москве | Замена цепей в двигатели BMW дизельные и бензиновые';
  - var subtitle = 'Выполняем замену цепи ГРМ БМВ в Москве (СВАО). Авторизованный автосервис FGSEVER осуществляет ремонт газораспределительного механизма BMW дизельных и бензиновых с 2014 года по цене ниже дилерских сервисов!';
  - var path = {'/services/': 'Услуги', '/services/remont/': 'Ремонт', '': 'Замена цепи ГРМ'};
  - var button = ['popup', '#remont-appointment', 'Записаться'];

block content
  +main({ name, path, section, title, subtitle, button })
  section.description
    .wrapper
      .titles
        .overtitle Об услуге
        h2 Описание
      .block
        .icon.information-color
        h3 Зачем нужна замена цепи ГРМ в двигателях БМВ
        p Цепь газораспределительного механизма (ГРМ) передаёт вращательное усилие от коленчатого вала на распределительный, обеспечивая тем самым правильное газораспределение (изменение фаз газораспределения - VANOS) или же открытие/закрытие клапанов в двигателе (Valvetronic). При неисправности гидронатяжителя цепи или постоянной езде при масляном голодании, цепь ГРМ начинает проскакивать через зубья шестерней, нарушая фазы газораспределения, что приводит к нестабильной работе мотора и преждевременному износу самой цепи.
        p Даже при полной исправности натяжителя и шестерней распредвалов со временем цепь ГРМ растягивается, что снова приводит к вышеуказанным проблемам, появляется характерный звенящий шум при работе двигателя. В таких случаях замена цепей ГРМ необходима в срочном порядке. В противном случае, обрыв цепи ГРМ на БМВ приведет к необходимости дорогостоящей капиталки мотора или же замены на контрактный двигатель.
        h3 Когда нужно менять цепь ГРМ на моторах БМВ
        p Замена цепи ГРМ в двигателях БМВ должна выполняться строго с соблюдением регламента и использованием оригинальных запчастей.
        .table-wrapper
          .table
            table
              tr.table-header
                td Величина пробега в смешанном режиме
                td Модель двигателя БМВ
              tr
                td Замена не более чем через 100 000 км
                td N20, N13, N46
              tr
                td Замена не более чем через 120 000 – 150 000 км
                td N47, N52, N57, B47, B48
        p Для определения необходимости замены цепи ГРМ на БМВ с другими моторами, цепной механизм газораспределения требуется предварительно диагностировать каждые 150 – 300 тысяч км пробега на предмет выявления степени износа исполнительных элементов узла.
        p 
          b Явные признаки необходимости менять цепь ГРМ на моторах N20, N13, N46, N47, N52, N53, N54, N55, N57, N63, B38, B47, B48, M54, M57, S63:
        ul
          li Из подкапотного пространства стал доноситься посторонний шум (побрякивание, цоканье) и появилась неровная работа двигателя на холостом ходу; 
          li Наблюдается падение мощности, возникает ощущение металлического удара при запуске двигателя 
          li Беспричинно появились выстрелы, хлопки в выхлопной системе.
        h3 Основные особенности замены цепи ГРМ БМВ в нашем автосервисе
        p Замена цепи ГРМ в двигателях БМВ никогда не выполняется нами без замены опорных планок и замены нижней цепи. При этом полностью сливается масло с двигателя автомобиля. Далее снимается поддон и клапанная крышка, снимается старая цепь ГРМ и производится полная очистка двигателя от сажевых отложений. Только после этого окончательно устанавливаются новые цепи. В редких случаях, после отдельного согласования используем методику замены цепей ГРМ, без снятия ГБЦ.
  section.prices
    .wrapper
      .titles
        .overtitle Об услуге
        h2 Цена замены цепи ГРМ БМВ
      .block
        .table-wrapper
          .table
            table
              tr.table-header
                td Услуга
                td Цена
              tr 
                td Замена цепи ГРМ БМВ N20
                td 25 000 ₽
              tr 
                td Замена цепи ГРМ БМВ N13
                td 25 000 ₽
              tr 
                td Замена цепи ГРМ БМВ на других моторах
                td Рассчитывается индивидуально после проведения методики
  include /maintenance/photos/timing-chain-replacement
  include /about/advantages
  +about
  include /contacts
