section.advantages
    .wrapper
      .titles
        .overtitle Преимущества
        h2 Почему стоит выбрать нас?
      .columns
        .col-md-6.col-lg-4
          .icon.warranty-color
          h3 Гарантия на работы 12 месяцев
          .subtitle На все наши работы по ремонту и дооснащению, а также на установленное оборудование, предоставляется годовая гарантия сроком на 12 месяцев.
        .col-md-6.col-lg-4
          .icon.quality-color
          h3 Работаем с автомобилями BMW с 2014 года
          .subtitle Мы специализируемся и работаем с автомобилями BMW с 2014 года, а значит имеем большой практический опыт за плечами и знаем своё дело.
        .col-md-6.col-lg-4
          .icon.manufacturer-warranry-color
          h3 Сохранение заводской гарантии
          .subtitle После проведения нами работ по обслуживанию, ремонту или дооснащению автомобиля, у вас полностью сохраняется заводская гарантия от производителя.
        .col-md-6.col-lg-4
          .icon.discount-color
          h3 Скидки на комплексные работы
          .subtitle Если вы заказываете большой комплекс работ по обслуживанию или дооснащению вашего автомобиля, мы предоставляем вам скидку. 
        .col-md-6.col-lg-4
          .icon.day-service-color
          h3 Большинство машин обслуживается за день
          .subtitle Большая часть предоставляемых услуг оказывается в течение одного рабочего дня. Поэтому вы можете оставить свой автомобиль утром и забрать уже вечером.
        .col-md-6.col-lg-4
          .icon.parts-warehouse-color
          h3 Собственный склад автозапчастей
          .subtitle Наиболее часто используемые запасные части и детали для автомобилей мы имеем в наличии в нашем автосервисе, поэтому вам не придётся ждать их доставки. 