section.rooms
  .wrapper
    .titles
      .overtitle Наши помещения
      h2 Как мы вас обслуживаем
    .columns
      .col-sm-6.col-lg-3
        div
          h3 Основная рабочая зона
          .subtitle Мы способны дооснащать и обслуживать одновременно до 8 автомобилей. Работаем на профессиональном, современном и оригинальном оборудовании.
        a.photo(data-fancybox='description-photos' href='/images/about/rooms/working-area.jpg')
          img(src='/images/about/rooms/working-area-min.jpg' srcset='/images/about/rooms/working-area-min@2x.jpg 1.5x')
      .col-sm-6.col-lg-3
        div
          h3 Цех кузовного ремонта
          .subtitle Оказываем услуги кузовного ремонта с использованием высококачественного немецкого оборудования компаний Festool, SATA, Trommelberg, Spies Hecker.
        a.photo(data-fancybox='description-photos' href='/images/about/rooms/body-repair.jpg')
          img(src='/images/about/rooms/body-repair-min.jpg' srcset='/images/about/rooms/body-repair-min@2x.jpg 1.5x')
      .col-sm-6.col-lg-3
        div
          h3 Офис и приёмная
          .subtitle Принимаем обращения и обсуждаем возможные идеи по дооснащению или ремонту автомобилей в специально отведённом для этого помещении.
        a.photo(data-fancybox='description-photos' href='/images/about/rooms/office.jpg?2')
          img(src='/images/about/rooms/office-min.jpg?2' srcset='/images/about/rooms/office-min@2x.jpg?2 1.5x')
      .col-sm-6.col-lg-3
        div
          h3 Зона отдыха клиентов
          .subtitle Пока мы работаем с вашим автомобилем, вы можете провести время в комнате отдыха, где доступен Wi-Fi, телевизор и игровая приставка.
        a.photo(data-fancybox='description-photos' href='/images/about/rooms/rest-room.jpg?2')
          img(src='/images/about/rooms/rest-room-min.jpg?2' srcset='/images/about/rooms/rest-room-min@2x.jpg?2 1.5x')