extends /layout.pug

block variables
  - var name = 'main_maintenance';
  - var section = 'Направление';
  - var title = 'Сервис BMW&nbsp;X5';
  - var seoTitle = `${title} в Москве | Автосервис BMW «FGSEVER»`;
  - var subtitle = `${title} в Москве — техническое обслуживание, дооснащение, кодирование опций, кузовной ремонт, обновление ПО и карт навигации, диагностика и заправка кондиционеров.`;
  - var path = {'/services/': 'Услуги', '': 'BMW X5'};

block content
  +main({ name, path, section, title, subtitle })
  include /models/x5
  include /contacts
