extends /layout.pug

block variables
  - var name = 'main_injector';
  - var section = 'Направление';
  - var title = 'Ремонт форсунок BMW и замена в Москве';
  - var seoTitle = `Ремонт форсунок БМВ в Москве | Цена в профильном сервисе BMW`;
  - var subtitle = `Ремонт дизельных форсунок БМВ и замена в Москве (СВАО). Авторизованный автосервис FGSEVER осуществляет ремонт двигателей BMW с 2014 года по цене ниже дилерских сервисов!`;
  - var path = {'/services/': 'Услуги', '': 'Ремонт форсунок'};
  - var button = ['popup', '#injector-appointment', 'Записаться'];
  - var image = '/models/5-series/g30-original.png';

block content
  +main({ name, path, section, title, subtitle, button, image })
  section.description
    .wrapper
      .titles
        .overtitle Об услуге
        h2 Ремонт дизельных форсунок BMW и бензиновых
      .block
        .icon.information-color
        h3 Стоит ли восстанавливать форсунки
        p Пьезофорсунки БМВ можно восстановить не во всех случаях, поэтому чистка и стендовая диагностика перед постановкой вердикта обязательна. С электромеханическими (электромагнитными) форсунками дело обстоит проще, ремонтные работы в 90% показаны и дают результат. Мы меняем уплотнители и восстанавливаем геометрию распылителя, после выполняем отладку на стенде.
        p #[b Отсюда вывод:] возьмемся ли мы за чистку и ремонт форсунок BMW для вашего авто покажет только визуально-измерительный контроль и проверка изделия на стенде. Предпочитаем отказать в ремонте нежели брать в работу изначально неремонтопригодные экземпляры.
        h3 Как определить необходимость ремонта форсунок БМВ
        p Чистка форсунок БМВ дизельных моторов при московской эксплуатации показана один раз в 100 000 км, именно на таких пробегах смесь часто начинает богатить, а обороты дизеля начинают плавать, дальнейших симптомов лучше не дожидаться.
        p Чистка форсунок BMW на бензиновых двигателях при московском топливе рекомендуем 1 раз в 60 000 км, в регионах в 20 000 км – 40 000 км. Явный симптом - повышение фактического расхода бензина и черный нагар на свечах, в тяжелых случаях вываливается чек по топливной системе.
        p Что касается ремонта форсунок, то тут все неоднозначно, и симптомы часто путают, поэтому если авто глохнет, не заводится, пропала динамика, есть ошибки по давлению топлива, качеству смеси, записывайтесь в сервис.
        h3 Как проходит диагностика и ремонт форсунок БМВ на базе FG SEVER в Москве
        p Ремонт и восстановление дизельных форсунок БМВ и бензиновых версий происходит при использовании утвержденных ремкомплектов с кросс диагностикой на регулировочных стендах. Восстановление выполняется до заводских допусков.
  section.prices
    .wrapper
      .titles
        .overtitle Об услуге
        h2 Цена ремонта форсунок БМВ восстановления / замены
      .block
        .table-wrapper
          .table
            table
              tr.table-header
                td Услуга
                td Цена
              tr 
                td Чистка форсунок БМВ
                td от 2 500 ₽
              tr 
                td Ремонт восстановление дизельных форсунок БМВ
                td от 500 ₽
              tr 
                td Ремонт восстановление бензиновых форсунок БМВ
                td от 500 ₽
              tr 
                td Замена дизельных и бензиновых форсунок
                td от 500 ₽
  include /maintenance/photos/remont-forsunok
  include /contacts
