extends /layout.pug

block variables
  - var name = 'main_high main_5-series';
  - var section = 'Вид работ';
  - var title = 'Замена масел в BMW&nbsp;5&nbsp;серии';
  - var models = 'G30/G31, F90, F10/F11/F07, E60/E61, E39';
  - var seoTitle = 'Замена масел в BMW 5 серии (' + models + ') в Москве | Автосервис BMW «FGSEVER»';
  - var subtitle = 'Услуги по замене масел в автоматической коробке переключения передач (АКПП), редукторах и раздаточной коробке автомобилей BMW 5&nbsp;серии в Москве. Мы выполним все необходимые работы по обслуживанию вашего автомобиля и ответим на все интересующие вас вопросы.';
  - var path = {'/services/': 'Услуги', '/services/maintenance/': 'Техническое обслуживание BMW', '/services/maintenance/5-series/': '5&nbsp;серия', '': 'Замена масел'};
  - var button = ['popup', '#maintenance-appointment', 'Записаться'];

block content
  +main({ name, path, section, title, subtitle, button, models })
  include /maintenance/description/oil-change
  section.prices
    .wrapper
      .titles
        .overtitle Об услуге
        h2 Стоимость
      .block
        .table-wrapper
          .table
            table
              tr.table-header
                td Услуга
                td Стоимость
              tr
                td Замена масла в АКПП (Включая расходные материалы)
                td <? echo format_price($workPrices['1-series']['gearBoxOilWithMaterials']) ?>
              tr
                td Замена масла в переднем редукторе
                td <? echo format_price($workPrices['1-series']['frontAxleFinalDriveOil']) ?> (+ <? echo format_price($prices['finalDriveOil']['price']) ?> за литр масла)
              tr
                td Замена масла в заднем редукторе
                td <? echo format_price($workPrices['1-series']['rearAxleFinalDriveOil']) ?> (+ <? echo format_price($prices['finalDriveOil']['price']) ?> за литр масла)
              tr
                td Замена масла в раздаточной коробке
                td <? echo format_price($workPrices['1-series']['transferCaseOil']) ?> (+ <? echo format_price($prices['transferBoxOil']['price']) ?> за литр масла)
  include /maintenance/photos/oil-change
  include /about/advantages
  +about
  include /contacts
