extends /empty-layout.pug

block variables
  - var name = 'main_maintenance';
  - var section  = 'Служебная страница';
  - var title = 'Калькулятор ТО';
  - var seoTitle = title + ' | Автосервис BMW «FGSEVER»';
  - var subtitle = 'Калькулятор для расчёта стоимости проведения технического обслуживания (ТО) с указанием номеров запчастей.';
  - var path = {'': title};

block content
  include /maintenance/calculator
