extends /layout.pug

block variables
  - var name = 'main_steering';
  - var section = 'Направление';
  - var title = 'Ремонт ГУРа BMW и замена в Москве';
  - var seoTitle = `Ремонт ГУРа БМВ в Москве | Цена ремонта гидроусилителя руля в профильном сервисе BMW`;
  - var subtitle = `Ремонт усилителей руля БМВ и замена в Москве (СВАО). Авторизованный автосервис FGSEVER осуществляет ремонт ГУРа BMW с 2014 года по цене ниже дилерских сервисов!`;
  - var path = {'/services/': 'Услуги', '': 'Ремонт ГУР'};
  - var button = ['popup', '#steering-appointment', 'Записаться'];
  - var image = '/models/5-series/g30-original.png';

block content
  +main({ name, path, section, title, subtitle, button, image })
  section.description
    .wrapper
      .titles
        .overtitle Об услуге
        h2 Ремонт гидроусилителя руля БМВ
      .block
        .icon.information-color
        h3 Когда нужен ремонт ГУРа БМВ
        p Высокая стоимость узла в сборе вынуждает владельца рассмотреть ремонт гидроусилителя руля BMW в качестве альтернативы полной замене на новый или Б/У (кот в мешке). При диагностировании отказа ГУРа в подавляющем числе случаев причиной поломки будет являться либо ремень с натяжными роликами, либо заклинивший/подклинивающий насос, либо веденый вал с текущими сальниками. В редких случаях нужна замена шланга высокого давления ГУР. 
        p Поэтому после дефектовки усилителя руля и определения виновника, достаточно выполнить ремонт ГУР BMW путем замены только вышедших из строя деталей, чем значительно сэкономить бюджет.
        h3 Как определить необходимость ремонта усилителей руля БМВ
        p Симптомы неисправности очень явные и спутать их с чем-то другим практически нереально.
        ul
          li Если руль при парковке стал тяжело крутится, то скорее всего вам потребуется замена натяжного механизма ГУР вместе с ремнем;
          li Если наблюдаются подклинивания рулевого колеса при поворотах, без явного треска и куда-то уходит АТФ, то скорее всего нужна замена подшипника в насосе ГУР и сальников;
          li Если руль стал неимоверно тяжелым и легкость поворотов не восстанавливается, то скорее всего умер насос гидроусилителя руля или оборвался ремень.
        h3 Как проходит диагностика и ремонт гидроусилителей БМВ в FGSEVER в Москве
        p Предварительно ГУР БМВ диагностируется визуально. Организовывается доступ к вероятному виновнику неисправности, поворачивается руль и мастер оценивает работу механизмов. При выявлении некорректной работы, ГУР снимают и переходят к дефектовке с разбором. Последующий ремонт ГУРа БМВ выполняется с использованием ремкомплекта ротора и обоймы насоса или иных комплектов запчастей в зависимости от причины поломки.
  section.prices
    .wrapper
      .titles
        .overtitle Об услуге
        h2 Цена ремонта гидроусилителя БМВ
      .block
        .table-wrapper
          .table
            table
              tr.table-header
                td Услуга
                td Цена
              tr 
                td Капитальный ремонт ГУРа БМВ
                td от 5 000 ₽
              tr 
                td Ремонт насоса ГУР БМВ
                td Рассчитывается индивидуально, в зависимости от сложности ремонта
              tr 
                td Полная замена гидроусилителя руля БМВ
                td от 5 000 ₽
              tr 
                td Замена роликов и сальников ГУР
                td 
              tr 
                td Замена магистралей высокого давления
                td 
              tr 
                td Замена шкива ГУР
                td 
              tr 
                td Замена ремня привода ГУР
                td 
  include /maintenance/photos/remont-gur
  include /contacts
