extends /layout.pug

block variables
  - var name = 'main_coding';
  - var section = 'Направление';
  - var title = 'Обновление прошивки и кодирование опций BMW в Москве';
  - var seoTitle = 'Программирование блоков БМВ в Москве | Обновление прошивки и тюнинг ';
  - var subtitle = 'Обновление прошивки БМВ и кодирование опций в Москве (СВАО). Авторизованный автосервис FGSEVER осуществляет программирование блоков управления BMW с 2014 года по цене ниже дилерских сервисов!';
  - var path = {'/services/': 'Услуги', '': title};


block content
  +main({ name, path, section, title, subtitle })
  include /coding/series
  include /contacts
