mixin about({ h1 } = {})
  section.about
    .wrapper
      .columns
        .col-md-8
          .titles
            .overtitle О нас
            if h1
              h1 Авторизованный сервис BMW в Москве «FGSEVER»
            else 
              h2 Авторизованный сервис BMW в Москве «FGSEVER»
            .subtitle
              p Мы с 2014 года специализируемся на автомобилях BMW (БМВ), являемся большими поклонниками этой немецкой марки и работаем с её автомобилями каждый день. Ранее наш автосервис был известен под именем «BMW-SEVER». Оказываем следующие услуги:
              ul
                li регламентное техническое обслуживание (ТО);
                li дооснащение F и G серий заводскими оригинальными опциями;
                li тюнинг и установка дополнительного оборудования;
                li кодирование, обновление ПО и карт навигации;
                li ремонт автомобиля, от двигателя до кузовного ремонта.
              p Также мы ведём #[a.link(href='https://www.drive2.ru/o/FGSever' onclick="ym(56693602,'reachGoal','drive2'); return true;") блог на портале DRIVE2.RU] и публикуем видео с интересными проектами на нашем #[a.link(href='https://www.youtube.com/channel/UCKmY606nJQvfmTJERgho6Pg' onclick="ym(56693602,'reachGoal','youtube'); return true;") YouTube-канале]. Вы можете подписаться и наблюдать за работами нашего автосервиса.
            a.button-simple(href='/about/') Читать подробнее
        .col-md-4
          .image
            img(src='/images/about/certificate-min.jpg' srcset='/images/about/certificate-min@2x.jpg')