section.photos.instagram
  .wrapper
    .titles
      a.overtitle(href='https://www.instagram.com/fgsever/' onclick="ym(56693602,'reachGoal','instagram'); return true;") Наш Instagram @fgsever
      h2 Как мы работаем
    .columns.instagram-feed
      .col-4.col-md-3.col-lg-2
        a.photo(href='https://www.instagram.com/p/CUAeHgJMvK6/')
          img(src='/images/instagram/1-min.jpg' srcset='/images/instagram/1-min@2x.jpg 1.5x')
      .col-4.col-md-3.col-lg-2
        a.photo(href='https://www.instagram.com/p/CFMFpP2nS62/')
          img(src='/images/instagram/2-min.jpg' srcset='/images/instagram/2-min@2x.jpg 1.5x')
      .col-4.col-md-3.col-lg-2
        a.photo(href='https://www.instagram.com/p/CT_0qCzLI_4/')
          img(src='/images/instagram/3-min.jpg' srcset='/images/instagram/3-min@2x.jpg 1.5x')
      .col-4.col-md-3.col-lg-2
        a.photo(href='https://www.instagram.com/p/CNdG-JjLffV/')
          img(src='/images/instagram/4-min.jpg' srcset='/images/instagram/4-min@2x.jpg 1.5x')
      .col-4.col-md-3.col-lg-2
        a.photo(href='https://www.instagram.com/p/CNS1F-Mr7QO/')
          img(src='/images/instagram/5-min.jpg' srcset='/images/instagram/5-min@2x.jpg 1.5x')
      .col-4.col-md-3.col-lg-2
        a.photo(href='https://www.instagram.com/p/CI-hDjaLm47/')
          img(src='/images/instagram/6-min.jpg' srcset='/images/instagram/6-min@2x.jpg 1.5x')
      .col-4.col-md-3.col-lg-2
        a.photo(href='https://www.instagram.com/p/CI0Gg4QHwYd/')
          img(src='/images/instagram/7-min.jpg' srcset='/images/instagram/7-min@2x.jpg 1.5x')
      .col-4.col-md-3.col-lg-2
        a.photo(href='https://www.instagram.com/p/CE4XfFMnGf4/')
          img(src='/images/instagram/8-min.jpg' srcset='/images/instagram/8-min@2x.jpg 1.5x')
      .col-4.col-md-3.col-lg-2
        a.photo(href='https://www.instagram.com/p/CEMLWVeKYUM/')
          img(src='/images/instagram/9-min.jpg' srcset='/images/instagram/9-min@2x.jpg 1.5x')
      .col-4.col-md-3.col-lg-2
        a.photo(href='https://www.instagram.com/p/CAiC_wmoYHJ/')
          img(src='/images/instagram/10-min.jpg' srcset='/images/instagram/10-min@2x.jpg 1.5x')
      .col-4.col-md-3.col-lg-2
        a.photo(href='https://www.instagram.com/p/B_cbEgJIODo/')
          img(src='/images/instagram/11-min.jpg' srcset='/images/instagram/11-min@2x.jpg 1.5x')
      .col-4.col-md-3.col-lg-2
        a.photo(href='https://www.instagram.com/p/B80hQSlh4fu/')
          img(src='/images/instagram/12-min.jpg' srcset='/images/instagram/12-min@2x.jpg 1.5x')