<? require($_SERVER['DOCUMENT_ROOT'] . '/scripts/php/antibot.php'); ?>
include functions
include mixins
block variables
doctype html
html(lang="ru")
  include meta
body
  include header
  block content
  include footer
