.menu__item.highlighted 
  a(href='/services/ac-refueling/') Заправка кондиционеров
.menu__item
  a(href='/') Главная
.menu__item
  a(href='/services/') Услуги
  .submenu
    .columns
      .col-md-4
        .submenu__section
          a.submenu__title(href='/services/maintenance/')
            span Техническое обслуживание
          a.submenu__item(href='/services/maintenance/zamena-masla-bmw/') Замена масла
          a.submenu__item(href='/services/maintenance/zamena-tormoznyh-diskov-i-kolodok-bmw/') Замена тормозных дисков и колодок
          a.submenu__item(href='/services/maintenance/zamena-tormoznoy-zhidkosti-i-ohlazhdayushchey-bmw/') Замена тормозной жидкости и охлаждающей
          a.submenu__item(href='/services/maintenance/suspension-repair/') Диагностика и ремонт подвески
          a.submenu__item(href='/services/maintenance/car-diagnostics/') Диагностика автомобиля
          a.submenu__item(href='/services/maintenance/radiators-wash/') Мойка радиаторов
          a.submenu__item(href='/services/maintenance/computer-diagnostics/') Компьютерная диагностика
          a.submenu__item(href='/services/maintenance/electrical-repair/') Ремонт электрооборудования
          a.submenu__item(href='/services/maintenance/intake-manifold-cleaning/') Чистка и мойка впускного коллектора
          a.submenu__item(href='/services/maintenance/wheel-alignment/') Сход-развал
        .submenu__section
          a.submenu__title(href='/services/remont/')
            span Ремонт
          a.submenu__item(href='/services/remont/zamena-cepi-grm/') Замена цепи ГРМ
          a.submenu__item(href='/services/remont/remont-bublika/') Ремонт гидротрансформаторов
          a.submenu__item(href='/services/remont/remont-rulevyh-reek/') Ремонт рулевых реек
          a.submenu__item(href='/services/remont/remont-turbin/') Ремонт турбин
      .col-md-4
        .submenu__section
          a.submenu__title(href='/services/russification/')
            span Русификация
          a.submenu__item(href='/services/russification/') Русификация автомобилей
        .submenu__section
          a.submenu__title(href='/services/upgrade/')
            span Дооснащение
          a.submenu__item(href='/services/upgrade/f-series/') F серия (F01/F02, F10, F30, F20, ...)
          a.submenu__item(href='/services/upgrade/g-series/') G серия (G11/G12, G30, G20, G01/G02, ...)
        .submenu__section
          a.submenu__title(href='/services/diagnostika-bmw/')
            span Диагностика
          a.submenu__item(href='/services/diagnostika-bmw/') Диагностика автомобиля
        .submenu__section
          a.submenu__title(href='/services/remont-akpp-i-razdatochnyh-korobok-bmw/')
            span Ремонт АКПП и раздаточных коробок
          a.submenu__item(href='/services/remont-akpp-i-razdatochnyh-korobok-bmw/') Ремонт АКПП
          a.submenu__item(href='/services/remont-akpp-i-razdatochnyh-korobok-bmw/remont-reduktora/') Ремонт редукторов
        .submenu__section
          a.submenu__title(href='/services/remont-dvigateley-bmw/')
            span Ремонт двигателей
          a.submenu__item(href='/services/remont-dvigateley-bmw/engire-repair/') Диагностика и ремонт ДВС
          a.submenu__item(href='/services/remont-dvigateley-bmw/engine-replacement/') Замена ДВС (СВАП)
        //- .submenu__section
          a.submenu__title(href='/services/body-repair/')
            span Кузовной ремонт
          a.submenu__item(href='/services/body-repair/car-painting/') Покрасочные работы
          a.submenu__item(href='/services/body-repair/local-painting/') Локальный окрас
          a.submenu__item(href='/services/body-repair/body-works/') Жестяные работы
          a.submenu__item(href='/services/body-repair/corrosion-protection/') Антикоррозийные работы
          a.submenu__item(href='/services/body-repair/polishing/') Полировка
      .col-md-4
        .submenu__section
          a.submenu__title(href='/services/car-wash/')
            span Мойка
          a.submenu__item(href='/services/car-wash/') Мойка автомобиля
        .submenu__section
          a.submenu__title(href='/services/coding/')
            span Кодирование опций
          a.submenu__item(href='/services/coding/f-series/') F серия (F01/F02, F10, F30, F20, ...)
          a.submenu__item(href='/services/coding/g-series/') G серия (G11/G12, G30, G20, G01/G02, ...)
        .submenu__section
          a.submenu__title(href='/services/update/')
            span Обновление ПО и карт навигации
          a.submenu__item(href='/services/update/') Полное обновление ПО автомобиля
          a.submenu__item(href='/services/update/') Обновление отдельных ЭБУ
          a.submenu__item(href='/services/update/') Восстановление опций после обновления ПО
          a.submenu__item(href='/services/update/') Обновление карт навигации
        .submenu__section
          a.submenu__title(href='/services/ac-refueling/')
            span Диагностика и заправка кондиционеров
          a.submenu__item(href='/services/ac-refueling/') Полная диагностика системы кондиционирования
          a.submenu__item(href='/services/ac-refueling/') Проверка герметичности и определение утечек
          a.submenu__item(href='/services/ac-refueling/') Плановое обслуживание системы
          a.submenu__item(href='/services/ac-refueling/') Заправка кондиционера хладагентом и маслом
.menu__item
  a(href='/search-parts/') Запчасти
.menu__item
  a(href='/blog/') Блог
.menu__item
  a(href='/about/') О нас
//- .menu__item
//-   a(href='/contacts/') Контакты
.menu__button
  a(data-fancybox data-src="#claim" data-touch="false") Претензия
