//- .menu__item.highlighted 
//-   a(href='/services/ac-refueling/') Заправка кондиционеров
.menu__item
  a(href='/') Главная
.menu__item
  a(href='/services/') Услуги
  .submenu
    .columns
      .col-md-4
        .submenu__section
          a.submenu__title(href='/services/maintenance/')
            span Техническое обслуживание
          .columns
            .col-6
              a.submenu__item(href='/services/maintenance/1-series/') 1 серия
              a.submenu__item(href='/services/maintenance/2-series/') 2 серия
              a.submenu__item(href='/services/maintenance/3-series/') 3 серия
              a.submenu__item(href='/services/maintenance/4-series/') 4 серия
              a.submenu__item(href='/services/maintenance/5-series/') 5 серия
              a.submenu__item(href='/services/maintenance/6-series/') 6 серия
              a.submenu__item(href='/services/maintenance/7-series/') 7 серия
              a.submenu__item(href='/services/maintenance/8-series/') 8 серия
            .col-6
              a.submenu__item(href='/services/maintenance/x1/') X1
              a.submenu__item(href='/services/maintenance/x2/') X2
              a.submenu__item(href='/services/maintenance/x3/') X3
              a.submenu__item(href='/services/maintenance/x4/') X4
              a.submenu__item(href='/services/maintenance/x5/') X5
              a.submenu__item(href='/services/maintenance/x6/') X6
              a.submenu__item(href='/services/maintenance/x7/') X7
              a.submenu__item(href='/services/maintenance/z4/') Z4
      .col-md-4
        .submenu__section
          a.submenu__title(href='/services/upgrade/')
            span Дооснащение
          a.submenu__item(href='/services/upgrade/f-series/') F серия (F01/F02, F10, F30, F20, ...)
          a.submenu__item(href='/services/upgrade/g-series/') G серия (G11/G12, G30, G20, G01/G02, ...)
        .submenu__section
          a.submenu__title(href='/services/coding/')
            span Кодирование опций
          a.submenu__item(href='/services/coding/f-series/') F серия (F01/F02, F10, F30, F20, ...)
          a.submenu__item(href='/services/coding/g-series/') G серия (G11/G12, G30, G20, G01/G02, ...)
        .submenu__section
          a.submenu__title(href='/services/body-repair/')
            span Кузовной ремонт
          a.submenu__item(href='/services/body-repair/car-painting/') Покрасочные работы
          a.submenu__item(href='/services/body-repair/local-painting/') Локальный окрас
          a.submenu__item(href='/services/body-repair/body-works/') Жестяные работы
          a.submenu__item(href='/services/body-repair/corrosion-protection/') Антикоррозийные работы
          a.submenu__item(href='/services/body-repair/polishing/') Полировка
      .col-md-4
        .submenu__section
          a.submenu__title(href='/services/update/')
            span Обновление ПО и карт навигации
          a.submenu__item(href='/services/update/') Полное обновление ПО автомобиля
          a.submenu__item(href='/services/update/') Обновление отдельных ЭБУ
          a.submenu__item(href='/services/update/') Восстановление опций после обновления ПО
          a.submenu__item(href='/services/update/') Обновление карт навигации
        .submenu__section
          a.submenu__title(href='/services/ac-refueling/')
            span Диагностика и заправка кондиционеров
          a.submenu__item(href='/services/ac-refueling/') Полная диагностика системы кондиционирования
          a.submenu__item(href='/services/ac-refueling/') Проверка герметичности и определение утечек
          a.submenu__item(href='/services/ac-refueling/') Плановое обслуживание системы
          a.submenu__item(href='/services/ac-refueling/') Заправка кондиционера хладагентом и маслом
.menu__item
  a(href='/blog/') Блог
.menu__item
  a(href='/about/') О нас
.menu__item
  a(href='/contacts/') Контакты
.menu__button
  a(data-fancybox data-src="#claim" data-touch="false") Претензия
