.overlay-buttons
  a.overlay-buttons__whatsapp.button.icon.whatsapp-white(href='https://wa.me/79039760045' onclick="ym(56693602,'reachGoal','whatsapp'); return true;") #[span Запись по] WhatsApp
  .overlay-buttons__maintenance-calculator
    .button.icon.calculator-white Рассчитать ТО по VIN
    .block
      .icon.calculator-color
      .subtitle Рассчитать стоимость техобслуживания вашего автомобиля по VIN.
      a.button-simple(href='/services/maintenance/#maintenance-calculator') Рассчитать