.special-buttons.hidden
  .close-button.icon.menu-white
  .buttons
    a.button.button_whatsapp(href='https://wa.me/79039760045' onclick="ym(56693602,'reachGoal','whatsapp'); return true;") Перейти в WhatsApp
    a.button.button_calculator(href='/services/maintenance/#maintenance-calculator') Рассчитать ТО по VIN
    a.button.button_calculator(href='/services/upgrade/#upgrade-calculator') Дооснащение по VIN