script(src='/scripts/javascript/libraries.js')
script(src='/scripts/javascript/appointment.js?' + time)
script(src='/scripts/javascript/claim.js?' + time)
script(src='/scripts/javascript/coding.js?' + time)
script(src='/scripts/javascript/footer.js?' + time)
script(src='/scripts/javascript/header.js?' + time)
script(src='/scripts/javascript/instagram.js?' + time)
script(type="module" src='/scripts/javascript/maintenance-calculator.js?' + time)
script(src='/scripts/javascript/photos.js?' + time)
script(type="module" src='/scripts/javascript/search-parts.js?' + time)
script(src='/scripts/javascript/services.js?' + time)
script(src='/scripts/javascript/sliders.js?' + time)
script(src='/scripts/javascript/spoilers.js?' + time)
script(src='/scripts/javascript/survey.js?' + time)
script(src='/scripts/javascript/tabs.js?' + time)
script(type="module" src='/scripts/javascript/upgrade-calculator.js?' + time)
script(src='/scripts/javascript/yandex-metrika.js?' + time)
