.label Выберите модель:
.car-models
  a(href='/services/1-series/') 1
  a(href='/services/2-series/') 2
  a(href='/services/3-series/') 3
  a(href='/services/4-series/') 4
  a(href='/services/5-series/') 5
  a(href='/services/6-series/') 6
  a(href='/services/7-series/') 7
  a(href='/services/8-series/') 8
  a(href='/services/x1/') X1
  a(href='/services/x2/') X2
  a(href='/services/x3/') X3
  a(href='/services/x4/') X4
  a(href='/services/x5/') X5
  a(href='/services/x6/') X6
  a(href='/services/x7/') X7
  a(href='/services/z4/') Z4