mixin services({ suffix } = {})
  - suffix = suffix || '';
  section.services
    .wrapper
      .titles
        .overtitle Наши услуги
        h2 Основные направления
      .columns
        .col-lg-6
          .services-item
            .services-item__content
              .services-item__text
                .icon.maintenance-color
                .services-item__title
                  h3 Техническое обслуживание
                .subtitle.services-item__subtitle
                  a.services-item__list-item(href='/services/maintenance/zamena-masla-bmw/' + suffix) Замена масла (двигатель, АКПП, редукторы и раздаточная коробка)
                  a.services-item__list-item(href='/services/maintenance/zamena-tormoznyh-diskov-i-kolodok-bmw/' + suffix) Замена тормозных дисков и колодок
                  a.services-item__list-item(href='/services/maintenance/zamena-tormoznoy-zhidkosti-i-ohlazhdayushchey-bmw/' + suffix) Замена тормозной жидкости и охлаждающей
                  a.services-item__list-item(href='/services/maintenance/suspension-repair/' + suffix) Диагностика и ремонт подвески
                  a.services-item__list-item(href='/services/maintenance/engine-repair/' + suffix) Диагностика и ремонт ДВС
                  a.services-item__list-item(href='/services/maintenance/engine-replacement/' + suffix) Замена ДВС (СВАП)
                  a.services-item__list-item(href='/services/maintenance/car-diagnostics/' + suffix) Диагностика автомобиля
                  a.services-item__list-item(href='/services/maintenance/radiators-wash/' + suffix) Мойка радиаторов
                  a.services-item__list-item(href='/services/maintenance/computer-diagnostics/' + suffix) Компьютерная диагностика
                  a.services-item__list-item(href='/services/maintenance/electrical-repair/' + suffix) Ремонт электрооборудования
                  a.services-item__list-item(href='/services/maintenance/intake-manifold-cleaning/' + suffix) Чистка и мойка впускного коллектора
              a.button-simple(href='/services/maintenance/' + suffix) Подробнее
        .col-lg-6
          a.services-item(href='/services/upgrade/')
            .services-item__content
              .services-item__text
                .icon.upgrade-color
                .services-item__title
                  h3 Дооснащение
                .subtitle.services-item__subtitle
                  .services-item__list-item Мультимедийная система NBT EVO
                  .services-item__list-item LED дисплей комбинации приборов
                  .services-item__list-item Проекционный дисплей на лобовое стекло
                  .services-item__list-item Камера для чтения дорожных знаков (KAFAS)
                  .services-item__list-item Активный круиз контроль (ACC)
                  .services-item__list-item Ассистент вождения (Plus)
                  .services-item__list-item Камера заднего вида, система кругового обзора
                  .services-item__list-item Ассистент парковки (Plus)
                  .services-item__list-item Комфортный доступ
                  .services-item__list-item Комфортные сиденья с памятью положений/массажем/вентиляцией
                  //- .services-item__list-item Керамическая отделка органов управления
                  .services-item__list-item Система ночного видения
              .button-simple Подробнее
        .col-lg-4
          .services-item
            .services-item__content
              .services-item__text
                .icon.repair-color
                .services-item__title
                  h3 Ремонт
                .subtitle.services-item__subtitle
                  a.services-item__list-item(href='/services/remont/zamena-cepi-grm/' + suffix) Замена цепи ГРМ
                  a.services-item__list-item(href='/services/remont/remont-bublika/' + suffix) Ремонт гидротрансформаторов
                  a.services-item__list-item(href='/services/remont/remont-rulevyh-reek/' + suffix) Ремонт рулевых реек
                  a.services-item__list-item(href='/services/remont/remont-turbin/' + suffix) Ремонт турбин
              a.button-simple(href='/services/remont/' + suffix) Подробнее
        .col-lg-4
          .services-item
            .services-item__content
              .services-item__text
                .icon.diagnostics-color
                .services-item__title
                  h3 Диагностика
                .subtitle.services-item__subtitle
                  .services-item__list-item Комплексная диагностика
                  .services-item__list-item Диагностика автомобиля
                  .services-item__list-item Компьютерная диагностика
                  .services-item__list-item Диагностика двигателя
              a.button-simple(href='/services/diagnostika-bmw/' + suffix) Подробнее
        .col-lg-4
          .services-item
            .services-item__content
              .services-item__text
                .icon.gearbox-color
                .services-item__title
                  h3 Ремонт АКПП и раздаточных коробок
                .subtitle.services-item__subtitle
                  a.services-item__list-item(href='/services/remont-akpp-i-razdatochnyh-korobok-bmw/' + suffix) Ремонт АКПП
                  a.services-item__list-item(href='/services/remont-akpp-i-razdatochnyh-korobok-bmw/remont-reduktora/' + suffix) Ремонт редукторов
              a.button-simple(href='/services/remont-akpp-i-razdatochnyh-korobok-bmw/' + suffix) Подробнее
        .col-lg-4
          a.services-item(href='/services/remont-dvigateley-bmw/' + suffix)
            .services-item__content
              .services-item__text
                .icon.engine-color
                .services-item__title
                  h3 Ремонт двигателей
                .subtitle.services-item__subtitle
                  .services-item__list-item Ремонт двигателей
                  .services-item__list-item Замена двигателей
                  .services-item__list-item Ремонт головки блока цилиндров (ГБЦ)
              .button-simple Подробнее
        .col-lg-4
          a.services-item(href='/services/remont-forsunok-bmw/' + suffix)
            .services-item__content
              .services-item__text
                .icon.injector-color
                .services-item__title
                  h3 Ремонт форсунок
                .subtitle.services-item__subtitle
                  .services-item__list-item Ремонт форсунок
                  .services-item__list-item Ремонт дизельных форсунок
                  .services-item__list-item Замена форсунок
              .button-simple Подробнее
        .col-lg-4
          a.services-item(href='/services/remont-gur-bmw/' + suffix)
            .services-item__content
              .services-item__text
                .icon.steering-color
                .services-item__title
                  h3 Ремонт ГУР
                .subtitle.services-item__subtitle
                  .services-item__list-item Ремонт ГУР
                  .services-item__list-item Ремонт гидроусилителя руля
                  .services-item__list-item Ремонт насоса ГУР
              .button-simple Подробнее
        .col-lg-4
          a.services-item(href='/services/remont-far-bmw/' + suffix)
            .services-item__content
              .services-item__text
                .icon.headlights-color
                .services-item__title
                  h3 Ремонт фар и фонарей
                .subtitle.services-item__subtitle
                  .services-item__list-item Ремонт фар
                  .services-item__list-item Восстановление фар
                  .services-item__list-item Ремонт задних фонарей
              .button-simple Подробнее
        .col-lg-4
          a.services-item(href='/services/diagnostika-podveski-bmw/' + suffix)
            .services-item__content
              .services-item__text
                .icon.suspension-color
                .services-item__title
                  h3 Диагностика и ремонт подвески
                .subtitle.services-item__subtitle
                  .services-item__list-item Диагностика подвески
                  .services-item__list-item Ремонт подвески
                  .services-item__list-item Ремонт амортизаторов
              .button-simple Подробнее
        .col-lg-8
          a.services-item(href='/services/coding/')
            .services-item__content
              .services-item__text
                .icon.coding-color
                .services-item__title
                  h3 Кодирование опций
                .subtitle.services-item__subtitle
                  .columns
                    .col-lg-6
                      .services-item__list-item Отображение информации о температуре в шинах
                      .services-item__list-item Запоминание последнего состояния системы автоматического запуска и остановки двигателя
                      .services-item__list-item Возможность автоматического закрытия окна при открытой двери
                      .services-item__list-item Увеличение яркости или отключение дневных ходовых огней (ДХО)
                      //- .services-item__list-item Подсветка ручек дверей при движении задним ходом
                    .col-lg-6
                      .services-item__list-item Отвязка подсветки салона от колесика яркости комбинации приборов
                      .services-item__list-item Выключение противотуманных фар при активации дальнего света
                      .services-item__list-item Настройка режима работы стеклоочистителей и омывателей фар
                      .services-item__list-item Отображения спортивных приборов
                      //- .services-item__list-item Вопроизведение видео с USB-накопителей
              .button-simple Подробнее
        .col-lg-4
          .services-item
            .services-item__content
              .services-item__text
                .icon.body-repair-color
                .services-item__title
                  h3 Кузовной ремонт
                .subtitle.services-item__subtitle
                  a.services-item__list-item(href='/services/body-repair/car-painting/') Покрасочные работы 
                  .services-item__list-item Локальный окрас
                  .services-item__list-item Жестяные работы
                  .services-item__list-item Антикоррозийные работы
                  a.services-item__list-item(href='/services/body-repair/polishing/') Полировка
              a.button-simple(href='/services/body-repair/') Подробнее
        .col-lg-4
          a.services-item(href='/services/update/')
            .services-item__content
              .services-item__text
                .icon.update-color
                .services-item__title
                  h3 Обновление ПО и карт навигации
                .subtitle.services-item__subtitle
                  .services-item__list-item Обновление программного обеспечения автомобиля (ПО)
                  .services-item__list-item Полная перепрошивка программного обеспечения
                  .services-item__list-item Обновление отдельных электронных блоков управления (ЭБУ)
                  .services-item__list-item Обновление карт навигации
              .button-simple Подробнее
        .col-lg-4
          a.services-item(href='/services/ac-refueling/')
            .services-item__content
              .services-item__text
                .icon.ac-refueling-color
                .services-item__title
                  h3 Диагностика и заправка кондиционеров
                .subtitle.services-item__subtitle
                  .services-item__list-item Полная диагностика системы кондиционирования 
                  .services-item__list-item Проверка герметичности и определение утечек
                  .services-item__list-item Плановое обслуживание системы
                  .services-item__list-item Заправка кондиционера хладагентом и маслом
              .button-simple Подробнее