mixin services({ prefix })
  - prefix = prefix !== undefined ? prefix : '/services/'
  section.services
    .wrapper
      .titles
        .overtitle Наши услуги
        h2 Основные направления
      .columns
        .col-lg-6
          a.services-item(href=prefix+'maintenance/')
            .services-item__content
              .services-item__text
                .icon.maintenance-color
                .services-item__title
                  h3 Техническое обслуживание
                .subtitle.services-item__subtitle
                  .services-item__list-item Диагностика и ремонт подвески
                  .services-item__list-item Замена масел в АКПП, редукторах и раздаточной коробке
                  .services-item__list-item Замена технических жидкостей (тормозной и охлаждающей жидкостей)
                  .services-item__list-item Замена цепи ГРМ
                  .services-item__list-item Диагностика и ремонт ДВС
                  .services-item__list-item Замена ДВС (СВАП)
                  .services-item__list-item Диагностика автомобиля
                  .services-item__list-item Мойка радиаторов
                  .services-item__list-item Компьютерная диагностика
                  .services-item__list-item Ремонт электрооборудования
                  .services-item__list-item Ремонт рулевой рейки (в том числе замена болтов)
                  .services-item__list-item Замена тормозных дисков и колодок
                  .services-item__list-item Чистка и мойка впускного коллектора
              .button-simple Подробнее
        .col-lg-6
          a.services-item(href='/services/upgrade/')
            .services-item__content
              .services-item__text
                .icon.upgrade-color
                .services-item__title
                  h3 Дооснащение
                .subtitle.services-item__subtitle
                  .services-item__list-item Мультимедийная система NBT EVO
                  .services-item__list-item LED дисплей комбинации приборов
                  .services-item__list-item Проекционный дисплей на лобовое стекло
                  .services-item__list-item Камера для чтения дорожных знаков (KAFAS)
                  .services-item__list-item Активный круиз контроль (ACC)
                  .services-item__list-item Ассистент вождения (Plus)
                  .services-item__list-item Камера заднего вида
                  .services-item__list-item Система кругового обзора
                  .services-item__list-item Ассистент парковки (Plus)
                  .services-item__list-item Комфортный доступ
                  .services-item__list-item Комфортные сиденья с памятью положений/массажем/вентиляцией
                  .services-item__list-item Керамическая отделка органов управления
                  .services-item__list-item Система ночного видения
              .button-simple Подробнее
        .col-lg-6
          a.services-item(href='/services/coding/')
            .services-item__content
              .services-item__text
                .icon.coding-color
                .services-item__title
                  h3 Кодирование опций
                .subtitle.services-item__subtitle
                  .services-item__list-item Отображение информации о температуре в шинах
                  .services-item__list-item Запоминание последнего состояния системы автоматического запуска и остановки двигателя
                  .services-item__list-item Возможность автоматического закрытия окна при открытой двери
                  .services-item__list-item Увеличение яркости или отключение дневных ходовых огней (ДХО)
                  .services-item__list-item Подсветка ручек дверей при движении задним ходом
                  .services-item__list-item Отвязка подсветки салона от колесика яркости комбинации приборов
                  .services-item__list-item Выключение противотуманных фар при активации дальнего света
                  .services-item__list-item Настройка режима работы стеклоочистителей и омывателей фар
                  .services-item__list-item Отображения спортивных приборов
                  .services-item__list-item Вопроизведение видео с USB-накопителей
              .button-simple Подробнее
        .col-lg-6
          a.services-item(href='/services/body-repair/')
            .services-item__content
              .services-item__text
                .icon.body-repair-color
                .services-item__title
                  h3 Кузовной ремонт
                .subtitle.services-item__subtitle
                  .services-item__list-item Покрасочные работы — покраска элементов кузова, полная покраска и замена цвета, покраска переходом и под прибор
                  .services-item__list-item Локальный окрас — устранение царапин и сколов с кузова автомобиля, покраска пятном и под прибор
                  .services-item__list-item Жестяные работы — восстановление геометрии кузова, стапельные и сварочные работы, замена элементов кузова
                  .services-item__list-item Антикоррозийные работы — антигравийная обработка порогов и днища, обработка скрытых полостей автомобиля, устранение коррозии
                  .services-item__list-item Полировка — восстановление ЛКП, полировка оптики и отдельных элементов кузова, нанесение жидкого стекла и керамики
              .button-simple Подробнее
        .col-lg-6
          a.services-item(href='/services/update/')
            .services-item__content
              .services-item__text
                .icon.update-color
                .services-item__title
                  h3 Обновление ПО и карт навигации
                .subtitle.services-item__subtitle
                  .services-item__list-item Обновление программного обеспечения автомобиля (ПО)
                  .services-item__list-item Полная перепрошивка программного обеспечения
                  .services-item__list-item Обновление отдельных электронных блоков управления (ЭБУ)
                  .services-item__list-item Обновление карт навигации
              .button-simple Подробнее
        .col-lg-6
          a.services-item(href='/services/ac-refueling/')
            .services-item__content
              .services-item__text
                .icon.ac-refueling-color
                .services-item__title
                  h3 Диагностика и заправка кондиционеров
                .subtitle.services-item__subtitle
                  .services-item__list-item Полная диагностика системы кондиционирования 
                  .services-item__list-item Проверка герметичности и определение утечек
                  .services-item__list-item Плановое обслуживание системы
                  .services-item__list-item Заправка кондиционера хладагентом и маслом
              .button-simple Подробнее