section.slider
  .slider-container
    .slider-item.slider-item__wheel-alignment
      .slider-item__background
      .slider-item__container
        .wrapper.slider-item__wrapper
          .slider-item__content
            .title Сход-развал
            .subtitle.subtitle_max-width Регулировка углов установки колес — развала, схождения и кастера, которые влияют на устойчивость и управляемость автомобиля на дороге, а также обеспечивают безопасное движение.
            .slider-item__buttons
              a.button-outline(href='/services/maintenance/wheel-alignment') Подробнее
              .button(data-fancybox data-src='#maintenance-appointment' data-touch='false') Записаться
    .slider-item.slider-item__russification
      .slider-item__background
      .slider-item__container
        .wrapper.slider-item__wrapper
          .slider-item__content
            .title 🇷🇺 Русификация автомобилей
            .subtitle.subtitle_max-width Добавление русского языка в меню, установка российских карт в систему навигации, адаптация единиц измерения температуры и давления колес, частоты радиостанций и системы считывания дорожных знаков.
            .slider-item__buttons
              a.button-outline(href='/services/russification') Подробнее
              .button(data-fancybox data-src='#russification-appointment' data-touch='false') Записаться
    .slider-item.slider-item__upgrade-calculator
      .slider-item__background
      .slider-item__container
        .wrapper.slider-item__wrapper
          .slider-item__content
            .title Калькулятор стоимости дооснащения по VIN
            .subtitle.subtitle_max-width Прямо на нашем сайте вы можете выбрать необходимые опции и рассчитать точную стоимость дооснащения вашего автомобиля по его идентификационному номеру (VIN)
            .slider-item__buttons
              a.button-outline(href='/services/upgrade/#upgrade-calculator') Перейти к калькулятору
              .button(data-fancybox data-src='#upgrade-appointment' data-touch='false') Записаться
    .slider-item.slider-item__maintenance
      .slider-item__background
      .slider-item__container
        .wrapper.slider-item__wrapper
          .slider-item__content
            .title Техническое обслуживание #[span.nowrap автомобилей BMW]
            .subtitle.subtitle_max-width Компьютерная диагностика, замена масел и технических жидкостей, замена цепи ГРМ, ремонт и замена ДВС, мойка радиаторов, ремонт электрооборудования, рулевой рейки, замена тормозных дисков и колодок
            .slider-item__buttons
              a.button-outline(href='/services/maintenance/#maintenance-calculator') Рассчитать стоимость по VIN
              .button(data-fancybox data-src='#maintenance-appointment' data-touch='false') Записаться
    .slider-item.slider-item__upgrade
      .slider-item__background
      .slider-item__container
        .wrapper.slider-item__wrapper
          .slider-item__content
            .title Дооснащение #[span.nowrap автомобилей BMW]
            .subtitle.subtitle_max-width Установка мультимедийной системы NBT EVO, LED дисплея комбинации приборов, камеры для чтения дорожных знаков (KAFAS), активного круиз контроля (ACC), камеры заднего вида, системы кругового обзора, системы комфортного доступа, комфортных сидений и других опций
            //- .subtitle
              ul
                .columns
                  .col-md-6
                    li Мультимедийная система NBT, EVO
                    li LED дисплей комбинации приборов
                    li Камера для чтения дорожных знаков (KAFAS)
                    li Активный круиз контроль (ACC)
                    li Камера заднего вида
                  .col-md-6
                    li Система кругового обзора
                    li Система комфортного доступа
                    li Комфортные сиденья с памятью положений/массажем/вентиляцией
                    li Керамическая отделка органов управления
                    li Система ночного видения
            .slider-item__buttons
              a.button-outline(href='/services/upgrade/') Выберите автомобиль
              .button(data-fancybox data-src='#upgrade-appointment' data-touch='false') Записаться
    .slider-item.slider-item__body-repair
      .slider-item__background
      .slider-item__container
        .wrapper.slider-item__wrapper
          .slider-item__content
            .title Кузовной ремонт #[span.nowrap автомобилей BMW]
            .subtitle.subtitle_max-width Покраска кузова и его элементов, замена цвета, локальный окрас, устранение царапин и сколов, восстановление геометрии кузова, антикоррозийные работы, восстановление ЛКП, полировка оптики и элементов кузова
            .slider-item__buttons
              a.button-outline(href='/services/body-repair/') Подробнее
              a.button(data-fancybox data-src='#body-repair-appointment' data-touch='false') Записаться
    .slider-item.slider-item__coding
      .slider-item__background
      .slider-item__container
        .wrapper.slider-item__wrapper
          .slider-item__content
            .title Кодирование опций #[span.nowrap на автомобилях BMW]
            .subtitle.subtitle_max-width Активация различных возможностей и изменение настроек вашего автомобиля — отключение сигнала о непристегнутом ремне, изменение цвета подсветки салона, добавление режима движения Sport+ и многое другое
            .slider-item__buttons
              a.button-outline(href='/services/coding/') Подробнее
              a.button(data-fancybox data-src='#coding-appointment' data-touch='false') Записаться