a.social-buttons__social-icon.icon.instagram-white(href='https://www.instagram.com/fgsever/' onclick="ym(56693602,'reachGoal','instagram'); return true;")
a.social-buttons__social-icon.icon.whatsapp-white(href='https://wa.me/79039760045' onclick="ym(56693602,'reachGoal','whatsapp'); return true;")
a.social-buttons__social-icon.drive2(href='https://www.drive2.ru/o/FGSever' onclick="ym(56693602,'reachGoal','drive2'); return true;")
  .icon.drive2-white
a.social-buttons__social-icon.icon.youtube-white(href='https://www.youtube.com/channel/UCKmY606nJQvfmTJERgho6Pg' onclick="ym(56693602,'reachGoal','youtube'); return true;")
