section.warning
  .wrapper
    h2 Внимание
    .subtitle Раздел дооснащения в настоящий момент наполняется и дорабатывается, поэтому некоторые фотографии и цены могут не соответствовать действительности.
