extends /layout.pug

block variables
  - var name = 'main_maintenance';
  - var section = 'Направление';
  - var title = 'Сервис BMW&nbsp;5';
  - var models = 'G30/G31';
  - var seoTitle = `${title} (${models}) в Москве | Автосервис BMW «FGSEVER»`;
  - var subtitle = `${title} (${models}) в Москве — техническое обслуживание, дооснащение, кодирование опций, кузовной ремонт, обновление ПО и карт навигации, диагностика и заправка кондиционеров.`;
  - var path = {'/services/': 'Услуги', '/services/5-series/': 'BMW 5', '': models};

block content
  +main(name, path, section, title, subtitle, button, models)
  include /services
  include /contacts
