extends /layout.pug

block variables
  - var name = 'main_high main_4-series';
  - var section = 'Вид работ';
  - var title = 'Замена ДВС (СВАП) в BMW&nbsp;4&nbsp;серии';
  - var models = 'F32/F33/F36, F82/F83';
  - var seoTitle = 'Замена ДВС (СВАП) в BMW 4 серии (' + models + ') в Москве | Автосервис BMW «FGSEVER»';
  - var subtitle = 'Услуги по замене двигателя (СВАП) и установке нового агрегата в автомобили BMW 4&nbsp;серии в Москве. Мы выполним все необходимые работы по обслуживанию вашего автомобиля и ответим на все интересующие вас вопросы.';
  - var path = {'/services/': 'Услуги', '/services/maintenance/': 'Техническое обслуживание BMW', '/services/maintenance/4-series/': '4&nbsp;серия', '': 'Замена ДВС (СВАП)'};
  - var button = ['popup', '#maintenance-appointment', 'Записаться'];

block content
  +main({ name, path, section, title, subtitle, button, models })
  include /maintenance/description/engine-replacement
  section.prices
    .wrapper
      .titles
        .overtitle Об услуге
        h2 Стоимость
      .block
        .table-wrapper
          .table
            table
              tr.table-header
                td Услуга
                td Стоимость
              tr 
                td Замена ДВС (СВАП двигателя)
                td Рассчитывается индивидуально, в зависимости от сложности работ
  include /maintenance/photos/engine-replacement
  include /about/advantages
  +about
  include /contacts
