section.models
  .wrapper
    .titles
      .overtitle Ваш автомобиль
      h2 Выберите модель
      .subtitle Вы можете выбрать модель вашего автомобиля из указанных ниже и ознакомиться с подробными ценами на ремонт и техническое обслуживание данных моделей.
    .columns
      .col-md-6.col-lg-4
        a.block(href='f40/')
          .text
            h3 1 серия (2019-н.в.)
            .overtitle F40
          img.image(src='/images/models/1-series/f40.png')
      .col-md-6.col-lg-4
        a.block(href='f20/')
          .text
            h3 1 серия (2011—2019)
            .overtitle F20/F21
          img.image(src='/images/models/1-series/f20.png')
      .col-md-6.col-lg-4
        a.block(href='e81/')
          .text
            h3 1 серия (2004—2013)
            .overtitle E81/E82/E87/E88
          img.image(src='/images/models/1-series/e81.png')
