section.models
  .wrapper
    .titles
      .overtitle Ваш автомобиль
      h2 Выберите модель
      .subtitle Вы можете выбрать модель вашего автомобиля из указанных ниже и ознакомиться с подробными ценами на ремонт и техническое обслуживание данных моделей.
    .columns
      .col-md-6.col-lg-4
        a.block(href='g42/')
          .text
            h3 2 серия (2021-н.в.)
            .overtitle G42
          img.image(src='/images/models/2-series/g42.png')
      .col-md-6.col-lg-4
        a.block(href='u06/')
          .text
            h3 2 серия (2021-н.в.)
            .overtitle U06
          img.image(src='/images/models/2-series/u06.png')
      .col-md-6.col-lg-4
        a.block(href='f74/')
          .text
            h3 2 серия (2025-н.в.)
            .overtitle F74
          img.image(src='/images/models/2-series/f74.png')
      .col-md-6.col-lg-4
        a.block(href='f44/')
          .text
            h3 2 серия (2019—н.в.)
            .overtitle F44
          img.image(src='/images/models/2-series/f44.png')
      .col-md-6.col-lg-4
        a.block(href='f22/')
          .text
            h3 2 серия (2013—н.в.)
            .overtitle F22/F23
          img.image(src='/images/models/2-series/f22.png')
      .col-md-6.col-lg-4
        a.block(href='f45/')
          .text
            h3 2 серия (2014—н.в.)
            .overtitle F45/F46
          img.image(src='/images/models/2-series/f45.png')
