section.models
  .wrapper
    .titles
      .overtitle Ваш автомобиль
      h2 Выберите модель
      .subtitle Вы можете выбрать модель вашего автомобиля из указанных ниже и ознакомиться с подробными ценами на ремонт и техническое обслуживание данных моделей.
    .columns
      .col-md-6.col-lg-4
        a.block(href='g20/')
          .text
            h3 3 серия (2018—н.в.)
            .overtitle G20/G21
          img.image(src='/images/models/3-series/g20.png')
      .col-md-6.col-lg-4
        a.block(href='f30/')
          .text
            h3 3 серия (2012—2019)
            .overtitle F30/F31/F34
          img.image(src='/images/models/3-series/f30.png')
      .col-md-6.col-lg-4
        a.block(href='e90/')
          .text
            h3 3 серия (2005—2013)
            .overtitle E90/E91/E92/E93
          img.image(src='/images/models/3-series/e90.png')
