section.models
  .wrapper
    .titles
      .overtitle Ваш автомобиль
      h2 Выберите модель
      .subtitle Вы можете выбрать модель вашего автомобиля из указанных ниже и ознакомиться с подробными ценами на ремонт и техническое обслуживание данных моделей.
    .columns
      .col-md-6.col-lg-4
        a.block(href='g22/')
          .text
            h3 4 серия (2020—н.в.)
            .overtitle G22/G23/G26
          img.image(src='/images/models/4-series/g22.png')
      .col-md-6.col-lg-4
        a.block(href='f32/')
          .text
            h3 4 серия (2013—2020)
            .overtitle F32/F33/F36
          img.image(src='/images/models/4-series/f32.png')
