section.models
  .wrapper
    .titles
      .overtitle Ваш автомобиль
      h2 Выберите модель
      .subtitle Вы можете выбрать модель вашего автомобиля из указанных ниже и ознакомиться с подробными ценами на ремонт и техническое обслуживание данных моделей.
    .columns
      .col-md-6.col-lg-4
        a.block(href='g60/')
          .text
            h3 5 серия (2023—н.в.)
            .overtitle G60/G61
          img.image(src='/images/models/5-series/g60.png')
      .col-md-6.col-lg-4
        a.block(href='g30/')
          .text
            h3 5 серия (2017—2024)
            .overtitle G30/G31
          img.image(src='/images/models/5-series/g30.png')
      .col-md-6.col-lg-4
        a.block(href='f10/')
          .text
            h3 5 серия (2010—2017)
            .overtitle F10/F11/F07
          img.image(src='/images/models/5-series/f10.png')
      .col-md-6.col-lg-4
        a.block(href='e60/')
          .text
            h3 5 серия (2003—2010)
            .overtitle E60/E61
          img.image(src='/images/models/5-series/e60.png')
