section.models
  .wrapper
    .titles
      .overtitle Ваш автомобиль
      h2 Выберите модель
      .subtitle Вы можете выбрать модель вашего автомобиля из указанных ниже и ознакомиться с подробными ценами на ремонт и техническое обслуживание данных моделей.
    .columns
      .col-md-6.col-lg-4
        a.block(href='g32/')
          .text
            h3 6 серия (2017—н.в.)
            .overtitle G32
          img.image(src='/images/models/6-series/g32.png')
      .col-md-6.col-lg-4
        a.block(href='f06/')
          .text
            h3 6 серия (2011—2018)
            .overtitle F06/F12/F13
          img.image(src='/images/models/6-series/f13.png')
      .col-md-6.col-lg-4
        a.block(href='e63/')
          .text
            h3 6 серия (2003—2010)
            .overtitle E60/E61
          img.image(src='/images/models/6-series/e63.png')
