section.models
  .wrapper
    .titles
      .overtitle Ваш автомобиль
      h2 Выберите модель
      .subtitle Вы можете выбрать модель вашего автомобиля из указанных ниже и ознакомиться с подробными ценами на ремонт и техническое обслуживание данных моделей.
    .columns
      .col-md-6.col-lg-4
        a.block(href='g11/')
          .text
            h3 7 серия (2015—н.в.)
            .overtitle G11/G12
          img.image(src='/images/models/7-series/g12.png')
      .col-md-6.col-lg-4
        a.block(href='f01/')
          .text
            h3 7 серия (2008—2015)
            .overtitle F01/F02
          img.image(src='/images/models/7-series/f01.png')
      .col-md-6.col-lg-4
        a.block(href='e65/')
          .text
            h3 7 серия (2001—2008)
            .overtitle E65/E66
          img.image(src='/images/models/7-series/e65.png')
