section.models
  .wrapper
    .titles
      .overtitle Ваш автомобиль
      h2 Выберите модель
      .subtitle Вы можете выбрать модель вашего автомобиля из указанных ниже и ознакомиться с подробными ценами на ремонт и техническое обслуживание данных моделей.
    .columns
      .col-md-6.col-lg-4
        a.block(href='g28/')
          .text
            h3 i3 (2022—н.в.)
            .overtitle G28
          img.image(src='/images/models/i3/g28.png')
      .col-md-6.col-lg-4
        a.block(href='i01/')
          .text
            h3 i3 (2013—2022)
            .overtitle I01
          img.image(src='/images/models/i3/i01.png')
