section.models
  .wrapper
    .titles
      .overtitle Ваш автомобиль
      h2 Выберите модель
      .subtitle Вы можете выбрать модель вашего автомобиля из указанных ниже и ознакомиться с подробными ценами на ремонт и техническое обслуживание данных моделей.
    .columns
      .col-md-6.col-lg-4
        a.block(href='g60/')
          .text
            h3 i5 (2023—н.в.)
            .overtitle G60/G61
          img.image(src='/images/models/i5/g60.png')
