section.models
  .wrapper
    .titles
      .overtitle Ваш автомобиль
      h2 Выберите модель
      .subtitle Вы можете выбрать модель вашего автомобиля из указанных ниже и ознакомиться с подробными ценами на ремонт и техническое обслуживание данных моделей.
    .columns
      .col-md-6.col-lg-4
        a.block(href='f48/')
          .text
            h3 X1 (2015—н.в.)
            .overtitle F48
          img.image(src='/images/models/x1/f48.png')
      .col-md-6.col-lg-4
        a.block(href='e84/')
          .text
            h3 X1 (2009—2015)
            .overtitle E84
          img.image(src='/images/models/x1/e84.png')
