section.models
  .wrapper
    .titles
      .overtitle Ваш автомобиль
      h2 Выберите модель
      .subtitle Вы можете выбрать модель вашего автомобиля из указанных ниже и ознакомиться с подробными ценами на ремонт и техническое обслуживание данных моделей.
    .columns
      .col-md-6.col-lg-4
        a.block(href='g01/')
          .text
            h3 X3 (2017—н.в.)
            .overtitle G01
          img.image(src='/images/models/x3/g01.png')
      .col-md-6.col-lg-4
        a.block(href='f25/')
          .text
            h3 X3 (2010—2017)
            .overtitle F25
          img.image(src='/images/models/x3/f25.png')
      .col-md-6.col-lg-4
        a.block(href='e83/')
          .text
            h3 X3 (2003—2010)
            .overtitle E83
          img.image(src='/images/models/x3/e83.png')
