section.models
  .wrapper
    .titles
      .overtitle Ваш автомобиль
      h2 Выберите модель
      .subtitle Вы можете выбрать модель вашего автомобиля из указанных ниже и ознакомиться с подробными ценами на ремонт и техническое обслуживание данных моделей.
    .columns
      .col-md-6.col-lg-4
        a.block(href='g02/')
          .text
            h3 X4 (2018—н.в.)
            .overtitle G02
          img.image(src='/images/models/x4/g02.png')
      .col-md-6.col-lg-4
        a.block(href='f26/')
          .text
            h3 X4 (2014—2018)
            .overtitle F26
          img.image(src='/images/models/x4/f26.png')
