section.models
  .wrapper
    .titles
      .overtitle Ваш автомобиль
      h2 Выберите модель
      .subtitle Вы можете выбрать модель вашего автомобиля из указанных ниже и ознакомиться с подробными ценами на ремонт и техническое обслуживание данных моделей.
    .columns
      .col-md-6.col-lg-4
        a.block(href='g05/')
          .text
            h3 X5 (2018—н.в.)
            .overtitle G05
          img.image(src='/images/models/x5/g05.png')
      .col-md-6.col-lg-4
        a.block(href='f15/')
          .text
            h3 X5 (2013—2018)
            .overtitle F15
          img.image(src='/images/models/x5/f15.png')
      .col-md-6.col-lg-4
        a.block(href='e70/')
          .text
            h3 X5 (2006—2013)
            .overtitle E70
          img.image(src='/images/models/x5/e70.png')
