section.models
  .wrapper
    .titles
      .overtitle Ваш автомобиль
      h2 Выберите модель
      .subtitle Вы можете выбрать модель вашего автомобиля из указанных ниже и ознакомиться с подробными ценами на ремонт и техническое обслуживание данных моделей.
    .columns
      .col-md-6.col-lg-4
        a.block(href='g06/')
          .text
            h3 X6 (2019—н.в.)
            .overtitle G06
          img.image(src='/images/models/x6/g06.png')
      .col-md-6.col-lg-4
        a.block(href='f16/')
          .text
            h3 X6 (2014—2019)
            .overtitle F16
          img.image(src='/images/models/x6/f16.png')
      .col-md-6.col-lg-4
        a.block(href='e71/')
          .text
            h3 X6 (2007—2014)
            .overtitle E71
          img.image(src='/images/models/x6/e71.png')
