section.models
  .wrapper
    .titles
      .overtitle Ваш автомобиль
      h2 Выберите модель
      .subtitle Вы можете выбрать модель вашего автомобиля из указанных ниже и ознакомиться с подробными ценами на ремонт и техническое обслуживание данных моделей.
    .columns
      .col-md-6.col-lg-4
        a.block(href='g07/')
          .text
            h3 X7 (2018—н.в.)
            .overtitle G07
          img.image(src='/images/models/x7/g07.png')
