section.models
  .wrapper
    .titles
      .overtitle Ваш автомобиль
      h2 Выберите модель
      .subtitle Вы можете выбрать модель вашего автомобиля из указанных ниже и ознакомиться с подробными ценами на ремонт и техническое обслуживание данных моделей.
    .columns
      .col-md-6.col-lg-4
        a.block(href='g29/')
          .text
            h3 Z4 (2018—н.в.)
            .overtitle G29
          img.image(src='/images/models/z4/g29.png')
      .col-md-6.col-lg-4
        a.block(href='e89/')
          .text
            h3 Z4 (2009—2016)
            .overtitle E89
          img.image(src='/images/models/z4/e89.png')
      .col-md-6.col-lg-4
        a.block(href='e85/')
          .text
            h3 Z4 (2002—2008)
            .overtitle E85/86
          img.image(src='/images/models/z4/e85.png')
