extends /layout.pug

block variables
  - var title = 'Автосервис BMW «FGSEVER» | Сервис, ремонт, техническое обслуживание (ТО), дооснащение и кодирование автомобилей BMW (БМВ) в Москве';
  - var subtitle = 'Официальный сайт автосервиса «FGSEVER» в Москве. Сервис, ремонт, техническое обслуживание (ТО), дооснащение и кодирование автомобилей BMW (БМВ).';
  - var seoTitle = title;

block content
  include /slider
  include /about
  include /services
  include /reviews
  include /instagram
  include /contacts
