extends /layout.pug

block variables
  - var title = 'Профильный сервис БМВ Москва СВАО | Специализированный автосервис BMW по ремонту, тюнингу и дооснащению «FGSEVER»';
  - var subtitle = 'Авторизованный сервис БМВ в Москве в СВАО. Профильно занимаемся ремонтом BMW, тюнингом авто, техническим обслуживанием и дооснащением с 2014 года по цене ниже дилерских автосервисов!';
  - var seoTitle = title;

block content
  include /slider
  +about({ h1: true }) 
  +services
  include /reviews
  include /instagram
  include /contacts
