extends /layout.pug

block variables
  - var name = 'main_high main_x6';
  - var section = 'Вид работ';
  - var title = 'Компьютерная диагностика в BMW&nbsp;X6';
  - var models = 'G06, F96, F16, F86, E71';
  - var seoTitle = 'Компьютерная диагностика в BMW X6 (' + models + ') в Москве | Автосервис BMW «FGSEVER»';
  - var subtitle = 'Услуги по компьютерному выявлению неисправностей и ошибок программного обеспечения автомобилей BMW X6 в Москве. Мы выполним все необходимые работы по обслуживанию вашего автомобиля и ответим на все интересующие вас вопросы.';
  - var path = {'/services/': 'Услуги', '/services/maintenance/': 'Техническое обслуживание BMW', '/services/maintenance/x6/': 'X6', '': 'Компьютерная диагностика'};
  - var button = ['popup', '#maintenance-appointment', 'Записаться'];

block content
  +main({ name, path, section, title, subtitle, button, models })
  include /maintenance/description/computer-diagnostics
  section.prices
    .wrapper
      .titles
        .overtitle Об услуге
        h2 Стоимость
      .block
        .table-wrapper
          .table
            table
              tr.table-header
                td Услуга
                td Стоимость
              tr 
                td Компьютерная диагностика
                td <? echo format_price($workPrices['x6']['computerDiagnostics']) ?>
  include /maintenance/photos/computer-diagnostics
  include /about/advantages
  +about
  include /contacts
