extends /layout.pug

block variables
  - var name = 'main_parking-assistant';
  - var section = 'Услуга';
  - var title = 'Ассистент маневрирования при парковке (5DM/5DN)';
  - var seoTitle = 'Ассистент маневрирования при парковке на BMW в Москве | Автосервис BMW «FGSEVER»';
  - var subtitle = 'Система помощи водителю, которая выполняет автоматический поиск парковочного места и парковку автомобиля на свободном месте.';
  - var path = {'/services/': 'Услуги', '/services/upgrade/': 'Дооснащение', '/services/upgrade/g-series/': 'G&nbsp;серия', '': 'Ассистент маневрирования при парковке (5DM/5DN)'};
  - var button = ['popup', '#upgrade-appointment', 'Записаться на дооснащение'];

block content
  +main(name, path, section, title, subtitle, button)
  section.video
    .wrapper
      .columns
        .col-md-6.col-lg-7
          .text
            .overtitle Введение
            h2 Видеоинструкция
            .subtitle Вы можете посмотреть официальное видео от компании BMW, в котором подробно рассказывается про асисстент маневрирования при парковке, а именно — что он из себя представляет, принцип его работы и для чего он вообще нужен.
            a.button(data-fancybox href='/videos/parking-assistant-3.mp4') Смотреть видео
        .col-md-6.col-lg-5
          a.preview(data-fancybox href='/videos/parking-assistant-3.mp4')
            img(src='/images/services/upgrade/g-series/parking-assistant/cover.jpg')
            .play-button
              .icon.play-white
  section.description
    .wrapper
      .titles
        .overtitle Об услуге
        h2 Описание
      .block
        .icon.information-color
        h3 Что это такое?
        p Ассистент маневрирования при парковке (дополнительное оборудование SA5DM или SA5DN, в сочетании с сигнализацией аварийного сближения при парковке (PDC)) представляет из себя систему помощи водителю, которая выполняет автоматический поиск парковочного места и парковку автомобиля на свободном месте. Система помогает водителю при парковке в следующих ситуациях:
        ul
          li При боковой парковке параллельно дорожному полотну;
          li При парковке задним ходом поперек дорожного полотна.
        p Ультразвуковые датчики измеряют свободные места для парковки с обеих сторон транспортного средства. Система рассчитывает оптимальную траекторию парковки.
        p При парковке параллельно и поперек дорожного полотна система во время процесса парковки берет на себя рулевое управление, разгон и торможение. При необходимости выполняется переключение передач.
        .highlighted В маркетинговых материалах ассистент маневрирования при парковке носит название #[b ассистент парковки] или #[b ассистент парковки Plus].
        h3 Преимущества системы
        ul
          li Автоматическое распознавание достаточно большого свободного места для парковки;
          li Автоматическая парковка;
          li Эффективное предотвращение повреждений при парковке.
        h3 Принцип работы системы
        p Ассистент маневрирования при парковке облегчает поиск подходящего места для парковки и активно помогает припарковать автомобиль. При скорости до 35 км/ч и при максимальном расстоянии сбоку в 1,5 м до ряда паркующихся автомобилей ультразвуковые датчики с помощью центрального информационного дисплея показывают каждое рассматриваемое свободное место для парковки, обнаруживаемое параллельно дорожному полотну. При нажатии указателя направления движения и непрерывном нажатии кнопки парковки ассистент маневрирования при парковке активно помогает поставить автомобиль на парковку. Ассистент маневрирования при парковке выбирает передний ход или задний ход и осуществляет рулевое управление.
        h3 Работа системы
        .images.columns
          .col-4.col-md-3
            a.image(data-fancybox href='/images/services/upgrade/g-series/parking-assistant/ecu.jpg?2' target='_blank')
              img(src='/images/services/upgrade/g-series/parking-assistant/ecu-min.jpg?2')
        p 1 — Блок управления системы помощи при парковке (PMA); 2 — 18-полюсное штекерное соединение; 3 — 18-полюсное штекерное соединение.
        p Каждое прерывание заносится в ЗУ неисправностей ЭБУ PMA в виде информационного сообщения. После прерывания процесса система проверяет, можно ли возобновить процесс парковки. Водитель может при необходимости сразу же вернуться к процессу парковки.
        .highlighted Оставляем за собой право на опечатки, смысловые ошибки и технические изменения.
  include /videos
  include /about/advantages
  include /about
  include /contacts
