extends /layout.pug

block variables
  - var name = 'main_high main_x7';
  - var section = 'Вид работ';
  - var title = 'Диагностика и ремонт подвески в BMW&nbsp;X7';
  - var models = 'G07';
  - var seoTitle = 'Диагностика и ремонт подвески в BMW X7 (' + models + ') в Москве | Автосервис BMW «FGSEVER»';
  - var subtitle = 'Услуги по диагностике и устранению неисправностей системы подвески автомобилей BMW X7 в Москве. Мы выполним все необходимые работы по обслуживанию вашего автомобиля и ответим на все интересующие вас вопросы.';
  - var path = {'/services/': 'Услуги', '/services/maintenance/': 'Техническое обслуживание BMW', '/services/maintenance/x7/': 'X7', '': 'Диагностика и ремонт подвески'};
  - var button = ['popup', '#maintenance-appointment', 'Записаться'];

block content
  +main(name, path, section, title, subtitle, button, models)
  include /maintenance/description/suspension-repair
  section.prices
    .wrapper
      .titles
        .overtitle Об услуге
        h2 Стоимость
      .block
        .table-wrapper
          .table
            table
              tr.table-header
                td Услуга
                td Стоимость
              tr 
                td Диагностика подвески
                td 600 ₽ (Бесплатно при прохождении ТО)
  include /maintenance/photos/suspension-repair
  include /about/advantages
  include /about  
  include /contacts
