extends /layout.pug

block variables
  - var name = 'main_road-signs-detection';
  - var section = 'Услуга';
  - var title = 'Чтение дорожных знаков';
  //- - var models = 'G05/G06/G07';
  - var seoTitle = title + ' на BMW в Москве | Автосервис BMW «FGSEVER»';
  - var subtitle = 'Распознавание действующих знаков ограничений скорости и запретов обгона, которые отображаются в виде пиктограмм дорожных знаков на комбинации приборов.';
  - var path = {'/services/': 'Услуги', '/services/upgrade/': 'Дооснащение', '/services/upgrade/g-series/': 'G&nbsp;серия', '': 'Чтение дорожных знаков'};
  - var button = ['popup', '#upgrade-appointment', 'Записаться на дооснащение'];

block content
  +main({ name, path, section, title, subtitle, button })
  section.video
    .wrapper
      .columns
        .col-md-6.col-lg-7
          .text
            .overtitle Введение
            h2 Видеоинструкция
            .subtitle Вы можете посмотреть официальное видео от компании BMW, в котором подробно рассказывается про функцию чтения дорожных знаков, а именно — что она из себя представляет, принцип её работы и для чего она вообще нужна.
            a.button(data-fancybox href='/videos/road-signs-detection.mp4') Смотреть видео
        .col-md-6.col-lg-5
          a.preview(data-fancybox href='/videos/road-signs-detection.mp4')
            img(src='/images/services/upgrade/g-series/road-signs-detection/cover.jpg')
            .play-button
              .icon.play-white
  section.description
    .wrapper
      .titles
        .overtitle Об услуге
        h2 Описание
      .block
        .icon.information-color
        h3 Что это такое?
        p Данное дооснащение добавляет в автомобиль индикатор ограничения скорости, который показывает водителю в комбинации приборов и на проекционном дисплее текущее распознанное ограничение скорости, в определенных ситуациях действующие дополнительные знаки, такие как запрет обгона и прекращение запрета обгона. Дополнительно индикатор ограничения скорости может выдавать предупреждения в случае превышения текущего действующего ограничения скорости.
        h3 Принцип работы системы
        p Существует два варианта индикаторов ограничения скорости. В данном случае описывается индикатор без прогнозирования. В зависимости от комплектации дополнительно может иметься «прогнозирующий индикатор ограничения скорости».
        p Камера KAFAS распознает дорожные знаки вдоль дорожного полотна, а также в системах управления движением транспорта. Дорожные знаки с дополнительной информацией, например, «Влажность» (для России недоступно) также распознаются, проверяются и отображаются по мере необходимости на основании анализа данных транспортного средства (например, активного сигнала стеклоочистителей). Некоторые дополнительные знаки учитываются при анализе, но не показываются в комбинации приборов.
        p Благодаря объединению данных из камеры KAFAS и данных системы навигации отображение текущего ограничения скорости возможно даже без использования дорожных указателей.
        p Запрет обгона учитывается системой распознавания дорожных знаков только в том случае, если он указан на дорожном знаке. Дорожная разметка, сигнализирующая о запрете обгона, не учитывается. Эта информация не отображается в комбинации приборов и на проекционном дисплее.
        //- p #[b Отображение индикатора ограничения скорости в комбинации приборов включается и выключается следующим образом:] Автомобиль → Настройки → Дисплеи → Система поддержки водителя → Движение → Система поддержания скорости → Указания по ограничению скорости → Показать текущую предельную скорость.
        //- p #[b Все настройки индикатора ограничения скорости можно задать в следующем меню:] Автомобиль → Настройки → Система поддержки водителя → Движение → Система поддержания скорости.
        h3 Режимы работы системы
        ul
          li Предупреждение при превышении. При выборе этой настройки активируется или деактивируется мигание важной информации в комбинации приборов и на проекционном дисплее в случае превышения распознанного ограничения скорости. Для предупреждения в случае превышения текущего действующего ограничения скорости учитывается скорректированное водителем ограничение скорости.
          li Показать превышение. При выборе этой настройки в виде метки на показании спидометра в комбинации приборов отображается распознанное ограничение скорости. В случае превышения распознанного ограничения скорости превышенный диапазон скорости выделяется определенным цветом в комбинации приборов.
        h3 Условия функционирования
        ul
          li Запреты обгона учитываются только при их точном указании на дорожных знаках.
        h3 Возможные пределы функциональных возможностей системы
        ul
          li при сильном тумане, дожде или снегопаде;
          li при недостаточной яркости;
          li при ярком свете встречных фар;
          li на крутых поворотах;
          li на крутых подъемах или спусках;
          li при неоднозначной информации на дорожных знаках;
          li прикрытые или загрязненные дорожные знаки;
          li слишком малые или слишком большие дорожные знаки;
          li при неправильно повернутых дорожных знаках;
          li при загрязнении зоны обзорности камеры KAFAS;
          li во время процедуры калибровки камеры KAFAS;
          li при недействительных, устаревших или недоступных навигационных данных.
        .highlighted Оставляем за собой право на опечатки, смысловые ошибки и технические изменения.
  //- section.prices
  //-   .wrapper
  //-     .titles
  //-       .overtitle Об услуге
  //-       h2 Стоимость
  //-     .block
  //-       .table-wrapper
  //-         .table
  //-           table
  //-             tr.table-header
  //-               td Услуга
  //-               td Стоимость
  //-             tr
  //-               td Активация пакета кодов на одну камеру
  //-               td 70 000 ₽
  //- include /maintenance/photos/computer-diagnostics
  include /videos
  include /about/advantages
  +about
  include /contacts
