extends /layout.pug

block variables
  - var name = 'main_surround-view';
  - var section = 'Услуга';
  - var title = 'Система кругового обзора (5DL)';
  - var seoTitle = 'Система кругового обзора на BMW в Москве | Автосервис BMW «FGSEVER»';
  - var subtitle = 'Система кругового обзора, включая вид сверху, панорамный вид вперёд и назад, 3D-обзор с поддержкой жестов, а также сигнализация аварийного сближения.';
  - var path = {'/services/': 'Услуги', '/services/upgrade/': 'Дооснащение', '/services/upgrade/g-series/': 'G&nbsp;серия', '': 'Система кругового обзора (5DL)'};
  - var button = ['popup', '#upgrade-appointment', 'Записаться на дооснащение'];

block content
  +main({ name, path, section, title, subtitle, button })
  section.video
    .wrapper
      .columns
        .col-md-6.col-lg-7
          .text
            .overtitle Введение
            h2 Видеоинструкция
            .subtitle Вы можете посмотреть официальное видео от компании BMW, в котором подробно рассказывается про систему кругового обзора, а именно — что она из себя представляет, принцип её работы и для чего она вообще нужна.
            a.button(data-fancybox href='/videos/surround-view.mp4') Смотреть видео
        .col-md-6.col-lg-5
          a.preview(data-fancybox href='/videos/surround-view.mp4')
            img(src='/images/services/upgrade/g-series/surround-view/cover.jpg')
            .play-button
              .icon.play-white
  section.description
    .wrapper
      .titles
        .overtitle Об услуге
        h2 Описание
      .block
        .icon.information-color
        h3 Что это такое?
        p Система кругового обзора предоставляет водителю обзор ближайших зон вокруг автомобиля с помощью видеокамер, расположенных в передних и задних бамперах, а также боковых зеркалах заднего вида. Система имеет панорамный обзор вперед, панорамный обзор назад, обзоры по бокам, а также вид сверху и 3D-обзор с поддержкой жестов.
        h3 Принцип работы системы
        p В зависимости от оснащения автомобиля на нем могут быть установлены различные системы поддержки водителя на базе видеокамер. Технически это реализуется с помощью нескольких камер и одного блока управления TRSVC.
        p В третьем поколении видеокамер кругового обзора передача данных осуществляется по сети Ethernet. Важнейшими функциональными расширениями третьего поколения являются следующие:
        ul
          li Трехмерный круговой обзор;
          li Панорамный вид примерно на 185° вперед и назад с желтыми вспомогательными линиями.
        p При этом интегрированы следующие функции:
        ul
          li Расположение камеры для определенного вида (стандартно автоматическая камера);
          li Предупреждение о движении в поперечном направлении спереди и сзади;
          li Предупреждение об ударе сзади при движении задним ходом;
          li Маркировка препятствия;
          li Предупреждение о бордюре.
        p На следующем рисунке показаны зоны охвата камер.
        .images.columns
          .col-4.col-md-3
            a.image(data-fancybox href='/images/services/upgrade/g-series/surround-view/cameras.jpg' target='_blank')
              img(src='/images/services/upgrade/g-series/surround-view/cameras-min.jpg')
        p 1 — Передняя видеокамера; 2 — Видеокамера в правом наружном зеркале; 3 — Видеокамера заднего вида; 4 — Видеокамера в левом наружном зеркале.
        h3 Компоненты системы
        p #[b Блок управления TRSVC]
        p Зарегистрированные камерой световые точки, их цвет и яркость передаются на блок управления TRSVC по сети Ethernet. Ethernet — это технология, специфицирующая программное (например, протоколы) и аппаратное (например, кабели) обеспечение для проводной сети передачи данных. Соединение соответствует локальной сети (LAN = Local Area Network). Локальная сеть позволяет подключенным к ней абонентам обмениваться пакетами данных. В настоящее время специфицирована скорость передачи данных 100 мегабит в секунду.
        p Блок управления TRSVC через Ethernet подключен к контроллеру Body Domain Controller (BDC). Через передний распределитель тока на блок управления TRSVC через контакт 30B подается питание. Он обеспечивает питанием отдельные камеры.
        p Дополнительно блок управления TRSVC по локальной шине CAN подключен к блоку управления системы помощи при парковке (PMA).
        p Головное устройство посылает полученные данные изображений с камер по проводу передачи данных APIX на центральный информационный дисплей.
        .images.columns
          .col-4.col-md-3
            a.image(data-fancybox href='/images/services/upgrade/g-series/surround-view/trsvc.jpg' target='_blank')
              img(src='/images/services/upgrade/g-series/surround-view/trsvc-min.jpg')
        p 1 — Блок управления TRSVC; 2 — 18-полюсное штекерное соединение; 3 — 18-полюсное штекерное соединение.
        p #[b Панель управления на центральной консоли]
        p С помощью кнопки видеокамеры на панели управления центральной консоли могно вручную активировать и деактивировать переднюю камеру.
        p Панель управления в центральной консоли по шине LIN подключена к контроллеру Body Domain Controller (BDC). Питание на панель управления центральной консоли подается через правый задний распределитель тока через контакт 30B.
        p Питание панели управления на центральной консоли осуществляется блоком управления BDC по шине LIN от контакта 58g (подсветка выключателей).
        .images.columns
          .col-4.col-md-3
            a.image(data-fancybox href='/images/services/upgrade/g-series/surround-view/buttons.jpg' target='_blank')
              img(src='/images/services/upgrade/g-series/surround-view/buttons-min.jpg')
        p 1 — Панель управления на центральной консоли; 2 — Клавиша DTC; 3 — Переключатель системы регулирования динамики движения; 4 — Кнопка eDRIVE (гибридные автомобили); 5 — Кнопка парковки; 6 — Кнопка передней камеры (панорамный вид); 7 — Кнопка системы регулировки дорожного просвета; 8 — 4-полюсное штекерное соединение.
        .highlighted Для видеокамеры кругового обзора имеется большое количество настроек в iDrive.
        p #[b Передняя видеокамера]
        p Передняя камера позволяет контролировать движение в поперечном направлении на выездах с недостаточным обзорам и на перекрестках. Участники дорожного движения, закрытые препятствиями с боку, распознаются слишком поздно с водительского места.
        p Зона охвата камеры составляет максимум 100 м. Горизонтальный угол обзора составляет прим. 190°. Вертикальный угол обзора составляет прим. 130°
        p Передняя камера, так же как и камера заднего вида, передает свои сигналы на блок управления TRSVC по сети Ethernet. Она подключается к блоку управления TRSVC через 8-контактный разъем.
        p В автомобилях с системой навигации:
        p Места, в которых система должна включаться автоматически, можно сохранить как точки активации, при условии, что в них принимается сигнал GPS. Можно сохранить до десяти точек активации. Точки активации могут быть назначены только передней камере. По возможности точки активации сохраняются с названием города и улицы или с порядковым номером.
        .images.columns
          .col-4.col-md-3
            a.image(data-fancybox href='/images/services/upgrade/g-series/surround-view/front-camera.jpg' target='_blank')
              img(src='/images/services/upgrade/g-series/surround-view/front-camera-min.jpg')
        p 1 — Передняя видеокамера; 2 — 8-полюсный разъем.
        .highlighted Загрязнение может ухудшить качество изображения, поступающего с передней камеры. При чистке объектива камеры необходимо соблюдать руководство по эксплуатации.
        p #[b Видеокамера заднего вида]
        p Видеокамера заднего вида оказывает помощь при парковке задом и при маневрировании. Для этого зона за транспортным средством отображается на центральном информационном дисплее (CID).
        p Зона охвата камеры составляет максимум 100 м. Горизонтальный угол обзора составляет прим. 190°. Вертикальный угол обзора составляет прим. 130°
        p Камера заднего вида, так же как и передняя камера, передает свои сигналы на блок управления TRSVC по сети Ethernet. Для этого видеокамера заднего вида подключается к блоку управления TRSVC через 8-полюсный разъем.
        .images.columns
          .col-4.col-md-3
            a.image(data-fancybox href='/images/services/upgrade/g-series/surround-view/rear-camera.jpg' target='_blank')
              img(src='/images/services/upgrade/g-series/surround-view/rear-camera-min.jpg')
        p 1 — Видеокамера заднего вида; 2 — 8-полюсный разъем; 3 — Линза.
        .highlighted Грязь может оказать негативное воздействие на качество изображения видеокамеры заднего вида. При чистке объектива камеры необходимо соблюдать руководство по эксплуатации.
        p #[b Видеокамера в наружном зеркале]
        p Видеокамера в наружном зеркале помогает водителю при парковке и маневрировании. Для этого она выдает на центральный информационный дисплей изображение двери с прилегающим участком дорожного полотна. Своевременно обнаруживаются все препятствия до высоты наружного зеркала заднего вида.
        p Зона охвата камеры составляет максимум 100 м. Горизонтальный угол обзора составляет прим. 190°. Вертикальный угол обзора составляет прим. 130°
        p Видеокамера в наружном зеркале, так же как и камера заднего вида, передает свои сигналы на блок управления TRSVC по сети Ethernet. Для этого видеокамера в наружном зеркале подключается к блоку управления TRSVC через 8-полюсный разъем.
        .images.columns
          .col-4.col-md-3
            a.image(data-fancybox href='/images/services/upgrade/g-series/surround-view/side-camera.jpg' target='_blank')
              img(src='/images/services/upgrade/g-series/surround-view/side-camera-min.jpg')
        p 1 — Видеокамера в наружном зеркале; 2 — 8-полюсный разъем.
        .highlighted Загрязнение может ухудшить качество изображения, поступающего с передней камеры. При чистке объектива камеры необходимо соблюдать руководство по эксплуатации.
        .highlighted Оставляем за собой право на опечатки, смысловые ошибки и технические изменения.
  include /videos
  include /about/advantages
  include /about
  include /contacts
