extends /layout.pug

block variables
  - var name = 'main_tire-pressure-indicator';
  - var section = 'Услуга';
  - var title = 'Индикатор давления в шинах (2VB)';
  - var seoTitle = 'Датчик давления в шинах на BMW в Москве | Автосервис BMW «FGSEVER»';
  - var subtitle = 'Отслеживание точного давления в каждой шине с помощью датчиков и автоматическое предупреждение водителя в случае постепенного или резкого падения давления.';
  - var path = {'/services/': 'Услуги', '/services/upgrade/': 'Дооснащение', '/services/upgrade/g-series/': 'G&nbsp;серия', '': 'Индикатор давления в шинах (2VB)'};
  - var button = ['popup', '#upgrade-appointment', 'Записаться на дооснащение'];

block content
  +main({ name, path, section, title, subtitle, button })
  section.description
    .wrapper
      .titles
        .overtitle Об услуге
        h2 Описание
      .block
        .icon.information-color
        h3 Что это такое?
        p О разнообразных повреждениях шины свидетельствует потеря давления в шине. Система контроля давления в шинах предупреждает водителя в случае постепенного или резкого падения давления в шинах одного или нескольких колес. Это свидетельствует о возможных проколах, порезах или царапинах шины и позволяет избежать её дальнейшего повреждения.
        p В большинстве стран в связи с законодательными требованиями каждое транспортное средство должно предлагаться с системой контроля давления в шинах. В прочих странах данная система предлагается в качестве опции.
        .highlighted
          p Система контроля давления в шинах не освобождает водителя от регулярной проверки давления в шинах.
          p После каждого изменения давления в шинах и каждой замены шины требуется выполнить инициализацию системы контроля давления в шинах. Таким образом в качестве заданного значения сохраняется единственное значение давления в шинах.
          p При замене колес необходимо помнить, что перед инициализацией автомобиль должен простоять #[b не менее 5 минут].
        .highlighted
          p Функция системы контроля давления в шинах интегрирована в систему динамического контроля устойчивости (DSC). Приемник дистанционного управления принимает радиосигналы от электронного блока системы RDC в колесе.
        .images.columns
          .col-4.col-md-3
            a.image(data-fancybox href='/images/services/upgrade/g-series/tire-pressure-indicator/rdc.jpg' target='_blank')
              img(src='/images/services/upgrade/g-series/tire-pressure-indicator/rdc-min.jpg')
        p 1 — Электронный блок системы RDC в левом переднем колесе; 2 — Электронный блок системы RDC в правом переднем колесе; 3 — Электронный блок системы RDC в правом заднем колесе; 4 — Электронный блок системы RDC в левом заднем колесе; 5 — Приемник дистанционного управления на локальной шине CAN.
        h3 Принцип работы системы
        p #[b Блок управления DSC]
        p Функция системы контроля давления в шинах интегрирована в систему динамического контроля устойчивости (DSC).
        p Радиосигналы электронных блоков системы RDC в колесе принимает приемник дистанционного управления. Приемник дистанционного управления подсоединен по локальной шине CAN к Body Domain Controller (BDC). Body Domain Controller (BDC) передает сигналы по соединению с шиной в блок управления DSC.
        p Блок управления DSC обрабатывает сообщения, отправленные электронным блоком системы RDC в колесе. Начиная со скорости движения ок. 20 км/ч, каждый электронный блок в колесе отправляет следующие сведения:
        ul
          li давление воздуха в шинах;
          li температура в шине;
          li оставшийся срок службы аккумуляторной батареи;
          li данные вибродатчика и идентификатор (ID) электронного блока в колесе;
          li режим передачи.
        .images.columns
          .col-4.col-md-3
            a.image(data-fancybox href='/images/services/upgrade/g-series/tire-pressure-indicator/dsc.jpg' target='_blank')
              img(src='/images/services/upgrade/g-series/tire-pressure-indicator/dsc-min.jpg')
        p 1 — Бачок; 2 — Датчик уровня тормозной жидкости; 3 — 2-полюсное штекерное соединение; 4 — 2-полюсное штекерное соединение; 5 — Блок управления DSC; 6 — 46-полюсное штекерное соединение; 7 — Блок DSC.
        p Блок управления DSC посылает информацию в комбинацию приборов и в головное устройство.
        p Комбинация приборов показывает падение давления в шине сигнальной и контрольной лампами и выдает сообщение системы контроля параметров автомобиля.
        p Через центральный информационный дисплей, подсоединенный к головному устройству, через состояние транспортного средства можно вызвать другую информацию о давлении в шинах.
        p Через головное устройство должна также выполняться инициализация cистемы контроля давления в шинах.
        p #[b Электронный блок системы RDC в колесе]
        p Электронные блоки устанавливаются во всех колесах в углублениях обода. Они приворачиваются на вентили колес (металлический). Допустимая рабочая температура составляет от -40 °C до +120 °C. Электронный блок системы RDC в колесе контролирует температуру в шинах.
        p В каждом электронном блоке в колесе установлен вибродатчик. Вибродатчик распознает, остановлено ли колесо или оно вращается.
        p Начиная со скорости движения 20 км/ч, электронный блок в колесе начинает передачу в рамках установленных циклов. ЭБУ системы RDC в колесе измеряет с равномерными интервалами давление и температуру в шинах. Результаты измерений периодически передаются от шин через приемник дистанционного управления (FBD) в систему динамического контроля устойчивости.
        p ЭБУ DSC по присылаемым идентификационным номерам соотносит данные с отдельными колесами. Если соотнесение утеряно, необходимо повторить обучение.
        .images.columns
          .col-4.col-md-3
            a.image(data-fancybox href='/images/services/upgrade/g-series/tire-pressure-indicator/rdc-in-wheel.jpg' target='_blank')
              img(src='/images/services/upgrade/g-series/tire-pressure-indicator/rdc-in-wheel-min.jpg')
        p 1 — Электронный блок системы RDC в колесе; 2 — Клапан.
        p Питание на электронный блок системы RDC в колесе подается от литий-ионной батареи. Срок службы рассчитан примерно на 10 лет. Время до истечения срока службы отображается в процентах с точностью до 10 процентов.
        p #[b Приемник дистанционного управления]
        p Сообщения электронных блоков системы RDC в колесе передаются по высокочастотному отрезку передачи (433 МГц) в приемник дистанционного управления. Процесс передачи на приемник дистанционного управления (FBD) осуществляется через каждые 15– 30 с. Актуальный статус сообщений перенаправляется по шине CAN в Body Domain Controller (BDC). Блок управления BDC перенаправляет сообщения по FlexRay в блок управления DSC. Блок управления DSC анализирует сообщения.]
        p 1 — Приемник дистанционного управления; 2 — 6‐контактный разъем.
        h3 Работа системы
        p #[b Присвоение колес]
        .highlighted Поездка для соотнесения колес системой динамического контроля устойчивости DSC может длиться до 9 мин.
        p Для соотнесения колес электронный блок системы RDC в колесе находится в режиме самонастройки.
        p При вращении колеса возникает центробежная сила. Эта центробежная сила распознается вибродатчиком, начиная со скорости движения около 20 км/ч. В зависимости от ускорения относительно земли вибродатчик распознает положение электронного блока в колесе.
        p В период самонастройки блок управления DSC заново соотносит положение 4 колес. Это осуществляется с помощью согласования положений между электронными блоками системы RDC в колесах и датчиками угловой скорости колес.
        p #[b Визуальный предупреждающий сигнал в центральном информационном дисплее]
        p Концепция предупреждения заблаговременно информирует при отклонениях давления и способствует тем самым предотвращению аварий из-за очень низкого давления в шинах.
        p Оптимально настроенное давление в шинах необходимо по следующим причинам:
        ul
          li Максимально возможна динамика движения;
          li Оптимальный износ в период срока службы шин;
          li снижается расход топлива;
          li Оптимальная работа различных систем регулировки ходовой части;
        p #[b Уровень 1.] Световой предупреждающий сигнал.
        .images.columns
          .col-4.col-md-3
            a.image(data-fancybox href='/images/services/upgrade/g-series/tire-pressure-indicator/level-1.jpg' target='_blank')
              img(src='/images/services/upgrade/g-series/tire-pressure-indicator/level-1-min.jpg')
        p 1 — Давление в шинах понижено; 2 — Вы можете продолжать движение дальше. Давление в шинах немного понижено. При удобном случае подкачайте шины.
        p #[b Уровень 2.] Световой предупреждающий сигнал.
        .images.columns
          .col-4.col-md-3
            a.image(data-fancybox href='/images/services/upgrade/g-series/tire-pressure-indicator/level-2.jpg' target='_blank')
              img(src='/images/services/upgrade/g-series/tire-pressure-indicator/level-2-min.jpg')
        p 1 — Подкачать шины; 2 — Вы можете продолжать движение с максимальной скоростью 130 км/ч (80 миль в час). Давление в шинах слишком низкое. Проверьте давление во всех шинах и при первой возможности откорректируйте.
        p #[b Уровень 3.] Световой предупреждающий сигнал.
        .images.columns
          .col-4.col-md-3
            a.image(data-fancybox href='/images/services/upgrade/g-series/tire-pressure-indicator/level-3.jpg' target='_blank')
              img(src='/images/services/upgrade/g-series/tire-pressure-indicator/level-3-min.jpg')
        p 1 — Подкачать шины; 2 — Остановиться в безопасном месте. На шинах, допускающих движение в аварийном режиме (со значком RSC), можно продолжить движение со скоростью не выше 80 км/ч.
        p Будь то резкое падение давления в шине или медленное падение давления в шине, как только значение опустится ниже порога безопасности, водитель будет проинформирован через центральный информационный дисплей.
        p При этом система контроля давления в шинах предупреждает всегда только при очень низких значениях давления в шинах. При завышенном давлении в шинах предостережение не выполняется.
        .images.columns
          .col-4.col-md-3
            a.image(data-fancybox href='/images/services/upgrade/g-series/tire-pressure-indicator/low-pressure.jpg' target='_blank')
              img(src='/images/services/upgrade/g-series/tire-pressure-indicator/low-pressure-min.jpg')
        p 1 - Падение давления в задней левой шине. Значения давления изменяются при колебаниях температуры. 2 — Заданное давление и фактическое давление. 3 — Настройки для шин.
        p #[b Меню для внесения электронной системы контроля давления в шинах]
        p При управлении электронной системой контроля давления в шинах необходимо различать следующие 3 ситуации:
        ul
          li Проверка давления в шинах;
          li Проверка давления в шинах после смены колеса;
          li Проверка давления в шинах для несохраненных сочетаний дисков и шин (особые размеры);
        .images.columns
          .col-4.col-md-3
            a.image(data-fancybox href='/images/services/upgrade/g-series/tire-pressure-indicator/menu.jpg' target='_blank')
              img(src='/images/services/upgrade/g-series/tire-pressure-indicator/menu-min.jpg')
        p A — Мой автомобиль; B — Состояние автомобиля; C — Настройки для шин; D — Тип шин (лето/зима); 1 — Летние шины; 2 — Зимние шины/всесезонные шины; 3 — Подтвердить выполненные настройки.
        .highlighted Необходимо соблюдать руководство по эксплуатации электронной системы контроля давления в шинах.
        .highlighted Оставляем за собой право на опечатки, смысловые ошибки и технические изменения.
  include /videos
  include /about/advantages
  include /about
  include /contacts
