extends /layout.pug

block variables
  - var name = 'main_upgrade-g-series';
  - var section = 'Услуга';
  - var title = 'Дооснащение BMW 8 серии';
  - var models = 'G14/G15/G16, F91/F92/F93';
  - var seoTitle = 'Дооснащение BMW 8 серии (' + models + ') в Москве | Автосервис BMW «FGSEVER»';
  - var subtitle = 'Установка мультимедийной системы, цифровой комбинации приборов, проекционного дисплея, камеры KAFAS, активного круиз-контроля, ассистентов парковки и вождения, системы кругового обзора, комфортного доступа и других опций.';
  - var path = {'/services/': 'Услуги', '/services/upgrade/': 'Дооснащение', '/services/upgrade/g-series/': 'G&nbsp;серия', '': '8 серия'};
  - var button = ['popup', '#upgrade-appointment', 'Записаться на дооснащение'];

block content
  +main({ name, path, section, title, subtitle, button, models })
  //- include /warning
  include /upgrade/calculator
  section.services.options#services-options
    .wrapper
      .titles
        .overtitle Наши услуги
        h2 Устанавливаемые опции
      .tabs
        .tabs-item.active(data-tab='all') Все опции
        .tabs-item(data-tab='multimedia') Мультимедиа
        .tabs-item(data-tab='assistants') Ассистенты
        .tabs-item(data-tab='lighting') Освещение
        //- .tabs-item(data-tab='view') Обзор
        .tabs-item(data-tab='exterior') Экстерьер
        .tabs-item(data-tab='interior') Интерьер
        .tabs-item(data-tab='functionality') Функциональное оснащение
        .tabs-item(data-tab='chassis') Ходовая часть
      .columns
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='multimedia')
          .services-item
            img(src='/images/services/upgrade/g-series/7-series/head-up-display-min.jpg' srcset='/images/services/upgrade/g-series/7-series/head-up-display-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Проекционный дисплей
                .subtitle.services-item__subtitle Отображение на проекционном дисплее информации о текущей скорости движения, подсказок системы навигации, информации развлекательной системы и прочего
              .services-item__meta
                .services-item__price 90 000 ₽
                .button-simple Подробнее
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='multimedia')
          .services-item
            img(src='/images/services/upgrade/g-series/8-series/harman-kardon-sound-system-min.jpg' srcset='/images/services/upgrade/g-series/8-series/harman-kardon-sound-system-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Аудиосистема Harman/Kardon
                .subtitle.services-item__subtitle 16 динамиков и 9-канальный цифровой усилитель мощностью 464 Вт с возможностью индивидуальной настройки эквалайзера
              .services-item__meta
                .services-item__price 120 000 ₽
                .button-simple Подробнее
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='multimedia')
          .services-item
            img(src='/images/services/upgrade/g-series/8-series/bowers-and-wilkins-sound-system-min.jpg' srcset='/images/services/upgrade/g-series/8-series/bowers-and-wilkins-sound-system-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Аудиосистема Bowers & Wilkins Diamond
                .subtitle.services-item__subtitle 16 динамиков с общей выходной мощностью 1400 Вт. При включении аудиосистемы динамики подсвечиваются, визуально подчеркивая выдающееся качество звучания
              .services-item__meta
                .services-item__price 350 000 ₽
                .button-simple Подробнее
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='multimedia')
          .services-item
            img(src='/images/services/upgrade/g-series/8-series/tv-tuner-min.jpg' srcset='/images/services/upgrade/g-series/8-series/tv-tuner-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Телевидение
                .subtitle.services-item__subtitle Возможность принимать и отображать цифровые телевизионные каналы (DVB-T/DVB-T2/DVB-T2 HD), включая электронные программы телепередач и платное ТВ
              .services-item__meta
                .services-item__price 65 000 ₽
                .button-simple Подробнее
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='assistants')
          .services-item
            img(src='/images/services/upgrade/g-series/8-series/parking-assistant-plus-min.jpg' srcset='/images/services/upgrade/g-series/8-series/parking-assistant-plus-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Ассистент парковки Plus
                .subtitle.services-item__subtitle Система кругового обзора, включая вид сверху и 3D-обзор, сигнализация аварийного сближения и полностью автоматический ассистент парковки
              .services-item__meta
                .services-item__price 90 000 ₽
                a.button-simple(href='/services/upgrade/g-series/parking-assistant/') Подробнее
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='assistants')
          .services-item
            img(src='/images/services/upgrade/g-series/8-series/active-guard-min.jpg' srcset='/images/services/upgrade/g-series/8-series/active-guard-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Active Guard
                .subtitle.services-item__subtitle Система предупреждения водителя о возможном столкновении или наезде на пешехода, а также торможение в случае возникновения опасности ДТП
              .services-item__meta
                .services-item__price 30 000 ₽
                a.button-simple(href='/services/upgrade/g-series/active-guard/') Подробнее
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='assistants')
          .services-item
            img(src='/images/services/upgrade/g-series/8-series/active-cruise-control-min.jpg' srcset='/images/services/upgrade/g-series/8-series/active-cruise-control-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Активный круиз-контроль c функцией Stop&Go
                .subtitle.services-item__subtitle Поддержание заданной дистанции до находящегося впереди автомобиля, а также полная остановка и разгон автомобиля при необходимости
              .services-item__meta
                .services-item__price 80 000 ₽
                a.button-simple(href='/services/upgrade/g-series/active-cruise-control') Подробнее
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='assistants')
          .services-item
            img(src='/images/services/upgrade/g-series/8-series/driving-assistant-professional-min.jpg' srcset='/images/services/upgrade/g-series/8-series/driving-assistant-professional-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Ассистент вождения Professional
                .subtitle.services-item__subtitle Активный круиз-контроль с функцией Stop&Go, полный набор ассистентов, а также возможность системы взять управление на себя в случае недомогания водителя
              .services-item__meta
                .services-item__price 350 000 ₽
                .button-simple Подробнее
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='assistants')
          .services-item
            img(src='/images/services/upgrade/g-series/8-series/night-vision-min.jpg' srcset='/images/services/upgrade/g-series/8-series/night-vision-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Система ночного видения с функцией распознавания людей и животных
                .subtitle.services-item__subtitle Позволяет в темное время суток распознавать людей и крупных животных, а также освещать их с помощью функции направленной динамической подсветки
              .services-item__meta
                .services-item__price 200 000 ₽
                a.button-simple(href='/services/upgrade/g-series/night-vision/') Подробнее
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='assistants')
          .services-item
            img(src='/images/services/upgrade/g-series/8-series/active-protection-min.jpg' srcset='/images/services/upgrade/g-series/8-series/active-protection-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Активная защита
                .subtitle.services-item__subtitle В критической ситуации во время движения ремни безопасности натягиваются, спинки сидений поднимаются, а боковые окна и люк в крыше закрываются
              .services-item__meta
                .services-item__price 60 000 ₽
                .button-simple Подробнее
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='safety')
          .services-item
            img(src='/images/services/upgrade/g-series/8-series/extra-package-eu-min.jpg' srcset='/images/services/upgrade/g-series/8-series/extra-package-eu-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Дополнительный объем для EU
                .subtitle.services-item__subtitle Двухступенчатая подушка безопаности водителя, датчики пристегнутого ремня переднего и задних пассажиров, датчик наличия переднего пассажира
              .services-item__meta
                .services-item__price 140 000 ₽
                .button-simple Подробнее
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='safety')
            .services-item
              img(src='/images/services/upgrade/g-series/8-series/passenger-airbag-min.jpg' srcset='/images/services/upgrade/g-series/8-series/passenger-airbag-min@2x.jpg 1.5x')
              .services-item__content
                .services-item__text
                  h3 Коленная подушка безопасности пассажира
                  .subtitle.services-item__subtitle Дополнительно установленная в автомобиле подушка безопасности, расположенная в области колен переднего пассажира
                .services-item__meta
                  .services-item__price 25 000 ₽
                  .button-simple Подробнее
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='lighting')
          .services-item
            img(src='/images/services/upgrade/g-series/8-series/laser-lights-min.jpg' srcset='/images/services/upgrade/g-series/8-series/laser-lights-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Лазерные фары
                .subtitle.services-item__subtitle Освещают дорогу на расстояние до 650 метров, что почти вдвое дальше, чем при использовании обычных фар. Имеют синие акценты и надпись «BMW Laser»
              .services-item__meta
                .services-item__price 250 000 ₽
                .button-simple Подробнее
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='exterior')
          .services-item
            img(src='/images/services/upgrade/g-series/8-series/m-bodykit-min.jpg' srcset='/images/services/upgrade/g-series/8-series/m-bodykit-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Аэродинамический пакет M
                .subtitle.services-item__subtitle Спортивные передний и задний бамперы, а также специальные облицовки порогов, окрашеные в цвет кузова. Диффузор контрастного цвета \"Темно-серый металлик\" в задней части автомобиля
              .services-item__meta
                .services-item__price 120 000 ₽
                .button-simple Подробнее
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='exterior')
          .services-item
            img(src='/images/services/upgrade/g-series/8-series/carbon-roof-min.jpg' srcset='/images/services/upgrade/g-series/8-series/carbon-roof-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Карбоновая крыша M
                .subtitle.services-item__subtitle Способствует значительному снижению массы автомобиля, так как состоит из нескольких слоев и изготавливается при помощи комплексного процесса
              .services-item__meta
                .services-item__price "" ₽
                .button-simple Подробнее
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='interior')
          .services-item
            img(src='/images/services/upgrade/g-series/8-series/thermo-windshield-min.jpg' srcset='/images/services/upgrade/g-series/8-series/thermo-windshield-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Теплоизоляционное ветровое стекло
                .subtitle.services-item__subtitle Теплоизоляционное ветровое стекло с защитной акустической пленкой уменьшает нежелательный нагрев салона, отражая инфракрасные лучи
              .services-item__meta
                .services-item__price "" ₽
                .button-simple Подробнее
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='interior')
          .services-item
            img(src='/images/services/upgrade/g-series/8-series/multifuctional-front-seats-min.jpg' srcset='/images/services/upgrade/g-series/8-series/multifuctional-front-seats-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Многофункциональные передние сиденья
                .subtitle.services-item__subtitle Отделаны высококачественной кожей, позволяют настраивать ширину спинки, поясничный подпор и глубину сиденья. Также обладают функциями подогрева и охлаждения
              .services-item__meta
                .services-item__price "" ₽
                .button-simple Подробнее
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='interior')
          .services-item
            img(src='/images/services/upgrade/g-series/8-series/active-front-seats-ventilation-min.jpg' srcset='/images/services/upgrade/g-series/8-series/active-front-seats-ventilation-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Активная вентиляция передних сидений
                .subtitle.services-item__subtitle Активная вентиляция поверхности подушек и спинок передних сидений. При нагреве салона позволяет быстро охладить сиденья до комфортной температуры
              .services-item__meta
                .services-item__price 150 000 ₽
                .button-simple Подробнее
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='interior')
          .services-item
            img(src='/images/services/upgrade/g-series/8-series/heating-package-min.jpg' srcset='/images/services/upgrade/g-series/8-series/heating-package-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Пакет обогрева: передние сиденья, передние подлокотники, рулевое колесо
                .subtitle.services-item__subtitle В дополнение к обогреваемым сиденьям в пакет входят боковые подлокотники, расположенные на дверях и передней части центральной консоли, и рулевое колесо с обогревом. Обогреваются подушки и спинки сидений
              .services-item__meta
                .services-item__price "" ₽
                .button-simple Подробнее
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='interior')
          .services-item
            img(src='/images/services/upgrade/g-series/8-series/glass-controls-min.jpg' srcset='/images/services/upgrade/g-series/8-series/glass-controls-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Стеклянная отделка деталей интерьера
                .subtitle.services-item__subtitle Тщательно изготовленные вручную элементы дизайна из хрустального стекла цвета «Дымчатый Кварц», которые обеспечивают более высокий визуальный и тактильный уровень исполнения салона
              .services-item__meta
                .services-item__price от 31 500 ₽
                .button-simple Подробнее
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='interior')
          .services-item
            img(src='/images/services/upgrade/g-series/8-series/m-steering-wheel-min.jpg' srcset='/images/services/upgrade/g-series/8-series/m-steering-wheel-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Спортивное рулевое колесо M
                .subtitle.services-item__subtitle Многофункциональное кожаное рулевое колесо с эргономичными упорами для больших пальцев, подчеркивающее спортивные возможности автомобиля
              .services-item__meta
                .services-item__price 60 000 ₽
                .button-simple Подробнее
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='interior')
          .services-item
            img(src='/images/services/upgrade/g-series/8-series/panoramic-moonroof-min.jpg' srcset='/images/services/upgrade/g-series/8-series/panoramic-moonroof-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Панорамная стеклянная крыша
                .subtitle.services-item__subtitle Обеспечивает хороший обзор и наполняет салон светом, создавая там ощущение особого простора, а также обеспечивает широкие возможности дополнительной вентиляции
              .services-item__meta
                .services-item__price 350 000 ₽
                .button-simple Подробнее
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='functionality')
          .services-item
            img(src='/images/services/upgrade/g-series/8-series/automatic-doors-min.jpg' srcset='/images/services/upgrade/g-series/8-series/automatic-doors-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Автодоводчик дверей
                .subtitle.services-item__subtitle Автоматическое полное закрывание прикрытых дверей. Происходит комфортно, надежно, с малым усилием и практически бесшумно
              .services-item__meta
                .services-item__price 80 000 ₽
                a.button-simple(href='/services/upgrade/g-series/automatic-doors/') Подробнее
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='functionality')
          .services-item
            img(src='/images/services/upgrade/g-series/8-series/comfort-access-min.jpg' srcset='/images/services/upgrade/g-series/8-series/comfort-access-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Комфортный доступ
                .subtitle.services-item__subtitle Открывание дверей автомобиля и запуск двигателя без использования ключа, а также бесконтактное открывание и закрывание крышки багажного отделения
              .services-item__meta
                .services-item__price 120 000 ₽
                .button-simple Подробнее
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='functionality')
          .services-item
            img(src='/images/services/upgrade/g-series/8-series/sun-protection-glazing-min.jpg' srcset='/images/services/upgrade/g-series/8-series/sun-protection-glazing-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Солнцезащитное остекление
                .subtitle.services-item__subtitle Солнцезащитное остекление заднего и задних боковых окон более эффективно поглощает солнечное излучение и предотвращает чрезмерный нагрев салона
              .services-item__meta
                .services-item__price 190 000 ₽
                .button-simple Подробнее
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='functionality')
          .services-item
            img(src='/images/services/upgrade/g-series/8-series/autonomous-heating-min.jpg' srcset='/images/services/upgrade/g-series/8-series/autonomous-heating-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Автономная система отопления
                .subtitle.services-item__subtitle Позволяет нагревать салон до комфортной температуры в холодные дни без запуска двигателя, а также предотвращает обмерзание и запотевание окон автомобиля
              .services-item__meta
                .services-item__price 140 000 ₽
                .button-simple Подробнее
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='functionality')
          .services-item
            img(src='/images/services/upgrade/g-series/8-series/mirror-with-remote-control-min.jpg' srcset='/images/services/upgrade/g-series/8-series/mirror-with-remote-control-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Встроенный пульт дистанционного управления
                .subtitle.services-item__subtitle Заменяет до трех пультов дистанционного управления и позволяет управлять открытием ворот и гаражных дверей при помощи кнопок на корпусе зеркала заднего вида
              .services-item__meta
                .services-item__price 18 000 ₽
                .button-simple Подробнее
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='functionality')
          .services-item
            img(src='/images/services/upgrade/g-series/8-series/security-alarm-min.jpg' srcset='/images/services/upgrade/g-series/8-series/security-alarm-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Охранная сигнализация
                .subtitle.services-item__subtitle Отслеживает состояние дверей, капота, крышки багажника и салона, а также включает в себя датчик крена кузова и автономную сирену
              .services-item__meta
                .services-item__price 30 000 ₽
                .button-simple Подробнее
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='chassis')
          .services-item
            img(src='/images/services/upgrade/g-series/8-series/m-sport-brakes-min.jpg' srcset='/images/services/upgrade/g-series/8-series/m-sport-brakes-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Тормозная система M Sport
                .subtitle.services-item__subtitle Высокоэффективные вентилируемые тормозные механизмы с 4-поршневыми суппортами спереди, и однопоршневыми — сзади. Окрашены в черный цвет и имеют логотип «M»
              .services-item__meta
                .services-item__price 90 000 ₽
                .button-simple Подробнее
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='chassis')
          .services-item
            img(src='/images/services/upgrade/g-series/8-series/integral-active-steering-min.jpg' srcset='/images/services/upgrade/g-series/8-series/integral-active-steering-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Интегральное активное рулевое управление
                .subtitle.services-item__subtitle Автоматическое подруливание колесами задней оси, изменение передаточного отношения рулевого механизма и регулировка усилия на рулевом колесе в зависимости от скорости и выбранного режима
              .services-item__meta
                .services-item__price 90 000 ₽
                a.button-simple(href='/services/upgrade/g-series/integral-active-steering/') Подробнее
  include /videos
  include /contacts
