extends /layout.pug

block variables
  - var name = 'main_high main_6-series';
  - var section = 'Вид работ';
  - var title = 'Диагностика автомобиля в BMW&nbsp;6&nbsp;серии';
  - var models = 'G32, F06/F12/F13, E63/E64';
  - var seoTitle = 'Диагностика автомобиля в BMW 6 серии (' + models + ') в Москве | Автосервис BMW «FGSEVER»';
  - var subtitle = 'Услуги по общей диагностике и выявлению основных неисправностей автомобилей BMW 6&nbsp;серии в Москве. Мы выполним все необходимые работы по обслуживанию вашего автомобиля и ответим на все интересующие вас вопросы.';
  - var path = {'/services/': 'Услуги', '/services/maintenance/': 'Техническое обслуживание BMW', '/services/maintenance/6-series/': '6&nbsp;серия', '': 'Диагностика автомобиля'};
  - var button = ['popup', '#maintenance-appointment', 'Записаться'];

block content
  +main({ name, path, section, title, subtitle, button, models })
  include /maintenance/description/car-diagnostics
  section.prices
    .wrapper
      .titles
        .overtitle Об услуге
        h2 Стоимость
      .block
        .table-wrapper
          .table
            table
              tr.table-header
                td Услуга
                td Стоимость
              tr
                td Общая диагностика автомобиля (включая компьютерную диагностику, диагностику подвески и течи)
                td 2 100 ₽
  include /maintenance/photos/car-diagnostics
  include /about/advantages
  include /about  
  include /contacts
