extends /layout.pug

block variables
  - var name = 'main_front-radar-sensor';
  - var section = 'Услуга';
  - var title = 'Передний радарный датчик дальней зоны (FRSF)';
  - var seoTitle = 'Передний радарный датчик на BMW в Москве | Автосервис BMW «FGSEVER»';
  - var subtitle = 'Передний радарный датчик дальней зоны (FRSF), среди прочего, требуется для работы системы поддержания заданной скорости с функцией Stop&Go.';
  - var path = {'/services/': 'Услуги', '/services/upgrade/': 'Дооснащение', '/services/upgrade/g-series/': 'G&nbsp;серия', '': 'Передний радарный датчик дальней зоны (FRSF)'};
  - var button = ['popup', '#upgrade-appointment', 'Записаться на дооснащение'];

block content
  +main(name, path, section, title, subtitle, button)
  section.description
    .wrapper
      .titles
        .overtitle Об услуге
        h2 Описание
      .block
        .icon.information-color
        h3 Что это такое?
        p Передний радарный датчик дальней зоны (FRSF), среди прочего, требуется для работы системы поддержания заданной скорости с функцией Stop&Go.
        p Система поддержания заданной скорости регулирует установленную водителем скорость и, при необходимости, заданную дистанцию до движущегося впереди транспортного средства. В качестве транспортных средств распознаются легковые автомобили, грузовые автомобили и мотоциклы.
        p Система поддержания заданной скорости не распознает только автомобили с медленным остановом и остановленные транспортные средства. Область применения системы поддержания заданной скорости — от высоких скоростей до неподвижного состояния. Расстояние и скорость регулируются автоматически.
        h3 Принцип работы системы
        p Данные переднего радарного датчика дальней зоны (FRSF) и камеры KAFAS анализируются системой контроля специального оборудования (SAS). Камера KAFAS однозначно распознает автомобили, когда полностью видна задняя часть автомобиля. Кроме того, блок управления KAFAS обеспечивает определение информации о полосе движения, положения и движения автомобилей. Распознавание остановленных транспортных средств также осуществляется камерой KAFAS.
        p Передний радарный датчик дальней зоны (FRSF) в значительной степени не зависит от погодных условий и распознает впереди едущие автомобили на расстоянии до 200 м. Для распознавания ближней зоны дополнительно анализируются данные передних ультразвуковых датчиков.
        p На некоторых автомобилях используется передний радарный датчик (FRS), который представляет собой базовое исполнение переднего радарного датчика дальней зоны (FRSF). Передний радарный датчик (FRS) почти не зависит от погодных условий и может распознавать движущиеся впереди транспортные средства на расстоянии примерно до 160 м. Устанавливается только при определенных условиях:
        ul
          li Дополнительное оборудование #[a.link(href='/services/upgrade/g-series/active-cruise-control') SA5DF Система поддержания заданной скорости с функцией Stop&Go (только G05, G06, G07)];
          li Дополнительное оборудование #[a.link(href='/services/upgrade/g-series/active-guard-plus') SA5AQ Active Guard Plus.]
        .images.columns
          .col-4.col-md-3
            a.image(data-fancybox href='/images/services/upgrade/g-series/front-radar-sensor/frs.jpg' target='_blank')
              img(src='/images/services/upgrade/g-series/front-radar-sensor/frs-min.jpg')
        p 1 — Передний радарный; 2 — 8-полюсный разъем датчик дальней зоны (FRSF).
        p Для системы поддержания заданной скорости с функцией Stop&Go блок управления SAS берет на себя следующие задачи:
        ul
          li Анализ полученных от радиолокационных датчиков данных об объектах;
          li Оценка объектов и выбор существенных для регулировки дистанции объектов анализ сигналов управления;
          li Генерирование сигналов для индикации;
          li Регулировка скорости и дистанции;
          li Формирование и выдача заданных значений на актюаторы привода и тормозов по шине Flexray;
          li Проверка всех входных сигналов, ЭБУ (аппаратное обеспечение), а также поведения автомобиля на ошибки или неправдоподобные состояния.
        .highlighted Оставляем за собой право на опечатки, смысловые ошибки и технические изменения.
  include /videos
  include /about/advantages
  include /about
  include /contacts
