section.description
  .wrapper
    .titles
      .overtitle Об услуге
      h2 Описание
    .block
      .icon.information-color
      h3 Что включает мойка автомобиля
      p При регулярной эксплуатации автомобиля на нём неизбежно появляются грязь, дорожные реагенты, соль, следы насекомых, в салоне образуются глянцевые пятна, жирный блекс и так далее. Чтобы очистить экстерьер и интерьер вашего автомобиля, вы можете воспользоватья различными вариантами мойки в нашем автосервисе:
      ul
        li Экспресс-мойка;
        li Бесконтактная мойка;
        li Однофазная и трехфазная мойка;
        li Комплексная мойка автомобиля;
        li Обработка поверхности автомобиля специальными составами (антидождь, очистка от налета, удаление битума, чернение резины);
        li Чистка и уход за интерьером (уборка салона и багажника пылесосом, влажная уборка, очистка пластика, обработка сидений кондиционером).
      h3 Как происходит мойка автомобиля
      p Любая мойка автомобиля, от экспресс-мойки до комплексной, требует соблюдения нескольких правил:
      ul
        li Первым делом нужно довести температуру кузова до необходимой. В летнее время кузов остужают от нагрева на солнце, чтобы не нанести ожоги и повреждения лакокрасочному покрытию, а в зимнее время кузов, наоборот, нагревают до температуры помещения, чтобы отогреть и сбить все заледенелые участки.
        li Перед контактом с водой необходимо выждать несколько минут и остудить нагретые тормозные диски, это позволит избежать их деформации от резкого охлаждения.
        li Мойка должна выполняться проверенными составами от зарекомендовавших себя производителей. Экономия на средствах может привести к плохому отмыванию грязи, въевшихся пятен, оставлению следов налета и других загрязнений.
      h3 Как часто нужно мыть автомобиль
      p При посещении нашего автосервиса мы предлагаем всем клиентам услугу мойки, так как чистый автомобиль упрощает работу мастерам и, в некоторых случаях, позволяет выявить различные неисправности, такие как течь масла, антифриза и других технических жидкостей.
      .highlighted 
        p Стоит помнить, что #[b необходимо регулярно мыть автомобиль] в любое время года. Как минимум, нужно мыть автомобиль #[b раз в месяц], чтобы не допустить въедания в лакокрасочное покрытие сильных загрязнений, таких как следы насекомых, кальцевый налет и других отложений. В идеальном случае, лучше мыть машину каждую неделю, а после каждой дальней поездки в течение суток заезжать на мойку, чтобы сбить свежую грязь.