section.prices
  .wrapper
    .titles
      .overtitle Об услуге
      h2 Стоимость
    .block
      .table-wrapper
        .table
          table
            tr.table-header
              td Услуга
              td Стоимость (легковые модели, X1/X2)
              td Стоимость (7 серия, кроссоверы)
            tr
              td Экспресс-мойка
              td 300 ₽
              td 400 ₽
            tr
              td Бесконтактная мойка кузова (ковры, пороги)
              td 850 ₽
              td 950 ₽
            tr
              td Трехфазная наномойка (ковры, пороги)
              td 1 800 ₽
              td 2 000 ₽
            tr
              td Обработка кожаных сидений (кондиционером)
              td 600 ₽
              td 700 ₽
            tr
              td Обработка внешней поверхности стекол (антидождь)
              td 1 800 ₽
              td 2 000 ₽
            tr
              td Чернение резины (4 колеса)
              td 200 ₽
              td 250 ₽
            tr
              td Удаление битумных пятен (1 элемент кузова)
              td 150 ₽
              td 200 ₽
            tr
              td Очистка пластиковых и кожаных поверхностей (влажная)
              td 250 ₽
              td 300 ₽
            tr
              td Уборка салона пылесосом (без багажного отделения)
              td 300 ₽
              td 350 ₽
            tr
              td Уборка багажного отделения пылесосом
              td 200 ₽
              td 300 ₽
            tr
              td Очистка внешней поверхности диска с автохимией (от налета)
              td 130 ₽
              td 150 ₽
            tr
              td Очистка стекол внутри салона
              td 400 ₽
              td 500 ₽
            tr
              td Комплексная мойка (1-фазная)
              td 1 400 ₽
              td 1 600 ₽
            tr
              td Комплексная мойка (3-фазная)
              td 2 200 ₽
              td 2 500 ₽