extends /layout.pug

block variables
  - var name = 'main_pneumo-suspension';
  - var section = 'Услуга';
  - var title = 'Двухосная пневматическая подвеска (2VR)';
  - var seoTitle = 'Двухосная пневматическая подвеска на BMW в Москве | Автосервис BMW «FGSEVER»';
  - var subtitle = 'Обеспечивает комфортабельное движение, поддерживает высоту кузова на неизменном уровне, опускает на высокой скорости и позволяет выбрать один из пяти фиксированных уровней.';
  - var path = {'/services/': 'Услуги', '/services/upgrade/': 'Дооснащение', '/services/upgrade/g-series/': 'G&nbsp;серия', '': 'Двухосная пневматическая подвеска (2VR)'};
  - var button = ['popup', '#upgrade-appointment', 'Записаться на дооснащение'];

block content
  +main({ name, path, section, title, subtitle, button })
  section.description
    .wrapper
      .titles
        .overtitle Об услуге
        h2 Описание
      .block
        .icon.information-color
        h3 Что это такое?
        p Двухосная пневматическая подвеска или электронная система контроля высоты дорожного просвета (EHC) представляет из себя особую конструкцию подвески, в которой используются пневматические амортизаторы взамен обычных с пружинами. Благодаря их использованию обеспечивается следующие возможности:
        ul
          li Комфортабельное движение автомобиля на низких и высоких скоростях;
          li Поддержание высоты кузова на неизменном уровне при загрузке тяжелым грузом;
          li Опускание кузова на высокой скорости;
          li Возможность выбора одного из пяти фиксированных уровней высоты кузова над дорогой.
        h3 Преимущества системы
        p Двухмостовая регулировка уровня является новой и уникальной разработкой. Особенность заключается в том, что система подачи воздуха является закрытой системой. Только в исключительных случаях воздух всасывается из окружения или выводится туда.
        p Двухмостовая пневматическая подвеска активируется блоком управления EHC (электронная система контроля высоты дорожного просвета).
        p Для сохранения комфортности езды независимо от степени загрузки ходовая часть оснащается пневматической подвеской на переднем и заднем мостах.
        p Двухмостовая регулировка уровня предлагается только в комбинации с электронной системой регулировки жесткости амортизаторов.
        p Комбинация обеих систем обеспечивает следующие преимущества:
        ul
          li Двухмостовая регулировка уровня автоматически поддерживает высоту кузова транспортного средства на заданном уровне при любой степени загрузки;
          li Двухмостовая регулировка уровня удерживает автомобиль на заданном значении даже при тяжелом дополнительном грузе. Это повышает безопасность и динамику движения на любом дорожном покрытии;
          li Двухмостовая регулировка уровня адаптирует физическую вибрацию к массе автомобиля;
          li Электронная система регулировки жесткости амортизаторов улучшает пригодность для езды на длинные дистанции, повышает устойчивость кузова и маневренность.
          li Электронная система регулировки жесткости амортизаторов улучшает безопасность движения при минимизации колебаний нагрузки на колесо и сокращении тормозного пути.
        h3 Принцип работы системы
        .images.columns
          .col-4.col-md-3
            a.image(data-fancybox href='/images/services/upgrade/g-series/pneumo-suspension/ehc.jpg' target='_blank')
              img(src='/images/services/upgrade/g-series/pneumo-suspension/ehc-min.jpg')
        p 1 — Правый передний пневмоамортизатор с электронной системой регулировки жесткости амортизаторов; 2 — Гидроаккумулятор; 3 — Правый задний пневмоамортизатор с электронной системой регулировки жесткости амортизаторов; 4 — Левый задний пневмоамортизатор с электронной системой регулировки жесткости амортизаторов; 5 — Система подачи воздуха с блоком управления EHC; 6 — Левый передний пневмоамортизатор с электронной системой регулировки жесткости амортизаторов.
        p #[b Система подачи воздуха с блоком управления электронной системы контроля высоты дорожного просвета (EHC)]
        p Система подачи воздуха образует вместе с блоком управления EHC один узел.
        .highlighted Систему подачи воздуха и блок управления EHC невозможно заменить по отдельности.
        p Система подачи воздуха находится на днище транспортного средства рядом с передним левым боковым швеллером.
        p В блоке управления EHC реализована функция двухмостовой системы регулировки дорожного просвета. Блок управления EHC контролирует компоненты системы и сохраняет возможные возникающие ошибки.
        p Блок управления EHC подключен к PT-CAN. Для быстрой передачи данных между блоком управления EHC и блоком управления VDP подключена локальная шина CAN.
        p 38-полюсное штекерное соединение на блоке управления EHC служит в качестве интерфейса для жгута проводов.
        p Колодка предохранителей в багажном отделении питает блок управления EHC от контакта 30B. Body Domain Controller (BDC) предоставляет контакт 30F.
        p ЭБУ EHC среди прочих обрабатывает следующие сигналы (в том числе сигналы по шинам):
        ul
          li Высота дорожного просвета от 4 датчиков высоты дорожного просвета (сигнал по шине от платформы вертикальной динамики (VDP));
          li Включен режим PAD (сигнал по шине от Body Domain Controller (BDC));
          li Скорость движения (сигнал системы динамического контроля устойчивости (DSC), передаваемый по шине);
          li Поперечное ускорение (сигнал модуля безопасности при столкновении (ACSM));
          li Сигнал «Двигатель работает» (сигнал, передаваемый по шине от цифровой электронной системы управления двигателем DME или цифровой электронной системы управления дизельным двигателем DDE);
          li Информация о статусе дверей и крышки багажника (сигнал по шине от Body Domain Controller (BDC));
          li Пробег (сигнал, передаваемый по шине от комбинации приборов (KOMBI));
          li Распознавание подсоединенного прицепа (сигнал, передаваемый по шине от модуля подключения электрооборудования прицепа (AHM));
          li Статус системы контроля давления в шинах (сигнал, передаваемый по шине от системы динамического контроля устойчивости (DSC));
        .images.columns
          .col-4.col-md-3
            a.image(data-fancybox href='/images/services/upgrade/g-series/pneumo-suspension/air-compressor.jpg' target='_blank')
              img(src='/images/services/upgrade/g-series/pneumo-suspension/air-compressor-min.jpg')
        p 1 — Система подачи; 2 — Держатель воздуха; 3 — ЭБУ EHC; 4 — 38-полюсное штекерное соединение.
        p Система подачи воздуха включает следующие компоненты:
        ul
          li Привод компрессора;
          li Клапанный блок и компрессор;
          li Электромагнитные клапаны;
          li Датчик давления и температуры;
          li Влагоотделитель;
        p #[b Переключатель для регулировки дорожного просвета]
        p Переключатель для регулировки дорожного просвета встроен в корпус центра управления в центральной консоли. На переключателе для регулировки дорожного просвета находятся следующие кнопки:
        ul
          li Переключатель внедорожного режима (xOffroad Paket SA3E3);
          li Двухпозиционная клавиша двухмостовой регулировки уровня;
          li Двухпозиционная клавиша внедорожного режима (xOffroad Paket SA3E3);
          li Кнопка HDC (системы контроля курсовой устойчивости при спуске).
        p Различные уровни регулируются с помощью двухмостовой системы регулировки дорожного просвета.
        p С помощью двухпозиционной клавиши двухмостовой регулировки уровня можно вручную выбирать 5 уровней высоты дорожного просвета.
        ul
          li Уровень для движения по бездорожью (+40 мм);
          li Высокий уровень (+20 мм);
          li Нормальный уровень (+/-0 мм);
          li Спортивный уровень (-20 мм);
          li Уровень для движения нагруженного транспортного средства (-40 мм).
        p Динамический уровень (-10 мм) автоматически устанавливается в зависимости от скорости и не может быть выбран вручную с помощью двухпозиционной клавиши.
        p С помощью кнопки внедорожного режима включается или выключается внедорожный режим движения.
        p С помощью расположенной ниже двухпозиционной клавиши можно более подробно настроить внедорожный режим движения, как с помощью переключателя системы регулирования динамики движения для бездорожья. При этом на выбор имеются следующие программы:
        ul
          li Гравий (высокий уровень +20 мм). Оптимизированная подстройка транспортного средства для легкого бездорожья.
          li Песок (высокий уровень +20 мм). Оптимизированная подстройка транспортного средства для тяжелого бездорожья с зыбким основанием.
          li Скалы (уровень для движения по бездорожью +40 мм). Оптимизированная подстройка транспортного средства для сильных неровностей дороги.
          li Снег (нормальный уровень +/-0 мм). Оптимизированная подстройка транспортного средства для спокойных динамических свойств на скользком дорожном полотне.
        p Система курсовой устойчивости при спуске является системой поддержки, которая регулирует скорость на крутых уклонах. Данная функция включается и выключается с помощью кнопки HDC.
        .images.columns
          .col-4.col-md-3
            a.image(data-fancybox href='/images/services/upgrade/g-series/pneumo-suspension/buttons.jpg' target='_blank')
              img(src='/images/services/upgrade/g-series/pneumo-suspension/buttons-min.jpg')
        p 1 — Переключатель для регулировки дорожного просвета; 2 — Переключатель внедорожного режима (xOffroad Paket SA3E3); 3 — Индикация высоты дорожного просвета; 4 — Двухпозиционная клавиша двухмостовой регулировки уровня; 5 — Двухпозиционная клавиша внедорожного режима (xOffroad Paket SA3E3); 6 — 3-полюсный разъем; 7 — Кнопка HDC (= система курсовой устойчивости при спуске).
        p #[b Клавиша отпирания нижней крышки багажника]
        p При открытой крышке багажника для упрощения загрузки можно опустить транспортное средство на уровень загрузки (-40 мм), нажав кнопку системы регулировки дорожного просвета.
        p Электрический EHC анализирует сигнал кнопки системы регулировки дорожного просвета. Двухмостовая система регулировки дорожного просвета опускает транспортное средство на уровень загрузки (- 40 мм).
        .images.columns
          .col-4.col-md-3
            a.image(data-fancybox href='/images/services/upgrade/g-series/pneumo-suspension/trunk-buttons.jpg' target='_blank')
              img(src='/images/services/upgrade/g-series/pneumo-suspension/trunk-buttons-min.jpg')
        p 1 — Клавиша отпирания нижней крышки багажника; 2 — Кнопка крышки багажника; 3 — Кнопка системы регулировки дорожного просвета: опускание уровня; 4 — Функциональный световой индикатор для системы регулировки дорожного просвета; 5 — 6‐контактный разъем.
        p #[b Гидроаккумулятор]
        p Особенность новой двухмостовой системы регулировки дорожного просвета заключается в том, что система подачи воздуха является закрытой системой. Только в исключительных случаях воздух всасывается из окружения или выводится туда.
        p Закрытая система имеет следующие преимущества:
        ul
          li Высокая скорость регулировки уровня;
          li Повышенная доступность системы;
          li Более низкая нагрузка энергетической бортовой сети.
        p Гидроаккумулятор предоставляет необходимый объем воздуха для режима регулирования. Объем воздуха в гидроаккумуляторе составляет 8 л. Максимальное рабочее давление составляет 15 бар. Из этого получается общий объем наполнения 120 л.
        p Датчик давления в системе подачи воздуха контролирует давление воздуха во всей системе.
        .images.columns
          .col-4.col-md-3
            a.image(data-fancybox href='/images/services/upgrade/g-series/pneumo-suspension/hydroaccumulator.jpg' target='_blank')
              img(src='/images/services/upgrade/g-series/pneumo-suspension/hydroaccumulator-min.jpg')
        p 1 — Гидроаккумулятор, 8 л; 2 — Подключение трубопровода сжатого воздуха.
        p #[b Электронная система регулировки жесткости амортизаторов]
        p Электронная система регулировки жесткости амортизаторов — это изменяемая система с электронной регулировкой для изменения настройки амортизаторов.
        p При этом регулировка вертикальной динамики выполняется 2 катушками клапана для каждого испарителя. Одна катушка клапана управляет стадией сжатия, а вторая катушка клапана управляет ходом отбоя. Электронная система регулировки жесткости амортизаторов повышает плавность качения автомобиля при одновременном улучшении динамики движения.
        p Блок управления VDP управляет отдельными катушками клапана.
        p Для электронной системы регулировки жесткости амортизаторов анализируются следующие входные параметры.
        ul
          li Ускорение кузова с помощью датчиков высоты дорожного просвета (сигнал по шине от платформы вертикальной динамики (VDP));
          li Мгновенное поперечное и продольное ускорение (сигнал по шине от модуля безопасности при столкновении (ACSM));
          li Скорость движения (сигнал системы динамического контроля устойчивости (DSC), передаваемый по шине);
          li Угол поворота рулевого колеса (сигнал по шине от электромеханического усилителя рулевого привода (EPS));
          li Контур дороги определяется с помощью опциональной камеры KAFAS (дополнительное оборудование);
        p Таким образом всегда можно установить необходимую силу демпфирования для следующего диапазона.
        .highlighted Катушки клапана не запитываются при мягкой настройке!
        p Переключателем системы регулирования динамики движения клиент может согласовывать электронную систему регулировки жесткости амортизаторов со спортивной или комфортабельной динамикой.
        .highlighted Поддержка с помощью дополнительной стереокамеры активна до скорости 120 км/ч. Соблюдать указания для предельных значений системы из руководства по эксплуатации!
        .images.columns
          .col-4.col-md-3
            a.image(data-fancybox href='/images/services/upgrade/g-series/pneumo-suspension/pneumatic-shock-absorber.jpg' target='_blank')
              img(src='/images/services/upgrade/g-series/pneumo-suspension/pneumatic-shock-absorber-min.jpg')
        p 1 — Пневматическая рессора; 2 — Катушка клапана для хода отбоя и ступени давления; 3 — 2-полюсное штекерное соединение; 4 — Амортизационная стойка; 5 — Подключение трубопровода сжатого воздуха.
        p #[b Стадия сжатия.] Колесо перемещается вверх (сжимание пружин подвески) и телескопически сжимает амортизатор. Стадия сжатия при этом демпфирует пневмоамортизатор.
        p #[b Ход отбоя.] Колесо перемещается вниз (разжатие) и телескопически растягивает амортизатор. Ход отбоя при этом демпфирует пневмоамортизатор.
        p #[b Датчик дорожного просвета.]
        p Датчик дорожного просвета представляет собой бесконтактный датчик. Датчик дорожного просвета преобразует данные о пройденном участке пути пропорционально через угол поворота в аналоговый сигнал напряжения. Датчик может вращаться вокруг собственной оси на 360°.
        p Используются датчики высоты дорожного просвета с пилообразной графической характеристикой. Они характеризуются широкой областью применения и почти независимым положением установки.
        p 4 датчика высоты дорожного просвета подсоединены к блоку управления VDP.
        .images.columns
          .col-4.col-md-3
            a.image(data-fancybox href='/images/services/upgrade/g-series/pneumo-suspension/ride-height-sensor.jpg' target='_blank')
              img(src='/images/services/upgrade/g-series/pneumo-suspension/ride-height-sensor-min.jpg')
        p 1 — Датчик дорожного просвета; 2 — 6‐контактный разъем; 3 — Держатель; 4 — Соединительная тяга.
        .highlighted Оставляем за собой право на опечатки, смысловые ошибки и технические изменения.
  include /videos
  include /about/advantages
  +about
  include /contacts
