section.services
  .wrapper
    .titles
      .overtitle Наши услуги
      h2 Виды работ
    .columns
      .col-md-6.col-lg-4
        a.services-item(href='zamena-masla-bmw/')
          .services-item__content
            .services-item__text
              .services-item__title
                h3 Замена масла
              .subtitle.services-item__subtitle Замена масла в двигателе, автоматической коробке переключения передач (АКПП), редукторах и раздаточной коробке
            .button-simple Подробнее
      .col-md-6.col-lg-4
        a.services-item(href='zamena-tormoznyh-diskov-i-kolodok-bmw/')
          .services-item__content
            .services-item__text
              .services-item__title
                h3 Замена тормозных дисков и колодок
              .subtitle.services-item__subtitle Плановая замена тормозных дисков и колодок, а также полная замена тормозной системы на спортивную M
            .button-simple Подробнее
      .col-md-6.col-lg-4
        a.services-item(href='zamena-tormoznoy-zhidkosti-i-ohlazhdayushchey-bmw/')
          .services-item__content
            .services-item__text
              .services-item__title
                h3 Замена тормозной жидкости и охлаждающей
              .subtitle.services-item__subtitle Полная замена тормозной и охлаждающей технических жидкостей автомобиля
            .button-simple Подробнее
      .col-md-6.col-lg-4
        a.services-item(href='suspension-repair/')
          .services-item__content
            .services-item__text
              .services-item__title
                h3 Диагностика и ремонт подвески
              .subtitle.services-item__subtitle Диагностика и устранение различных неисправностей системы подвески вашего автомобиля
            .button-simple Подробнее
      .col-md-6.col-lg-4
        a.services-item(href='car-diagnostics/')
          .services-item__content
            .services-item__text
              .services-item__title
                h3 Диагностика автомобиля
              .subtitle.services-item__subtitle Общая диагностика автомобиля и выявление его основных неисправностей
            .button-simple Подробнее
      .col-md-6.col-lg-4
        a.services-item(href='radiators-wash/')
          .services-item__content
            .services-item__text
              .services-item__title
                h3 Мойка радиаторов
              .subtitle.services-item__subtitle Тщательная мойка радиаторов автомобиля с возможностью дозаправки охлаждающей жидкостью
            .button-simple Подробнее
      .col-md-6.col-lg-4
        a.services-item(href='computer-diagnostics/')
          .services-item__content
            .services-item__text
              .services-item__title
                h3 Компьютерная диагностика
              .subtitle.services-item__subtitle Компьютерное выявление неисправностей и ошибок программного обеспечения вашего автомобиля
            .button-simple Подробнее
      .col-md-6.col-lg-4
        a.services-item(href='electrical-repair/')
          .services-item__content
            .services-item__text
              .services-item__title
                h3 Ремонт электрооборудования
              .subtitle.services-item__subtitle Ремонт и устранение неисправностей электрического оборудования и различных блоков управления
            .button-simple Подробнее
      .col-md-6.col-lg-4
        a.services-item(href='intake-manifold-cleaning/')
          .services-item__content
            .services-item__text
              .services-item__title
                h3 Чистка и мойка впускного коллектора
              .subtitle.services-item__subtitle Тщательная очистка и промывка впускного коллектора двигателя внутреннего сгорания (ДВС)
            .button-simple Подробнее
