extends /layout.pug

block variables
  - var name = 'main_upgrade-g-series';
  - var section = 'Услуга';
  - var title = 'Дооснащение BMW 5 серии';
  - var models = 'G30/G31, F90';
  - var seoTitle = 'Дооснащение BMW 5 серии (' + models + ') в Москве | Автосервис BMW «FGSEVER»';
  - var subtitle = 'Установка мультимедийной системы, цифровой комбинации приборов, проекционного дисплея, камеры KAFAS, активного круиз-контроля, ассистентов парковки и вождения, системы кругового обзора, комфортного доступа и других опций.';
  - var path = {'/services/': 'Услуги', '/services/upgrade/': 'Дооснащение', '/services/upgrade/g-series/': 'G&nbsp;серия', '': '5 серия'};
  - var button = ['popup', '#upgrade-appointment', 'Записаться на дооснащение'];

block content
  +main(name, path, section, title, subtitle, button, models)
  //- include /warning
  include /upgrade/calculator
  section.services.options#services-options
    .wrapper
      .titles
        .overtitle Наши услуги
        h2 Устанавливаемые опции
      .tabs
        .tabs-item.active(data-tab='all') Все опции
        .tabs-item(data-tab='multimedia') Мультимедиа
        .tabs-item(data-tab='assistants') Ассистенты
        .tabs-item(data-tab='lighting') Освещение
        .tabs-item(data-tab='view') Обзор
        //- .tabs-item(data-tab='exterior') Экстерьер
        .tabs-item(data-tab='interior') Интерьер
        .tabs-item(data-tab='functionality') Функциональное оснащение
        .tabs-item(data-tab='chassis') Ходовая часть
      .columns
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='multimedia')
          .services-item
            img(src='/images/services/upgrade/g-series/5-series/extended-cockpit-min.jpg' srcset='/images/services/upgrade/g-series/5-series/extended-cockpit-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Расширенная комбинация приборов
                .subtitle.services-item__subtitle Расширенная комбинация приборов с увеличенным дисплеем и поддержкой трёх режимов: Eco Pro, Comfort и Sport
              .services-item__meta
                .services-item__price 35 000 ₽
                .button-simple Подробнее
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='multimedia')
          .services-item
            img(src='/images/services/upgrade/g-series/5-series/led-cockpit-min.jpg' srcset='/images/services/upgrade/g-series/5-series/led-cockpit-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Цифровой дисплей комбинации приборов
                .subtitle.services-item__subtitle Многофункциональный дисплей комбинации приборов с диагональю экрана 10.25" и поддержкой трёх режимов: Eco Pro, Comfort и Sport
              .services-item__meta
                .services-item__price 55 000 ₽
                .button-simple Подробнее
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='multimedia')
          .services-item
            img(src='/images/services/upgrade/g-series/5-series/nbt-evo-min.jpg' srcset='/images/services/upgrade/g-series/5-series/nbt-evo-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Мультимедийная система #[span.nowrap NBT EVO]
                .subtitle.services-item__subtitle Оригинальная мультимедийная система с поддержкой навигации, голосового управления и сенсорным контроллером iDrive Touch
              .services-item__meta
                .services-item__price 70 000 ₽
                .button-simple Подробнее
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='multimedia')
          .services-item
            img(src='/images/services/upgrade/g-series/5-series/live-cockpit-professional-min.jpg' srcset='/images/services/upgrade/g-series/5-series/live-cockpit-professional-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 BMW Live Cockpit Professional
                .subtitle.services-item__subtitle Полностью цифровая комбинация приборов с экраном 12.3", увеличенный информационный дисплей 10.25", а также контроллер iDrive Touch и 32 ГБ встроенной памяти
              .services-item__meta
                .services-item__price.unknown Недоступно
                .button-simple Подробнее
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='multimedia')
          .services-item
            img(src='/images/services/upgrade/g-series/5-series/head-up-display-min.jpg' srcset='/images/services/upgrade/g-series/5-series/head-up-display-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Проекционный дисплей
                .subtitle.services-item__subtitle Отображение на проекционном дисплее информации о текущей скорости движения, подсказок системы навигации, информации развлекательной системы и прочего
              .services-item__meta
                .services-item__price 90 000 ₽
                .button-simple Подробнее
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='multimedia')
          .services-item
            img(src='/images/services/upgrade/g-series/5-series/hifi-sound-system-min.jpg' srcset='/images/services/upgrade/g-series/5-series/hifi-sound-system-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Аудиосистема Hi-Fi
                .subtitle.services-item__subtitle 12 динамиков и цифровой усилитель мощностью 205 Вт обеспечивают впечатляющее качество звучания независимо от занимаемого места в автомобиле
              .services-item__meta
                .services-item__price 60 000 ₽
                .button-simple Подробнее
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='multimedia')
          .services-item
            img(src='/images/services/upgrade/g-series/5-series/harman-kardon-sound-system-min.jpg' srcset='/images/services/upgrade/g-series/5-series/harman-kardon-sound-system-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Аудиосистема Harman/Kardon
                .subtitle.services-item__subtitle 16 динамиков и цифровой усилитель мощностью 600 Вт с 9 каналами и возможностью индивидуальной настройки эквалайзера
              .services-item__meta
                .services-item__price от 120 000 ₽
                .button-simple Подробнее
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='multimedia')
          .services-item
            img(src='/images/services/upgrade/g-series/5-series/bowers-and-wilkins-sound-system-min.jpg' srcset='/images/services/upgrade/g-series/5-series/bowers-and-wilkins-sound-system-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Аудиосистема Bowers & Wilkins Diamond
                .subtitle.services-item__subtitle 16 динамиков с общей выходной мощностью 1400 Вт. При включении аудиосистемы динамики подсвечиваются, визуально подчеркивая выдающееся качество звучания
              .services-item__meta
                .services-item__price 350 000 ₽
                .button-simple Подробнее
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='multimedia')
          .services-item
            img(src='/images/services/upgrade/g-series/5-series/wireless-charging-min.jpg' srcset='/images/services/upgrade/g-series/5-series/wireless-charging-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Беспроводное зарядное устройство
                .subtitle.services-item__subtitle Площадка для беспроводной зарядки, второй микрофон, а также два USB-разъема с зарядным током до 2 А, для быстрой зарядки мобильных устройств
              .services-item__meta
                .services-item__price от 20 000 ₽
                .button-simple Подробнее
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='multimedia')
          .services-item
            img(src='/images/services/upgrade/g-series/5-series/gesture-control-min.jpg' srcset='/images/services/upgrade/g-series/5-series/gesture-control-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Система управления жестами
                .subtitle.services-item__subtitle Система управления жестами дополняет существующие системы управления и позволяет управлять функциями автомобиля легким движением руки
              .services-item__meta
                .services-item__price 45 000 ₽
                .button-simple Подробнее
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='multimedia')
          .services-item
            img(src='/images/services/upgrade/g-series/5-series/tv-tuner-min.jpg' srcset='/images/services/upgrade/g-series/5-series/tv-tuner-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Телевидение
                .subtitle.services-item__subtitle Возможность принимать и отображать цифровые телевизионные каналы (DVB-T/DVB-T2/DVB-T2 HD), включая электронные программы телепередач и платное ТВ
              .services-item__meta
                .services-item__price 65 000 ₽
                .button-simple Подробнее
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='multimedia')
          .services-item 
            img(src='/images/services/upgrade/g-series/5-series/rear-seats-entertainment-min.jpg' srcset='/images/services/upgrade/g-series/5-series/rear-seats-entertainment-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Развлекательная система для задних пассажиров Professional
                .subtitle.services-item__subtitle Два отдельных экрана c диагональю 10.2" и дополнительный привод Blu-ray в задней части салона, обеспечивающие доступ к развлекательным функциям автомобиля
              .services-item__meta
                .services-item__price 170 000 ₽
                .button-simple Подробнее
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='multimedia')
          .services-item
            img(src='/images/services/upgrade/g-series/5-series/bmw-display-key-min.jpg' srcset='/images/services/upgrade/g-series/5-series/bmw-display-key-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Интерактивный ключ BMW Display Key
                .subtitle.services-item__subtitle Показывает состояние автомобиля и позволяет узнать время, уровень топлива и запас хода, состояние центрального замка и окон, а также получить сервисные указания
              .services-item__meta
                .services-item__price 37 000 ₽
                .button-simple Подробнее
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='multimedia')
          .services-item
            img(src='/images/services/upgrade/g-series/5-series/apple-carplay-min.jpg' srcset='/images/services/upgrade/g-series/5-series/apple-carplay-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Активация Apple CarPlay
                .subtitle.services-item__subtitle Позволяет использовать в автомобиле основные приложения вашего iPhone — телефон, сообщения, карты, музыку, аудиокниги и т. д.
              .services-item__meta
                .services-item__price 10 000 ₽
                .button-simple Подробнее
        //- .col-sm-6.col-lg-4.col-xl-3
          .services-item
            img(src='/images/services/upgrade/g-series/5-series/parking-sensors-min.jpg' srcset='/images/services/upgrade/g-series/5-series/parking-sensors-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Сигнализация аварийного сближения при парковке
                .subtitle.services-item__subtitle Ультразвуковое измерение расстояния до препятствий при помощи передних и задних датчиков и вывод предупреждений на центральный экран
              .services-item__meta
                .services-item__price 60 000 ₽
                .button-simple Подробнее
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='assistants')
          .services-item
            img(src='/images/services/upgrade/g-series/5-series/rear-camera-min.jpg' srcset='/images/services/upgrade/g-series/5-series/rear-camera-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Камера заднего вида
                .subtitle.services-item__subtitle Отображение пространства позади автомобиля на центральном дисплее во время движения задним ходом и парковки
              .services-item__meta
                .services-item__price 30 000 ₽
                .button-simple Подробнее
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='assistants')
          .services-item
            img(src='/images/services/upgrade/g-series/5-series/parking-assistant-min.jpg' srcset='/images/services/upgrade/g-series/5-series/parking-assistant-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Ассистент парковки
                .subtitle.services-item__subtitle Камера заднего вида, боковая система помощи при парковке, сигнализация аварийного сближения, а также автоматическая парковка
              .services-item__meta
                .services-item__price от 45 000 ₽
                a.button-simple(href='/services/upgrade/g-series/parking-assistant/') Подробнее
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='assistants')
          .services-item
            img(src='/images/services/upgrade/g-series/5-series/remote-control-parking-min.jpg' srcset='/images/services/upgrade/g-series/5-series/remote-control-parking-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Функция парковки с дистанционным управлением
                .subtitle.services-item__subtitle Позволяет выйти из автомобиля в удобном месте и при помощи пульта дистанционно припарковать его на парковочное место или в гараж
              .services-item__meta
                .services-item__price 60 000 ₽
                a.button-simple(href='/services/upgrade/g-series/remote-control-parking/') Подробнее
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='assistants')
          .services-item
            img(src='/images/services/upgrade/g-series/5-series/parking-assistant-plus-min.jpg' srcset='/images/services/upgrade/g-series/5-series/parking-assistant-plus-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Ассистент парковки Plus
                .subtitle.services-item__subtitle Система кругового обзора, включая вид сверху и 3D-обзор, сигнализация аварийного сближения и полностью автоматический ассистент парковки
              .services-item__meta
                .services-item__price от 90 000 ₽
                a.button-simple(href='/services/upgrade/g-series/parking-assistant/') Подробнее
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='assistants')
          .services-item
            img(src='/images/services/upgrade/g-series/5-series/road-signs-detection-min.jpg' srcset='/images/services/upgrade/g-series/5-series/road-signs-detection-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Чтение дорожных знаков
                .subtitle.services-item__subtitle Распознавание действующих знаков ограничений скорости и запретов обгона, которые отображаются в виде дорожных знаков на комбинации приборов
              .services-item__meta
                .services-item__price 120 000 ₽
                a.button-simple(href='/services/upgrade/g-series/road-signs-detection/') Подробнее
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='assistants')
          .services-item
            img(src='/images/services/upgrade/g-series/5-series/active-guard-min.jpg' srcset='/images/services/upgrade/g-series/5-series/active-guard-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Active Guard
                .subtitle.services-item__subtitle Предупреждение водителя о возможном столкновении с препятствием или наезде на пешехода, а также торможение в случае возникновениия опасности ДТП
              .services-item__meta
                .services-item__price 30 000 ₽
                a.button-simple(href='/services/upgrade/g-series/active-guard/') Подробнее
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='assistants')
          .services-item
            img(src='/images/services/upgrade/g-series/5-series/driving-assistant-min.jpg' srcset='/images/services/upgrade/g-series/5-series/driving-assistant-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Ассистент вождения
                .subtitle.services-item__subtitle Система предупреждения о столкновении с функцией торможения, функция чтения дорожных знаков, система слежения за разметкой и помощи при перестроении
              .services-item__meta
                .services-item__price от 90 000 ₽
                .button-simple Подробнее
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='assistants')
          .services-item
            img(src='/images/services/upgrade/g-series/5-series/active-cruise-control-min.jpg' srcset='/images/services/upgrade/g-series/5-series/active-cruise-control-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Активный круиз-контроль c функцией Stop&Go
                .subtitle.services-item__subtitle Поддержание заданной дистанции до находящегося впереди автомобиля, а также полная остановка и разгон автомобиля при необходимости
              .services-item__meta
                .services-item__price от 80 000 ₽
                a.button-simple(href='/services/upgrade/g-series/active-cruise-control') Подробнее
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='assistants')
          .services-item
            img(src='/images/services/upgrade/g-series/5-series/driving-assistant-plus-min.jpg' srcset='/images/services/upgrade/g-series/5-series/driving-assistant-plus-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Ассистент вождения Plus
                .subtitle.services-item__subtitle Активный круиз-контроль с функцией Stop&Go, ассистент рулевого управления и слежения за разметкой, система помощи при перестроении, а также система предупреждения о столкновении
              .services-item__meta
                .services-item__price от 120 000 ₽
                .button-simple Подробнее
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='assistants')
          .services-item
            img(src='/images/services/upgrade/g-series/5-series/night-vision-min.jpg' srcset='/images/services/upgrade/g-series/5-series/night-vision-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Система ночного видения с функцией распознавания людей и животных
                .subtitle.services-item__subtitle Позволяет в темное время суток распознавать людей и крупных животных, а также освещать их с помощью функции направленной динамической подсветки
              .services-item__meta
                .services-item__price 200 000 ₽
                a.button-simple(href='/services/upgrade/g-series/night-vision/') Подробнее
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='assistants')
          .services-item
            img(src='/images/services/upgrade/g-series/5-series/active-protection-min.jpg' srcset='/images/services/upgrade/g-series/5-series/active-protection-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Активная защита
                .subtitle.services-item__subtitle В критической ситуации во время движения ремни безопасности натягиваются, спинки сидений поднимаются, а боковые окна и люк в крыше закрываются
              .services-item__meta
                .services-item__price 60 000 ₽
                .button-simple Подробнее
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='lighting')
          .services-item
            img(src='/images/services/upgrade/g-series/5-series/kafas-min.jpg' srcset='/images/services/upgrade/g-series/5-series/kafas-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Система управления дальним светом
                .subtitle.services-item__subtitle Автоматический переход с дальнего на ближний свет в зависимости от наличия перед автомобилем других транспортных средств
              .services-item__meta
                .services-item__price 45 000 ₽
                .button-simple Подробнее
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='lighting')
          .services-item
            img(src='/images/services/upgrade/g-series/5-series/led-fog-lights-min.jpg' srcset='/images/services/upgrade/g-series/5-series/led-fog-lights-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Светодиодные противотуманные фары
                .subtitle.services-item__subtitle Улучшают видимость в условиях тумана или сильных осадков, а также задают высокотехнологичный и современный тон яркому облику автомобиля
              .services-item__meta
                .services-item__price 40 000 ₽
                .button-simple Подробнее
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='lighting')
          .services-item
            img(src='/images/services/upgrade/g-series/5-series/adaptive-led-lights-min.jpg' srcset='/images/services/upgrade/g-series/5-series/adaptive-led-lights-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Адаптивные светодиодные фары
                .subtitle.services-item__subtitle Измененяют форму светового луча в городе и по автомагистрали, освещают повороты, а также управляют дальним светом, чтобы не ослеплять других участников движения 
              .services-item__meta
                .services-item__price 190 000 ₽
                .button-simple Подробнее
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='lighting')
          .services-item
            img(src='/images/services/upgrade/g-series/5-series/laser-lights-min.jpg' srcset='/images/services/upgrade/g-series/5-series/laser-lights-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Лазерные фары
                .subtitle.services-item__subtitle Освещают дорогу на расстояние до 650 метров, что почти вдвое дальше, чем при использовании обычных фар. Имеют синие акценты и надпись "BMW Laser"
              .services-item__meta
                .services-item__price от 250 000 ₽
                .button-simple Подробнее
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='view')
          .services-item
            img(src='/images/services/upgrade/g-series/5-series/rear-mirrors-package-min.jpg' srcset='/images/services/upgrade/g-series/5-series/rear-mirrors-package-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Расширенный пакет зеркал заднего вида
                .subtitle.services-item__subtitle Автоматическое затемнение салонного и наружного зеркала со стороны водителя, а также складывание зеркал после парковки
              .services-item__meta
                .services-item__price 60 000 ₽
                .button-simple Подробнее
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='interior')
          .services-item
            img(src='/images/services/upgrade/g-series/5-series/electro-lumbar-support-min.jpg' srcset='/images/services/upgrade/g-series/5-series/electro-lumbar-support-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Электрорегулируемая поддержка поясничного отдела спины
                .subtitle.services-item__subtitle Воздушная камера в спинке сиденья водителя и переднего пассажира, вертикальное или продольное положение которой может быть плавно отрегулировано
              .services-item__meta
                .services-item__price от 35 000 ₽
                .button-simple Подробнее
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='interior')
          .services-item
            img(src='/images/services/upgrade/g-series/5-series/electro-front-seats-min.jpg' srcset='/images/services/upgrade/g-series/5-series/electro-front-seats-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Электрорегулировка передних сидений с памятью сиденья водителя
                .subtitle.services-item__subtitle Регулировка передних сидений по высоте, наклону спинки, продольным и угловым направлениям, а также сохранение настроек положения сиденья водителя, наружных зеркал и рулевой колонки
              .services-item__meta
                .services-item__price от 80 000 ₽
                .button-simple Подробнее
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='interior')
          .services-item
            img(src='/images/services/upgrade/g-series/5-series/sport-front-seats-min.jpg' srcset='/images/services/upgrade/g-series/5-series/sport-front-seats-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Спортивные передние сиденья
                .subtitle.services-item__subtitle Сиденья с регулировкой угла наклона, ширины спинки и высоты сиденья, увеличенными валиками боковой поддержки и регулируемой подколенной опорой
              .services-item__meta
                .services-item__price от 70 000 ₽
                .button-simple Подробнее
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='interior')
          .services-item
            img(src='/images/services/upgrade/g-series/5-series/comfort-front-seats-min.jpg' srcset='/images/services/upgrade/g-series/5-series/comfort-front-seats-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Комфортные передние сиденья
                .subtitle.services-item__subtitle Позволяют регулировать продольное положение, высоту сидений и угол наклона спинок, элементы верхней части и ширину спинок, глубину посадки, подколенную и поясничную опору
              .services-item__meta
                .services-item__price от 120 000 ₽
                .button-simple Подробнее
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='interior')
          .services-item
            img(src='/images/services/upgrade/g-series/5-series/front-and-rear-heated-seats-min.jpg' srcset='/images/services/upgrade/g-series/5-series/front-and-rear-heated-seats-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Подогрев передних и задних сидений
                .subtitle.services-item__subtitle По нажатию одной кнопки можно быстро нагреть сиденья водителя и пассажиров ещё до того, как двигатель прогреется до рабочей температуры
              .services-item__meta
                .services-item__price 45 000 ₽
                .button-simple Подробнее
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='interior')
          .services-item
            img(src='/images/services/upgrade/g-series/5-series/active-front-seats-ventilation-min.jpg' srcset='/images/services/upgrade/g-series/5-series/active-front-seats-ventilation-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Активная вентиляция передних сидений
                .subtitle.services-item__subtitle Активная вентиляция поверхности подушек и спинок передних сидений. При нагреве салона позволяет быстро охладить сиденья до комфортной температуры
              .services-item__meta
                .services-item__price от 60 000 ₽
                .button-simple Подробнее
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='interior')
          .services-item
            img(src='/images/services/upgrade/g-series/5-series/massage-front-seats-min.jpg' srcset='/images/services/upgrade/g-series/5-series/massage-front-seats-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Функция массажа передних сидений
                .subtitle.services-item__subtitle Восемь массажных программ, настраиваемых по трём разным уровням, для оптимального расслабления мышц, а также разгрузки межпозвоночных дисков
              .services-item__meta
                .services-item__price 90 000 ₽
                .button-simple Подробнее
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='interior')
          .services-item
            img(src='/images/services/upgrade/g-series/5-series/leather-dashboard-min.jpg' srcset='/images/services/upgrade/g-series/5-series/leather-dashboard-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Кожаная отделка приборной панели
                .subtitle.services-item__subtitle Верхняя часть приборной панели отделана черной кожей Walknappa из серии BMW Individual. Этим самым атмосфера в салоне делается еще более роскошной
              .services-item__meta
                .services-item__price 110 000 ₽
                .button-simple Подробнее
        //- .col-sm-6.col-lg-4.col-xl-3
          .services-item
            img(src='/images/services/upgrade/g-series/5-series/dual-zone-climate-control-min.jpg' srcset='/images/services/upgrade/g-series/5-series/dual-zone-climate-control-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Автоматический климат-контроль, 2 зоны
                .subtitle.services-item__subtitle Система работает автоматически на основе программы с пятью уровнями интенсивности и позволяет использовать индивидуальные настройки для зоны водителя и переднего пассажира
              .services-item__meta
                .services-item__price 19 000 ₽
                .button-simple Подробнее
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='interior')
          .services-item
            img(src='/images/services/upgrade/g-series/5-series/four-zone-climate-control-min.jpg' srcset='/images/services/upgrade/g-series/5-series/four-zone-climate-control-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Автоматический климат-контроль, 4 зоны
                .subtitle.services-item__subtitle Предусмотрена возможность раздельного регулирования параметров микроклимата для водителя, пассажира переднего сиденья и пассажиров крайних мест заднего сиденья
              .services-item__meta
                .services-item__price 80 000 ₽
                .button-simple Подробнее
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='interior')
          .services-item
            img(src='/images/services/upgrade/g-series/5-series/galvanic-buttons-min.jpg' srcset='/images/services/upgrade/g-series/5-series/galvanic-buttons-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Гальваническое напыление кнопок
                .subtitle.services-item__subtitle Гальваническое покрытие кнопки Start/Stop, регулятора уровня громкости, кнопок управления стеклоподъемниками, кнопок на руле и управления климат-контролем 
              .services-item__meta
                .services-item__price 30 000 ₽
                .button-simple Подробнее
        //- .col-sm-6.col-lg-4.col-xl-3
          .services-item
            img(src='/images/services/upgrade/g-series/5-series/sport-steering-wheel-min.jpg' srcset='/images/services/upgrade/g-series/5-series/sport-steering-wheel-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Спортивное кожаное рулевое колесо
                .subtitle.services-item__subtitle Многофункциональное кожаное рулевое колесо с эргономичными упорами для больших пальцев, подчеркивающее спортивные возможности автомобиля
              .services-item__meta
                .services-item__price 27 000 ₽
                .button-simple Подробнее
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='interior')
          .services-item
            img(src='/images/services/upgrade/g-series/5-series/m-steering-wheel-min.jpg' srcset='/images/services/upgrade/g-series/5-series/m-steering-wheel-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Спортивное рулевое колесо M
                .subtitle.services-item__subtitle Многофункциональное кожаное рулевое колесо с эргономичными упорами для больших пальцев, подчеркивающее спортивные возможности автомобиля
              .services-item__meta
                .services-item__price 60 000 ₽
                .button-simple Подробнее
        //- .col-sm-6.col-lg-4.col-xl-3
          .services-item
            img(src='/images/services/upgrade/g-series/5-series/heated-steering-wheel-min.jpg' srcset='/images/services/upgrade/g-series/5-series/heated-steering-wheel-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Обогрев рулевого колеса
                .subtitle.services-item__subtitle Функция обогрева быстро нагревает обод руля до приятной температуры. Это дает возможность комфортно и безопасно управлять автомобилем в зимнее время
              .services-item__meta
                .services-item__price.unknown XX XXX ₽
                .button-simple Подробнее
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='interior')
          .services-item
            img(src='/images/services/upgrade/g-series/5-series/ambient-air-min.jpg' srcset='/images/services/upgrade/g-series/5-series/ambient-air-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Пакет Ambient Air (ионизация и ароматизация воздуха в салоне)
                .subtitle.services-item__subtitle Предлагаются восемь ароматов четырех композиций. Можно установить два из них и использовать попеременно. Предусмотрены три степени регулировки интенсивности аромата
              .services-item__meta
                .services-item__price от 60 000 ₽
                a.button-simple(href='/services/upgrade/g-series/ambient-air/') Подробнее
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='interior')
          .services-item
            img(src='/images/services/upgrade/g-series/5-series/ceramic-controls-min.jpg' srcset='/images/services/upgrade/g-series/5-series/ceramic-controls-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Керамическая отделка органов управления
                .subtitle.services-item__subtitle Керамическая отделка рычага коробки передач и ручки управления климат-контролем, а также окантовки контроллера iDrive, придает салону первоклассный и роскошный вид
              .services-item__meta
                .services-item__price 70 000 ₽
                .button-simple Подробнее
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='interior')
          .services-item
            img(src='/images/services/upgrade/g-series/5-series/rear-sunshades-min.jpg' srcset='/images/services/upgrade/g-series/5-series/rear-sunshades-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Солнцезащитные шторки
                .subtitle.services-item__subtitle Солнцезащитная шторка с электроприводом для заднего окна вместе с механическими шторками боковых окон позволяют защититься от прямого солнечного света
              .services-item__meta
                .services-item__price 75 000 ₽
                .button-simple Подробнее
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='interior')
          .services-item
            img(src='/images/services/upgrade/g-series/5-series/moonroof-min.jpg' srcset='/images/services/upgrade/g-series/5-series/moonroof-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Люк электрорегулируемый
                .subtitle.services-item__subtitle Благодаря стеклянному люку в салоне создается приятная атмосфера. В солнечную погоду поездку можно сравнить с движением в кабриолете с откинутым верхом
              .services-item__meta
                .services-item__price 160 000 ₽
                .button-simple Подробнее
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='interior')
          .services-item
            img(src='/images/services/upgrade/g-series/5-series/lighting-min.jpg' srcset='/images/services/upgrade/g-series/5-series/lighting-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Пакет освещения
                .subtitle.services-item__subtitle Подсветка ручек дверей, наружных зеркал и порогов, контурная подсветка салона, подсветка пространства для ног спереди, а также лампы для чтения
              .services-item__meta
                .services-item__price от 60 000 ₽
                .button-simple Подробнее
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='functionality')
          .services-item
            img(src='/images/services/upgrade/g-series/5-series/automatic-doors.jpg' srcset='/images/services/upgrade/g-series/5-series/automatic-doors-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Автодоводчик дверей
                .subtitle.services-item__subtitle Автоматическое полное закрывание прикрытых дверей. Происходит комфортно, надежно, с малым усилием и практически бесшумно
              .services-item__meta
                .services-item__price 80 000 ₽
                a.button-simple(href='/services/upgrade/g-series/automatic-doors/') Подробнее
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='functionality')
          .services-item
            img(src='/images/services/upgrade/g-series/5-series/comfort-access-min.jpg?2' srcset='/images/services/upgrade/g-series/5-series/comfort-access-min@2x.jpg?2 1.5x')
            .services-item__content
              .services-item__text
                h3 Комфортный доступ
                .subtitle.services-item__subtitle Открывание дверей автомобиля и запуск двигателя без использования ключа, а также бесконтактное открывание и закрывание крышки багажного отделения
              .services-item__meta
                .services-item__price 120 000 ₽
                .button-simple Подробнее
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='functionality')
          .services-item
            img(src='/images/services/upgrade/g-series/5-series/sun-protection-glazing-min.jpg' srcset='/images/services/upgrade/g-series/5-series/sun-protection-glazing-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Солнцезащитное остекление
                .subtitle.services-item__subtitle Солнцезащитное остекление заднего и задних боковых окон более эффективно поглощает солнечное излучение и предотвращает чрезмерный нагрев салона
              .services-item__meta
                .services-item__price от 60 000 ₽
                .button-simple Подробнее
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='functionality')
          .services-item
            img(src='/images/services/upgrade/g-series/5-series/autonomous-heating-min.jpg' srcset='/images/services/upgrade/g-series/5-series/autonomous-heating-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Автономная система отопления
                .subtitle.services-item__subtitle Позволяет нагревать салон до комфортной температуры в холодные дни без запуска двигателя, а также предотвращает обмерзание и запотевание окон автомобиля
              .services-item__meta
                .services-item__price от 120 000 ₽
                .button-simple Подробнее
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='functionality')
          .services-item
            img(src='/images/services/upgrade/g-series/5-series/mirror-with-remote-control-min.jpg' srcset='/images/services/upgrade/g-series/5-series/mirror-with-remote-control-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Встроенный пульт дистанционного управления
                .subtitle.services-item__subtitle Заменяет до трех пультов дистанционного управления и позволяет управлять открытием ворот и гаражных дверей при помощи кнопок на корпусе зеркала заднего вида
              .services-item__meta
                .services-item__price 18 000 ₽
                .button-simple Подробнее
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='functionality')
          .services-item
            img(src='/images/services/upgrade/g-series/5-series/security-alarm-min.jpg' srcset='/images/services/upgrade/g-series/5-series/security-alarm-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Охранная сигнализация
                .subtitle.services-item__subtitle Отслеживает состояние дверей, капота, крышки багажника и салона, а также включает в себя датчик крена кузова и автономную сирену
              .services-item__meta
                .services-item__price от 30 000 ₽
                .button-simple Подробнее
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='functionality')
          .services-item
            img(src='/images/services/upgrade/g-series/5-series/hitch-mechanism-min.jpg' srcset='/images/services/upgrade/g-series/5-series/hitch-mechanism-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Тягово-сцепное устройство c электроприводом (фаркоп)
                .subtitle.services-item__subtitle Убирается под задний бампер. При опасной раскачке прицепа система контроля устойчивости притормаживает колеса автомобиля для восстановления устойчивого движения
              .services-item__meta
                .services-item__price 80 000 ₽
                .button-simple Подробнее
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='chassis')
          .services-item
            img(src='/images/services/upgrade/g-series/5-series/adaptive-suspension-min.jpg' srcset='/images/services/upgrade/g-series/5-series/adaptive-suspension-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Адаптивная подвеска
                .subtitle.services-item__subtitle Позволяет настраивать амортизаторы, снижает крены и повышает динамические характеристики автомобиля. Добавляется режим Sport с более жесткими настройками амортизаторов
              .services-item__meta
                .services-item__price от 140 000 ₽
                .button-simple Подробнее
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='chassis')
          .services-item
            img(src='/images/services/upgrade/g-series/5-series/adaptive-m-suspension-min.jpg' srcset='/images/services/upgrade/g-series/5-series/adaptive-m-suspension-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Адаптивная подвеска M
                .subtitle.services-item__subtitle Подвеска, заниженная на 10 миллиметров. Позволяет изменять ходовые качества автомобиля от максимально комфортных до экстремально спортивных
              .services-item__meta
                .services-item__price от 140 000 ₽
                .button-simple Подробнее
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='chassis')
          .services-item
            img(src='/images/services/upgrade/g-series/5-series/adaptive-m-professional-suspension-min.jpg' srcset='/images/services/upgrade/g-series/5-series/adaptive-m-professional-suspension-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Адаптивная подвеска M Professional
                .subtitle.services-item__subtitle Включает в себя спортивную подвеску М, систему контроля кренов и интегральное активное рулевое управление. Позволяет изменять настройки подвески. Занижена на 10 мм
              .services-item__meta
                .services-item__price от 140 000 ₽
                .button-simple Подробнее
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='chassis')
          .services-item
            img(src='/images/services/upgrade/g-series/5-series/m-sport-brakes-min.jpg' srcset='/images/services/upgrade/g-series/5-series/m-sport-brakes-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Тормозная система M Sport
                .subtitle.services-item__subtitle Высокоэффективные вентилируемые тормозные механизмы с 4-поршневыми суппортами спереди, и 2-поршневыми — сзади. Окрашены в темно-синий цвет и имеют логотип "M"
              .services-item__meta
                .services-item__price 90 000 ₽
                .button-simple Подробнее
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='chassis')
          .services-item
            img(src='/images/services/upgrade/g-series/5-series/integral-active-steering-min.jpg' srcset='/images/services/upgrade/g-series/5-series/integral-active-steering-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Интегральное активное рулевое управление
                .subtitle.services-item__subtitle Автоматическое подруливание колесами задней оси, изменение передаточного отношения рулевого механизма и регулировка усилия на рулевом колесе в зависимости от скорости и выбранного режима
              .services-item__meta
                .services-item__price от 80 000 ₽
                a.button-simple(href='/services/upgrade/g-series/integral-active-steering/') Подробнее
        //- .col-sm-6.col-lg-4.col-xl-3
          .services-item
            img(src='/images/services/upgrade/g-series/5-series/tire-pressure-rdc-min.jpg' srcset='/images/services/upgrade/g-series/5-series/tire-pressure-rdc-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Индикатор давления в шинах (RDC)
                .subtitle.services-item__subtitle Система измеряет давление воздуха в каждой шине с помощью датчика, указывает точное давление в шинах и автоматически предупреждает водителя о его падении
              .services-item__meta
                .services-item__price 45 000 ₽
                .button-simple Подробнее
  include /videos
  include /contacts
