section.description
  .wrapper
    .titles
      .overtitle Об услуге
      h2 Описание
    .block
      .icon.information-color
      h3 Зачем нужна диагностика и заправка кондиционера
      p Любая система кондиционирования воздуха со временем тярет свою эффективность и перестаёт охлаждать салон автомобиля должным образом. Это происходит из-за утечки хладагента (фреона) через резиновые уплотнители, которые теряют герметичность под воздействием вибраций и колебаний температур. Поэтому принято проводить регулярное обслуживание системы и дозаправку хладагентом.
      h3 Как происходит обслуживание кондиционера
      p Все работы по диагностике и заправке кондиционера должны проводиться на специальном оборудовании. В нашем распоряжении такое есть — заправочная станция Texa Konfort 760R 2 GAS READY. Само обслуживание кондиционера, как правило, происходит в несколько этапов:
      ul
        li проверка герметичности системы;
        li определение и устранение утечек;
        li заправка кондиционера нужным объёмом фреона;
        li заправка маслом.
      p Одной из наиболее затруднительных работ является выявление причины утечки. Именно на этом этапе и необходимо специальное оборудование, которое помогает локально определить утечку.
      .images.columns
        .col-4.col-md-3
          a.image(data-fancybox='photos' href='/images/services/ac-refueling/photos/1.jpg')
            img(src="/images/services/ac-refueling/photos/1-min.jpg" srcset="/images/services/ac-refueling/photos/1-min@2x.jpg 1.5x")  
        .col-4.col-md-3
          a.image(data-fancybox='photos' href='/images/services/ac-refueling/photos/2.jpg')
            img(src="/images/services/ac-refueling/photos/2-min.jpg" srcset="/images/services/ac-refueling/photos/2-min@2x.jpg 1.5x")
        .col-4.col-md-3
          a.image(data-fancybox='photos' href='/images/services/ac-refueling/photos/3.jpg')
            img(src="/images/services/ac-refueling/photos/3-min.jpg" srcset="/images/services/ac-refueling/photos/3-min@2x.jpg 1.5x")
        .col-4.col-md-3
          a.image(data-fancybox='photos' href='/images/services/ac-refueling/photos/4.jpg')
            img(src="/images/services/ac-refueling/photos/4-min.jpg" srcset="/images/services/ac-refueling/photos/4-min@2x.jpg 1.5x")
        .col-4.col-md-3
          a.image(data-fancybox='photos' href='/images/services/ac-refueling/photos/9.jpg')
            img(src="/images/services/ac-refueling/photos/9-min.jpg" srcset="/images/services/ac-refueling/photos/9-min@2x.jpg 1.5x")
        .col-4.col-md-3
          a.image(data-fancybox='photos' href='/images/services/ac-refueling/photos/6.jpg')
            img(src="/images/services/ac-refueling/photos/6-min.jpg" srcset="/images/services/ac-refueling/photos/6-min@2x.jpg 1.5x")
        .col-4.col-md-3
          a.image(data-fancybox='photos' href='/images/services/ac-refueling/photos/7.jpg')
            img(src="/images/services/ac-refueling/photos/7-min.jpg" srcset="/images/services/ac-refueling/photos/7-min@2x.jpg 1.5x")
        .col-4.col-md-3
          a.image(data-fancybox='photos' href='/images/services/ac-refueling/photos/8.jpg')
            img(src="/images/services/ac-refueling/photos/8-min.jpg" srcset="/images/services/ac-refueling/photos/8-min@2x.jpg 1.5x")
      h3 Когда нужно заправлять кондиционер
      p Есть определённые признаки, которые позволяют владельцу автомобиля определить, что система неисправна:
      ul
        li происходит циркуляция воздуха, но салон автомобиля не охлаждается;
        li на деталях и уплотнителях системы кондиционирования появляются подтёки;
        li при запуске кондиционирования слышны посторонние звуки.
      .highlighted
        p Рекомендуется проводить регулярный осмотр системы кондиционирования на предмет утечек и проверять работоспособность компрессора каждые 3 года. Заправку фреоном стоит выполнять каждый год перед началом летнего сезона.