section.equipment
  .wrapper
    .titles
      .overtitle Оборудование
      h2 Инновационное оборудование
    .block
      .columns
        .col-md-6.text
          h3 Профессиональная заправочная станция
          .subtitle Texa Konfort 760R 2 GAS READY
          p Полностью автоматическая профессиональная станция для обслуживания и заправки кондиционеров как легковых автомобилей, так и грузового транспорта, а также спецтехники. Станция позволяет работать с одним из двух типов хладагента — #[b R134A] и более новым #[b R1234yf], с возможностью переоборудования под другой с помощью специального комплекта перехода.
        .col-md-6
          .image
            img(src='/images/services/ac-refueling/equipment.jpg')
    .columns
      .col-md-6
        .block
          .icon.auto-color
          h3 Полностью автоматический цикл заправки
          .subtitle Любые ошибки оператора исключены
          p Весь цикл заправки выполняется полностью в автоматическом режиме, так как заправочная станция содержит информацию о более чем 3 500 автомобилей. Это позволяет выбрать модель автомобиля и сразу же получить информацию о необходимом объёме хладагента.
      .col-md-6
        .block
          .icon.filtering-color
          h3 Тщательная очистка заправляемого газа
          .subtitle Чистый газ без лишних примесей
          p Станция откачивает газ из автомобиля, нагревает его и выполняет очистку перед закачкой обратно. Влага отделяется от неконденсированного газа и полностью удаляется. Благодаря этому гарантируется полная чистота газа и отсутствие лишних примесей.
    .block
      .columns
        .col-md-6.text
          h3 Предоставляется полный комплекс работ
          .subtitle Обслуживание и очистка кондиционера 
          p Наше оборудование позволяет проводить следующие работы с системой кондиционирования:
          ul
            li откачку хладагента;
            li вакумирование системы;
            li проверка системы на утечки;
            li заправка масла и красителя;
            li заправка системы хладагентом;
            li промывка системы.
        .col-md-6
          .image
            img(src='/images/services/ac-refueling/controls.jpg')
    .block
      .columns
        .col-md-8.text
          h3 Инновационные герметичные бутылочки для масла
          .subtitle Не пропускают воздух и не загрязняют масло
          p В заправочной станции используются инновационные перезаправляемые герметичные бутылочки для масла, которые не допускают загрязнения. Обычные бутылочки не являются герметичными, поэтому всегда содержат некоторый процент воздуха и молекул воды, которые смешиваются с маслом и загрязняют его.
          a.button-simple(data-fancybox data-src='#bottles-details') Подробнее
          .popup.details#bottles-details
            img(src='/images/services/ac-refueling/bottles.jpg')
            p TEXA, зарегистрировав патент, создала специальные герметичные баночки, у которых масло помещается в специальный мешочек внутри банки. Станция удаляет воздух из мешочка, и даже во время отсоединения баночки от станции воздух не попадает внутрь и не смешивается с маслом.
            p Кроме того, новые баночки TEXA имеют обучаемый чип. С помощью специального меню пользователь обучает чип, задавая тип масла PAG или POE. При выборе марки и модели заправляемого автомобиля из базы данных станция сравнивает тип масла в программе и информацию с чипа подключенной к станции баночки и сигнализирует о несовпадении. Станция не позволит запустить процедуру обслуживания автомобиля, пока не будет вставлена баночка с правильным типом масла.
        .col-md-4
          .image
            img(src='/images/services/ac-refueling/bottles.jpg')
    .block
      h3 Преимущества профессиональной заправочной станции
      .subtitle
      .columns
        .col-md-6.col-xl-3
          .item 
            h4 Заправка и диагностика системы кондиционирования
            p Станция не только заправляет, но ещё и полностью диагностирует систему кондиционирования вашего авто
        .col-md-6.col-xl-3
          .item
            h4 Распознавание некачественного газа
            p Система распознаёт некачественный газ и отделяет его от основного состава, которым будет заправлен кондиционер
        .col-md-6.col-xl-3
          .item
            h4 Фильтрация шлаков и примесей
            p Имеется фильтр откачиваемого газа перед заправкой. Весь шлак и отработка также не попадают в систему при основной закачке
        .col-md-6.col-xl-3
          .item
            h4 Полная автоматизация
            p Полностью автоматизированная заправочная станция исключает какие-либо ошибки и влияние человеческого фактора
        .col-md-6.col-xl-3
          .item
            h4 Исключено попадание влаги
            p Из системы кондиционирования полностью удаляется влага, так как она сильно уменьшает рабочий ресурс кондиционера
        .col-md-6.col-xl-3
          .item 
            h4 Собственная база автомобилей
            p Установка содержит свою базу машин с указанием количества хладагента, необходимого для заправки в автомобиль
        .col-md-6.col-xl-3
          .item
            h4 Диагностика на предмет утечек
            p Перед заправкой установка Texa диагностирует систему кондиционирования вашего автомобиля на предмет утечек
        .col-md-6.col-xl-3
          .item
            h4 Печать чека по итогам работ
            p Установка автоматически печатает чек с информацией о количестве хладагента, закачанного в ваш автомобиль
    .block
      h3 Отличия от бюджетных станций
      .subtitle
      .columns
        .col-md-6
          p Бюджетные заправочные станции, как правило, не имеют собственных систем фильтрации и возможности отделения влаги от неконденсированных газов. Поэтому откаченный или рекуперированный газ на таких установках сильно загрязнён. Это может происходить из-за неисправного или изношенного компрессора.
        .col-md-6
          p Такой загрязнённый газ вместе со всеми шлаками и примесями попадает в систему кондиционирования и способствует её выходу из строя. Наши заправочные установки такого не допускают. Любой газ, закачиваемый в автомобиль с помощью оборудования компании TEXA, является качественным и не содержит влаги и прочих примесей.
    .block.exclusive-advantages
      h3 Все эксклюзивные преимущества системы TEXA
      .subtitle
      .columns
        .col-md-4
          ul
            li(data-fancybox data-src='#identification') система идентификации хладагента;
            li(data-fancybox data-src='#ventilation') вентилятор системы защиты;
            li(data-fancybox data-src='#bottles') герметичные и заправляемые бутылочки для масла;
            li(data-fancybox data-src='#manometers') аналоговые манометры;
            li(data-fancybox data-src='#automatic-co2') автоматическое управление контролем утечек CO2;
          .popup.text-left#identification Заправочная станция может автоматически определять тип используемого хладагента — R134a и R1234yf, а также процент чистоты газа. На анализ не влияет внешняя среда, например, газы углеводорода или выхлопов, которые могут присутствовать на СТО.
          .popup.text-left#ventilation Новый хладагент R1234yf классифицируется, как легковоспламеняющийся и поэтому требует особой осторожности, чтобы избежать возможности возникновения пожара. Заправочные установки линии KONFORT 700R имеют резервные вентиляторы для устранения любой возможности стагнации газа внутри установки.
          .popup.text-left#bottles Стандартные бутылки не являются герметичными, всегда содержат большой процент воздуха и молекул воды, и смешиваются с маслом, загрязняя его. Специальные запатентованные ёмкости предотвращают попадание воздуха и влаги, и позволяют их постоянно перезаправлять.
          .popup.text-left#manometers Оборудование фирмы TEXA оснащено очень ясными и простыми для считывания манометрами, чтобы постоянно проверять давление даже при выключенной установке.
          .popup.text-left#automatic-co2 Установка автоматически контролирует наличие утечек внутри системы автомобиля каждый раз перед началом осуществления заправки. Также для поиска возможных утечек предусмотрена специальная функция, которая использует газообразную смесь Forming Gas, состоящую из 95% азота и 5% водорода. 
        .col-md-4
          ul
            li(data-fancybox data-src='#leak-check') автоматические проверки на утечки;
            li(data-fancybox data-src='#bottles-detection') автоматическое распознавание бутылочек;
            li(data-fancybox data-src='#sd-card') SD-карта;
            li(data-fancybox data-src='#printer') термический принтер;
            li(data-fancybox data-src='#washing') промывочный комплект;
          .popup.text-left#leak-check Для хладагента R1234yyf выполняются двойные проверки на возможные утечки газа из резервуаров. Все операции по обеспечению безопасности происходят полностью автоматически, без возможности ошибки или забывчивости со стороны оператора.
          .popup.text-left#bottles-detection Появление новых типов транспортных средств, особенно гибридов, привело к введению различных масел в зависимости от типа климатической системы. Впрыскивание несовместимых масел вредно и опасно, поэтому оператор должен избегать любых ошибок. Оборудование TEXA обладает системой автоматического распознавания типа масла и предупреждает в случае ошибочного использования бутылочки с маслом.
          .popup.text-left#sd-card Система записывает все сервисные операции, осуществленные заправочной установкой. В любой момент СТО может проверить и воспользоваться архивом, как в хронологическом порядке, так и по номерному знаку или имени клиента.
          .popup.text-left#printer Заправочная установка имеет встроенный термический принтер, чтобы в любой момент можно было распечатать отчёт обо всех осуществленных операциях.
          .popup.text-left#washing Система обладает возможностью механической промывки и очистки всей проводки системы кондиционирования воздуха автомобиля. 
        .col-md-4
          ul
            li(data-fancybox data-src='#clean') очистка гидравлической проводки;
            li(data-fancybox data-src='#vdc') VDC;
            li(data-fancybox data-src='#nanoservice') NanoService CLIMA;
            li(data-fancybox data-src='#performance-test') проверка производительности системы климатизации.
          .popup.text-left#clean Для гарантирования безопасности и эффективности необходимо, чтобы различные типы масла и хладагента не смешивались друг с другом, поэтому оборудование имеет специальную автоматическую функцию для очистки внутренней цепи установки. 
          .popup.text-left#vdc Компания TEXA разработала интерфейс VDC (Variable Displacement Compressor), который способен обнаружить неисправности в системах кондиционирования воздуха с компрессорами изменяемой производительности. VDC интерпретирует сигнал от блока управления кондиционера воздуха и производит его модификацию в зависимости от величины желаемого объёма, позволяя тем самым осуществить полное и точное тестирование системы.
          .popup.text-left#nanoservice Установка может осуществлять полную самодиагностику систем кондиционирования (с ошибками, параметрами и регулировками) при помощи связи по Bluetooth с практичным и эволюционным диагностическим прибором NanoService.
          .popup.text-left#performance-test Заправочные установки оснащены дополнительной опцией, которая позволяет осуществить динамическую проверку температура на выходе из вентиляционных отверстий системы климатизации воздуха. После тестирования заправочная установка предлагает подробный отчёт, который удостоверяет реальную производительности рассматриваемой системы транспортного средства.