section.models
  .wrapper
    .titles
      .overtitle Ваш автомобиль
      h2 Выберите модель автомобиля
      .subtitle Вы можете выбрать модель вашего автомобиля из указанных ниже и ознакомиться с подробными ценами на ремонт и обслуживание систем кондиционера данных моделей.
    .columns
      .col-md-6.col-lg-4
        a.block.models-item.series-1(href='1-series/')
          .models-item__icon
          .models-item__text
            h3 1 серия
            .overtitle 
              | F20/F21, E81/E82/
              wbr
              | E87/E88
      .col-md-6.col-lg-4
        a.block.models-item.series-2(href='2-series/')
          .models-item__icon
          .models-item__text
            h3 2 серия
            .overtitle F22/F23, F44, F45/F46, F87
      .col-md-6.col-lg-4
        a.block.models-item.series-3(href='3-series/')
          .models-item__icon
          .models-item__text
            h3 3 серия
            .overtitle 
              | G20/G21, F30/F31/F34, F80, E90/E91/
              wbr
              | E92/E93, E46
      .col-md-6.col-lg-4
        a.block.models-item.series-4(href='4-series/')
          .models-item__icon
          .models-item__text
            h3 4 серия
            .overtitle F32/F33/F36, F82/F83
      .col-md-6.col-lg-4
        a.block.models-item.series-5(href='5-series/')
          .models-item__icon
          .models-item__text
            h3 5 серия
            .overtitle G30/G31, F90, F10/F11/F07, E60/E61, E39
      .col-md-6.col-lg-4
        a.block.models-item.series-6(href='6-series/')
          .models-item__icon
          .models-item__text
            h3 6 серия
            .overtitle G32, F06/F12/F13, E63/E64
      .col-md-6.col-lg-4
        a.block.models-item.series-7(href='7-series/')
          .models-item__icon
          .models-item__text
            h3 7 серия
            .overtitle G11/G12, F01/F02, E65/E66, E38
      .col-md-6.col-lg-4
        a.block.models-item.series-8(href='8-series/')
          .models-item__icon
          .models-item__text
            h3 8 серия
            .overtitle G14/G15/G16, F91/F92/F93
      .col-md-6.col-lg-4
        a.block.models-item.x1(href='x1/')
          .models-item__icon
          .models-item__text
            h3 X1
            .overtitle F48, E84
      .col-md-6.col-lg-4
        a.block.models-item.x2(href='x2/')
          .models-item__icon
          .models-item__text
            h3 X2
            .overtitle F39
      .col-md-6.col-lg-4
        a.block.models-item.x3(href='x3/')
          .models-item__icon
          .models-item__text
            h3 X3
            .overtitle G01, F97, F25, E83
      .col-md-6.col-lg-4
        a.block.models-item.x4(href='x4/')
          .models-item__icon
          .models-item__text
            h3 X4
            .overtitle G02, F98, F26
      .col-md-6.col-lg-4
        a.block.models-item.x5(href='x5/')
          .models-item__icon
          .models-item__text
            h3 X5
            .overtitle G05, F95, F15, F85, E70, E53
      .col-md-6.col-lg-4
        a.block.models-item.x6(href='x6/')
          .models-item__icon
          .models-item__text
            h3 X6
            .overtitle G06, F96, F16, F86, E71
      .col-md-6.col-lg-4
        a.block.models-item.x7(href='x7/')
          .models-item__icon
          .models-item__text
            h3 X7
            .overtitle G07
      .col-md-6.col-lg-4
        a.block.models-item.z4(href='z4/')
          .models-item__icon
          .models-item__text
            h3 Z4
            .overtitle G29, E89, E85/E86
