section.prices
  .wrapper
    .titles
      .overtitle Об услуге
      h2 Стоимость
    .block
      .table-wrapper
        .table
          table
            tr.table-header
              td Услуга
              td Стоимость
            tr
              td Перезаправка кондиционера хладагентом (фреоном)
              td 4 900 ₽
            tr 
              td Диагностика кондиционера
              td Рассчитывается индивидуально
            tr
              td Ремонт кондиционера
              td Рассчитывается индивидуально, в зависимости от сложности ремонта