section.video
  .wrapper
    .columns
      .col-md-6.col-lg-7
        .text
          .overtitle Введение
          h2 Видеообзор
          .subtitle Посмотрите наше видео, чтобы более детально ознакомиться с услугой, узнать как работает и для чего нужна профессиональная заправочная станция, а также понять её преимущества перед другими установками.
          a.button(data-fancybox href='https://www.youtube.com/watch?v=WA_2jZEKrrs') Смотреть видео
      .col-md-6.col-lg-5
        .preview
          iframe(src="https://www.youtube.com/embed/WA_2jZEKrrs" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)