extends /layout.pug

block variables
  - var name = 'main_high main_7-series';
  - var section = 'Вид работ';
  - var title = 'Мойка радиаторов в BMW&nbsp;7&nbsp;серии';
  - var models = 'G11/G12, F01/F02, E65/E66, E38';
  - var seoTitle = 'Мойка радиаторов в BMW 7 серии (' + models + ') в Москве | Автосервис BMW «FGSEVER»';
  - var subtitle = 'Услуги по тщательной мойке радиаторов автомобилей BMW 7&nbsp;серии в Москве. Мы выполним все необходимые работы по обслуживанию вашего автомобиля и ответим на все интересующие вас вопросы.';
  - var path = {'/services/': 'Услуги', '/services/maintenance/': 'Техническое обслуживание BMW', '/services/maintenance/7-series/': '7&nbsp;серия', '': 'Мойка радиаторов'};
  - var button = ['popup', '#maintenance-appointment', 'Записаться'];

block content
  +main({ name, path, section, title, subtitle, button, models })
  include /maintenance/description/radiators-wash
  section.prices
    .wrapper
      .titles
        .overtitle Об услуге
        h2 Стоимость
      .block
        .table-wrapper
          .table
            table
              tr.table-header
                td Услуга
                td Стоимость
              tr 
                td Мойка радиаторов
                td <? echo format_price($workPrices['1-series']['radiatorsWash']) ?> (+ 700 ₽ за литр охлаждающей жидкости)
  include /maintenance/photos/radiators-wash
  include /about/advantages
  +about
  include /contacts
