extends /layout.pug

block variables
  - var name = 'main_maintenance';
  - var section = 'Услуга';
  - var title = 'Мойка радиаторов';
  - var seoTitle = 'Мойка радиаторов BMW в Москве | Автосервис BMW «FGSEVER»';
  - var subtitle = 'Услуги по тщательной мойке радиаторов BMW в Москве. Мы выполним все необходимые работы по обслуживанию вашего автомобиля и ответим на все интересующие вас вопросы.';
  - var path = {'/services/': 'Услуги', '/services/maintenance/': 'Техническое обслуживание', '': 'Мойка радиаторов'};
  - var button = ['popup', '#maintenance-appointment', 'Записаться'];

block content
  +main({ name, path, section, title, subtitle, button, models })
  include /maintenance/description/radiators-wash
  section.prices
    .wrapper
      .titles
        .overtitle Об услуге
        h2 Стоимость
      .block
        .table-wrapper
          .table
            table
              tr.table-header
                td Услуга
                td Стоимость
              tr 
                td Мойка радиаторов
                td от <? echo format_price($workPrices['1-series']['radiatorsWash']) ?> (+ 700 ₽ за литр охлаждающей жидкости)
  include /maintenance/photos/radiators-wash
  include /about/advantages
  +about
  include /contacts
