extends /layout.pug

block variables
  - var name = 'main_high main_x4';
  - var section = 'Вид работ';
  - var title = 'Замена масел в BMW&nbsp;X4';
  - var models = 'G02, F98, F26';
  - var seoTitle = 'Замена масел в BMW X4 (' + models + ') в Москве | Автосервис BMW «FGSEVER»';
  - var subtitle = 'Услуги по замене масел в автоматической коробке переключения передач (АКПП), редукторах и раздаточной коробке автомобилей BMW X4 в Москве. Мы выполним все необходимые работы по обслуживанию вашего автомобиля и ответим на все интересующие вас вопросы.';
  - var path = {'/services/': 'Услуги', '/services/maintenance/': 'Техническое обслуживание BMW', '/services/maintenance/x4/': 'X4', '': 'Замена масел'};
  - var button = ['popup', '#maintenance-appointment', 'Записаться'];

block content
  +main({ name, path, section, title, subtitle, button, models })
  include /maintenance/description/oil-change
  section.prices
    .wrapper
      .titles
        .overtitle Об услуге
        h2 Стоимость
      .block
        .table-wrapper
          .table
            table
              tr.table-header
                td Услуга
                td Стоимость
              tr
                td Замена масла в АКПП
                td <? echo format_price($workPrices['x4']['gearBoxOil']) ?>
              tr
                td Замена масла в переднем редукторе
                td <? echo format_price($workPrices['x4']['frontAxleFinalDriveOil']) ?> (+ <? echo format_price($prices['finalDriveOil']['price']) ?> за литр масла)
              tr
                td Замена масла в заднем редукторе
                td <? echo format_price($workPrices['x4']['rearAxleFinalDriveOil']) ?> (+ <? echo format_price($prices['finalDriveOil']['price']) ?> за литр масла)
              tr
                td Замена масла в раздаточной коробке
                td <? echo format_price($workPrices['x4']['transferCaseOil']) ?> (+ <? echo format_price($prices['transferBoxOil']['price']) ?> за литр масла)
  include /maintenance/photos/oil-change
  include /about/advantages
  +about
  include /contacts
