extends /layout.pug

block variables
  - var name = 'main_high main_5-series';
  - var section = 'Вид работ';
  - var title = 'Ремонт рулевой рейки BMW&nbsp;5&nbsp;серии';
  - var models = 'G30/G31, F90, F10/F11/F07, E60/E61, E39';
  - var seoTitle = 'Ремонт рулевой рейки BMW 5 серии (' + models + ') в Москве | Автосервис BMW «FGSEVER»';
  - var subtitle = 'Услуги по ремонту и устранению неисправностей рулевой рейки автомобилей BMW 5&nbsp;серии в Москве. Мы выполним все необходимые работы по обслуживанию вашего автомобиля и ответим на все интересующие вас вопросы.';
  - var path = {'/services/': 'Услуги', '/services/maintenance/': 'Техническое обслуживание BMW', '/services/maintenance/5-series/': '5&nbsp;серия', '': 'Ремонт рулевой рейки'};
  - var button = ['popup', '#maintenance-appointment', 'Записаться'];

block content
  +main(name, path, section, title, subtitle, button, models)
  include /maintenance/description/steering-repair
  section.prices
    .wrapper
      .titles
        .overtitle Об услуге
        h2 Стоимость
      .block
        .table-wrapper
          .table
            table
              tr.table-header
                td Услуга
                td Стоимость
              tr
                td Ремонт рулевой рейки
                td Рассчитывается индивидуально, в зависимости от сложности ремонта
  include /maintenance/photos/steering-repair
  include /about/advantages
  include /about  
  include /contacts
