extends /layout.pug

block variables
  - var name = 'main_high main_x1';
  - var section = 'Вид работ';
  - var title = 'Мойка радиаторов в BMW&nbsp;X1';
  - var models = 'F48, E84';
  - var seoTitle = 'Мойка радиаторов в BMW X1 (' + models + ') в Москве | Автосервис BMW «FGSEVER»';
  - var subtitle = 'Услуги по тщательной мойке радиаторов автомобилей BMW X1 в Москве. Мы выполним все необходимые работы по обслуживанию вашего автомобиля и ответим на все интересующие вас вопросы.';
  - var path = {'/services/': 'Услуги', '/services/maintenance/': 'Техническое обслуживание BMW', '/services/maintenance/x1/': 'X1', '': 'Мойка радиаторов'};
  - var button = ['popup', '#maintenance-appointment', 'Записаться'];

block content
  +main(name, path, section, title, subtitle, button, models)
  include /maintenance/description/radiators-wash
  section.prices
    .wrapper
      .titles
        .overtitle Об услуге
        h2 Стоимость
      .block
        .table-wrapper
          .table
            table
              tr.table-header
                td Услуга
                td Стоимость
              tr 
                td Мойка радиаторов
                td 8 000 ₽ (+ 700 ₽ за литр охлаждающей жидкости)
  include /maintenance/photos/radiators-wash
  include /about/advantages
  include /about  
  include /contacts
