extends /layout.pug

block variables
  - var name = 'main_suspension';
  - var section = 'Направление';
  - var title = 'Диагностика и ремонт подвески BMW в Москве';
  - var seoTitle = `Диагностика подвески БМВ и ремонт в Москве | Цена диагностики ходовой в профильном сервисе BMW`;
  - var subtitle = `Диагностика и ремонт амортизаторов и активного стабилизатора БМВ в Москве (СВАО). Авторизованный автосервис FGSEVER осуществляет ремонт пневмоподвески BMW с 2014 года по цене ниже дилерских сервисов!`;
  - var path = {'/services/': 'Услуги', '': 'Диагностика и ремонт подвески'};
  - var button = ['popup', '#suspension-appointment', 'Записаться'];
  - var image = '/models/5-series/g30-original.png';

block content
  +main({ name, path, section, title, subtitle, button, image })
  section.description
    .wrapper
      .titles
        .overtitle Об услуге
        h2 Ремонт подвески БМВ
      .block
        .icon.information-color
        h3 Зачем нужен ремонт амортизаторов и стабилизаторов BMW
        p Во время экстремальной эксплуатации авто по российским дорогам при пробеге в 10-30 тыс. км. Вам уже может потребоваться ремонт ходовой БМВ. Баварские авто эталон управляемости и комфорта при динамичном вождении. А при изменении геометрии подвески в результате естественного износа сайлентблоков, стабилизаторов и шарниров, нарушения герметичности пневмостоек, появляются излишние крены при поворотах, наблюдается ватность и валкость подвески, мешающая комфортной езде.
        p Повреждения деталей подвески вызывающие стуки, лязг и удары в ходовой, это уже совсем крайний случай, при котором диагностика ходовой БМВ должна выполняться неукоснительно.
        p Записаться на комплексную диагностику ходовой части БМВ можно через #[a.link(href='https://wa.me/79039760045') WhatsApp].
        h3 Как диагностировать необходимость ремонта подвески БМВ
        p 
          b Базовые симптомы неисправностей, при которых потребуется ремонт задней подвески БМВ:
        ul
          li Шумы и стуки в задней части ходовой;
          li Уходит развал-схождение колес на задней оси и неравномерно изнашиваются покрышки;
          li Машину ведет на скорости;
          li Имеется крен авто в задней части с уменьшением зазора между подкрылком и колесом;
          li Заднюю часть автомобиля сильно раскачивает на неровностях дороги.
        p 
          b Основные симптомы неисправностей, при которых потребуется ремонт передней подвески БМВ:
        ul
          li Появились вибрации в руль при движении;
          li Наблюдается неравномерный износ резины передней оси;
          li Щелчки и стуки предварительно исходящие от передней части авто;
          li Появилась валкость и крены при поворотах;
          li Наблюдается раскачивание авто на трассе.
        p При появлении симптоматики требуется провести тщательную и качественную диагностику подвески, так как причин неисправностей может быть много.
        h3 Как проходит диагностика и ремонт подвески БМВ в FG SEVER в Москве
        p Визуально-инструментальная диагностика подвески БМВ специалистами профильного автосервиса очень актуальна при покупке подержанной машины. Можно очень легко скинуть цену при выявлении необходимости комплекса ремонтных работ.
        p Диагностика ходовой части у нас выполняется преимущественно простыми слесарными инструментами - рычагами для выявления люфтов и визуальным осмотром целостности полимерных включений + опрашиваются электронные датчики систем курсовой устойчивости и антипробуксовочной. При комплектации авто активными стабилизаторами и двухконтурной / четырехконтурной пневмоподвеской ведется дефектовка компрессора и периферийных магистралей.
        p После определения конкретных неисправностей подвески мы бесплатно сориентируем по цене возможных вариантов ремонта.
  section.prices
    .wrapper
      .titles
        .overtitle Об услуге
        h2 Цена ремонта подвески БМВ с диагностикой
        .subtitle
          p Точную стоимость диагностики подвески БМВ с применением диагностического оборудования, в случае пневмоподвески, и замены не указанных в прайсе узлов пожалуйста уточняйте в чате или #[a.link(href='tel:+74991100045') по телефону].
      .block
        .table-wrapper
          .table
            table
              tr.table-header
                td Услуга
                td Стоимость
              tr
                td Диагностика подвески БМВ
                td 1 000 ₽ (Бесплатно при прохождении ТО)
              tr
                td Комплексный ремонт подвески БМВ
                td от 1 500 ₽
              tr
                td Ремонт стабилизатора BMW
                td от 3 500 ₽
              tr
                td Ремонт стоек амортизаторов BMW
                td от 3 000 ₽
              tr
                td Замена сайлентблоков подвески
                td от 2 500 ₽
              tr
                td Замена шаровых опор
                td от 2 800 ₽
              tr
                td Замена рулевых тяг и рычагов
                td от 2 500 ₽
              tr
                td Замена ступицы / подшипника ступицы
                td от 4 000 ₽
  include /maintenance/photos/suspension-repair
  include /contacts
