extends /layout.pug

block variables
  - var name = 'main_upgrade-g-series';
  - var section = 'Услуга';
  - var title = 'Дооснащение BMW 3 серии';
  - var models = 'G20/G21';
  - var seoTitle = 'Дооснащение BMW 3 серии (' + models + ') в Москве | Автосервис BMW «FGSEVER»';
  - var subtitle = 'Установка мультимедийной системы, цифровой комбинации приборов, проекционного дисплея, камеры KAFAS, активного круиз-контроля, ассистентов парковки и вождения, системы кругового обзора, комфортного доступа и других опций.';
  - var path = {'/services/': 'Услуги', '/services/upgrade/': 'Дооснащение', '/services/upgrade/g-series/': 'G&nbsp;серия', '': '3 серия'};
  - var button = ['popup', '#upgrade-appointment', 'Записаться на дооснащение'];

block content
  +main(name, path, section, title, subtitle, button, models)
  //- include /warning
  include /upgrade/calculator
  section.services.options#services-options
    .wrapper
      .titles
        .overtitle Наши услуги
        h2 Устанавливаемые опции
      .tabs
        .tabs-item.active(data-tab='all') Все опции
        .tabs-item(data-tab='multimedia') Мультимедиа
        .tabs-item(data-tab='assistants') Ассистенты
        .tabs-item(data-tab='safety') Безопасность
        .tabs-item(data-tab='lighting') Освещение
        .tabs-item(data-tab='view') Обзор
        //- .tabs-item(data-tab='exterior') Экстерьер
        .tabs-item(data-tab='interior') Интерьер
        .tabs-item(data-tab='functionality') Функциональное оснащение
        .tabs-item(data-tab='chassis') Ходовая часть
      .columns
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='multimedia')
          .services-item
            img(src='/images/services/upgrade/g-series/3-series/extended-cockpit-min.jpg' srcset='/images/services/upgrade/g-series/3-series/extended-cockpit-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Расширенная комбинация приборов
                .subtitle.services-item__subtitle Расширенная комбинация приборов с увеличенным дисплеем и поддержкой трёх режимов: Eco Pro, Comfort и Sport
              .services-item__meta
                .services-item__price 35 000 ₽
                .button-simple Подробнее
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='multimedia')
          .services-item
            img(src='/images/services/upgrade/g-series/3-series/live-cockpit-professional-min.jpg' srcset='/images/services/upgrade/g-series/3-series/live-cockpit-professional-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 BMW Live Cockpit Professional
                .subtitle.services-item__subtitle Полностью цифровая комбинация приборов с экраном 12.3", а также увеличенный информационный сенсорный дисплей с диагональю 10.25"
              .services-item__meta
                .services-item__price 400 000 Р
                .button-simple Подробнее
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='multimedia')
          .services-item
            img(src='/images/services/upgrade/g-series/3-series/head-up-display-min.jpg' srcset='/images/services/upgrade/g-series/3-series/head-up-display-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Проекционный дисплей
                .subtitle.services-item__subtitle Полноцветный проекционный дисплей на который выводятся: скорость движения, подсказки навигации, дорожные знаки и данные мультимедийной системы
              .services-item__meta
                .services-item__price 90 000 ₽
                .button-simple Подробнее
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='multimedia')
          .services-item
            img(src='/images/services/upgrade/g-series/3-series/hifi-sound-system-min.jpg' srcset='/images/services/upgrade/g-series/3-series/hifi-sound-system-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Аудиосистема Hi-Fi
                .subtitle.services-item__subtitle Десять динамиков и 7-канальный усилитель мощностью 205 Вт обеспечивают впечатляющее качество звучания независимо от занимаемого места в автомобиле
              .services-item__meta
                .services-item__price от 80 000 ₽
                .button-simple Подробнее
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='multimedia')
          .services-item
            img(src='/images/services/upgrade/g-series/3-series/harman-kardon-sound-system-min.jpg' srcset='/images/services/upgrade/g-series/3-series/harman-kardon-sound-system-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Аудиосистема Harman/Kardon
                .subtitle.services-item__subtitle 16 динамиков и высокоэффективный 9-канальный цифровой усилитель мощностью 464 Вт создают живое пространственное звучание на каждом посадочном месте автомобиля
              .services-item__meta
                .services-item__price от 140 000 ₽
                .button-simple Подробнее
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='multimedia')
          .services-item
            img(src='/images/services/upgrade/g-series/3-series/wireless-charging-min.jpg' srcset='/images/services/upgrade/g-series/3-series/wireless-charging-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Беспроводное зарядное устройство
                .subtitle.services-item__subtitle Площадка для беспроводной зарядки, второй микрофон, а также два USB-разъема с зарядным током до 2 А, для быстрой зарядки мобильных устройств
              .services-item__meta
                .services-item__price от 40 000 ₽
                .button-simple Подробнее
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='multimedia')
          .services-item
            img(src='/images/services/upgrade/g-series/3-series/gesture-control-min.jpg' srcset='/images/services/upgrade/g-series/3-series/gesture-control-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Система управления жестами
                .subtitle.services-item__subtitle Система управления жестами дополняет существующие системы управления и позволяет управлять функциями автомобиля легким движением руки
              .services-item__meta
                .services-item__price 45 000 ₽
                .button-simple Подробнее
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='multimedia')
          .services-item
            img(src='/images/services/upgrade/g-series/3-series/apple-carplay-min.jpg' srcset='/images/services/upgrade/g-series/3-series/apple-carplay-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Активация Apple CarPlay
                .subtitle.services-item__subtitle Позволяет использовать в автомобиле основные приложения вашего iPhone — телефон, сообщения, карты, музыку, аудиокниги и т. д.
              .services-item__meta
                .services-item__price.unknown Недоступно
                .button-simple Подробнее
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='multimedia')
          .services-item
            img(src='/images/services/upgrade/g-series/3-series/android-auto-min.jpg' srcset='/images/services/upgrade/g-series/3-series/android-auto-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Активация Android Auto
                .subtitle.services-item__subtitle Позволяет подключать ваш смартфон на ОС Android к экрану мультимедийной системы автомобиля и использовать на нём основные приложения смартфона
              .services-item__meta
                .services-item__price 8 000  ₽
                .button-simple Подробнее
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='assistants')
          .services-item
            img(src='/images/services/upgrade/g-series/3-series/parking-assistant-min.jpg' srcset='/images/services/upgrade/g-series/3-series/parking-assistant-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Ассистент парковки
                .subtitle.services-item__subtitle Камера заднего вида, боковые датчики парковки, сигнализация аварийного сближения и ассистенты парковки и движения задним ходом
              .services-item__meta
                .services-item__price от 45 000 ₽
                .button-simple Подробнее
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='assistants')
          .services-item
            img(src='/images/services/upgrade/g-series/3-series/parking-assistant-plus-min.jpg' srcset='/images/services/upgrade/g-series/3-series/parking-assistant-plus-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Ассистент парковки Plus
                .subtitle.services-item__subtitle Система кругового обзора, включая вид сверху и 3D-обзор, сигнализация аварийного сближения и ассистент парковки и движения задним ходом
              .services-item__meta
                .services-item__price от 90 000 ₽
                .button-simple Подробнее
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='assistants')
          .services-item
            img(src='/images/services/upgrade/g-series/3-series/road-signs-detection-min.jpg' srcset='/images/services/upgrade/g-series/3-series/road-signs-detection-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Чтение дорожных знаков
                .subtitle.services-item__subtitle Распознавание действующих знаков ограничений скорости и запретов обгона, которые отображаются в виде дорожных знаков на комбинации приборов
              .services-item__meta
                .services-item__price 120 000 ₽
                a.button-simple(href='/services/upgrade/g-series/road-signs-detection/') Подробнее
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='assistants')
          .services-item
            img(src='/images/services/upgrade/g-series/3-series/active-guard-min.jpg' srcset='/images/services/upgrade/g-series/3-series/active-guard-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Active Guard
                .subtitle.services-item__subtitle Предупреждение водителя о возможном столкновении с препятствием или наезде на пешехода, предотвращение ДТП, а также система контроля полосы 
              .services-item__meta
                .services-item__price от 30 000 ₽
                a.button-simple(href='/services/upgrade/g-series/active-guard/') Подробнее
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='assistants')
          .services-item
            img(src='/images/services/upgrade/g-series/3-series/driving-assistant-min.jpg' srcset='/images/services/upgrade/g-series/3-series/driving-assistant-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Ассистент вождения
                .subtitle.services-item__subtitle Система предупреждения о столкновении с функцией торможения, функция чтения дорожных знаков, система слежения за разметкой и помощи при перестроении
              .services-item__meta
                .services-item__price 350 000 ₽
                .button-simple Подробнее
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='assistants')
          .services-item
            img(src='/images/services/upgrade/g-series/3-series/active-cruise-control-min.jpg' srcset='/images/services/upgrade/g-series/3-series/active-cruise-control-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Активный круиз-контроль c функцией Stop&Go
                .subtitle.services-item__subtitle Поддержание заданной дистанции до находящегося впереди автомобиля, а также полная остановка и разгон автомобиля при необходимости
              .services-item__meta
                .services-item__price от 140 000 ₽
                a.button-simple(href='/services/upgrade/g-series/active-cruise-control') Подробнее
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='assistants')
          .services-item
            img(src='/images/services/upgrade/g-series/3-series/driving-assistant-professional-min.jpg' srcset='/images/services/upgrade/g-series/3-series/driving-assistant-professional-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Ассистент вождения Professional
                .subtitle.services-item__subtitle Активный круиз-контроль с функцией Stop&Go, полный набор ассистентов, а также возможность системы взять управление на себя в случае недомогания водителя
              .services-item__meta
                .services-item__price 700 000 ₽
                .button-simple Подробнее
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='safety')
          .services-item
            img(src='/images/services/upgrade/g-series/3-series/extra-package-eu-min.jpg' srcset='/images/services/upgrade/g-series/3-series/extra-package-eu-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Дополнительный объем для EU
                .subtitle.services-item__subtitle Двухступенчатая подушка безопаности водителя, датчики пристегнутого ремня переднего и задних пассажиров, датчик наличия переднего пассажира
              .services-item__meta
                .services-item__price от 140 000 ₽
                .button-simple Подробнее
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='safety')
          .services-item
            img(src='/images/services/upgrade/g-series/3-series/passenger-airbag-min.jpg' srcset='/images/services/upgrade/g-series/3-series/passenger-airbag-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Коленная подушка безопасности пассажира
                .subtitle.services-item__subtitle Дополнительно установленная в автомобиле подушка безопасности, расположенная в области колен переднего пассажира
              .services-item__meta
                .services-item__price от 25 000 ₽
                .button-simple Подробнее
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='lighting')
          .services-item
            img(src='/images/services/upgrade/g-series/3-series/high-beam-assistant-min.jpg' srcset='/images/services/upgrade/g-series/3-series/high-beam-assistant-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Система управления дальним светом
                .subtitle.services-item__subtitle Автоматический переход с дальнего на ближний свет в зависимости от наличия перед автомобилем других транспортных средств
              .services-item__meta
                .services-item__price 45 000 ₽
                .button-simple Подробнее
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='lighting')
          .services-item
            img(src='/images/services/upgrade/g-series/3-series/led-fog-lights-min.jpg' srcset='/images/services/upgrade/g-series/3-series/led-fog-lights-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Светодиодные противотуманные фары
                .subtitle.services-item__subtitle Улучшают видимость в условиях тумана или сильных осадков, а также задают высокотехнологичный и современный тон яркому облику автомобиля
              .services-item__meta
                .services-item__price 40 000 ₽
                .button-simple Подробнее
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='lighting')
          .services-item
            img(src='/images/services/upgrade/g-series/3-series/laser-lights-min.jpg' srcset='/images/services/upgrade/g-series/3-series/laser-lights-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Лазерные фары
                .subtitle.services-item__subtitle Освещают дорогу на расстояние до 530 метров, что почти вдвое дальше, чем при использовании обычных фар. Имеют синие акценты и надпись "BMW Laser"
              .services-item__meta
                .services-item__price от 250 000 ₽
                .button-simple Подробнее
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='view')
          .services-item
            img(src='/images/services/upgrade/g-series/3-series/rear-mirrors-package-min.jpg' srcset='/images/services/upgrade/g-series/3-series/rear-mirrors-package-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Пакет зеркал заднего вида
                .subtitle.services-item__subtitle Автоматическое затемнение зеркала со стороны водителя, а также наклон зеркала со стороны пассажира при движении задним ходом
              .services-item__meta
                .services-item__price 60 000 ₽
                .button-simple Подробнее
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='view')
          .services-item
            img(src='/images/services/upgrade/g-series/3-series/non-dazzling-internal-mirror-min.jpg' srcset='/images/services/upgrade/g-series/3-series/non-dazzling-internal-mirror-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Неослепляющее внутреннее зеркало заднего вида
                .subtitle.services-item__subtitle Предотвращает ослепление водителя светом фар автомобилей, движущихся сзади, путем затемнения отражающей поверхности зеркала
              .services-item__meta
                .services-item__price 12 000 ₽
                .button-simple Подробнее
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='interior')
          .services-item
            img(src='/images/services/upgrade/g-series/3-series/acoustic-comfort-windows-min.jpg' srcset='/images/services/upgrade/g-series/3-series/acoustic-comfort-windows-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Акустически-комфортное остекление
                .subtitle.services-item__subtitle Двойное остекление передних боковых окон и ветрового стекла. Благодаря этому значительно снижается шум в салоне автомобиля
              .services-item__meta
                .services-item__price от 70 000 ₽
                .button-simple Подробнее
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='interior')
          .services-item
            img(src='/images/services/upgrade/g-series/3-series/electro-front-seats-min.jpg' srcset='/images/services/upgrade/g-series/3-series/electro-front-seats-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Электрорегулировка передних сидений
                .subtitle.services-item__subtitle Электрорегулировка передних сидений с функцией памяти сиденья водителя, наружных зеркал и рулевой колонки
              .services-item__meta
                .services-item__price от 80 000 ₽
                .button-simple Подробнее
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='interior')
          .services-item
            img(src='/images/services/upgrade/g-series/3-series/sport-front-seats-min.jpg' srcset='/images/services/upgrade/g-series/3-series/sport-front-seats-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Спортивные передние сиденья
                .subtitle.services-item__subtitle Спортивные передние сиденья с выраженной боковой поддержкой, тщательно продуманной эргономикой, увеличенными валиками боковой поддержки и регулируемой подколенной опорой
              .services-item__meta
                .services-item__price от 70 000 ₽
                .button-simple Подробнее
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='interior')
          .services-item
            img(src='/images/services/upgrade/g-series/3-series/sensatec-dashboard-min.jpg' srcset='/images/services/upgrade/g-series/3-series/sensatec-dashboard-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Отделка приборной панели Sensatec
                .subtitle.services-item__subtitle Верхняя часть приборной панели отделана материалом Sensatec черного цвета. Этим самым создается эксклюзивная атмосфера в салоне
              .services-item__meta
                .services-item__price от 40 000 ₽
                .button-simple Подробнее
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='interior')
          .services-item
            img(src='/images/services/upgrade/g-series/3-series/leather-dashboard-min.jpg' srcset='/images/services/upgrade/g-series/3-series/leather-dashboard-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Кожаная отделка приборной панели
                .subtitle.services-item__subtitle Верхняя часть приборной панели отделана черной кожей Walknappa из серии BMW Individual. Этим самым атмосфера в салоне делается еще более роскошной
              .services-item__meta
                .services-item__price 110 000 ₽
                .button-simple Подробнее
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='interior')
          .services-item
            img(src='/images/services/upgrade/g-series/3-series/m-steering-wheel-min.jpg' srcset='/images/services/upgrade/g-series/3-series/m-steering-wheel-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Спортивное рулевое колесо M
                .subtitle.services-item__subtitle Многофункциональное трехспицевое спортивное кожаное рулевое колесо М с отделкой черной кожей Walknappa подчеркивает спортивные возможности автомобиля
              .services-item__meta
                .services-item__price 60 000 ₽
                .button-simple Подробнее
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='interior')
          .services-item
            img(src='/images/services/upgrade/g-series/3-series/moonroof-min.jpg' srcset='/images/services/upgrade/g-series/3-series/moonroof-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Люк электрорегулируемый
                .subtitle.services-item__subtitle Электрорегулируемый люк со стеклянной крышкой позволяет плавно регулировать поток поступающего в салон воздуха
              .services-item__meta
                .services-item__price 160 000 ₽
                .button-simple Подробнее
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='functionality')
          .services-item
            img(src='/images/services/upgrade/g-series/3-series/comfort-access-min.jpg?2' srcset='/images/services/upgrade/g-series/3-series/comfort-access-min@2x.jpg?2 1.5x')
            .services-item__content
              .services-item__text
                h3 Комфортный доступ
                .subtitle.services-item__subtitle Открывание дверей автомобиля и запуск двигателя без использования ключа, а также бесконтактное открывание и закрывание крышки багажного отделения
              .services-item__meta
                .services-item__price 120 000 ₽
                .button-simple Подробнее
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='functionality')
          .services-item
            img(src='/images/services/upgrade/g-series/3-series/sun-protection-glazing-min.jpg' srcset='/images/services/upgrade/g-series/3-series/sun-protection-glazing-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Солнцезащитное остекление
                .subtitle.services-item__subtitle Солнцезащитное остекление заднего и задних боковых окон более эффективно поглощает солнечное излучение и предотвращает чрезмерный нагрев салона
              .services-item__meta
                .services-item__price от 60 000 ₽
                .button-simple Подробнее
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='functionality')
          .services-item
            img(src='/images/services/upgrade/g-series/3-series/autonomous-heating-min.jpg' srcset='/images/services/upgrade/g-series/3-series/autonomous-heating-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Автономная система отопления
                .subtitle.services-item__subtitle Позволяет нагревать салон до комфортной температуры в холодные дни без запуска двигателя, а также предотвращает обмерзание и запотевание окон автомобиля
              .services-item__meta
                .services-item__price от 120 000 ₽
                .button-simple Подробнее
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='functionality')
          .services-item
            img(src='/images/services/upgrade/g-series/3-series/security-alarm-min.jpg' srcset='/images/services/upgrade/g-series/3-series/security-alarm-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Охранная сигнализация
                .subtitle.services-item__subtitle Отслеживает состояние дверей, капота, крышки багажника и салона, а также включает в себя датчик крена кузова и автономную сирену
              .services-item__meta
                .services-item__price от 30 000 ₽
                .button-simple Подробнее
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='chassis')
          .services-item
            img(src='/images/services/upgrade/g-series/3-series/adaptive-m-suspension-min.jpg' srcset='/images/services/upgrade/g-series/3-series/adaptive-m-suspension-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Адаптивная подвеска M
                .subtitle.services-item__subtitle Подвеска, заниженная на 10 миллиметров. Позволяет изменять ходовые качества автомобиля от максимально комфортных до экстремально спортивных
              .services-item__meta
                .services-item__price от 140 000 ₽
                .button-simple Подробнее
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='chassis')
          .services-item
            img(src='/images/services/upgrade/g-series/3-series/m-differential-min.jpg' srcset='/images/services/upgrade/g-series/3-series/m-differential-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Дифференциал M Sport
                .subtitle.services-item__subtitle Перераспределение крутящего момента между задними колесами для оптимизации тяги и повышения курсовой устойчивости
              .services-item__meta
                .services-item__price.unknown XX XXX ₽
                .button-simple Подробнее
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='chassis')
          .services-item
            img(src='/images/services/upgrade/g-series/3-series/m-sport-brakes-min.jpg' srcset='/images/services/upgrade/g-series/3-series/m-sport-brakes-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Тормозная система M Sport
                .subtitle.services-item__subtitle Тормозные диски большего диаметра с 4-поршневыми неподвижными суппортами спереди и однопоршневыми плавающими – сзади. Суппорты имеют логотип "М" и окрашены в синий цвет
              .services-item__meta
                .services-item__price 90 000 ₽
                .button-simple Подробнее
        .col-sm-6.col-lg-4.col-xl-3.active(data-target='chassis')
          .services-item
            img(src='/images/services/upgrade/g-series/3-series/adaptive-sport-steering-min.jpg' srcset='/images/services/upgrade/g-series/3-series/adaptive-sport-steering-min@2x.jpg 1.5x')
            .services-item__content
              .services-item__text
                h3 Адаптивное спортивное рулевое управление
                .subtitle.services-item__subtitle Изменяет передаточное число рулевого механизма, а также в зависимости от скорости уменьшает усилие, необходимое для поворота рулевого колеса
              .services-item__meta
                .services-item__price 90 000 ₽
                .button-simple Подробнее
  include /videos
  include /contacts
