extends /layout.pug

block variables
  - var name = 'main_kafas-activation';
  - var section = 'Услуга';
  - var title = 'Активация камер KAFAS на BMW X5/X6/X7';
  - var models = 'G05/G06/G07';
  - var seoTitle = title + ' (' + models + ') в Москве | Автосервис BMW «FGSEVER»';
  - var subtitle = 'Активация альтернативными кодами оригинальных камер KAFAS, а также связанных с ними опций, таких как чтение дорожных знаков, ассистент вождения, активный круиз-контроль и т. д.';
  - var path = {'/services/': 'Услуги', '/services/upgrade/': 'Дооснащение', '/services/upgrade/g-series/': 'G&nbsp;серия', '': 'Активация камер KAFAS на BMW X5/X6/X7'};
  - var button = ['popup', '#upgrade-appointment', 'Записаться на дооснащение'];

block content
  +main(name, path, section, title, subtitle, button, models)
  section.description
    .wrapper
      .titles
        .overtitle Об услуге
        h2 Описание
      .block
        .icon.information-color
        h3 Что представляет из себя система камер KAFAS?
        p В современных автомобилях BMW имеется специальная система камер, которая называется KAFAS 4. Эта система располагается под лобовым стеклом в области зеркала заднего вида и необходима для работы таких опций, как чтение дорожных знаков, ассистент вождения, активный круиз-контроль и других. Система бывает разных версий — KAFAS 4 и 5, и нескольких видов — однокамерная и трехкамерная, в зависимости от модели и года выпуска автомобиля.
        .images.columns
          .col-4.col-md-3
            .image
              img(src='/images/services/upgrade/g-series/kafas-activation/one-camera.jpg')
          .col-4.col-md-3
            .image
              img(src='/images/services/upgrade/g-series/kafas-activation/three-camera.jpg')
        h3 Для чего нужна активация камер?
        p Для работы дополнительных опций необходима не только установка системы камер KAFAS, но и её активация оригинальными FSC кодами от автопроизводителя. Каждый FSC код активирует отдельную опцию, для работы которой нужна камера. Например, чтение дорожных знаков, ассистент вождения, предупреждение о столкновении, предупреждние о сходе с полосы и так далее. Мы предоставляем возможность активации этих функций альтернативными FSC кодами, так как получение оригинальных кодов является затруднительным.
        h3 Какие опции можно активировать?
        p Мы предлагаем активацию пакета, включающего сразу несколько опций:
        ul
          li Ассистент дальнего света (FLA) — автоматическое переключение ближнего/дальнего света;
          li Lane Departure Warning (LWD) — предупреждение о сходе с полосы;
          li Speed Limit Information (SLI) — чтение дорожных знаков;
          li City Collision Mitigation (CCM) — предупреждение о столкновении;
          li Wrong Way Assist (WWA);
          li Road Surface Preview.
        h3 Важно знать
        .highlighted Для активации необходимо наличие самой системы камер KAFAS. По времени процедура занимает 4-5 дней. ПО камер обновляется до последней версии, поэтому повторно обновлять камеру нельзя. В противном случае, потребуется повторная активация.
        h3 Принцип работы системы
        p Камеры встроены в блок управления KAFAS.
        p Записанные камерами световые точки, цвета освещения и интенсивность света анализируются в блоке управления KAFAS. После оценки блоком управления KAFAS выдается рекомендация по включению или выключению.
        p Камеры контролируют пространство перед транспортным средством. Камера регистрирует дорожное полотно до прим. 40 метров перед и до прим. 5 метров справа и слева от транспортного средства. Данные изображений обрабатываются блоком управления KAFAS.
        p Стереокамера имеет до 3 линз. Благодаря этому она может записывать трехмерное изображение. Распознается следующее:
        ul
          li Объекты (автомобили, пешеходы, гендерные объекты);
          li Свободное пространство перед автомобилем;
          li Обзор линии дороги;
          li Разметка проезжей части;
          li Дорожные знаки.
        .images.columns
          .col-4.col-md-3
            a.image(data-fancybox href='/images/services/upgrade/g-series/kafas-activation/kafas-1.jpg' target='_blank')
              img(src='/images/services/upgrade/g-series/kafas-activation/kafas-1-min.jpg')
        p Исполнение High с 3 линзами, в зависимости от системы поддержки. 1 — ЭБУ KAFAS; 2 — 2-полюсное штекерное соединение (обогрев камеры); 3 — Разъем 10‐контактный (кабельная сеть автомобиля); 4 — 3 линзы.
        .images.columns
          .col-4.col-md-3
            a.image(data-fancybox href='/images/services/upgrade/g-series/kafas-activation/kafas-2.jpg' target='_blank')
              img(src='/images/services/upgrade/g-series/kafas-activation/kafas-2-min.jpg')
        p Вариант Mid с 1 линзой, в зависимости от системы поддержки. 1 — ЭБУ KAFAS; 2 — 2-полюсное штекерное соединение (обогрев камеры); 3 — Разъем 10‐контактный (кабельная сеть автомобиля).
        //- h3 Компоненты системы
        //- p #[b Панель управления освещением, переключатель указателей поворота / дальнего света, а также блок управления системы поддержки водителя]
        //- p С помощью переключателя указателей поворота/дальнего света производится включение и выключение системы управления дальним светом фар. Для этого переключатель света должен находиться в положении автоматического управления светом фар или ближнего света (положение А). Дополнительное необходимое условие: ближний свет включен из-за сильной темноты.
        //- p В автомобилях без автоматического управления включением света фар система управления дальним светом может активироваться и при достаточном освещении. Система управления дальним светом включает ближний свет в зависимости от наружного освещения.
        //- p С помощью клавиши на панели управления системами помощи водителю производится включение и выключение сигнализации ухода с полосы движения и предупреждения об опасности наезда.
        //- p Панель управления системами помощи водителю соединена с контроллером Body Domain Controller (BDC) через шину LIN. При нажатии клавиши сигнал передается по шине от контроллера Body Domain Controller (BDC) на блок управления видеосистемой помощи водителю (KAFAS).
        //- p Центральным блоком управления для всех использующих видеокамеру функций является блок управления системы контроля специального оборудования (SAS).
        //- p Блок управления SAS разрешает включение сигнализации ухода с полосы движения только тогда, когда система работает исправно. Только в этом случае он выдает положительное подтверждение в виде сигнала, передаваемого по шине, на контроллер Body Domain Controller (BDC) для активации функциональной подсветки клавиши. Если в системе имеется неисправность, функциональная подсветка остается выключенной несмотря на нажатие кнопки. На основании этого водитель понимает, что сигнализация ухода с полосы движения недоступна.
        h3 Работа системы
        p В зависимости от комплектации имеются в наличии различные системы поддержки водителя на базе видеокамеры. Технически это реализуется с помощью камеры в ножке внутреннего зеркала заднего вида и в блоке управления KAFAS.
        p Важнейшими функциями индикации системы поддержки водителя на базе видеокамер являются:
        ul
          li Система предупреждения о выходе за пределы полосы движения;
          li Система управления дальним светом;
          li Оповещений о знаках ограничения скорости;
          li Предупреждение о наезде;
          li Запрет обгона;
          li Предотвращение ДТП, городское движение;
          li Превентивная защита пешеходов;
          li Ассистент движения в пробке;
        .highlighted Кроме того, видеоданные, которые записывает стереокамера, объединяются с данными для других функций индикации.
        p #[b Предотвращение ДТП, городское движение]
        p Стереокамера контролирует пространство вокруг автомобиля. Посредством обработки изображения стереокамера распознает все автомобили (легковые, грузовые и мотоциклы) в зоне обзорности, включая неподвижные цели. Исходя из рассчитанных положений, интервалов и относительной скорости выдается предостережение или активируется торможение.
        p Данная функция предупреждает водителя о критичной ситуации движения и предотвращает наезд. Дополнительно при скорости движения в пределах от 3 до 60 км/ч автоматически активируется торможение. Этим самым снижается вероятность возникновения аварии. При разнице в скорости прибл. до 18 км/ч можно избежать аварии. Функция доступна в дневное и ночное время.
        p Предупреждение о наезде подается двухступенчато. На первой ступени (предупреждение) высвечивается предупреждающий символ в комбинации приборов (KOMBI). На втором уровне (срочное предостережение) мигает символ. Дополнительно выдается предупреждающий сигнал.
        p Обе ступени можно включить или отключить через панель управления системой поддержки. Функция доступна всегда при пуске двигателя. Предупредительный сигнал можно отрегулировать на центральном информационном дисплее (ранний, средний, поздний). Незадолго до столкновения автоматически активируется торможение со средней тормозной силой для снижения тяжести последствий аварии.
        p При срочном предупреждении тормозная система подготавливается таким образом, чтобы как можно быстрее выполнить торможение до полной остановки.
        p #[b Превентивная защита пешеходов]
        p Камера контролирует пространство вокруг автомобиля. Посредством обработки изображений камера распознает пешеходов. Исходя из рассчитанных положений, интервалов и относительной скорости выдается предостережение или активируется торможение.
        p Данная функция предупреждает водителя о возможном столкновении при скорости движения в пределах от 10 до 60 км/ч. Дополнительно автоматически активируется торможение. Этим самым снижается вероятность возникновения аварии или даже сами аварии. Данная функция доступна только в дневное время.
        p Предупреждение о наезде подается двухступенчато. На первой ступени (предупреждение) высвечивается предупреждающий символ в комбинации приборов (KOMBI). На втором уровне (срочное предостережение) мигает символ. Дополнительно выдается предупреждающий сигнал.
        p Обе ступени можно включить или отключить через панель управления системой поддержки. Функция доступна всегда при пуске двигателя. Незадолго до столкновения автоматически активируется торможение со средней тормозной силой для снижения тяжести последствий аварии.
        p При срочном предупреждении тормозная система подготавливается таким образом, чтобы как можно быстрее выполнить торможение до полной остановки.
        p #[b Система предупреждения о выходе за пределы полосы движения]
        p Необходимыми условиями для сигнализации ухода с полосы движения является распознанная полоса движения и определенная скорость движения. На основании этого система в принципе готова к подаче предупреждающего сигнала. О грозящем переезде полосы движения система предупреждает водителя вибрирующим рулевым колесом. На основании одной или двух распознанных полос движения система вычисляет сначала координаты автомобиля по отношению к этим полосам движения. С помощью скорости вращения автомобиля вокруг вертикальной оси и скорости движения вычисляется время, оставшееся для переезда полосы движения. Своевременно, перед переездом разметки подается предупреждающий сигнал.
        p Предупреждающий сигнал подается только один раз при приближении к разметке дорожного полотна. Предупреждающий сигнал длится не более 2,5 секунд. При остановке автомобиля на разметке полосы движения предупреждающий сигнал не подается. Повторное предупреждение возможно только после возврата в свою полосу или смены полосы движения. В случае преднамеренной смены полосы движения: При использовании указателя направления движения в качестве входного сигнала предупреждающий сигнал не подается.
        p Предупреждающий сигнал выключается при наличии следующих условий:
        ul
          li водитель возвращается на полосу движения;
          li производится смена полосы движения;
          li автомобиль находится на линии дольше чем 2,5 секунды;
          li включается указатель поворота для смены полосы движения;
          li производится сильный нажим на тормоз (в зависимости от тормозного давления)
        p Скорость для активации предостережения зависит от конкретной страны:
        ul
          li Европа: 70 км/ч;
          li Соединенные Штаты: 40 миль в час;
          li Япония: 50 км/ч.
        p Готовность системы и подачи предупреждающего сигнала отображается на комбинации приборов и на виртуальном дисплее (в зависимости от автомобиля).
        p #[b Система управления дальним светом]
        p Стереокамера контролирует зону перед автомобилем на наличие источников света. Движущиеся спереди или навстречу транспортные средства распознаются на расстоянии прим. 400 метров. Зона действия видеокамер составляет при этом примерно 1000 метров. Зона обзорности стереокамеры обладает горизонтальным боковым углом прим. 15° влево и вправо. Зона обзорности стереокамеры обладает вертикальным углом места прим. 5° вверх и вниз. Во время эксплуатации видеокамера записывает световые точки. При этом могут различаться различные параметры, как, например, цвет освещения и интенсивность света.
        p Записанные световые точки, цвета освещения и интенсивность света анализируются в ЭБУ KAFAS. После анализа блок управления SAS дает рекомендацию на включение или выключение. Для выдачи рекомендации на включение или выключение также учитывается скорость движения. При скоростях менее 30 км/ч дальний свет выключается. При скорости более 40 км/ч в зависимости от всех остальных параметров дальний свет включается. Если автомобиль находится в окружении с достаточным освещением, дальний свет не включается. Блок управления KAFAS (или блок управления FLA) дает рекомендацию на выключение.
        p #[b Распознаваемые дорожные знаки]
        p Обозначение для маркетинга: Speed Limit Information (оповещение об ограничении скорости)
        p Система распознавания дорожных знаков отображает текущее ограничение скорости на дисплее комбинации приборов и на виртуальном дисплее. Таким образом, распознавание дорожных знаков помогает водителю избежать превышения скорости. Ответственность за автомобиль и скорость вождения лежит исключительно на водителе. Для индикации ограничения скорости используются следующие данные:
        ul
          li Данные системы навигации;
          li Данные изображений со стереокамеры;
        p Если в системе навигации записаны данные об ограничении скорости на улице, на которой в данный момент осуществляется движение, они используются блоком управления KAFAS в качестве базовых. Параллельно с этим в ЭБУ KAFAS анализируются видеоданные с видеокамеры. Данные изображений считываются блоком управления KAFAS и сопоставляются с дорожными знаками, указывающими на ограничение скорости и снятие ограничений скорости. Если видеокамера распознает ограничения скорости на основании местных и временных дорожных знаков, приоритет будет отдан данным системы навигации. Если дорожные знаки, свидетельствующие о снятии ограничений скорости, будут закрыты или нераспознаваемы, индикация будет отменена на основании заданного времени и параметров участка пути.
        p #[b Предупреждение о наезде]
        p В отличии от предупреждения о наезде с активной системой поддержания заданной скорости (ACC = радар) используется основанная на камере технология. Предупреждение о наезде может выдаваться начиная с порога скорости в 15 км/ч.
        p Предупреждение о наезде имеет следующие подфункции:
        ul
          li #[b Предварительное предупреждение.] Предостережение, например, при вырисовывающейся опасности столкновения или при очень малом расстоянии до проезжающего мимо автомобиля. Предостережение красным значком автомобиля в комбинации приборов, альтернативно на виртуальном дисплее: статическое предостережение при малом расстоянии, динамическое предостережение при приближении.
          li #[b Срочное предупреждение.] Предостережение при непосредственной опасности столкновения, если автомобиль приближается к другому объекту с относительно высокой дифференцированной скоростью. Мигающие красный значок автомобиля в комбинации приборов, альтернативно на виртуальном дисплее и звуковой предупреждающий сигнал
          li #[b Предварительное заполнение тормозной системы]
          li #[b Адаптация порогов для динамического контроля тормозной системы (мастер торможения)]
        p #[b Самостоятельное торможение при распознавании стоящих автомобилей]
        p При наличии на автомобиле дополнительного оборудования SA5AT также распознаются стоящие и встраивающиеся в поток автомобили. При нахождении на опасном расстоянии до стоящих автомобилей возможно торможение до полной остановки.
        p #[b Запрет обгона]
        p Эта функция с помощью соответствующих символов в комбинации приборов (альтернативно на виртуальном дисплее) показывает распознанные запреты обгона. Полученные стереокамерой изображения объединяются с данными навигации. Также показывается снятие запретов обгона.
        p Дополнительные дорожные знаки (например, грузовой автомобиль, прицеп) распознаются и проверяются.
        .highlighted Оставляем за собой право на опечатки, смысловые ошибки и технические изменения.
  section.prices
    .wrapper
      .titles
        .overtitle Об услуге
        h2 Стоимость
      .block
        .table-wrapper
          .table
            table
              tr.table-header
                td Услуга
                td Стоимость
              tr
                td Активация пакета кодов на одну камеру
                td 70 000 ₽
  include /maintenance/photos/computer-diagnostics
  include /videos
  include /about/advantages
  include /about
  include /contacts
