section.services
  .wrapper
    .titles
      .overtitle Наши услуги
      h2 Виды работ
    .columns
      .col-md-6.col-lg-4
        a.services-item(href='zamena-cepi-grm/')
          .services-item__content
            .services-item__text
              .services-item__title
                h3 Замена цепи ГРМ
              .subtitle.services-item__subtitle Полная замена цепи газораспределительного механизма (ГРМ)
            .button-simple Подробнее
      .col-md-6.col-lg-4
        a.services-item(href='remont-bublika/')
          .services-item__content
            .services-item__text
              .services-item__title
                h3 Ремонт гидротрансформаторов
              .subtitle.services-item__subtitle Диагностика и устранение неисправностей гидротрансформатора АКПП
            .button-simple Подробнее
      .col-md-6.col-lg-4
        a.services-item(href='remont-rulevyh-reek/')
          .services-item__content
            .services-item__text
              .services-item__title
                h3 Ремонт рулевых реек
              .subtitle.services-item__subtitle Ремонт и устранение неисправностей рулевой рейки, в том числе замена болтов
            .button-simple Подробнее
      .col-md-6.col-lg-4
        a.services-item(href='remont-turbin/')
          .services-item__content
            .services-item__text
              .services-item__title
                h3 Ремонт турбин
              .subtitle.services-item__subtitle Ремонт и диагностика турбин бензиновых и дизельных двигателей
            .button-simple Подробнее