extends /layout.pug

block variables
  - var name = 'main_about';
  - var section = 'Раздел';
  - var title = 'Анонимный опрос';
  - var seoTitle = title + ' | Автосервис BMW «FGSEVER»';
  - var subtitle = 'Страница для проведения анонимного опроса среди сотрудников автосервиса «FGSEVER».';
  - var path = {'': title};

block content
  +main({ name, path, section, title, subtitle })
  section.description.survey
    .wrapper
      form(name="working-conditions")
        .step.active
          .question
            p Приветствую Вас, Уважаемые коллеги!
            p Прошу Вас принять участие в анонимном опросе. Ваши ответы останутся анонимны по итогу опроса. Данный опрос необходим для улучшения условий труда. 
            p Прошу Вас внимательно прочитать!
            p Опрос проходить только один раз и до самого конца. Если количество результатов будет больше или меньше количества сотрудников, данный опрос будет аннулирован и не будет взят во внимание. Поэтому прошу Вас подойти ответственно.
          .buttons
            .button.next Далее
        .step
          .question
            h3 1. Вас зовут Николай?
            p Ему один хрен будет интересно посмотреть опросник, так хоть будет понятно от кого еще одна анкета.
            .answers
              label
                input(type='radio' name='Николай' value='Да')
                | Да
              label
                input(type='radio' name='Николай' value='Нет')
                | Нет
          .buttons
            .button.back Назад
            .button.next Далее
        .step
          .question
            h3 2.	Как Вы оцениваете условия труда в FGSever?
            p Оцените условия работы в нашем автосервисе по пятибальной шкале от 1 до 5. Чем больше, тем лучше.
            .answers
              label
                input(type='radio' name='Оценка условий труда' value='1')
                | 1
              label
                input(type='radio' name='Оценка условий труда' value='2')
                | 2
              label
                input(type='radio' name='Оценка условий труда' value='3')
                | 3
              label
                input(type='radio' name='Оценка условий труда' value='4')
                | 4
              label
                input(type='radio' name='Оценка условий труда' value='5')
                | 5
            .clarify.hidden
              p Пожалуйста укажите одну или несколько причин.
              .answers
                label
                  input(type='checkbox' name='Почему меньше пяти' value='Я всем доволен')
                  | Я всем доволен
                label
                  input(type='checkbox' name='Почему меньше пяти' value='Не устраивает коллектив')
                  | Не устраивает коллектив
                label
                  input(type='checkbox' name='Почему меньше пяти' value='Низкая оплата')
                  | Низкая оплата
                label
                  input(type='checkbox' name='Почему меньше пяти' value='Отсутствие инструмента')
                  | Отсутствие инструмента
                label
                  input(type='checkbox' name='Почему меньше пяти' value='Отсутствие взаимодействия с руководством')
                  | Отсутствие взаимодействия с руководством
          .buttons
            .button.back Назад
            .button.next Далее
        .step
          .question
            h3 3.	У вас имеется весь необходимый инструмент для работы?
            .answers
              label
                input(type='radio' name='Инструмент для работы' value='Да')
                | Да
              label
                input(type='radio' name='Инструмент для работы' value='Многие отсутствуют')
                | Многие отсутствуют
              label
                input(type='radio' name='Инструмент для работы' value='В целом да, за исключением редко используемых')
                | В целом да, за исключением редко используемых
          .buttons
            .button.back Назад
            .button.next Далее
        .step
          .question
            h3 4.	Что по вашему мнению необходимо для улучшения рабочих условий?
            .answers
              label
                input(type='checkbox' name='Улучшение рабочих условий' value='Поддержание чистоты и порядка')
                | Поддержание чистоты и порядка
              label
                input(type='checkbox' name='Улучшение рабочих условий' value='Ремонт помещения')
                | Ремонт помещения
              label
                input(type='checkbox' name='Улучшение рабочих условий' value='Закупка дополнительного инструмента')
                | Закупка дополнительного инструмента
              label
                input(type='checkbox' name='Улучшение рабочих условий' value='Увеличение объёма работы')
                | Увеличение объёма работы
              label
                input(type='checkbox' name='Улучшение рабочих условий' value='Дополнительные сотрудники')
                | Дополнительные сотрудники
              label
                input(type='checkbox' name='Улучшение рабочих условий' value='Расширение предоставляемых услуг сервисом')
                | Расширение предоставляемых услуг сервисом
              label
                input(type='checkbox' name='Улучшение рабочих условий' value='Другое')
                | Другое
              textarea.input.hidden(name='Улучшение рабочих условий (детали)' rows='3' placeholder='Пожалуйста укажите, что именно необходимо улучшить.')
          .buttons
            .button.back Назад
            .button.next Далее
        .step
          .question
            h3 5. Исходя из ваших профессиональных навыков, какие условия работы вам подходят?
            .answers
              label
                input(type='radio' name='Условия работы' value='Готов выполнять работу согласно оговоренному проценту в рабочее время')
                | Готов выполнять работу согласно оговоренному проценту в рабочее время
              label
                input(type='radio' name='Условия работы' value='Готов работать сверхурочно, выполняя работу, предоставленную работодателем')
                | Готов работать сверхурочно, выполняя работу, предоставленную работодателем
              label
                input(type='radio' name='Условия работы' value='Желаю работать за оклад')
                | Желаю работать за оклад
              label
                input(type='radio' name='Условия работы' value='Готов работать за оклад 70 000 руб. и уменьшенный процент (10%)')
                | Готов работать за оклад 70 000 руб. и уменьшенный процент (10%)
          .buttons
            .button.back Назад
            .button.next Далее
        .step
          .question
            h3 6. Готовы ли вы задерживаться на работе в случае необходимости?
            .answers
              label
                input(type='radio' name='Готовы ли задерживаться' value='Да')
                | Да
              label
                input(type='radio' name='Готовы ли задерживаться' value='Готов, однако очень не нравится')
                | Готов, однако очень не нравится
              label
                input(type='radio' name='Готовы ли задерживаться' value='Не готов')
                | Не готов
          .buttons
            .button.back Назад
            .button.next Далее
        .step
          .question
            h3 7. Работу в нашей компании вы считаете основной или дополнительной?
            .answers
              label
                input(type='radio' name='Работа основная/дополнительная' value='Основной')
                | Основной
              label
                input(type='radio' name='Работа основная/дополнительная' value='Дополнительной')
                | Дополнительной
              label
                input(type='radio' name='Работа основная/дополнительная' value='Не определился')
                | Не определился
          .buttons
            .button.back Назад
            .button.next Далее
        .step
          .question
            h3 8. Желаете официально трудоустроиться?
            .answers
              label
                input(type='radio' name='Желаете официально трудоустроиться' value='Нет')
                | Нет
              label
                input(type='radio' name='Желаете официально трудоустроиться' value='Да, по трудовой книжке')
                | Да, по трудовой книжке
              label
                input(type='radio' name='Желаете официально трудоустроиться' value='Да, по трудовому договору')
                | Да, по трудовому договору
              label
                input(type='radio' name='Желаете официально трудоустроиться' value='Другой ответ')
                | Другой ответ
              textarea.input.input-required.hidden(name='Желаете официально трудоустроиться (другое)' rows='3' placeholder='Пожалуйста укажите, другой вариант ответа.')
          .buttons
            .button.back Назад
            .button.next Далее
        .step
          .question
            h3 9. Желаете ли, чтобы проводились корпоративные мероприятия (Новый год)?
            .answers
              label
                input(type='radio' name='Хотите ли корпоративные мероприятия' value='Нет')
                | Нет
              label
                input(type='radio' name='Хотите ли корпоративные мероприятия' value='Да, хочу участвовать в жизни коллектива')
                | Да, хочу участвовать в жизни коллектива
              label
                input(type='radio' name='Хотите ли корпоративные мероприятия' value='К сожалению, не получается по семейным обстоятельствам')
                | К сожалению, не получается по семейным обстоятельствам
          .buttons
            .button.back Назад
            .button.next Далее
        .step
          .question
            h3 10. Где желаете провести новогоднее корпоративное мероприятие?
            .answers
              label.disabled
                input(type='radio' name='Где провести новогодний корпоратив' value='В Сен-Тропе' disabled)
                | В Сен-Тропе
              label
                input(type='radio' name='Где провести новогодний корпоратив' value='На территории техцентра')
                | На территории техцентра
              label
                input(type='radio' name='Где провести новогодний корпоратив' value='В кабаке')
                | В кабаке
              label
                input(type='radio' name='Где провести новогодний корпоратив' value='Не имеет значения')
                | Не имеет значения
              label
                input(type='radio' name='Где провести новогодний корпоратив' value='Свой ответ')
                | Свой ответ
              textarea.input.input-required.hidden(name='Где провести новогодний корпоратив (свой ответ)' rows='3' placeholder='Пожалуйста укажите, свой вариант ответа.')
          .buttons
            .button.back Назад
            .button.next Далее
        .step
          .question
            h3 11. Желаете ли Вы провести корпоративное мероприятие с коллективом кузовного цеха?
            .answers
              label
                input(type='radio' name='Корпоратив с кузовным цехом' value='Да, так как они сотрудники нашей организации')
                | Да, так как они сотрудники нашей организации
              label
                input(type='radio' name='Корпоратив с кузовным цехом' value='Не желаю')
                | Не желаю
              label
                input(type='radio' name='Корпоратив с кузовным цехом' value='Равнодушен, будут или не будут не имеет значения')
                | Равнодушен, будут или не будут не имеет значения
          .buttons
            .button.back Назад
            .button.next Далее
        .step
          .question
            h3 12. Что думаете насчет коллективного взаимодействия по обслуживанию личных автомобилей?
            .answers
              label
                input(type='radio' name='Обслуживание личных автомобилей' value='Готов производить ремонт и обслуживание машин сотрудников только при личной договоренности и взаиморасчете')
                | Готов производить ремонт и обслуживание машин сотрудников только при личной договоренности и взаиморасчете
              label
                input(type='radio' name='Обслуживание личных автомобилей' value='Готов безвозмездно помочь отремонтировать машину сотруднику')
                | Готов безвозмездно помочь отремонтировать машину сотруднику
              label
                input(type='radio' name='Обслуживание личных автомобилей' value='Готов работать официально по заказ-наряду, в котором оплачивается только работа')
                | Готов работать официально по заказ-наряду, в котором оплачивается только работа
              label
                input(type='radio' name='Обслуживание личных автомобилей' value='Не интересна взаимопомощь, обслуживаюсь самостоятельно за территорией сервиса')
                | Не интересна взаимопомощь, обслуживаюсь самостоятельно за территорией сервиса
          .buttons
            .button.back Назад
            .button.next Далее
        .step
          .question
            h3 13. Насколько готовы участвовать в хозяйственных делах сервиса (ремонт, обустройство, отделка и т.д.)?
            .answers
              label
                input(type='radio' name='Хозяйственные дела сервиса' value='Да, полностью готов содействовать жизни сервиса')
                | Да, полностью готов содействовать жизни сервиса
              label
                input(type='radio' name='Хозяйственные дела сервиса' value='Готов за доп. плату')
                | Готов за доп. плату
              label
                input(type='radio' name='Хозяйственные дела сервиса' value='Не готов, работаю по профессии')
                | Не готов, работаю по профессии
          .buttons
            .button.back Назад
            .button.next Далее
        .step
          .question
            h3 14. Желаете ли Вы получать дополнительные ежеквартальные премии от руководства? В которых будут учитываться задержки на работе, выполнение дополнительных работ, хозяйственных работ, положительные отзывы и трудовая дисциплина.
            .answers
              label
                input(type='radio' name='Дополнительные ежеквартальные премии' value='Да')
                | Да
              label
                input(type='radio' name='Дополнительные ежеквартальные премии' value='Нет, лучше оплата за каждую доп. работу в зарплату, как и удержание')
                | Нет, лучше оплата за каждую доп. работу в зарплату, как и удержание
          .buttons
            .button.back Назад
            .button.next Далее
        .step
          .question
            h3 15. Какого числа готовы выйти на работу в новом году?
            .answers
              label
                input(type='radio' name='Выход на работу в новом году' value='3-го')
                | 3-го
              label
                input(type='radio' name='Выход на работу в новом году' value='7-го')
                | 7-го
              label
                input(type='radio' name='Выход на работу в новом году' value='11-го')
                | 11-го
              label
                input(type='radio' name='Выход на работу в новом году' value='Как объявит президент РФ о начале рабочих дней')
                | Как объявит президент РФ о начале рабочих дней
              label
                input(type='radio' name='Выход на работу в новом году' value='Боюсь до февраля не смогу выйти из запоя')
                | Боюсь до февраля не смогу выйти из запоя
          .buttons
            .button.back Назад
            .button.next Далее
        .step
          .question
            h3 16. Ниже Вы можете оставить свои комментарии и пожелания.
            .answers
              textarea.input(name='Комментарии и пожелания' rows='3' placeholder='Пожалуйста напишите ваши комментари и пожелания, если они имеются.')
          .results
          button.button(type='submit') Отправить
  include /contacts
