extends /layout.pug

block variables
  - var name = 'main_driver-camera-system';
  - var section = 'Услуга';
  - var title = 'Driver Camera System (DCS)';
  - var seoTitle = 'Driver Camera System на BMW в Москве | Автосервис BMW «FGSEVER»';
  - var subtitle = 'Располагающаяся на комбинации приборов камера, которая контролирует активность и усталось водителя в различных ситуациях.';
  - var path = {'/services/': 'Услуги', '/services/upgrade/': 'Дооснащение', '/services/upgrade/g-series/': 'G&nbsp;серия', '': 'Driver Camera System (DCS)'};
  - var button = ['popup', '#upgrade-appointment', 'Записаться на дооснащение'];

block content
  +main(name, path, section, title, subtitle, button)
  section.description
    .wrapper
      .titles
        .overtitle Об услуге
        h2 Описание
      .block
        .icon.information-color
        h3 Что это такое?
        p В верхней части комбинации приборов находится камера, которая контролирует активность и усталость водителя в различных дорожных ситуациях.
        p Камера оценивает положение головы и открытые глаза. Камера анализирует тем самым внимание водителя. Driver Camera System (DCS) поддерживает различные системы поддержки, например, систему поддержания заданной скорости при трогании с места (SA5AU) или распознавание отсутствия прикосновения к рулевому колесу до 60 км/ч (SA5AR).
        h3 Преимущества системы
        p Driver Camera System (DCS) имеет следующие преимущества:
        ul
          li Автоматическое трогание с места при активированном регулировании скорости на снижение с функцией Stop and Go при распознанном внимании водителя, и если трогается с места впереди стоящее транспортное средство; При отсутствии внимания подаются звуковые и визуальные сигналы для привлечения внимания водителя. При необходимости транспортное средство автоматически останавливается;
          li Неограниченное движение без прикосновения рулевого колеса при распознанной внимательности при активированным ассистенте движения в пробке до 60 км/ч. Ассистент движения в пробке остается активным, если водитель в определенные интервалы времени смотрит на дорогу. Водитель не получает требования прикоснуться к рулевому колесу.
          li Более раннее предупреждение водителя при отсутствии внимания. Если водитель не смотрит на дорогу и движущееся впереди транспортное средство выполняет торможение или транспортное средство движется поперек, то предупреждение водителя выводится раньше.
          li Лучшее распознавание усталости при смене водителя.
        h3 Принцип работы системы
        p Полученные данные передаются через Ethernet на систему контроля специального оборудования (SAS). В случае обнаружения опасной ситуации на комбинация приборов водителю выдаётся соответствующее предупреждение.
        .images.columns
          .col-4.col-md-3
            a.image(data-fancybox href='/images/services/upgrade/g-series/driver-camera-system/cockpit.jpg' target='_blank')
              img(src='/images/services/upgrade/g-series/driver-camera-system/cockpit-min.jpg')
        p 1 — Комбинация приборов (KOMBI); 2 — Driver Camera System (DCS).
        p Driver Camera System (DCS) представляет собой блок управления в системе шин связи, который установлен на комбинации приборов.
        .highlighted Блок управления DCS предлагается только в сочетании с исполнением High комбинации приборов (SA6U3 кокпит Live Professional).
        p В блок управления DCS встроены одна инфракрасная камера и одна активная система инфракрасного освещения. Инфракрасная камера — это устройство визуализации подобно традиционной камере, которая принимает инфракрасные лучи.
        p Блок управления DCS подключен через 12-полюсное штекерное соединение к бортовой сети. Через Ethernet система Driver Camera System (DCS) соединена с комбинацией приборов (KOMBI), а также с головным устройством (HU).
        .images.columns
          .col-4.col-md-3
            a.image(data-fancybox href='/images/services/upgrade/g-series/driver-camera-system/dcs.jpg' target='_blank')
              img(src='/images/services/upgrade/g-series/driver-camera-system/dcs-min.jpg')
        p 1 — Driver Camera System (DCS); 2 — 12-полюсное штекерное соединение; 3 — Инфракрасная камера.
        .highlighted Оставляем за собой право на опечатки, смысловые ошибки и технические изменения.
  include /videos
  include /about/advantages
  include /about
  include /contacts
