extends /layout.pug

block variables
  - var name = 'main_remont';
  - var section = 'Направление';
  - var title = 'Ремонт BMW в Москве «FGSEVER»';
  - var seoTitle = `Ремонт БМВ в Москве | Авторизованный автосервис дизельных и бензиновых BMW`;
  - var subtitle = `Выполняем ремонт БМВ в Москве (СВАО) недорого. Авторизованный автосервис FGSEVER осуществляет ремонт автомобилей BMW дизельных и бензиновых с 2014 года по цене ниже дилерских сервисов!`;
  - var path = {'/services/': 'Услуги', '': 'Ремонт'};
  - var button = ['popup', '#remont-appointment', 'Записаться'];
  - var image = '/models/5-series/g30-original.png';

block content
  +main({ name, path, section, title, subtitle, button, image })
  include /remont/services
  include /models
  include /contacts
