extends /layout.pug

block variables
  - var name = 'main_remont';
  - var section = 'Услуга';
  - var title = 'Ремонт гидротрансформаторов BMW в Москве';
  - var seoTitle = 'Ремонт бублика БМВ в Москве | Ремонт гидротрансформатора BMW цена';
  - var subtitle = 'Ремонт бублика БМВ в Москве (СВАО). Авторизованный автосервис FGSEVER осуществляет ремонт гидротрансформаторов BMW дизельных и бензиновых с 2014 года по цене ниже дилерских сервисов!';
  - var path = {'/services/': 'Услуги', '/services/remont/': 'Ремонт', '': 'Ремонт гидротрансформаторов'};
  - var button = ['popup', '#remont-appointment', 'Записаться'];

block content
  +main({ name, path, section, title, subtitle, button })
  include /about/advantages
  +about
  include /contacts
