extends /layout.pug

block variables
  - var name = 'main_remont';
  - var section = 'Услуга';
  - var title = 'Ремонт гидротрансформаторов BMW в Москве';
  - var seoTitle = 'Ремонт бублика БМВ в Москве | Ремонт гидротрансформатора BMW цена';
  - var subtitle = 'Ремонт бублика БМВ в Москве (СВАО). Авторизованный автосервис FGSEVER осуществляет ремонт гидротрансформаторов BMW дизельных и бензиновых с 2014 года по цене ниже дилерских сервисов!';
  - var path = {'/services/': 'Услуги', '/services/remont/': 'Ремонт', '': 'Ремонт гидротрансформаторов'};
  - var button = ['popup', '#remont-appointment', 'Записаться'];

block content
  +main({ name, path, section, title, subtitle, button })
  section.description
    .wrapper
      .titles
        .overtitle Об услуге
        h2 Ремонт бублика БМВ
      .block
        .icon.information-color
        h3 Зачем нужен ремонт гидротрансформатора БМВ
        p В классических АКПП концерна передача вращения от двигателя осуществляется не за счет непосредственного физического контакта вала, а посредством гидродинамического эффекта в АТФ. Т.е. в среде трансмиссионной жидкости крыльчатка турбины, соединенной с двигателем, наводит завихрения, которые передаются на крыльчатку другой турбины, связанной непосредственно с АКПП. Так как вращение происходит при температурах 120 – 130 градусов Цельсия то элементы гидротрансформатора, работающие за счет силы трения (фрикционные накладки) постепенно изнашиваются.
        p А когда регламент смены масла в коробке передач не соблюдается продукты износа накапливаются, то могут повредить сальники и уплотнители АКПП, вызвать утечку АТФ + последующие серьезные проблемы. Причем это только начало проблем с бубликами, лучше не дожидаться ухудшения ситуации.
        h3 Когда нужен срочный ремонт гидротрансформатора
        p Наиболее часто все проблемы начинаются с изношенного фрикциона и далее приводят к износу сальников, подшипников, повреждению обгонной муфты и лопастей турбин.
        p 
          b Основные симптомы поврежденного гидротрансформатора БМВ:
        ul
          li Жесткие рывки при переключениях передач, часто сопровождаемые металлическим стуком;
          li Утечка трансмиссионной жидкости через уплотнения;
          li Шелест и шум при запуске мотора и сильные вибрации при движении до 90 км/час;
          li Специфический запах горелого лака, усиливающийся после езды на высоких оборотах.
        p #[b Все перечисленные признаки заявляют о необходимости срочного ремонта гидротрансформатора,] не упускайте возможность обойтись малыми материальными затратами.
        h3 Как происходит ремонт бублика БМВ в нашем профильном автосервисе
        ul
          li Производится срез по монтажному шву разборка и дефектовка;
          li Выполняется полная очистка блока и установка новых запчастей взамен изношенных;
          li Осуществляется соединение и герметизация узла сваркой по линии среза.
        p При диагностировании вибраций выполняется балансировка на стенде. Итоговый ресурс отремонтированного гидротрансформатора лишь на четверть меньше нового.
  section.prices
    .wrapper
      .titles
        .overtitle Об услуге
        h2 Цена ремонта бублика БМВ
      .block
        .table-wrapper
          .table
            table
              tr.table-header
                td Услуга
                td Цена
              tr
                td Ремонт гидротрансформатора БМВ
                td от 3000 до 9000 рублей (Окончательная цена только после проведения дефектовки)
  include /maintenance/photos/remont-bublika
  include /about/advantages
  +about
  include /contacts
