extends /layout.pug

block variables
  - var name = 'main_upgrade-f-series';
  - var section = 'Направление';
  - var title = 'Дооснащение BMW F серии';
  - var seoTitle = 'Дооснащение BMW F серии в Москве | Автосервис BMW «FGSEVER»';
  - var subtitle = 'Услуги по дооснащению и установке оригинальных заводских опций в автомобили BMW F серии в Москве — замена комбинации приборов, установка проекционного дисплея, системы кругового обзора, активного круиз-контроля, массажа сидений и других опций.';
  - var path = {'/services/': 'Услуги', '/services/upgrade/': 'Дооснащение', '': 'F&nbsp;серия'};

block content
  +main(name, path, section, title, subtitle)
  //- include /warning
  include /upgrade/calculator
  include /upgrade/f-series/models
  include /videos
  include /contacts
