extends /layout.pug

block variables
  - var name = 'main_body-repair';
  - var section = 'Вид работ';
  - var title = 'Замена элементов кузова';
  - var seoTitle = title + ' BMW в Москве | Автосервис BMW «FGSEVER»';
  - var subtitle = 'Работы по снятию, установке и замене различных кузовных элементов вашего автомобиля.';
  - var path = {'/services/': 'Услуги', '/services/body-repair/': 'Кузовной ремонт', '/services/body-repair/body-works/': 'Жестяные работы', '': title};
  - var button = ['popup', '#body-repair-appointment', 'Записаться'];

block content
  +main({ name, path, section, title, subtitle, button }) 
  section.prices
    .wrapper
      .titles
        .overtitle Об услуге
        h2 Стоимость
      .block
        .table-wrapper
          .table
            table
              tr.table-header
                td Услуга
                td Стоимость
              tr
                td Замена элементов кузова
                td от 2 000 ₽
  +about
  include /contacts
