extends /layout.pug

block variables
  - var name = 'main_active-roll-stabilization';
  - var section = 'Услуга';
  - var title = 'Система активной стабилизации (2VS)';
  - var seoTitle = 'Система активной стабилизации на BMW в Москве | Автосервис BMW «FGSEVER»';
  - var subtitle = 'Электрические активные стабилизаторы поперечной устойчивости, которые сводят к минимуму крены кузова при прохождении поворотов.';
  - var path = {'/services/': 'Услуги', '/services/upgrade/': 'Дооснащение', '/services/upgrade/g-series/': 'G&nbsp;серия', '': 'Система активной стабилизации (2VS)'};
  - var button = ['popup', '#upgrade-appointment', 'Записаться на дооснащение'];

block content
  +main(name, path, section, title, subtitle, button)
  section.video
    .wrapper
      .columns
        .col-md-6.col-lg-7
          .text
            .overtitle Введение
            h2 Видеоинструкция
            .subtitle Вы можете посмотреть официальное видео от компании BMW, в котором подробно рассказывается про систему активной стабилизации, а именно — что она из себя представляет, принцип её работы и для чего она вообще нужна.
            a.button(data-fancybox href='/videos/active-roll-stabilization.mp4') Смотреть видео
        .col-md-6.col-lg-5
          a.preview(data-fancybox href='/videos/active-roll-stabilization.mp4')
            img(src='/images/services/upgrade/g-series/active-roll-stabilization/cover.jpg')
            .play-button
              .icon.play-white
  section.description
    .wrapper
      .titles
        .overtitle Об услуге
        h2 Описание
      .block
        .icon.information-color
        h3 Что это такое?
        p Система активной стабилизации поперечной устойчивости позволяет сводить к минимуму крены (наклоны) кузова при прохождении поворотов. Для этого используются электронные стабилизаторы, которые устанавливаются на переднем и заднем мостах.
        h3 Преимущества системы
        p Электрическая система активной стабилизации по крену означает больше удовольствия от вождения и меньше усталости. Существенно повышается комфортность езды при односторонних неисправностях и предотвращается нежелательная склонность к крену.
        p Значительно улучшается поворачиваемость автотранспортного средства, а также характеристика изменения нагрузки. Автотранспортное средство двигается более точно и маневренно.
        p Таким образом сочетаются оптимальные и безопасные динамические свойства при отличной комфортабельности, обеспечиваемой подвеской. Электрическая система активной стабилизации по крену объединяет динамику движения и комфорт.
        p Электрическая система активной стабилизации по крену предлагает следующие преимущества:
        ul
          li Уменьшение склонности к крену при прохождение поворота;
          li Повышение безопасности движения и комфортности езды;
          li Высокая маневренность и стабильность во всех режимах движения;
          li Быстрая спортивная управляемость.
        p Особым преимуществом является предотвращение так называемого копирования. При этом в момент движения по прямой колеса размыкаются двумя половинами стабилизатора поперечной устойчивости. Удары, вызванные неровностью дорожного полотна (выбоина, неровность дороги) больше не передаются на противоположное колесо (не копируются).
        .images.columns
          .col-4.col-md-3
            a.image(data-fancybox href='/images/services/upgrade/g-series/active-roll-stabilization/active-roll-stabilization.jpg' target='_blank')
              img(src='/images/services/upgrade/g-series/active-roll-stabilization/active-roll-stabilization-min.jpg')
        h3 Принцип работы системы
        p Электрическая система активной стабилизации по крену использует электрически активизируемые стабилизаторы поперечной устойчивости переднего и заднего мостов.
        p Под прокручиванием понимается движение кузова по продольной оси автомобиля. Иногда это понятие также обозначается креном.
        .highlighted
          p Чтобы на потребители 12-вольтной бортовой сети не оказывалось воздействие из-за высоких значений тока нагрузки обоих электрических активных стабилизаторов, стабилизаторы были отсоединены от бортовой сети при помощи преобразователя DC/DC (500 Вт).
          p Необходимую энергию для активации предоставляет дополнительная аккумуляторная батарея 12 В, которая находится в моторном отсеке. За счет этого не оказывается отрицательное влияние других потребителей из-за высокого потребления энергии.
        p По сравнению с предшествующей гидравлической системой электрическая система активной стабилизации по крену предлагает следующие преимущества:
        ul
          li Уменьшенное энергопотребление = уменьшение выброса окиси углерода (CO2);
          li Уменьшение сложности и количества деталей;
          li Отсутствие рабочей жидкости гидросистемы;
          li Возможность движения от электродвигателя.
        .images.columns
          .col-4.col-md-3
            a.image(data-fancybox href='/images/services/upgrade/g-series/active-roll-stabilization/stabilizator.jpg' target='_blank')
              img(src='/images/services/upgrade/g-series/active-roll-stabilization/stabilizator-min.jpg')
        p 1 — Передняя электрическая система активной стабилизации по крену (EARSV); 2 — 4-полюсное штекерное соединение; 3 — 2-полюсное штекерное соединение.
        p Стабилизаторы поперечной устойчивости переднего и заднего мостов разрезные. Посредине они соединены электрическими поворотными двигателями. Это позволяет за доли секунды передать определенный крутящий момент в необходимом направлении на стабилизаторы поперечной устойчивости. При движении по прямой происходит размыкание обеих половинок стабилизатора поперечной устойчивости. Это предотвращает воздействие на сами рессоры при одностороннем сжимании пружин подвески.
        p Для расчета активации электрических стабилизаторов поперечной устойчивости используются, как правило, следующие величины:
        ul
          li Текущее поперечное и продольное ускорение;
          li Скорость движения;
          li Ускорение кузова и колес согласно 4-м датчикам вертикального ускорения;
          li Высота дорожного просвета согласно 4-м датчикам высоты дорожного просвета.
        p ЭБУ интегрирован в электрический стабилизатор поперечной устойчивости. Поэтому электрический стабилизатор поперечной устойчивости подключен с помощью FlexRay к системе шин связи.
        p Быстрая обработка данных, а также активация электрического стабилизатора поперечной устойчивости позволяет быстро противодействовать возникающей склонности к крену.
        p #[b Внутренняя конструкция электрического стабилизатора поперечной устойчивости]
        p Электрические стабилизаторы поперечной устойчивости переднего и заднего мостов в принципе конструктивно идентичные.
        .highlighted Передний электрический стабилизатор поперечной устойчивости следует заменять только предусмотренным для переднего моста электрическим стабилизатором поперечной устойчивости. Это касается и заднего моста.
        p При активации поворотного двигателя в зависимости от направления тока проворачиваются обе стойки штанги стабилизатора поперечной устойчивости. Направление тока определяет направление вращения.
        p Передаточное отношение планетарного механизма равно примерно 1: 120. Это позволяет достичь максимального крутящего момента в 750 ньютон-метров.
        p Проставочная втулка обеспечивает максимальный угол поворота между планетарным механизмом и стойками штанги стабилизатора поперечной устойчивости. Это обеспечивает плавное повышение крутящего момента при регулировании.
        p Датчик крутящего момента передает полученный крутящий момент обратно на ЭБУ для подтверждения правильности.
        .highlighted Передний и задний электрический стабилизатор поперечной устойчивости подлежат только полной замене. Ремонт не предусмотрен.
        .images.columns
          .col-4.col-md-3
            a.image(data-fancybox href='/images/services/upgrade/g-series/active-roll-stabilization/mechanism.jpg' target='_blank')
              img(src='/images/services/upgrade/g-series/active-roll-stabilization/mechanism-min.jpg')
        p 1 — Электрический разъем; 2 — Провод на массу; 3 — Датчик крутящего момента; 4 — ЭБУ электрического активного стабилизатора; 5 — Поворотный двигатель; 6 — Планетарный механизм; 7 — Проставочная втулка; 8 — Стабилизатор поперечной устойчивости.
        p #[b Датчики вертикального ускорения]
        p Для регулировки электрической системы активной стабилизации по крену необходимо 4 датчика вертикального ускорения.
        p Датчики вертикального ускорения подключены электрическим путем к ЭБУ платформы вертикальной динамики (VDP). Причина: В ЭБУ платформы вертикальной динамики интегрирован алгоритм регулировки электрических активных стабилизаторов. Он отправляется через FlexRay от блока управления VDP на блоки управления EARSV и EARSV.
        p Датчик вертикального ускорения определяет ускорение колеса вдоль вертикальной оси автомобиля. Датчик вертикального ускорения закреплен на соответствующем поворотном кулаке.
        p Датчик вертикального ускорения измеряет ускорение. Датчик имеет чувствительную ось, на которой расположена передвижная сейсмическая масса. Определяется сила инерции, действующая на сейсмическую массу. Таким образом можно определить, что происходит: увеличение или уменьшение скорости.
        .images.columns
          .col-4.col-md-3
            a.image(data-fancybox href='/images/services/upgrade/g-series/active-roll-stabilization/acceleration-sensor.jpg' target='_blank')
              img(src='/images/services/upgrade/g-series/active-roll-stabilization/acceleration-sensor-min.jpg')
        p 1 — Датчик вертикального; 2 — 2-контактное штекерное ускорения соединение; 3 — 2-контактное штекерное соединение.
        .highlighted Оставляем за собой право на опечатки, смысловые ошибки и технические изменения.
  include /videos
  include /about/advantages
  include /about
  include /contacts
