section.series
  .wrapper
    .titles
      .overtitle Ваш автомобиль
      h2 Выберите серию автомобиля
      .subtitle Вы можете выбрать, к какой серии относится ваш автомобиль, F или G, и подробно ознакомиться с наборами опций для кодирования, предлагаемых в нашем автосервисе.
    .columns
      .col-md-6
        a.block.series-item.f-series(href='f-series/')
          .series-item__icon F
          .series-item__content
            .series-item__text
              h3 F серия
              .subtitle.series-item__subtitle
                p Автомобили BMW серии F, ранее выпускавшиеся с 2008 года, среди которых такие как:
                ul
                  li F01/F02;
                  li F10/F07/F13;
                  li F20/F22;
                  li F30/F34/F32;
                  li F25/F26, F15/F16;
                  li и другие.
            .button-simple Выбрать
      .col-md-6
        a.block.series-item.g-series(href='g-series/')
          .series-item__icon G
          .series-item__content
            .series-item__text
              h3 G серия
              .subtitle.series-item__subtitle
                p Автомобили BMW серии G, выпускающиеся с 2015 года и по сегодняшний день, среди которых такие как:
                ul 
                  li G11/G12;
                  li G30/G31, G32;
                  li G20;
                  li G01/G02, G05/G06/G07;
                  li и другие.
            .button-simple Выбрать
