extends /layout.pug

block variables
  - var name = 'main_lane-departure-warning';
  - var section = 'Услуга';
  - var title = 'Система предупреждения о выходе за пределы полосы движения';
  //- - var models = 'G05/G06/G07';
  - var seoTitle = title + ' на BMW в Москве | Автосервис BMW «FGSEVER»';
  - var subtitle = 'Слежение за дорожной разметкой и предупреждение водителя о непреднамеренном выезде с полосы движения, начиная со скорости около 70 км/ч.';
  - var path = {'/services/': 'Услуги', '/services/upgrade/': 'Дооснащение', '/services/upgrade/g-series/': 'G&nbsp;серия', '': 'Система предупреждения о выходе за пределы полосы движения'};
  - var button = ['popup', '#upgrade-appointment', 'Записаться на дооснащение'];

block content
  +main(name, path, section, title, subtitle, button)
  section.video
    .wrapper
      .columns
        .col-md-6.col-lg-7
          .text
            .overtitle Введение
            h2 Видеоинструкция
            .subtitle Вы можете посмотреть официальное видео от компании BMW, в котором подробно рассказывается про систему предупреждения о выходе за пределы полосы движения, а именно — что она из себя представляет, принцип её работы и для чего она вообще нужна.
            a.button(data-fancybox href='/videos/lane-departure-warning.mp4') Смотреть видео
        .col-md-6.col-lg-5
          a.preview(data-fancybox href='/videos/lane-departure-warning.mp4')
            img(src='/images/services/upgrade/g-series/lane-departure-warning/cover.jpg')
            .play-button
              .icon.play-white
  section.description
    .wrapper
      .titles
        .overtitle Об услуге
        h2 Описание
      .block
        .icon.information-color
        h3 Что это такое?
        p Система предупреждения о выходе за пределы полосы движения регистрирует разметку полосы движения и края дорожного полотна, и, начиная со скорости около 70 км/ч, предупреждает водителя о непреднамеренном выезде с полосы движения.
        h3 Принцип работы системы
        p Информация о дорожной разметке поступает в систему из камеры KAFAS. При обнаружении ухода автомобиля с полосы движения выдается соответствующее предупреждение. Если водитель непреднамеренно пересекает разметку полос движения или край дорожного полотна, не переключив указатель направления движения, то непосредственно перед пересечением дорожной разметки он получает осязательное предупреждение в виде вибрации рулевого колеса. При возможности, система активного рулевого управления дополнительно направляет автомобиль обратно в свою полосу движения. В любой момент водитель может прервать действия автомобиля и полностью взять управление на себя. Вибрация рулевого колеса осуществляется, в зависимости от соответствующего производного, либо при помощи исполнительного механизма в рулевом колесе, либо при помощи электромеханического усилителя рулевого привода (EPS).
        p Активное рулевое управление выполняется в диапазоне скоростей приблизительно от 70 до 210 км/ч.
        p Функциональная готовность отображается при помощи секционной лампы в комбинации приборов. Активное подруливание со стороны системы предупреждения о выходе за пределы полосы отображается миганием секционной лампы.
        .images.columns
          .col-4.col-md-3
            a.image(data-fancybox href='/images/services/upgrade/g-series/lane-departure-warning/indicator.jpg' target='_blank')
              img(src='/images/services/upgrade/g-series/lane-departure-warning/indicator.jpg')
        p Если в течение последующих 3 минут система многократно осуществляет активное подруливание, а водитель не берется за рулевое колесо, выводится звуковой предупреждающий сигнал. Если было выполнено третье подруливание в течение 3 минут, а водитель так и не взялся за рулевое колесо, раздастся более продолжительный предупреждающий сигнал. Дополнительно появится сообщение системы CC, указывающее водителю на необходимость оставаться на своей полосе движения.
        h3 Условия функционирования
        ul
          li функция доступна в диапазоне скорости прим. от 70 до 210 км/ч;
          li разметки полосы движения находятся на дорожном полотне и правильно распознаются камерой KAFAS;
          li в режиме движения с прицепом автоматическое подруливание не выполняется.
        p Тактильное предупреждение (вибрация рулевого колеса) и активное подруливание автоматически прерываются в следующих ситуациях:
        ul
          li через 3 секунды после начала вибрации рулевого колеса;
          li в зависимости от скорости, но максимум через 5 секунд после начала активного подруливания;
          li при самостоятельном возврате в свою полосу движения;
          li при активации указателя поворота в направлении смены полосы;
          li при начале резкого торможения или маневра;
          li в случае регулировки системы динамического контроля устойчивости (DSC).
        h3 Возможные пределы функциональных возможностей системы
        ul
          li при сильном тумане, дожде или снегопаде;
          li при недостаточной яркости;
          li при ярком свете встречных фар;
          li при загрязнении зоны обзорности камеры KAFAS;
          li при сильном загрязнении или повреждении переднего фартука в области боковых радарных датчиков ближней зоны спереди слева и справа;
          li пленочные покрытия на транспортном средстве;
          li наклейки в области боковых радарных датчиков ближней зоны спереди слева и справа;
          li на крутых поворотах или узких дорожных полотнах;
          li в случае отсутствующей, стершейся, незаметной, расходящейся или сужающейся, нечеткой разметки дорожной полосы;
          li на участках проведения дорожных работ.
        h3 Примечание
        p В зависимости от экспортного исполнения диапазон скорости, в котором доступна функция, может различаться.
        .highlighted Оставляем за собой право на опечатки, смысловые ошибки и технические изменения.
  //- section.prices
  //-   .wrapper
  //-     .titles
  //-       .overtitle Об услуге
  //-       h2 Стоимость
  //-     .block
  //-       .table-wrapper
  //-         .table
  //-           table
  //-             tr.table-header
  //-               td Услуга
  //-               td Стоимость
  //-             tr
  //-               td Активация пакета кодов на одну камеру
  //-               td 70 000 ₽
  //- include /maintenance/photos/computer-diagnostics
  include /videos
  include /about/advantages
  include /about
  include /contacts
