section.series
  .wrapper
    .titles
      .overtitle Ваш автомобиль
      h2 Выберите серию автомобиля
      .subtitle Также вы можете выбрать, к какой серии относится ваш автомобиль, F или G, и подробно ознакомиться с наборами опций, предлагаемых нами для дооснащения.
    .columns
      .col-md-6
        a.block.series-item.f-series(href='f-series/')
          .series-item__icon F
          .series-item__content
            .series-item__text
              h3 F серия
              .subtitle.series-item__subtitle
                p Автомобили BMW серии F, ранее выпускавшиеся с 2008 года, среди которых такие как:
                ul
                  li 1, 2 серия (F20/F22);
                  li 3, 4 серия (F30/F34/F32);
                  li 5, 6 серия (F10/F07/F13);
                  li 7 серия (F01/F02);
                  li X3/X4 (F25/F26);
                  li X5/X6 (F15/F16);
                  li и другие.
            .button-simple Выбрать
      .col-md-6
        a.block.series-item.g-series(href='g-series/')
          .series-item__icon G
          .series-item__content
            .series-item__text
              h3 G серия
              .subtitle.series-item__subtitle
                p Автомобили BMW серии G, выпускающиеся с 2015 года и по сегодняшний день, среди которых такие как:
                ul 
                  li 3 серия (G20);
                  li 5, 6 серия (G30/G31, G32);
                  li 7 серия (G11/G12);
                  li 8 серия (G14/G15/G16);
                  li X3/X4 (G01/G02);
                  li X5/X6/X7 (G05/G06/G07);
                  li и другие.
            .button-simple Выбрать
