extends /layout.pug

block variables
  - var name = 'main_automatic-doors';
  - var section = 'Услуга';
  - var title = 'Автодоводчик дверей (323)';
  - var seoTitle = 'Автодоводчик дверей на BMW в Москве | Автосервис BMW «FGSEVER»';
  - var subtitle = 'Автоматическое полное закрывание прикрытых дверей. Происходит комфортно, надежно, с малым усилием и практически бесшумно.';
  - var path = {'/services/': 'Услуги', '/services/upgrade/': 'Дооснащение', '/services/upgrade/g-series/': 'G&nbsp;серия', '': 'Автодоводчик дверей (323)'};
  - var button = ['popup', '#upgrade-appointment', 'Записаться на дооснащение'];

block content
  +main(name, path, section, title, subtitle, button)
  section.description
    .wrapper
      .titles
        .overtitle Об услуге
        h2 Описание
      .block
        .icon.information-color
        h3 Что это такое?
        p Автодоводчик обеспечивает удобное и безопасное закрывание дверей без прикладывания большого усилия и создания лишнего шума при закрывании. 
        h3 Принцип работы системы
        p На узких свободных местах для парковки или при недостаточном свободном пространстве для закрытия с размаха достаточно легонько опустить дверь в замок двери. Как только дверь достигнет определенного положения (дверной зазор прим. 6 мм), автодоводчик активируется через замок двери.
        p После этого электродвигатель полностью притянет двери и зафиксирует ее. После выполнения закрывания электродвигатель автоматически переместит компоненты блокировки замков дверей обратно в исходную позицию. Дверь снова можно будет можно открыть и закрыть в любое время.
        p Если дверь уже закрыта рукой, электромеханический процесс закрывания будет выполнен еще раз для гарантии безопасности, чтобы предотвратить видимое закрывание.
        .highlighted Есть автомобили, у которых функция автодоводчика установлена только для багажника.
        h3 Компоненты системы
        p #[b Замок двери]
        p Для функции автодоводчика (SCA) необходима установка соответствующих замков дверей.
        p Замок двери оснащен защелкой и стопорной защелкой. Замок двери может быть разблокирован механически или электрически и затем открыт.
        p Если автомобиль оснащен приводом автодоводчика, то для закрывания двери достаточно только слегка вдавить ее в замок двери. В результате запускается привод, и дверь полностью закрывается. Привод автодоводчика подключен к электрической части замка двери.
        .images.columns
          .col-4.col-md-3
            a.image(data-fancybox href='/images/services/upgrade/g-series/automatic-doors/lock.jpg' target='_blank')
              img(src='/images/services/upgrade/g-series/automatic-doors/lock-min.jpg')
        p 1 — Замок двери; 2 — 8-полюсный разъем; 3 — 6‐контактный разъем.
        p #[b Привода автодоводчика двери]
        p Автодоводчик для дверей автомобиля является независимой функцией. Единственным соединением с бортовой сетью служат контакт 30B и контакт 31 (масса нагрузки). После включения контакта 30B привод автодоводчика в двери автомобиля находится в рабочем состоянии.
        p Электронный блок управления и контроля функционирования находится в приводе автодоводчика. Чувствительные элементы автодоводчика находятся в замке двери. Чувствительные элементы реализованы в виде датчиков Холла. С помощью датчиков Холла (датчик собачки и выключатель защелки замка) регистрируется положение защелки и собачки.
        p Данные о положении заложены в электронном блоке привода. За счет этого блок управления всегда имеет информацию о положении привода и при необходимости может активизировать его для перемещения в определенное положение. При работающем приводе условия остановки проверяются каждые 23 миллисекунды. Если через 5 секунд электронный блок не распознает достижение определенных положений, привод останавливается, т.е. прекращается активизация электродвигателя постоянного тока. После этого для повторного запуска достаточно изменения статуса датчиков Холла.
        p Привод автодоводчика в двери автомобиля оснащен блокировкой повтора во избежание перегрева привода. После 15 активизаций (счетчик до 15 инкрементов) привод электрически блокируется на 2 минуты.
        .images.columns
          .col-4.col-md-3
            a.image(data-fancybox href='/images/services/upgrade/g-series/automatic-doors/driver.jpg' target='_blank')
              img(src='/images/services/upgrade/g-series/automatic-doors/driver-min.jpg')
        p #[b Привод автоматического доводчика багажной двери]
        p Электроника для управления и контроля находится в приводе автодоводчика багажной двери. Чувствительные элементы для автодоводчика находятся в замке багажной двери. Чувствительные элементы показаны в виде микровыключателей (переключатель стопорной защелки и выключатель защелки замка). С помощью переключателя стопорной защелки определяется положение защелки (открыта, предварительное закрытие, закрыта).
        p Привод подключен к контакту 30B. Предохранитель находится в заднем токораспределителе.
        p После легкого вдавливания крышки багажной двери в замок приводится в действие переключатель стопорной защелки (багажная дверь находится в предварительно закрытом состоянии) и запускает привод автодоводчика. Электронный блок привода запускает процесс закрывания замка багажной двери. Привод с помощью приводного троса перемещает защелку до тех пор, пока переключатель стопорной защелки и выключатель защелки замка не сообщат об изменении состояния. Стопорный штифт вошел в зацепление с защелкой и зафиксировался. Активизация привода прекращается. Чтобы не препятствовать процессу открывания, привод изменяется направление движения и снова освобождает приводной трос.
        p При необходимости багажную дверь всегда можно захлопнуть вручную.
        p Привод автодоводчика багажной двери имеет блокировку повтора, которая предотвращает перегрев привода. После активизации и 10 нажатий (счетчик до 10 приращений) привод блокируется на 20 секунд. Затем возможна повторная активизация привода.
        .images.columns
          .col-4.col-md-3
            a.image(data-fancybox href='/images/services/upgrade/g-series/automatic-doors/trunk-driver.jpg' target='_blank')
              img(src='/images/services/upgrade/g-series/automatic-doors/trunk-driver-min.jpg')
        p 1 — Привода автодоводчика двери; 2 — Трос; 3 — 6‐контактный разъем.
        .highlighted Оставляем за собой право на опечатки, смысловые ошибки и технические изменения.
  include /videos
  include /about/advantages
  include /about
  include /contacts
