extends /layout.pug

block variables
  - var name = 'main_blind-spot-control';
  - var section = 'Услуга';
  - var title = 'Предупреждение об опасности при перестроении';
  - var seoTitle = 'Система контроля слепых зон на BMW в Москве | Автосервис BMW «FGSEVER»';
  - var subtitle = 'Предупреждение о критических ситуациях при смене полосы движения, например при быстром приближении автомобиля в слепой зоне.';
  - var path = {'/services/': 'Услуги', '/services/upgrade/': 'Дооснащение', '/services/upgrade/g-series/': 'G&nbsp;серия', '': 'Предупреждение об опасности при перестроении'};
  - var button = ['popup', '#upgrade-appointment', 'Записаться на дооснащение'];

block content
  +main(name, path, section, title, subtitle, button)
  section.video
    .wrapper
      .columns
        .col-md-6.col-lg-7
          .text
            .overtitle Введение
            h2 Видеоинструкция
            .subtitle Вы можете посмотреть официальное видео от компании BMW, в котором подробно рассказывается про систему предупреждения об опасности при перестроении, а именно — что она из себя представляет, принцип её работы и для чего она вообще нужна.
            a.button(data-fancybox href='/videos/blind-spot-control.mp4') Смотреть видео
        .col-md-6.col-lg-5
          a.preview(data-fancybox href='/videos/blind-spot-control.mp4')
            img(src='/images/services/upgrade/g-series/blind-spot-control/cover.jpg')
            .play-button
              .icon.play-white
  section.description
    .wrapper
      .titles
        .overtitle Об услуге
        h2 Описание
      .block
        .icon.information-color
        h3 Что это такое?
        p Предупреждение об опасности при перестроении распознает дорожные ситуации, в которых при смене полосы движения вашего автомобиля может возникнуть опасность аварии. Подобные дорожные ситуации появляются, например, при быстром приближении удаленных автомобилей сзади или при нахождении их в мертвой зоне.
        p Область сзади транспортного средства контролируется двумя задними радарными датчиками ближней зоны. Они расположены под задним фартуком автомобиля. При распознавании транспортного средства и активированной системе водитель получает информацию о ситуации посредством индикации в наружном зеркале заднего вида (предварительное предупреждение). Если при активном предупреждении задействуется указатель поворота, индикация в наружных зеркалах начинает интенсивно мигать (экстренное предупреждение). 
        p Предупреждение также подается осязательно путем вибрации рулевого колеса перед опасной ситуацией. Вибрация рулевого колеса осуществляется либо при помощи исполнительного механизма в рулевом колесе, либо при помощи электромеханического усилителя рулевого привода (EPS).
        p Если на дорожном полотне нанесены полосы движения, то они будут распознаваться камерой KAFAS. Эта информация будет использоваться системой предупреждения о смене полосы движения для повышения точности работы функции. Однако дорожная разметка не является обязательной для работы функции. Функция предупреждения о смене полосы движения доступна даже без дорожной разметки.
        p Задние радарные датчики ближней зоны в заднем фартуке контролируют область позади транспортного средства примерно на 80 метров. Функция предупреждения о смене полосы движения доступна в диапазоне скорости от 20 до 250 км/ч.
        p В диапазоне скоростей от 70 км/ч до 210 км/ч система дополнительно производит активное рулевое управление (подруливание), возвращая транспортное средство назад в его полосу движения. Водитель может в любое время переключить на себя активное рулевое управление.
        p Система выполняет функцию активного рулевого управления только при наличии опции #[a.link(href='/services/upgrade/g-series/driving-assistant-plus') Ассистент вождения Plus (5AT)] или #[a.link(href='/services/upgrade/g-series/driving-assistant-professional') Ассистент вождения Professional (5AU)]. В том случае, если имеется опция #[a.link(href='/services/upgrade/g-series/driving-assistant') Ассистент вождения (5AS)], возможна работа системы без функции активного рулевого управления.
        h3 Работа системы
        p Предупреждения об опасности при перестроении можно по отдельности настраивать с помощью кнопки систем интеллектуальной безопасности в меню. В нем можно активировать либо выключить активное рулевое управление, а также отрегулировать мощность вибрации рулевого колеса. Также возможна регулировка частоты предостережений. Кроме того, можно настроить время появления предупреждения.
        h3 Компоненты системы
        ul
          li Системы поддержки водителя на базе видеокамер;
          li Сигнализация смены полосы движения (SWW);
          li Электрический усилитель руля (EPS);
          li Система контроля специального оборудования (SAS) Body Domain Controller (BDC);
          li Система динамического контроля устойчивости (DSC)
        p #[b Задний и боковой радарные датчики ближней зоны]
        p Для ближней зоны предлагаются в целом 4 радиолокационных датчика:
        ul
          li Задний радарный датчик ближней зоны справа (HRSNR);
          li Задний радарный датчик ближней зоны слева (HRSNL);
          li Боковой радарный датчик ближней зоны спереди справа (SRSNVR);
          li Боковой радарный датчик ближней зоны спереди слева (SRSNVL).
        p Радиолокационные датчики связаны между собой шинами данных Local Controller Area Network. Радиолокационные датчики должны очень быстро обмениваться зарегистрированными данными.
        p Задний радарный датчик ближней зоны справа (HRSNR) является задающим блоком управления. Оба задних радиолокационных датчика оснащены гасителем колебаний для повышения эксплуатационной надежности.
        p Радиолокационные датчики ближней зоны также требуются для следующих функций:
        ul
          li Предупреждение об опасности при перестроении с активным рулевым управлением;
          li Предупреждение о заднем столкновении;
          li Система предупреждения о боковом столкновении с активным рулевым управлением;
          li Ассистент перестроения;
          li Система поддержки рулевого управления и курсовой устойчивости, включая ассистент движения в пробке;
          li Система объезда препятствий, включая пешеходов;
          li Система предупреждения при подъезде к перекресткам;
          li Ассистент аварийной остановки;
          li Предупреждение о движении в поперечном направлении спереди и сзади Радиолокационные датчики работают с частотой 76 ГГц.
        h3 Условия функционирования
        ul
          li Функция доступна в диапазоне скорости от 20 до 250 км/ч;
          li Активное рулевое управление функции выполняется в диапазоне скоростей от 70 до 210 км/ч;
          li Разметка дорожного полотна имеется и правильно распознается камерой KAFAS;
          li Отсутствие прицепа. При движении с прицепом функция предупреждения об опасности при перестроении автоматически деактивируется.
        h3 Возможные пределы функциональных возможностей системы
        ul
          li При сильном тумане, дожде или снегопаде;
          li На крутых поворотах;
          li Предупреждение при обгоне через несколько полос;
          li Сильное загрязнение или повреждение заднего фартука в области задних радарных датчиков ближней зоны слева и справа;
          li Транспортные средства с наклеенной пленкой;
          li Наклейки на участке задних радарных датчиков ближней зоны;
          li Задний навесной багажник или аналогичное оборудование без подключения к модулю подключения электрооборудования прицепа (AHM);
          li Выступающий груз.
        .highlighted Оставляем за собой право на опечатки, смысловые ошибки и технические изменения.
  include /videos
  include /about/advantages
  include /about
  include /contacts
