extends /layout.pug

block variables
  - var name = 'main_high main_5-series';
  - var section = 'Вид работ';
  - var title = 'Диагностика и ремонт подвески в BMW&nbsp;5&nbsp;серии';
  - var models = 'G30/G31, F90, F10/F11/F07, E60/E61, E39';
  - var seoTitle = 'Диагностика и ремонт подвески в BMW 5 серии (' + models + ') в Москве | Автосервис BMW «FGSEVER»';
  - var subtitle = 'Услуги по диагностике и устранению неисправностей системы подвески автомобилей BMW 5&nbsp;серии в Москве. Мы выполним все необходимые работы по обслуживанию вашего автомобиля и ответим на все интересующие вас вопросы.';
  - var path = {'/services/': 'Услуги', '/services/maintenance/': 'Техническое обслуживание BMW', '/services/maintenance/5-series/': '5&nbsp;серия', '': 'Диагностика и ремонт подвески'};
  - var button = ['popup', '#maintenance-appointment', 'Записаться'];

block content
  +main({ name, path, section, title, subtitle, button, models })
  include /maintenance/description/suspension-repair
  section.prices
    .wrapper
      .titles
        .overtitle Об услуге
        h2 Стоимость
      .block
        .table-wrapper
          .table
            table
              tr.table-header
                td Услуга
                td Стоимость
              tr 
                td Диагностика подвески
                td 1 000 ₽ (Бесплатно при прохождении ТО)
  include /maintenance/photos/suspension-repair
  include /about/advantages
  +about
  include /contacts
