section.description
  .wrapper
    .titles
      .overtitle Об услуге
      h2 Описание
    .block
      .icon.information-color
      h3 Что включает русификация автомобиля
      .highlighted
        p В нашем центре Вы можете русифицировать свой автомобиль BMW, привезенный из любой точки мира. 
      p Помимо добавления русского языка в пункт меню, мы так же установим карты России для системы навигации, адаптируем единицы измерения температуры, давления колес, частоты радиостанций и систему считывания дорожных знаков для региона России. Поэтому если Ваш автомобиль привезен из Кореи, США, Германии (любой страны Европы), ОАЭ или других стран, можете смело обращаться к нам за адаптацией автомобиля для России. Для русификации и адаптации используется оригинальное ПО завода-изготовителя BMW. 
      h3 Как происходит русификация автомобиля
      .highlighted
        p Заказывайте установку русскоязычной прошивки у нас, чтобы получить автомобиль с оригинальным ПО и гарантией на выполненные работы.
      p Специалисты нашего сервисного центра работают с любыми моделями последних генераций и проводят русификацию меню управления и панели приборов. Прошивка производится оригинальным ПО завода изготовителя BMW в котором  учтена модель вашего автомобиля, модификация и комплектация. Вы получите только нужные исправления в прошивке, заводские параметры самой системы не будут нарушены. Даем гарантию и применяем только проверенные прошивки. На сервисе работают опытные специалисты с хорошим стажем работы с транспортом.
      p Мы так же производим русификацию дистанционно, от Вас потребуется компьютер с выходом в интернет и кабель ENET
      ul
        li #[b Для машин с базовыми и полуцифровыми приборными панелями потребуется замена панели.]
        li #[b Для машин с головным устройством NBT EVO также разработано и протестировано программное решение для русификации навигации (опция 609).]
        li #[b Для машин с MGU при наличии в автомобиле блока АТМ возможна активация/установка карт РФ в штатной навигации. Активация функции RTTI (пробки, кроме автомобилей из США).]
        li #[b Для американских машин возможна замена блока АТМ для работы в российских сетях.]