extends /layout.pug

block variables
  - var name = 'main_high main_z4';
  - var section = 'Вид работ';
  - var title = 'Ремонт электрооборудования в BMW&nbsp;Z4';
  - var models = 'G29, E89, E85/E86';
  - var seoTitle = 'Ремонт электрооборудования в BMW Z4 (' + models + ') в Москве | Автосервис BMW «FGSEVER»';
  - var subtitle = 'Услуги по ремонту и устранению неисправностей электрического оборудования автомобилей BMW Z4 в Москве. Мы выполним все необходимые работы по обслуживанию вашего автомобиля и ответим на все интересующие вас вопросы.';
  - var path = {'/services/': 'Услуги', '/services/maintenance/': 'Техническое обслуживание BMW', '/services/maintenance/z4/': 'Z4', '': 'Ремонт электрооборудования'};
  - var button = ['popup', '#maintenance-appointment', 'Записаться'];

block content
  +main(name, path, section, title, subtitle, button, models)
  include /maintenance/description/electrical-repair
  section.prices
    .wrapper
      .titles
        .overtitle Об услуге
        h2 Стоимость
      .block
        .table-wrapper
          .table
            table
              tr.table-header
                td Услуга
                td Стоимость
              tr 
                td Ремонт электрооборудования
                td Рассчитывается индивидуально, в зависимости от сложности ремонта
  include /maintenance/photos/electrical-repair
  include /about/advantages
  include /about  
  include /contacts
