extends /layout.pug

block variables
  - var name = 'main_ambient-air';
  - var section = 'Услуга';
  - var title = 'Ароматизация воздуха в салоне (Пакет Ambient Air, 4NM)';
  - var seoTitle = 'Ароматизация воздуха в салоне (Ambient Air) на BMW в Москве | Автосервис BMW «FGSEVER»';
  - var subtitle = 'Ароматизатор обеспечивает приятный аромат в салоне автомобиля. Доступны 8 различных ароматов. Можно установить два из них и использовать попеременно.';
  - var path = {'/services/': 'Услуги', '/services/upgrade/': 'Дооснащение', '/services/upgrade/g-series/': 'G&nbsp;серия', '': 'Ароматизация воздуха в салоне (Пакет Ambient Air, 4NM)'};
  - var button = ['popup', '#upgrade-appointment', 'Записаться на дооснащение'];

block content
  +main(name, path, section, title, subtitle, button)
  section.description
    .wrapper
      .titles
        .overtitle Об услуге
        h2 Описание
      .block
        .icon.information-color
        h3 Что это такое?
        p Ароматизатор обеспечивает приятный аромат в салоне автомобиля. Доступны 8 различных ароматов (картриджей ароматизатора). Ароматизирующее устройство установлено в перчаточном ящике. Аромат распространяется через отверстие в кожухе центрального динамика на панели приборов.
        h3 Принцип работы системы
        p Каждый картридж оснащен чипом. Чип хранит важную информацию, например, первый воод в эксплуатацию, уровень заполнения и название аромата. Ароматизатор автоматически распознает вставленный катридж и передает информацию для индикации на центральном информационном дисплее.
        p Ароматизатор рассчитан на 2 картриджа. Таким образом в автомобиле всегда доступны 2 различных аромата. Аромат можно регулировать по интенсивности (3 уровня).
        .highglighted Ароматизатор активируется и деактивируется независимо от функции кондиционирования.
        p Оптимальная рабочая температура для функции ароматизатора в салоне: от 10 °C до 30 °C.
        h3 Компоненты системы
        p #[b Ароматизатор]
        p Ароматизатор соединен с бортовой сетью с помощью 4-контактного разъема.
        p Ароматизатор с помощью шины LIN подключен к ЭБУ IHKA (IHKA - встроенная автоматическая система отопления и кондиционирования).
        p По запросу ЭБУ IHKA электродвигатель ароматизатора задействует механизм регулировки крышек. Посредством регулирования крышек и времени их открытия настраивается интенсивность ароматизатора. Время открытия корректируется в зависимости от температуры.
        p Механизм регулирования устроен таким образом, что задействуется только крышка отделения с выбранным картриджем ароматизатора. Возможное положение крышки: полностью открытое или полностью закрытое.
        p При включении ароматизатора выполняется автоматический пробный запуск. При этом полностью открывается и закрывается каждая из крышек. При отключенном ароматизаторе обе крышки закрыты. При включенном ароматизаторе частота вращения вентилятора остается постоянной. При открытии перчаточного ящика его контакт также включает освещение ароматизатора.
        .images.columns
          .col-4.col-md-3
            a.image(data-fancybox href='/images/services/upgrade/g-series/ambient-air/device.jpg' target='_blank')
              img(src='/images/services/upgrade/g-series/ambient-air/device-min.jpg')
        p A — Показано: Ароматизатор с открытым отделением для картриджа; B — Показано: Ароматизатор с механизмом регулировки крышек; 1 — 4-полюсное штекерное соединение; 2 — Электродвигатель; 3 — Вентилятор; 4 — Разъем для соединительного шланга с кожухом центрального динамика; 5 — Отделение для картриджей ароматизатора; 6 — Картридж ароматизатора (макс. 2 штуки); 7 — Механизм с эксцентриком для регулировки крышек; 8 — Крышка; 9 — Крышка; 10 — Крышка (отделение для картриджей ароматизатора); 11 — Освещение.
        p #[b Панель управления системой отопления и кондиционирования]
        .highlighted В зависимости от серии ароматизатор активируется либо через кнопку для ароматизатора (например, G11, G12), либо через клавишу меню (например, G30, G31) на панели управления системы кондиционирования.
        p Возможности управления приведены в руководстве по эксплуатации.
        ul
          li #[b Клавиша меню (например, G30, G31).] В случае нажатия клавиши меню на панели управления системы кондиционирования на центральном информационном дисплее открывается всплывающее окно дальнейших настроек и индикации.
          li #[b Кнопка для ароматизатора (например, G11, G12).] В случае нажатия кнопки ароматизатора на панели управления системы кондиционирования на центральном информационном дисплее открывается всплывающее окно дальнейших настроек и индикации.
        p С помощью кнопки можно выбирать одну из 3 ступеней интенсивности. При первом нажатии на кнопку включается максимальная ступень интенсивности. При последующих нажатиях система переключается на следующие, более низкие ступени или выключает ароматизатор.
        p Выбранная ступень интенсивности отображается функциональным индикатором на дисплее. Функцию ароматизатора можно выключить на любой ступени интенсивности продолжительным нажатием на кнопку (более 1,2 с).
        p На следующем рисунке представлена панель управления системы кондиционирования на примере G12.
        .images.columns
          .col-4.col-md-3
            a.image(data-fancybox href='/images/services/upgrade/g-series/ambient-air/buttons.jpg' target='_blank')
              img(src='/images/services/upgrade/g-series/ambient-air/buttons-min.jpg')
        p 1 — Панель управления Audio; 2 — Панель управления системой отопления и кондиционирования; 3 — Дисплей; 4 — Датчик температуры воздуха в салоне; 5 — Сенсорная панель управления; 6 — Кнопка ароматизатора.
        p #[b Блок управления IHKA]
        p ЭБУ IHKA управляет всеми функциями системы ароматизатора на основе входных сигналов.
        p Нужные настройки отправляются по шине LIN ароматизатору. Сигналы, отправленные ароматизатором по шине LIN (например, уровень заполнения, название аромата, интенсивность) ЭБУ IHKA передает соответствующим интерфейсам (к примеру, центральному информационному дисплею).
        p #[b Центральный информационный дисплей]
        p Центральный информационный дисплей оснащен сенсорным экраном. С помощью сенсорного экрана можно управлять всеми функциями по iDrive. Переключение между контроллером и сенсорным экраном возможно в любое время.
        .highlighted Другие возможности управления приведены в руководстве по эксплуатации.
        p В случае нажатия кнопки ароматизатора или клавиши меню на панели управления системы кондиционирования на центральном информационном дисплее открывается всплывающее окно дальнейших настроек и индикации.
        .highlighted Оставляем за собой право на опечатки, смысловые ошибки и технические изменения.
  include /videos
  include /about/advantages
  include /about
  include /contacts
